{% load i18n l10n %}
{# TODO: move style to a new block #}
<style type="text/css">
    {% block map_css %}
    #{{ id }}-map .aligned label { float: inherit; }
    {% endblock %}
</style>
{% get_current_language_bidi as LANGUAGE_BIDI %}
<div id="{{ id }}-div-map" class="geometry-{{ geom_type|lower }}"style="position: relative; vertical-align: top; float: {{ LANGUAGE_BIDI|yesno:"right,left" }};{% if toggle_map_display %} display: none;{% endif %}">
    <div id="{{ id }}-map" style="width: {{ map_width }}px; height: {{ map_height }}px;"></div>
    {% if geom_type != 'Point' %}<span class="clear_features"><a href="#">{% trans "Delete all Features" %}</a></span>{% endif %}
    {% if display_raw %}<p>{% trans "Debugging window (serialized value)" %}</p>{% endif %}
    <textarea class="map-serialized-data" id="{{ id }}" class="vSerializedField required" cols="150" rows="10" name="{{ name }}" style="{% if not display_raw %}display: none;{% endif %}">{{ serialized }}</textarea>
</div>
{% if toggle_map_display %}
<a href="#" class="show-hide-map pull-right" data-alternate="{% trans "Hide area" %}">{% trans "Show area" %}</a>
{% endif %}

<script type="text/javascript">
$(document).ready(function () {
    var map_options,
        base_layer,
        options;
    {% block map_options %}map_options = {};{% endblock %}
    {% block base_layer %}
        base_layers = [new ol.layer.Tile({
            source: new ol.source.XYZ({
                attributions: "NASA Worldview",
                maxZoom: 8,
                url: "https://map1{a-c}.vis.earthdata.nasa.gov/wmts-webmerc/" +
                     "BlueMarble_ShadedRelief_Bathymetry/default/%7BTime%7D/" +
                     "GoogleMapsCompatible_Level8/{z}/{y}/{x}.jpg"
            })
        })];
    {% endblock %}
    options = {
        base_layers: base_layers,
        geom_name: '{{ geom_type }}',
        map_options: map_options,
        map_srid: {{ map_srid|unlocalize }},
    };
    {% block options %}
    {% endblock %}

    $('#{{ id }}').data('map-widget-options', options);
});

</script>
