{% extends "widgets/openlayers.html" %}
{% load l10n i18n %}

{% block options %}
{{ block.super }}
options['initialCenterLon'] = {{ initial_center_lon|unlocalize }};
options['initialCenterLat'] = {{ initial_center_lat|unlocalize }};
options['initialZoom'] = {{ initial_zoom|unlocalize }};
{% if initial_bounds %}
options['initialBounds'] = {
    latMin: {{ initial_bounds.0 }},
    latMax: {{ initial_bounds.1 }},
    lonMin: {{ initial_bounds.2 }},
    lonMax: {{ initial_bounds.3 }}
}
{% endif %}
{% endblock %}

{% block base_layer %}
var baseLayers = [new ol.layer.Tile({source: new ol.source.OSM()})];
{% endblock %}