html,
body {
    background-color: transparent !important;
}
div#header-container,
ul.subnav,
ul.actions {
    display: none;
}
div#container {
    padding-top: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul li,
ol li,
dt,
dd,
dl a,
table th,
table td,
table a,
label {
    color: #000 !important;
}