{% extends "charts/base_chart.html" %}
{% load i18n static wagtailcore_tags %}

{% block page_title %}{% trans "Special interest" %}{% endblock %}
{% block title %}{% trans "Special interest" %}{% endblock %}
{% block breadcrumb_inner %}
    {{ block.super }}
    <li>{% trans "Special interest" %}</li>
{% endblock %}

{% comment %}
get the filters that are active with {{ filters }}
the filter formset/widget is in {{ empty_form_conditions }}
or {% include "filters.html" %}, if the downloads are removed from filters.html
{% endcomment %}

{% block before %}
{% endblock %}

{% block description %}
<!--form action="./" method="GET">
    <select id="size" name="size">
        <option value="size_in_operation"{% if size = "size_in_operation" %} selected{% endif %}>{% trans "Size in operation" %}</option>
        <option value="size_under_contract"{% if size = "size_under_contract" %} selected{% endif %}>{% trans "Size under contract" %}</option>
        <option value="intended_size"{% if size = "intended_size" %} selected{% endif %}>{% trans "Intended Size" %}</option>
    </select>
</form-->
{% endblock %}

{% block data %}
    <div class="row">
        <div id="chartarea" class="col-md-12">
        	{% block chart %}
            {% endblock %}
		    <script type="text/javascript">
		        $(document).ready(function () {
		            var dataSwitch = $("[name='use_deal_size']");
		            dataSwitch.bootstrapSwitch({
		                onText: 'Size',
		                offText: 'Count',
		                offColor: 'info',
		                onSwitchChange: function (event, state) {
		                    if (state) {
		                        datatype = 'size';
		                    } else {
		                        datatype = 'count;'
		                    }
		                }
		            });
		            $('#size').change(function () {
		            	$(this).parents('form').submit();
		            });
		            $(".views .btn").click(function (e) {
		                e.preventDefault();
		                var c_self = this;
		                $(".views .active").removeClass("active");
		                $(c_self).addClass("active");
		                draw();
		                return false;
		            });
		            // Init chart
			        draw();
		        });

		    </script>
        </div>
    </div>
{% endblock %}

{% block after %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/charts.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/d3-areachart/rectangularAreaChart.js" %}"></script>
    <script type="text/javascript" src="{% static "legacy/vendor/RGraph.pie.js" %}"></script>
    <script type="text/javascript" src="{% static "legacy/vendor/RGraph.common.core.js" %}"></script>
    <script type="text/javascript" src="{% static "legacy/vendor/RGraph.common.effects.js" %}"></script>
    <script type="text/javascript" src="{% static "legacy/vendor/RGraph.common.dynamic.js" %}"></script>
    <script type="text/javascript" src="{% static "legacy/vendor/RGraph.common.tooltips.js" %}"></script>
{% endblock %}
