{% extends "charts/special-interest/base.html" %}
{% load i18n static wagtailcore_tags %}

{% block description %}
<p>
    {% trans 'Deals with contract farming schemes.' %}
</p>
{% endblock %}

{% block chart %}
<div class="contract_farming row chart">
    <div class="col-md-6">
        <div id="PieChart" class="charts" align="center">
        </div>
    </div>
    <div class="col-md-6">
        <div id="DotChart" class="charts" align="center">
        </div>
    </div>
</div>
<script type="text/javascript">
function draw() {
    buildPieChart();
    buildDotChart();
    $("#size,#legendbox").hide();
};
</script>
{% endblock %}