{% extends "charts/special-interest/base.html" %}
{% load i18n static wagtailcore_tags %}

{% block description %}
<p>
  {% trans 'Deals divided by implementation status. Since this chart shows all deals in the database, there is no option to select concluded, intended or failed deals separately.' %} <a href="{% slugurl 'about' %}#how-does-the-global-observatory-deal-with-different-stages-of-negotiation-and-implementation" class="toggle-tooltip left noul" title="{% trans 'The LM has two key variables to describe the status of a land deal: the negotiation status and the implementation status. For further information press the question mark.' %}"><i class="lm lm-question-circle"> </i></a>
</p>
{% endblock %}

{% block legend %}
<ul class="media-list legend offset">
    <li><i class="icon icon-none" style="background-color: #ed881b;"></i><span>{% trans "Concluded" %}</span></li>
    <li><i class="icon icon-none" style="background-color: #b96c12;"></i><span>{% trans "Intended" %}</span></li>
    <li><i class="icon icon-none" style="background-color: #884e0e;"></i><span>{% trans "Failed" %}</span></li>
</ul>
{% endblock %}    

{% block chart %}
<div id="stats">
    <div class="col-sm-6 size">
        <h4>{% trans "Size" %}</h4>
        <p class="number number-concluded">0 ha</p>
        <div class="progress progress-concluded">
          <div class="bar" style="width: 0%;"></div>
        </div>
        <p class="percentage percentage-concluded">0%</p>
        <p class="number number-intended">0 ha</p>
        <div class="progress progress-intended">
          <div class="bar" style="width: 0%;"></div>
        </div>
        <p class="percentage percentage-intended">0%</p>
        <p class="number number-failed">0 ha</p>
        <div class="progress progress-failed">
          <div class="bar" style="width: 0%;"></div>
        </div>
        <p class="percentage percentage-failed">0%</p>
    </div>
    <div class="col-sm-6 deals">
        <h4>{% trans "Number of deals" %}</h4>
        <p class="number number-concluded">0</p>
        <div class="progress progress-concluded">
          <div class="bar" style="width: 0%;"></div>
        </div>
        <p class="percentage percentage-concluded">0%</p>
        <p class="number number-intended">0</p>
        <div class="progress progress-intended">
          <div class="bar" style="width: 0%;"></div>
        </div>
        <p class="percentage percentage-intended">0%</p>
        <p class="number number-failed">0</p>
        <div class="progress progress-failed">
          <div class="bar" style="width: 0%;"></div>
        </div>
        <p class="percentage percentage-failed">0%</p>
    </div>
    <div class="well-square legend">
          <ul class="list-inline">
              <li><i class="icon icon-none" style="background-color: #ed881b;"></i> {% trans "Concluded" %}</li>
              <li><i class="icon icon-none" style="background-color: #b96c12;"></i> {% trans "Intended" %}</li>
              <li><i class="icon icon-none" style="background-color: #884e0e;"></i> {% trans "Failed" %}</li>
          </ul>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
  $.get('/api/resource-extraction.json{% if country %}?target_country={{ country.id }}{% elif region %}?target_region={{ region.id }}{% endif %}', function (data) {
    var stats = $('#stats'),
        size = stats.find('.size'),
        deals = stats.find('.deals'),
        by_deals = [0, 0, 0, 0],
        by_size = [0, 0, 0, 0],
        item;
    for (var i = 0; i < data.length; i++) {
      item = data[i];
      // Update numbers
      // Concluded
      if (['Oral agreement', 'Contract signed'].indexOf(item[0]) > -1) {
        by_deals[1] += item[1];
        by_size[1] += item[2];
      // Intended
      } else if (['Expression of interest', 'Under negotiation', 'Memorandum of understanding'].indexOf(item[0]) > -1) {
        by_deals[2] += item[1];
        by_size[2] += item[2];
      // Failed
      } else if (['Negotiations failed', 'Contract canceled', 'Contract expired'].indexOf(item[0]) > -1) {
        by_deals[3] += item[1];
        by_size[3] += item[2];
      }
      // Update totals
      by_deals[0] += item[1];
      by_size[0] += item[2];
    };
    // Update by size
    size.find('.number-concluded').text(numberWithCommas(by_size[1]) + ' ha');
    percentage = by_size[0] > 0 && Math.round(by_size[1] / by_size[0] * 100) || 0;
    size.find('.progress-concluded .bar').css('width', percentage + '%');
    size.find('.percentage-concluded').text(percentage + '%');
    size.find('.number-intended').text(numberWithCommas(by_size[2]) + ' ha');
    percentage = by_size[0] > 0 && Math.round(by_size[2] / by_size[0] * 100) || 0;
    size.find('.progress-intended .bar').css('width', percentage + '%');
    size.find('.percentage-intended').text(percentage + '%');
    size.find('.number-failed').text(numberWithCommas(by_size[3]) + ' ha');
    percentage = by_size[0] > 0 && Math.round(by_size[3] / by_size[0] * 100) || 0;
    size.find('.progress-failed .bar').css('width', percentage + '%');
    size.find('.percentage-failed').text(percentage + '%');

    // Update by deals
    deals.find('.number-concluded').text(numberWithCommas(by_deals[1]));
    percentage = by_deals[0] > 0 && Math.round(by_deals[1] / by_deals[0] * 100) || 0;
    deals.find('.progress-concluded .bar').css('width', percentage + '%');
    deals.find('.percentage-concluded').text(percentage + '%');
    deals.find('.number-intended').text(numberWithCommas(by_deals[2]));
    percentage = by_deals[0] > 0 && Math.round(by_deals[2] / by_deals[0] * 100) || 0;
    deals.find('.progress-intended .bar').css('width', percentage + '%');
    deals.find('.percentage-intended').text(percentage + '%');
    deals.find('.number-failed').text(numberWithCommas(by_deals[3]));
    percentage = by_deals[0] > 0 && Math.round(by_deals[3] / by_deals[0] * 100) || 0;
    deals.find('.progress-failed .bar').css('width', percentage + '%');
    deals.find('.percentage-failed').text(percentage + '%');
  });
})
</script>
{% endblock %}