{% extends "charts/special-interest/base.html" %}
{% load i18n static wagtailcore_tags %}

{% block description %}
<p>
	{% trans 'Deals divided by intention of investment.' %}
</p>
{% endblock %}

{% block legend %}
<ul class="media-list legend offset">
    <li><i class="icon icon-none" style="background-color: #fc941f;"></i><span> {% trans "Animals" %}</span></li>
    <li><i class="icon icon-none" style="background-color: #b9d635;"></i><span> {% trans "Minerals" %}</span></li>
    <li><i class="icon icon-none" style="background-color: #4bbb87;"></i><span> {% trans "Crops" %}</span></li>
</ul>
{% endblock %}

{% block chart %}
<div class="produce_info chart" id="TreeChart" align="center">
</div>
<script type="text/javascript">
function draw() {
    buildTreeChart();
};
</script>
{% endblock %}