{% load i18n %}
            <div class="resource_extraction chart hidden" id="resource_extraction">
                <div class="col-sm-12 text-center">
                    <h3>{% trans "Resource extraction:" %} <a class="toggle-tooltip bottom"
                                                              href="/about/#what-is-a-land-deal" data-original-title=""
                                                              title=""><i class="icon icon-question-sign"></i></a></h3>
                </div>
                <div class="col-sm-6 size">
                    <h4>{% trans "Size" %}</h4>
                    <p class="number number-concluded">0 ha</p>
                    <div class="progress progress-concluded">
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                    <p class="percentage percentage-concluded">0%</p>
                    <p class="number number-intended">0 ha</p>
                    <div class="progress progress-intended">
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                    <p class="percentage percentage-intended">0%</p>
                    <p class="number number-failed">0 ha</p>
                    <div class="progress progress-failed">
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                    <p class="percentage percentage-failed">0%</p>
                </div>
                <div class="col-sm-6 deals">
                    <h4>{% trans "Number of deals" %}</h4>
                    <p class="number number-concluded">0</p>
                    <div class="progress progress-concluded">
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                    <p class="percentage percentage-concluded">0%</p>
                    <p class="number number-intended">0</p>
                    <div class="progress progress-intended">
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                    <p class="percentage percentage-intended">0%</p>
                    <p class="number number-failed">0</p>
                    <div class="progress progress-failed">
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                    <p class="percentage percentage-failed">0%</p>
                </div>
            </div>