{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Landmatrix Map</title>
	<script src={% static "js/lib/jquery-2.1.4.js" %}></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://openlayers.org/en/v3.3.0/css/ol.css" />
	<script src="http://openlayers.org/en/v3.3.0/build/ol.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.6.0/ol.js"></script>
	<script type="text/javascript" src={% static "js/map.js" %}> </script>
	<script src="{% static "js/ol3-layerswitcher.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/ol3-layerswitcher.css" %}" />
	<link rel="stylesheet" href="{% static "css/style.css" %}" />

</head>

<body>
	<div id="map" class="map" title='map'></div>
	<div id="popup" class="popup" title="Deal"></div>
	
	<script>
	//define Features for the MARKERS
	$(document).ready(function() {
/*
		$.get("/en/api/deals.json?limit=200", function (data) {
			for (var i = 0; i < data.length; i++) {
				marker = data[i];
				console.log(marker.point_lon, marker.point_lat, "marker.intention");
				addClusteredMarker(marker.point_lon, marker.point_lat, "marker.intention");
			}
		});
*/
		{% for ActivityAttribute in ActivityAttribute_list %}
			addClusteredMarker({{ ActivityAttribute.point_lon }}, {{ ActivityAttribute.point_lat }}, "{{ ActivityAttribute.intention}}");
		{% endfor %}
	});
	</script>
	
</body>

</html>