{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Base Layer OSM</title>
	<script src={% static "js/lib/jquery-2.1.4.js" %}></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.6.0/ol.css" type="text/css">
	<script src='http://ol3js.org/en/master/build/ol.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.6.0/ol.js"></script>
	<script type="text/javascript" src={% static "js/map.js" %}> </script>
	<script type="text/css" src={% static "css/style.css" %}> </script>
	<style>
		.popover-content {
			min-width: 180px;
		}	
	</style>

</head>

<body>
	<div id="map" class="map" title='map'></div>
	<div id="popup" class="popup" title="Deal"></div>
	<div id="marker" class="marker" title='marker'></div>


	
	<script>
	//define Features for the MARKERS
	$(document).ready(function() {
		{% for ActivityAttribute in ActivityAttribute_list %}
			clusteredMarkers({{ ActivityAttribute.point_lon }}, {{ ActivityAttribute.point_lat }}, "{{ ActivityAttribute.intention}}");
			//console.log({{ ActivityAttribute.intention }});
		{% endfor %}  
	});
	</script>
	
</body>

</html>