{% extends "gettheidea/base.html" %}
{% load humanize %}

{% block tabs %}
    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
            {% for item in items %}
                <li{% if active_slug == item.perspectiveobject.name|slugify %} class="active"{% endif %}><a href="?item={{ item.perspectiveobject.name|slugify }}">{{ item.perspectiveobject.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block paragraph %}
<div class="well-square">
</div>
{% endblock %}
{% block legend %}
<div class="well-square">
    <ul class="legend media-list">
        <li><i class="icon icon-none" style="background-color: #3ab7b6;"></i> {{ active_item.perspectiveobject.name }} ({{ active_item.perspectiveobject.hectares }} ha)</li>
        <li> </li>
    </ul>
</div>
{% endblock %}
{% block infographic %}
        <div class="span4">
        </div>
        <div class="span4 center">
            <h3 class="count"> {{ count|floatformat:"0"|intcomma }}</h3>
            <h3>x</h3>
            <img src="{{ active_item.perspectiveobject.image.url }}">
        </div>
        <div class="span4">
        </div>
    <script type="text/javascript">
        function draw(callback) {
            $(".table").empty();
            var query_params = get_query_params(get_base_filter(), "");
            var json_query = "/api/hectares.json" + query_params;
            jQuery.getJSON(json_query, function(data) {
                var count = data["hectares"] / {{ active_item.perspectiveobject.hectares|escapejs }};
                var deals = data["deals"];
                var hectares = data["hectares"];
                $(".hectares").empty().append(numberWithCommas(hectares));
                $(".count").empty().append(numberWithCommas(Math.round(count)));
                callback();
            });
        };
        $(document).ready(function () {
            draw(function() {
            });
        });
    </script>
{% endblock %}
