@import '../../../../landmatrix/static/css/colors';


.map-container {
  position: relative;
  height: 75vh;

  #map {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  .map-progress {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    bottom: 0;
    width: 100%;
    padding-top: 2em;

    .status {
      .glyphicon {
        font-size: 32px;
        display: block;
      }
      text-align: center;
    }
    .finished {
      color: $lm_orange;
    }
    .line {
      position: absolute;
      top: 50%;
      border-bottom: 3px solid $lm_medium2;
      width: 35%;

      &.finished {
        border-bottom-color: $lm_orange;
      }
    }
    .right {
      right: 0;
    }
    .left {
      left: 0;
    }
  }

  .map-panel {
    position: absolute;
    top: 5vh;
    right: 0;

    .tab-menu h4 {
      margin-bottom: 0;
    }
    .list-group-item {
      padding: 0;
      font-size: 12px;
    }
    .flex-row {
      display: flex;
    }
    .flex-col {
      flex: 1;
    }
    .tab-container {
      z-index: 10;
      padding: 0 !important;
    }
    .tab-menu {
      padding: 0;

      .list-group {
        margin-bottom: 0;

        a {
          padding: 0 0.5em;
          .glyphicon {
            color: $lm_medium1;
          }
          &.active {
            background-color: $lm_orange;
            color: #fff;
            border-color: inherit;

            .glyphicon {
              color: #fff;
            }
          }
        }
      }
    }

    .tab-content, .tab {
      background-color: #ffffff;
      width: 250px;

      .legend {
        display: none;
      }
      .active {
        display: block;
      }

      .switch {
        position: relative;
        display: inline-block;
        //width: 60px;
        width: 40px;
        //height: 34px;
        height: 20px;
      }

      .switch input {
        display:none;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
          position: absolute;
          content: "";
          height: 12px;
          width: 12px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }
        &.round {
          border-radius: 20px;
        }
        &.round:before {
          border-radius: 50%;
        }
      }

      input:checked + .slider {
        background-color: $lm_orange;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px $lm_orange;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
      }

    }

    .tab .tab-content:not(.active){
      display: none;
    }
  }
}
