@import '../../../../landmatrix/static/css/colors';
$map-height: 75vh;

// move zoom controls
.ol-zoom {
  position: absolute;
  right: 8px;
  top: 8px;
  left: auto;
}

.map-container {
  position: relative;
  height: $map-height;
  min-height: 500px;

  #map {
    height: $map-height;
    min-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  .map-progress {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    bottom: 0;
    width: 100%;
    padding-top: 2em;

    .status {
      .glyphicon {
        font-size: 32px;
        display: block;
      }
      text-align: center;
    }
    .finished {
      color: $lm_orange;
    }
    .line {
      position: absolute;
      top: 50%;
      border-bottom: 3px solid $lm_medium2;
      width: 35%;

      &.finished {
        border-bottom-color: $lm_orange;
      }
    }
    .right {
      right: 0;
    }
    .left {
      left: 0;
    }
  }
}

.map-overlay {
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
}

@media(max-width: 500px) {
  .map-overlay-content.is-wide:not(.is-hidden) {
    width: 250px !important;
  }
}

.map-overlay-content {
  width: 250px;
  height: $map-height;
  min-height: 500px;
  padding-right: 1rem;
  background-color: white;
  float: left;
  overflow-y: auto;

  -webkit-transition: width 0.2s; /* For Safari 3.1 to 6.0 */
  transition: width 0.2s;

  &.is-wide {
    width: 500px;
  }

  &.is-hidden {
    width: 0;
    opacity: 0;
    padding-right: 0;
  }

  .tab-content {
    display: none;

    &.active {
      display: block;
    }
  }

  h4 {
    margin-bottom: 10px;
    margin-top: 20px;

    &:first-of-type {
      margin-top: 10px;
    }
  }
}

.map-overlay-tabs {
  float: right;

  .list-group-item {
    padding: 10px 7.5px 5px;
    font-size: 12px;

    &:first-of-type {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-of-type {
      border-bottom-left-radius: 0;
    }

    &.active {
      background-color: $lm_orange;
      border: 1px solid #ddd;

      i.lm {
        color: white;
      }
    }
  }

  i.lm {
    font-size: 25px;
    color: #c6c6c6;
  }
}

.button-layer-switch {
  margin-right: 1rem;
  padding: 4px;
  display: flex;

  svg {
    margin: 0 auto;
  }
  > div {
    background-color: #fff;
    border: 2px solid $lm_orange;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
  }
  span {
    background-color: $lm_orange;
    color: #fff;
    display: block;
  }

  .disabled {
    background-color: inherit;
    border: none;
    opacity: 0.6;

    span {
      background-color: inherit;
      color: $lm_dark;
    }
  }
  :hover {
    cursor: pointer;
  }
}

.button-switch {
  float: left;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 5px;

  input {
    display:none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &.round {
      border-radius: 20px;
    }
    &.round:before {
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: $lm_orange;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $lm_orange;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
}

.map-legend-select {
  width: 100%;
}

.map-legend {
  margin-right: 1rem;
  font-size: 14px;
}

.map-details-table {

  td:first-child {
    padding-left: 5px;
  }

  td:not(:first-child) {
    text-align: center;
  }

  tr:nth-child(2n) {
    background-color: $lm_light;
  }

  tfoot td {
    font-weight: bold;
  }

  td {
    padding: 2px 0;
  }
}

#map-search-field {
  width: 100%;
}

.map-details-notice {
  border: 1px solid silver;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  margin-top: 0.5rem;
}

// styles for the feature details, after clicking on a cluster or such
#details-overlay {

  .legend-symbol {
    margin-top: 3px;
  }

  .attribute-title:not(:first-of-type) {
    margin-top: 1.5rem;
  }

  .attribute-multipoint {
    margin-right: 1rem;
  }

  .link-view-deal {
    margin-top: 1.5rem;

    a {
      text-decoration: underline;
      color: inherit;
    }
  }
}

.layer-list {
  padding-left: 1rem;
  list-style: none;
}

.context-layer-legend {
  margin-left: 1.5rem;
}

// the legend in the tabbed menu panel
.map-legend {
  display: none;

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  .legend-symbol {
    float: left;
    height: 1.2em;
    margin-right: 0.3em;
    text-align: center;
    width: 1.2em;
  }
}
