.map-container {
  position: relative;
  height: 75vh; }
  .map-container #map {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .map-container .map-progress {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    bottom: 0;
    width: 100%;
    padding-top: 2em; }
    .map-container .map-progress .status {
      text-align: center; }
      .map-container .map-progress .status .glyphicon {
        font-size: 32px;
        display: block; }
    .map-container .map-progress .finished {
      color: #fc941f; }
    .map-container .map-progress .line {
      position: absolute;
      top: 50%;
      border-bottom: 3px solid #919191;
      width: 35%; }
      .map-container .map-progress .line.finished {
        border-bottom-color: #fc941f; }
    .map-container .map-progress .right {
      right: 0; }
    .map-container .map-progress .left {
      left: 0; }
  .map-container .map-panel {
    position: absolute;
    top: 5vh;
    right: 0; }
    .map-container .map-panel .tab-menu h4 {
      margin-bottom: 0; }
    .map-container .map-panel .list-group-item {
      padding: 0;
      font-size: 12px; }
    .map-container .map-panel .flex-row {
      display: flex; }
    .map-container .map-panel .flex-col {
      flex: 1; }
    .map-container .map-panel .tab-container {
      z-index: 10;
      padding: 0 !important; }
    .map-container .map-panel .tab-menu {
      padding: 0; }
      .map-container .map-panel .tab-menu .list-group {
        margin-bottom: 0; }
        .map-container .map-panel .tab-menu .list-group a {
          padding: 0 0.5em; }
          .map-container .map-panel .tab-menu .list-group a .glyphicon {
            color: #c6c6c6; }
          .map-container .map-panel .tab-menu .list-group a.active {
            background-color: #fc941f;
            color: #fff;
            border-color: inherit; }
            .map-container .map-panel .tab-menu .list-group a.active .glyphicon {
              color: #fff; }
    .map-container .map-panel .tab-content, .map-container .map-panel .tab {
      background-color: #ffffff;
      width: 250px; }
      .map-container .map-panel .tab-content .switch, .map-container .map-panel .tab .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px; }
      .map-container .map-panel .tab-content .switch input, .map-container .map-panel .tab .switch input {
        display: none; }
      .map-container .map-panel .tab-content .slider, .map-container .map-panel .tab .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s; }
        .map-container .map-panel .tab-content .slider:before, .map-container .map-panel .tab .slider:before {
          position: absolute;
          content: "";
          height: 12px;
          width: 12px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s; }
        .map-container .map-panel .tab-content .slider.round, .map-container .map-panel .tab .slider.round {
          border-radius: 20px; }
        .map-container .map-panel .tab-content .slider.round:before, .map-container .map-panel .tab .slider.round:before {
          border-radius: 50%; }
      .map-container .map-panel .tab-content input:checked + .slider, .map-container .map-panel .tab input:checked + .slider {
        background-color: #fc941f; }
      .map-container .map-panel .tab-content input:focus + .slider, .map-container .map-panel .tab input:focus + .slider {
        box-shadow: 0 0 1px #fc941f; }
      .map-container .map-panel .tab-content input:checked + .slider:before, .map-container .map-panel .tab input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px); }
    .map-container .map-panel .tab .tab-content:not(.active) {
      display: none; }

.map-legend {
  display: none; }
  .map-legend ul {
    list-style-type: none;
    padding-left: 0; }

/*# sourceMappingURL=map.css.map */
