<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Maintenance - Land Matrix</title>
    <link rel="icon" href="/static/img/favicon.ico" />
  </head>
  <body>
    <div id="app">
      <div
        style="
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-family: sans-serif;
        "
      >
        <div>
          <img src="/static/img/lm-logo.png" />
          <h1>Maintenance</h1>
          <p>Service is currently being updated. Please try again later.</p>
        </div>
      </div>
    </div>
  </body>
</html>
