from .default_settings import *

# whether to show SQL generated (is referenced below when configuring logging)

CONVERT_DB = False
CONVERT_FROM_MY = False
TEST_AGAINST_LIVE_DB = False

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False

INSTALLED_APPS = (
    'coverage',
    'test_without_migrations',
    'django_nose',
) + INSTALLED_APPS

# Database
# https://docs.djangoproject.com/en/1.8/ref/settings/#databases
DATABASES = {
    'default': {
#        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'landmatrix',                         # CORRECT DB FOR V2 GOES HERE
        'USER': 'landmatrix',
        'PASSWORD': '',
        'HOST': 'mdillon__postgis',
        'PORT': '',
    },
}
if CONVERT_DB:
    DATABASES['v2'] = DATABASES['default']
    if CONVERT_FROM_MY:
        DATABASES['v1_my'] = {
            'ENGINE': 'django.db.backends.mysql',
            'NAME': 'landmatrix_1',                     # CORRECT DB FOR V1 GOES HERE
            'USER': '<USER GOES HERE>',
            'PASSWORD': '********',
            'HOST': '',
            'PORT': '3306',
        }
    else:
        DATABASES['v1_pg'] = {
            'ENGINE': 'django.db.backends.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
            'NAME': 'landmatrix_1',                     # CORRECT DB FOR V1 GOES HERE
            'USER': '<USER GOES HERE>',
            'PASSWORD': '********',
            'HOST': '',
            'PORT': '',
        }

LOGGING = {
    'version': 1,
    'disable_existing_loggers': True,
    'formatters': {
        'simple': {
            'format': '%(levelname)s %(message)s',
             'datefmt': '%y %b %d, %H:%M:%S',
            },
        },
    'handlers': {
        'console': {
            'level': 'DEBUG',
            'class': 'logging.StreamHandler',
            'formatter': 'simple'
        },
        'celery': {
            'level': 'DEBUG',
            'class': 'logging.handlers.RotatingFileHandler',
            'filename': 'celery.log',
            'formatter': 'simple',
            'maxBytes': 1024 * 1024 * 100,  # 100 mb
        },
    },
    'loggers': {
        'celery': {
            'handlers': ['celery', 'console'],
            'level': 'DEBUG',
        },
    }
}

#CACHES = {
#   'default': {
#       'BACKEND': 'django.core.cache.backends.memcached.PyLibMCCache',
#       'LOCATION': '127.0.0.1:11211',
#   }
#}
#
#RECAPTCHA_PUBLIC_KEY = '6LdxVR8TAAAAANbYtUauMj_AQ-hJPxd-cXS8lCsd'
#RECAPTCHA_PRIVATE_KEY = '6LdxVR8TAAAAACmxZCrpsSsW9DGJ3qXjP2huKKRu'

#EMAIL_HOST = 'smtp.gmail.com'
#EMAIL_PORT = '587'
#EMAIL_HOST_USER = 'admin@landmatrix.org'
#EMAIL_HOST_PASSWORD = 'secret'
#EMAIL_USE_TLS = True
#DEFAULT_FROM_EMAIL = EMAIL_HOST_USER

# Use nose to run all tests
TEST_RUNNER = 'django_nose.NoseTestSuiteRunner'

# Tell nose to measure coverage on the 'foo' and 'bar' apps
#NOSE_ARGS = [
#    '--with-coverage',
#    '--cover-package=api,charts,editor,feeds,grid,landmatrix,map,wagtailcms'
#]
CELERY_ALWAYS_EAGER = True
ACCOUNT_ACTIVATION_DAYS = 7