{% load i18n %}
{% load static %}


<h1><span>{{ legend.label }}: {{ title }}</span></h1>

<div class="row">
    <canvas id="chart" width="100%"></canvas>
</div>

{% include 'map/modals/includes/table.html' %}

<div>
  <h1><span>{% trans "Country details" %}</span></h1>
  <ul>
  {% for country in countries %}
    <li><a href="{{ country.url }}">{{ country.name }} - {% trans "visit detail page" %}</a></li>
  {% endfor %}
  </ul>
</div>


<script src="{% static "map/js/Chart.min.js" %}"></script>
<script>
    var ctx = document.getElementById("chart");
    var doughnutChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
      labels: {{ chart.labels|safe }},
      datasets: [
        {
          data: {{ chart.data|safe }},
          backgroundColor: {{ chart.colors|safe }}
        }
      ]
    }
  });
</script>
