{% extends "charts/base_chart.html" %}
{% load i18n custom_tags humanize static %}

{% block page_title %}{% trans "Agricultural drivers" %}{% endblock %}
{% block title %}{% trans "Agricultural drivers" %}{% endblock %}
{% block breadcrumb_inner %}
    {{ block.super }}
    <li>{% trans "Agricultural drivers" %}</li>
{% endblock %}

{% block legend %}

{% endblock %}

{% block data %}

{% endblock %}

{% block after %}
    {{ block.super }}

    <script type="text/javascript">
        ;
        $(document).ready(function () {
            draw(function () {
            });
        });
    </script>
{% endblock %}
