{% extends "charts/base_chart.html" %}
{% load i18n custom_tags humanize static %}

{% block page_title %}{% trans "Global map of investments" %}{% endblock %}
{% block title %}{% trans "Global map of investments" %}{% endblock %}
{% block breadcrumb_inner %}
{{ block.super }}
<li>{% trans "Global map of investments" %}</li>
{% endblock %}

{% block description %}
<div>
    <p>{% trans "Choose between investor or target countries using the menu below. Click on the bubbles to visualise the selected country's involvement in the global land acquisition phenomenon." %}</p>
    <div class="current-country" style="display:none">
        <p><strong>{% trans "Country" %}</strong></p>
        <p>
            <span class="total-deals">{% trans "0 acquisitions/targets" %}</span>
            <span class="related-country">{% trans "to/from Country" %}</span>
            <span class="self-deals">{% trans "whereof 0 with itself" %}</span>
            <br/>
            <b><a href="#">{% trans "Go to Table" %}</a></b>
        </p>
    </div>
    <div class="btn-group views">
        <a class="btn show-all" href="#" class="disabled">{% trans "Reset" %}</a>
        <a class="btn active" href="?filter=investor">{% trans "Investor&nbsp;Countries" %}</a>
        <a class="btn" href="?filter=target">{% trans "Target&nbsp;Countries" %}</a>
    </div>
</div>
{% endblock %}

{% block data_availability %}{% endblock %}

{% block legend %}
<ul class="legend media-list">
   <li><i class="icon icon-none" style="background-color: #44b7b6;"></i> {% trans "Investor Countries" %}</li>
   <li><i class="icon icon-none" style="background-color: #ed881b;"></i> {% trans "Target Countries" %}</li>
</ul>
{% endblock %}

{% block data %}
<div class="row">
    <div id="map" class="investor-target investor">
    </div>
</div>
{% endblock %}

{% block after %}
{{ block.super }}
<script type="text/javascript" src="{% static "raphael/raphael-min.js" %}"></script>
<script src="{% static "js/vendor/raphael-svg-import.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/world.min.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/investor-target-countries.js" %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
function draw(callback) {
    drawMap(callback);
}
$(document).ready(function () {
    $(".views .btn").click(function (e) {
        var c_self = this;
        e.preventDefault();
        // Filter button clicked?
        if ($(c_self).attr("href").indexOf("filter") > -1) {
            $("#map").removeClass("investor").removeClass("target").addClass($(c_self).attr("href").replace("?filter=", ""));
            $(".views .active").removeClass("active");
            $(c_self).addClass("active");
            $(c_self).button('loading');
        }
        draw(function() {
            $(c_self).button('reset');
        });
        return false;
    });
    $(".views .btn.active").click();
    $(".deal_scope").hide();
});
URL_PREFIX = '/';
</script>
{% endblock %}
