{% extends "charts/base_chart.html" %}
{% load i18n static wagtailcore_tags sass_tags %}

{% block page_title %}{% trans "Perspective" %}{% endblock %}
{% block title %}{% trans "Perspective" %}{% endblock %}
{% block breadcrumb_inner %}
    {{ block.super }}
    <li>{% trans "Perspective" %}</li>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "vendor/openlayers/ol.css" %}"/>
    <link rel="stylesheet" href="{% static "css/nprogress.css" %}"/>
    <link rel="stylesheet" href="{% static "css/ol3-layerswitcher.css" %}"/>
    <link rel="stylesheet" href="{% static "css/map.css" %}"/>
{% endblock %}

{% block description %}
    <p>{% trans "Enter a location to set the center of a circle that displays an area equal to the size of the intended, concluded or failed land acquisitions (according to the selected option)." %}</p>
    <div class="input-group col-md-6" role="group">
        <input id="search" class="location form-control" name="location" type="search" value="" placeholder="{%  trans 'Enter location...' %}"/>
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default">{% trans "Go" %}</button>
        </span>
    </div>
{% endblock %}

{% block data_availability %}{% endblock %}

{% block legend %}
    <ul class="media-list legend offset bigdeal">
        <li><i class="icon icon-none" style="background-color: #ed881b;"></i>{% trans 'Area equal to the size of the intended, concluded or failed land acquisitions (<span class="hectares">0</span> ha)' %}</li>
    </ul>
{% endblock %}

{% block data %}
<div id="map" class="map" title='{% trans "Perspective" %}'></div>

<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="noul ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>
{% endblock data %}

{% block after %}
{{ block.super }}
<script type="text/javascript">
var mapDisableDeals = true,
    mapDisableControls = true;
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAFunDF4IlD4SSDRdCcRNVqnzPu2UdXSOk&libraries=places"></script>
<script type="text/javascript" src="{% static "vendor/ol3-google-maps/ol3gm-debug.js" %}"></script>
<script type="text/javascript" src="{% static "js/layers.js" %}"></script>
<script type="text/javascript" src="{% static "js/ol3-layerswitcher.js" %}"></script>
<script type="text/javascript" src="{% static "js/clusterspiderfier.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/nprogress/nprogress.js" %}"></script>

<script type="text/javascript" src="{% static "js/map.js" %}"></script>
<script type="text/javascript">
var bigDealVectorSource = new ol.source.Vector();
var hectares = 0;

function drawCircleInMeters(map, coords, hectares) {
    // coords is expected in EPSG:4326 (lat/lon)
    var projection = map.getView().getProjection();
    var meters = Math.sqrt((hectares * 10000) / Math.PI);
    var sphere = new ol.Sphere(6378137);
    var circle = new ol.geom.Polygon.circular(sphere, coords, meters, 64);
    circle = circle.transform('EPSG:4326', projection);
    var feature = new ol.Feature(circle);

    bigDealVectorSource.clear();
    bigDealVectorSource.addFeature(feature);
};

$(document).ready(function () {
    var autocomplete = new google.maps.places.Autocomplete(
        document.getElementById("search"));

    var bigDealVectorLayer = new ol.layer.Vector({
        source: bigDealVectorSource
    });
    map.addLayer(bigDealVectorLayer);

    $.get("/api/hectares.json", function (data) {
        hectares = parseFloat(data["hectares"]);
        $(".legend li .hectares").text(number_format(hectares, 0));
        drawCircleInMeters(map, [0, 0], hectares);
    });
    map.on('singleclick', function (evt) {
        var point = new ol.geom.Point(evt.coordinate);
        point = point.transform('EPSG:3857', 'EPSG:4326');
        drawCircleInMeters(map, point.flatCoordinates, hectares);
    });
    autocomplete.addListener('place_changed', function () {
        var place = autocomplete.getPlace();
        var coords = [
            place.geometry.location.lng(), place.geometry.location.lat()
        ];
        drawCircleInMeters(map, coords, hectares);
    });
});
</script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>

{% endblock %}
