{% extends "chart/base_chart.html" %}{% load i18n %}

{% block page_title %}{% trans "It's a big deal" %}{% endblock %}
{% block title %}{% trans "It's a big deal" %}{% endblock %}

{% block description %}
{{ block.super }}
<div class="btn-group">
    <input class="location col-md-2" name="location" type="text" value="" placeholder="Enter location..."/>
    <button type="submit" class="btn">{% trans "Go" %}</button>
</div>
{% endblock %}

{% block data_availability %}{% endblock %}
{% block legend %}
<ul class="legend media-list">
   <li><i class="icon icon-none" style="background-color: #ed881b;"></i> Area equal to the size of the intended, concluded or failed land acquisitions (<span class="hectares">0</span> ha)</li>
</ul>
{% endblock %}

{% block data %}
<div class="row">
    <div class="col-md-12">
        <div class="gmap" style="width:960px; height:600px; margin: 20px auto;"></div>
    </div>
</div>
{% endblock %}

{% block after %}
{{ block.super }}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=en"></script>
<script type="text/javascript">
$(document).ready(function () {
    $(".get-the-idea .gmap").each(function () {
      var map = initializeMap(this, 0, true);
      init_google_maps($(".get-the-idea .location"), 0, true);
    })
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(displayPosition);
    }
    function displayPosition(position) {
        var map = initializeMap($(".gmap")[0], 0, true, position.coords.latitude, position.coords.longitude);
        init_google_maps($(".get-the-idea .location"), 0, true);
    }
});
function draw(callback) {
    circle_hectares = -1;
    drawCircle(latlng, 0);
    callback();
};
</script>
{% endblock %}
