{% extends "charts/base_chart.html" %}{% load i18n static wagtailcore_tags  sass_tags %}

{% block page_title %}{% trans "Perspective" %}{% endblock %}
{% block title %}{% trans "Perspective" %}{% endblock %}
{% block breadcrumb_inner %}
    {{ block.super }}
    <li>{% trans "Perspective" %}</li>
{% endblock %}

<link rel="stylesheet" href="{% static "vendor/openlayers/ol.css" %}"/>
<link rel="stylesheet" href="{% static "css/ol3-layerswitcher.css" %}"/>


<link rel="stylesheet" href="{% static "css/nprogress.css" %}"/>
<!-- <link rel="stylesheet" href="{% static "css/map.css" %}"/> -->
<link href="{% sass_src 'css/map.scss' %}" rel="stylesheet" type="text/css" />


<div id="alert_placeholder"></div>

{% block description %}
    <p>{% trans "Enter a location to set the center of a circle that displays an area equal to the size of the intended, concluded or failed land acquisitions (according to the selected option)." %}</p>
    <div class="input-group col-md-6" role="group">
        <input id="search" class="location form-control" name="location" type="search" value="" placeholder="{%  trans 'Enter location...' %}"/>
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default">{% trans "Go" %}</button>
        </span>
    </div>
{% endblock %}

{% block data_availability %}{% endblock %}

{% block legend %}
    <ul class="media-list legend offset bigdeal">
        <li><i class="icon icon-none" style="background-color: #ed881b;"></i>{% trans 'Area equal to the size of the intended, concluded or failed land acquisitions (<span class="hectares">0</span> ha)' %}</li>
    </ul>
{% endblock %}

{% block data %}
    <div id="map" class="map" title='{% trans "Perspective" %}'></div>

<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="noul ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>

{% endblock data %}



{% block after %}
{{ block.super }}
<script type="text/javascript">
var mapDisableDeals = true,
    mapDisableControls = true;
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAFunDF4IlD4SSDRdCcRNVqnzPu2UdXSOk&libraries=places"></script>
<script type="text/javascript" src="{% static "vendor/ol3-google-maps/ol3gm-debug.js" %}"></script>
<script type="text/javascript" src="{% static "js/ol3-layerswitcher.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/nprogress/nprogress.js" %}"></script>

<script type="text/javascript" src="{% static "js/map.js" %}"></script>
<script type="text/javascript">
var bigdealVectorLayer = new ol.layer.Vector()
    bigdealArea = 0;

const
        bigdealSphere = new ol.Sphere(6378137),
        bigdealStyle = new ol.style.Style({
    stroke: new ol.style.Stroke({
        color: '#fc941f',
        width: 2
    }),
    fill: new ol.style.Fill({
        color: 'rgba(252, 148, 31, 0.2)'
    })
});

bigdealVectorLayer.setStyle([bigdealStyle]);

function drawCircleInMeter(coords, area) {
    if (!coords) {
        coords = map.getView().getCenter();
    }
    if (!area) {
        area = bigdealArea;
    }

    // TODO: Clear up this projection transformation mess
    var radius = Math.sqrt((area * 10000) / Math.PI),
        vectorSource = new ol.source.Vector({projection: 'EPSG:3857'}),
        circle = ol.geom.Polygon.circular(bigdealSphere, coords, radius, 64).transform('EPSG:4326', 'EPSG:3857');
    vectorSource.addFeature(new ol.Feature(circle));

    bigdealVectorLayer.setSource(vectorSource);
    bigdealArea = area;
};

$(document).ready(function () {
    initGeocoder(document.getElementById("search"));
    $.get("/api/hectares.json", function (data) {
        var area = parseFloat(data["hectares"]);
        $(".legend li .hectares").text(number_format(area, 0));
        drawCircleInMeter(null, area);
        map.addLayer(bigdealVectorLayer);
    });
    map.on('click', function (evt) {
        var point = new ol.geom.Point(evt.coordinate).transform('EPSG:3857', 'EPSG:4326');
        drawCircleInMeter(point.flatCoordinates);
        return;
    });
    autocomplete.addListener('place_changed', function () {
        var place = autocomplete.getPlace(),
            coords = [place.geometry.location.lng(), place.geometry.location.lat()];
        drawCircleInMeter(coords);
    });
});
</script>
<script type="text/javascript" src="{% static "js/layers.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB59at4M4o0ERqk8OkvZOYjxH7N-8_HkNE&libraries=places"></script>

{% endblock %}
