{% load i18n custom_tags %}
{% load humanize %}
        <div class="navbar navbar-default navbar-subnav" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#subnav" aria-expanded="false">
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="subnav">
                    <ul class="nav navbar-nav">
                        {% if not request.GET.country and not request.GET.region %}
                        <li{% if chart == "chart_transnational_deals" %} class="active"{% endif %}><a href="{% url "chart_transnational_deals" %}">{% trans "Web of transnational deals" %}</a></li>
                        {% endif %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {% trans "Dynamics Overview" %}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li{% if chart == "chart_overview" %} class="active"{% endif %}><a href="{% url "chart_intention" %}">{% trans "Intention of investment" %}</a></li>
                                <li{% if chart == "chart_overview" %} class="active"{% endif %}><a href="{% url "chart_negotiation_status" %}">{% trans "Negotiation status" %}</a></li>
                                <li{% if chart == "chart_overview" %} class="active"{% endif %}><a href="{% url "chart_implementation_status" %}">{% trans "Implementation status" %}</a></li>
                                <li{% if chart == "chart_overview" %} class="active"{% endif %}><a href="{% url "chart_intention_agriculture" %}">{% trans "Investment in Agriculture" %}</a></li>
                            </ul>
                        </li>
                        {% if not request.GET.country and not request.GET.region %}
                        <li{% if chart == "chart_map_of_investments" %} class="active"{% endif %}><a href="{% url "chart_map_of_investments" %}">{% trans "Global map of investments" %}</a></li>
                        <li{% if chart == "chart_perspective" %} class="active"{% endif %}><a href="{% url "chart_perspective" %}">{% trans "It's a big deal" %}</a></li>
                        {% endif %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {% trans "Special Interest" %}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if not request.GET.country and not request.GET.region %}
                                <li{% if chart == 'chart_agricultural_drivers' %} class="active"{% endif %}><a href="{% url "chart_agricultural_drivers" %}">{% trans "Agricultural Drivers" %}</a></li>
                                {% endif %}
                                <li{% if chart == 'chart_produce_info' %} class="active"{% endif %}><a href="{% url "chart_produce_info" %}">{% trans "Produce Info" %}</a></li>
                                <li{% if chart == 'chart_resource_extraction' %} class="active"{% endif %}><a href="{% url "chart_resource_extraction" %}">{% trans "Resource Extraction" %}</a></li>
                                <li{% if chart == 'chart_logging' %} class="active"{% endif %}><a href="{% url "chart_logging" %}">{% trans "Logging" %}</a></li>
                                <li{% if chart == 'chart_contract_farming' %} class="active"{% endif %}><a href="{% url "chart_contract_farming" %}">{% trans "Contract Farming" %}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>