{% extends "charts/base_chart.html" %}{% load static i18n custom_tags humanize %}

{% block page_title %}{% trans "Web of transnational deals" %}{% endblock %}
{% block title %}{% trans "Web of transnational deals" %}{% endblock %}
{% block breadcrumb_inner %}
    {{ block.super }}
    <li>{% trans "Web of transnational deals" %}</li>
{% endblock %}

{% block description %}
    {% trans "This interactive graph shows the global flow of transnational land acquisitions. Clicking on a single country shows its threads in the global pattern: blue lines for inbound investments, orange for outbound. Country names marked with * have been shortened to improve legibility" %}
    <br>
    <a class="btn show-all" href="#" class="disabled">{% trans "Reset" %}</a>
{% endblock %}

{% block data_availability %}{% endblock %}

{% block legend %}
    <ul class="media-list legend">
        <li><i class="icon icon-none" style="background-color: #44b7b6;"></i> {% trans "Investor Countries" %}</li>
        <li><i class="icon icon-none" style="background-color: #ed881b;"></i> {% trans "Target Countries" %}</li>
    </ul>
{% endblock %}

{% block data %}
    <div class="row">
        <!--[if lte IE 8]>
        <ul class="col-md-12 messages">
            <li class="alert alert-error">{% trans "<strong>Visualisation not available in your browser:</strong> Unfortunately this data visualisation uses modern technologies and is therefor not available for old browsers (lower than Internet Explorer 8). Please update your browser. " %}</li>
        </ul>
    <![endif]-->
        <div class="canvas-container transnational-deals">
            <div id="chartarea" class="col-md-8 col-md-offset-2 canvas" align="center"></div>
            <div class="chart-box col-md-4 col-md-offset-2 well top-10-countries" align="center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{% trans "Top Countries" %}</h3>
                </div>
                <div class="row">
                    <div class="chart-box-content">
                        <ul class="nav nav-tabs">
                            <li class="active"><a style="color: #44b7b6"
                                                  href="#investor-countries">{% trans "Investor countries" %}</a></li>
                            <li><a style="color: #ed881b" href="#target-countries">{% trans "Target countries" %}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="investor-countries" class="tab-pane active">
                                <table class="table">
                                </table>
                            </div>
                            <div id="target-countries" class="tab-pane">
                                <table class="table">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chart-box col-md-4 col-md-offset-2 well country-info" style="display: none">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="country">{% trans "Country" %}</h3>
                </div>
                <div class="row">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#inbound" aria-controls="inbound" role="tab" data-toggle="tab">
                                <div style="color: #44b7b6">{% trans "Regions investing in " %}
                                    <span class="country">{% trans "Country" %}</span>
                                </div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#outbound" aria-controls="outbound" role="tab" data-toggle="tab">
                                <div style="color: #ed881b">{% trans "Regions" %}
                                    <span class="country">{% trans "Country" %}</span>
                                    {% trans "invests in" %}
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane target-regions active" id="inbound">
                            <table class="table">
                            </table>
                            <p><a class="btn btn-primary" href="" class="inbound">{% trans "Show all inbound deals" %}</a></p>
                        </div>
                        <div role="tabpanel" class="tab-pane investor-regions" id="outbound">
                            <table class="table">
                            </table>
                            <p><a class="btn btn-primary" href="" class="outbound">{% trans "Show all outbound deals" %}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="current-country" style="display: none">
            <h3>{% trans "Country" %}</h3>
            <p>
                <span class="total-hectares">{% trans "0 acquisitions/targets" %}</span>
                <span class="relation-type">{% trans "to/from" %}</span>
                <span class="related-regions">{% trans "Region A: 0 hectares" %}<br/>{% trans "Region B: 0 hectares" %}</span><br/><br/>
                <a href="#">{% trans "Go to Table" %}</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block after %}
    {{ block.super }}

    <script type="text/javascript" src="{% static "legacy/transnational-deals.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>

    <script type="text/javascript">

        $("button.close").click(function () {
            $(this).parents("div.well").hide();
        });

        function get_top_10() {
            $(".top-10-countries .table").empty();
            var json_query = "/api/top-10-countries.json";
            jQuery.getJSON(json_query, function (data) {
                var investor_countries = $(".top-10-countries #investor-countries .table");
                var i;

                for (i = 0; i < data.investor_country.length; i++) {
                    investor_countries.append('<tr><td><a href="/data/by-investor-country/' + data.investor_country[i]["slug"] + '/">' + data.investor_country[i]["name"] + '</a></td><td style="text-align:right;">' + numberWithCommas(data.investor_country[i]["hectares"]) + ' ha</td></tr>');
                }

                var target_countries = $(".top-10-countries #target-countries .table");
                for (i = 0; i < data.target_country.length; i++) {
                    target_countries.append('<tr><td><a href="/data/by-target-country/' + data.target_country[i]["slug"] + '/">' + data.target_country[i]["name"] + '</a></td><td style="text-align:right;">' + numberWithCommas(data.target_country[i]["hectares"]) + ' ha</td></tr>');
                }
            });
        }


        $(".show-all").click(function (e) {
            e.preventDefault();
            clicked = false;
            $(".country-info").css("display", "none");
            $(".top-10-countries").css("display", "block");
            $(".show-all").addClass("disabled");
            return false;
        });


        var clicked = false;
        function draw() {
            init_canvas();

            d3.select("div.canvas")
                    .on("mousemove", mousemove)
                    .on("mouseup", mouseup);

        }

        $(".top-10-countries .nav-tabs a").click(function (e) {
            e.preventDefault();
            $(this).tab("show");
            $(this).parents("li").addClass("active").siblings().removeClass("active");
            return false;
        });
        $(document).ready(function () {
            draw(function () {});
            $(".deal_scope").hide();
        });
    </script>
{% endblock %}
