{
  "printWidth": 88,
  "semi": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore",
  "svelteStrictMode": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "importOrder": [
    "^\\$app/(.*)$",
    "^\\$lib(.*)$",
    "^\\$views/(.*)$",
    "^\\$components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true
}
