{% load custom_tags i18n %}
{% for field in form.get_fields_display %}
    {% if field.name == 'tg' %}
        <h3>{{ field.value }}{% if form_count %} <small>#{{ form_count }}</small>{% endif %}</h3>
    {% else %}
        <div class="row {{ field.name }}{% if field.hidden %} hidden{% endif %}">
            <div class="col-md-3">
                {{ field.label }}
            </div>
            <div class="col-md-9">
                {% if field.name == 'url' %}
                    <a href="{{ field.value|safe|decimalgroupstring }}" target="_blank">{{ field.value|safe|decimalgroupstring }}</a>
                {% elif field.name == 'file' %}
                    <a href="{{ MEDIA_URL }}{{ DATA_SOURCE_DIR }}/{{ field.value|safe }}" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                {% elif field.name == 'contract_area' or field.name == 'intended_area' or field.name == 'production_area '%}
                    <div id="area-{{ forloop.counter }}-div-map" class="geometry-multipolygon">
                        <div id="area-{{ forloop.counter }}-map" style="width: 600px; height: 400px;"></div>
                        <textarea id="area-{{ forloop.counter }}"
                                  class="map-serialized-data vSerializedField required"
                                  cols="150" rows="10"
                                  style="display:none"
                                  data-map-widget-options='{
                                    "mapWidth": 600,
                                    "mapHeight": 400,
                                    "baseLayers": null,
                                    "initialZoom": 8,
                                    "initialCenterLat": 0,
                                    "initialCenterLon": 0,
                                    "showLayerSwitcher": true,
                                    "geomName": "MultiPolygon",
                                    "disableDrawing": true,
                                    "mapSRID": "{{ field.value.srid }}"
                                  }'>{{ field.value.serialized }}</textarea>
                    </div>
                {% else %}
                    {{ field.value|safe|decimalgroupstring }}
                {% endif %}
            </div>
        </div>
        {% if field.name == 'location' %}{{ form.location|random_id }}<br clear="left">{% endif %}
    {% endif %}
{% endfor %}

{% if form.Meta.name == 'investor_info' %}
    {% include "includes/investor-network.html" %}

{% endif %}

{% include "map/modals/legend.html" %}