{% load custom_tags %}
    {% for field in form.get_fields_display %}
        {% if field.name == 'tg' %}
            <h3>{{ field.value }}{% if form_count %} <small>#{{ form_count }}</small>{% endif %}</h3>
        {% else %}
            <div class="row {{ field.name }}">
                <div class="col-md-3">
                    {{ field.label }}
                </div>
                <div class="col-md-9">
                    {% if field.name == 'url' %}
                        <a href="{{ field.value|safe|decimalgroupstring }}" target="_blank">{{ field.value|safe|decimalgroupstring }}</a>
                    {% else %}
                        {{ field.value|safe|decimalgroupstring }}
                    {% endif %}
                </div>
            </div>
            {% if field.name == 'location' %}
            <div class="map"></div>
            {% elif field.name == 'operational_stakeholder' %}
            <div class="investor-network"></div>
            <script type="text/javascript">
            loadInvestorNetwork({{ form.initial.operational_stakeholder }});
            </script>
            {% endif %}
        {% endif %}
    {% endfor %}
