{% load custom_tags i18n %}
    {% for field in form.get_fields_display %}
        {% if field.name == 'tg' %}
            <h3>{{ field.value }}{% if form_count %} <small>#{{ form_count }}</small>{% endif %}</h3>
        {% else %}
            <div class="row {{ field.name }}">
                <div class="col-md-3">
                    {{ field.label }}
                </div>
                <div class="col-md-9">
                    {% if field.name == 'url' %}
                        <a href="{{ field.value|safe|decimalgroupstring }}" target="_blank">{{ field.value|safe|decimalgroupstring }}</a>
                    {% elif field.name == 'file' %}
                        <a href="{{ MEDIA_URL }}{{ DATA_SOURCE_DIR }}/{{ field.value|safe }}" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                    {% else %}
                        {{ field.value|safe|decimalgroupstring }}
                    {% endif %}
                </div>
            </div>
            {% if field.name == 'location' %}
            <div class="map"></div>
            <div id="popup" class="ol-popup">
                <a href="#" id="popup-closer" class="noul ol-popup-closer"></a>
                <div id="popup-content"></div>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if form.Meta.name == 'investor_info' %}
    <p>&nbsp;</p>
    <p>
        {% trans "Show network of parent companies or investors" %}: <input type="checkbox" name="parent_type" checked>
    </p>
    <div id="investor-network">
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            loadInvestorNetwork({{ form.initial.operational_stakeholder }});
        });
    </script>
    {% include "modals/stakeholder.html" %}
    {% endif %}
