{% load %}
{% if forms %}
    {% for form in forms %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collapse_{{ forloop.counter }}">
                    <h5 class="panel-title">
                        {{ form.form_title }}
                        <span id="collapsebtn_{{ forloop.counter }}"
                              class="lm-chevron-circle-down pull-right mgrey1"></span>
                    </h5>
                </a>
            </div>

            <div id="collapse_{{ forloop.counter }}"
                 class="panel-collapse collapse{% if forloop.first %} in {% endif %}">
                <div class="panel-body">
                    {{ form.as_p }}
                </div>
            </div>
        </div>            {# class="panel panel-default" #}

        <script>
            var collapsename = "#collapse_{{forloop.counter}}";
            $(collapsename).on("hidden.bs.collapse", function () {
                $("#collapsebtn_{{forloop.counter}}").addClass('lm-chevron-circle-down').removeClass('lm-chevron-circle-up');
            });
            $(collapsename).on("shown.bs.collapse", function () {
                $("#collapsebtn_{{forloop.counter}}").removeClass('lm-chevron-circle-down').addClass('lm-chevron-circle-up');
            });
        </script>

    {% endfor %}

{% endif %}           {# forms #}