{% load i18n custom_tags %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a id="history" data-toggle="collapse" data-parent="#accordion" href="#collapse_history">
                            <h5 class="panel-title">
                                {% trans "History" %} 
                                <small>({{ activity|history_count:user }} versions)</small>
                                <span id="collapsebtn_history"
                                      class="lm-chevron-circle-down pull-right mgrey1"></span>
                            </h5>
                        </a>
                    </div>
                    <div id="collapse_history" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <table class="table">
                                    <tbody>
                                    {% for item in activity|history:user %}
                                        <tr>
                                            <td>
                                                {% if forloop.counter == 1 %}<strong>{% endif %}
                                                <p>{{ item.history_date }}</p>
                                                {% if forloop.counter == 1 %}</strong>{% endif %}
                                            </td>
                                            {% if user.is_authenticated %}
                                            <td>
                                                <p>{% if item.history_user %}{{ item.history_user.get_full_name }}{% else %}{% trans "Unknown user" %}{% endif %}</p>
                                            </td>
                                            {% endif %}
                                            <td>
                                                <p class="toggle-tooltip" title="{% if item.fully_updated %}{% trans "Fully updated" %}{% else %}{% trans "Updated" %}{% endif %}"><span class="fa fa-{% if item.fully_updated %}check-{% endif %}circle"></span></p>
                                            </td>
                                            <td>
                                                <p><small><span class="label label-default">{{ item.fk_status.name }}</span></small></p>
                                            </td>
                                            <td>
                                                <p>
                                                {% if item.id == activity.id %}
                                                    {% trans "This version" %}
                                                {% else %}
                                                <a type="button" href="{% url 'deal_detail' deal_id=item.activity_identifier history_id=item.id %}">
                                                    <i class="glyphicon glyphicon-eye-open"></i> {% trans "Show this version" %}
                                                </a>
                                                {% endif %}
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                {% if not forloop.last %}
                                                <a type="button" href="{% url 'compare_deals' activity_1=item.id %}">
                                                    <i class="glyphicon glyphicon-transfer"></i> {% trans "Compare with previous version" %}
                                                </a>
                                                {% else %}
                                                {% trans "First version" %}
                                                {% endif %}
                                                </p>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>