{% load i18n %}
{% if forms %}
{% for form in forms %}
    <div class="panel panel-default{% if form.forms %}{% for subform in form.forms %}{% if subform.errors %} with-error{% endif %}{% endfor %}{% else %}{% if form.errors %} with-error{% endif %}{% endif %}">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#{{ form.form_title|slugify }}_body"
               id="{{ form.form_title|slugify }}">
                <h5 class="panel-title">
                    {{ form.form_title }}
                    <span id="collapsebtn_{{ forloop.counter }}"
                          class="lm-chevron-circle-down pull-right mgrey1"></span>
                </h5>
            </a>
        </div>

        <div id="{{ form.form_title|slugify }}_body"
             class="panel-collapse collapse{% if forloop.first and not request.POST %} in{% else %}{% if form.forms %}{% for subform in form.forms %}{% if subform.errors %} in{% endif %}{% endfor %}{% else %}{% if form.errors %} in{% endif %}{% endif %}{% endif %}">
            <div class="panel-body">
                {% if form.forms %}
                    {{ form.management_form }}
                    {% for subform in form.forms %}
                        <div class="dynamic-form {{ form.form_title|slugify }}-form{% if subform.errors %} with-error{% endif %}">
                        {% include "form.html" with form=subform form_count=forloop.counter %}
                        </div>
                        {% if form.form_description %}<div class="col-sm-12"><p class="alert alert-info">{{ form.form_description }}</p></div>{% endif %}
                    {% endfor %}
                    <script type="text/javascript">
                    function init_form(form) {
                        // Init buttons
                        form.find('.add-form').click(function () {
                            form.parents('.panel-body').find('.formset-add-form').trigger('click');
                        });
                        form.find('.remove-form').click(function () {
                            form.find('.formset-remove-form').trigger('click');
                        });
                        // Init level of accuracy
                        form.find('.level_of_accuracy select').change(function () {
                            if ($(this).val() == 'Coordinates') {
                                //form.find('.location :input').attr('readonly', 'readonly');
                                form.find('.point_lat :input,.point_lon :input').attr('readonly', null);
                            } else {
                                //form.find('.location :input').attr('readonly', null);
                                form.find('.point_lat :input,.point_lon :input').attr('readonly', 'readonly');
                            }
                        })
                        // Init map
                        var mapWidgets = {};
                        var maps = form.find('.map-serialized-data');
                        maps.each(function(index) {
                            var id = $(this).attr('id');
                            var options = $(this).data('map-widget-options');
                            options['id'] = id;
                            options['mapId'] = id + '-map';
                            options['name'] = form.find('.location :input').attr('name');
                            // if we are part of the location row, bind to fields
                            if ($(this).parents('.location').length) {
                                options['boundLatField'] = form.find('.point_lat :input');
                                options['boundLonField'] = form.find('.point_lon :input');
                                options['boundLocationField'] = form.find('.location :input');
                                options['boundTargetCountryField'] = form.find('.target_country :input');
                                options['boundLevelOfAccuracyField'] = form.find('.level_of_accuracy :input');
                            }
                            var mapWidget = new MapWidget(options);
                            mapWidgets[id] = mapWidget;
                            $('#' + id).data('mapWidget', mapWidget);
                        });

                        // init location widget autocomplete
                        form.find('.location :input.form-control').each(function(index) {
                            var mapId = $(this).attr('name') + '-map';
                            new LocationWidget({
                                id: $(this).attr('id'),
                                mapWidget: mapWidgets[mapId]
                            });
                        });

                        // Init data sources
                        var data_source_type = form.find('.type');
                        if (data_source_type.length > 0) {
                            initializeDataSource(form);
                        }
                    }
                    $(document).ready(function () {
                        $('.{{ form.form_title|slugify }}-form').formset({
                            addText: '<i class="fa fa-plus"></i> {% trans "Add another" %}',
                            addCssClass: 'formset-add-form hidden',
                            deleteText: '<i class="fa fa-minus"></i> {% trans "Remove" %}',
                            deleteCssClass: 'formset-remove-form hidden',
                            prefix: '{{ form.prefix }}',
                            formCssClass: '{{ form.prefix }}-form',
                            extraClasses: ['dynamic-form'],
                            added: function (row) {
                                // Update form counters
                                var form_count = 1;
                                $('.{{ form.form_title|slugify }}-form h3 small').each(function () {
                                    $(this).text('#' + form_count++);
                                });
                                // Remove link to existing file in file fields
                                row.find('.file a.input-group-addon').remove();
                                // Unselect selected options
                                row.find("option:selected").removeAttr("selected");
                                init_form(row);
                                // Scroll to the new row
                                $('html, body').animate({
                                    scrollTop: row.offset().top
                                }, 600);
                            },
                            removed: function () {
                                // Update form counters
                                var form_count = 1;
                                $('.{{ form.form_title|slugify }}-form h3 small').each(function () {
                                    $(this).text('#' + form_count++);
                                });
                            }
                        }).each(function () { init_form($(this)); });
                    });
                    </script>
                {% else %}
                    {% if form.form_description %}<div class="col-sm-12"><p class="alert alert-info">{{ form.form_description }}</p></div>{% endif %}
                    {% include "form.html" with form=form %}
                    {% if form.Meta.name == 'investor_info' %}
                        {% include "includes/investor-network.html" %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>            {# class="panel panel-default" #}
{% endfor %}
<script>
$(document).ready(function () {
    $('.panel .panel-heading a').click(function () {
        $(this).find('span').toggleClass('lm-chevron-circle-down').toggleClass('lm-chevron-circle-up');
    });
    
    $('#accordion').on('shown.bs.collapse', function (e) {
        var offset = $(this).find('.collapse.in').prev('.panel-heading');
        if(offset) {
            $('html,body').animate({
                scrollTop: $(offset).offset().top -20
            }, 500); 
        }
    }); 
});
</script>
{% endif %}           {# forms #}
{% include "map/modals/legend.html" %}
