{% load i18n %}
{% if forms %}
{% for form in forms %}
    <div class="panel panel-default{% if form.forms %}{% for subform in form.forms %}{% if subform.errors %} with-error{% endif %}{% endfor %}{% else %}{% if form.errors %} with-error{% endif %}{% endif %}">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#{{ form.form_title|slugify }}_body"
               id="{{ form.form_title|slugify }}">
                <h5 class="panel-title">
                    {{ form.form_title }}
                    <span id="collapsebtn_{{ forloop.counter }}"
                          class="lm-chevron-circle-down pull-right mgrey1"></span>
                </h5>
            </a>
        </div>

        <div id="{{ form.form_title|slugify }}_body"
             class="panel-collapse collapse{% if forloop.first and not request.POST %} in{% else %}{% if form.forms %}{% for subform in form.forms %}{% if subform.errors %} in{% endif %}{% endfor %}{% else %}{% if form.errors %} in{% endif %}{% endif %}{% endif %}">
            <div class="panel-body">
                {% if form.forms %}
                    {{ form.management_form }}
                    {% for subform in form %}
                        <div class="{{ form.form_title|slugify }}-form{% if subform.errors %} with-error{% endif %}">
                        {% include "form.html" with form=subform form_count=forloop.counter %}
                        </div>
                        {% if form.form_description %}<div class="col-sm-12"><p class="alert alert-info">{{ form.form_description }}</p></div>{% endif %}
                    {% endfor %}
                    <script type="text/javascript">
                    function init_form(form) {
                        // Init buttons
                        form.find('.add-form').click(function () {
                            form.parents('.panel-body').find('.formset-add-form').trigger('click');
                        });
                        form.find('.remove-form').click(function () {
                            form.find('.formset-remove-form').trigger('click');
                        });
                        // Init map
                        var map = form.find('.maptemplate').removeClass("maptemplate").addClass("map");
                        if (map.length > 0) {
                            var formId = form.find('h3 small').text().replace('#', ''),
                                mapId = formId - 1; //form.attr('class') + '-' + formId;
                            map.attr('id', 'map' + mapId);
                            // TODO: Make jquery enumerate forms correctly, or this is the necessary work:
                            // (Needs this kind of stuff for the other fields. no Way!)
                            initializeMap(mapId);
                        }
                        // Init investor
                        var investor = form.find('.operational_stakeholder');
                        if (investor.length > 0) {
                            var index = 0;
                            setupSankey(index);
                        }
                        // Init data sources
                        var data_source_type = form.find('.type');
                        if (data_source_type.length > 0) {
                            initializeDataSource(form);
                        }
                    }
                    $(document).ready(function () {
                        $('.{{ form.form_title|slugify }}-form').formset({
                            addText: '<i class="fa fa-plus"></i> {% trans "Add another" %}',
                            addCssClass: 'formset-add-form hidden',
                            deleteText: '<i class="fa fa-minus"></i> {% trans "Remove" %}',
                            deleteCssClass: 'formset-remove-form hidden',
                            prefix: '{{ form.prefix }}',
                            formCssClass: '{{ form.prefix }}-form',
                            extraClasses: ['dynamic-form'],
                            added: function (row) {
                                // Update form counters
                                var form_count = 1;
                                $('.{{ form.form_title|slugify }}-form h3 small').each(function () {
                                    $(this).text('#' + form_count++);
                                });
                                // Remove link to existing file in file fields
                                row.find('.file a.input-group-addon').remove();
                                // Unselect selected options
                                form.find("option:selected").removeAttr("selected");
                                init_form(row);
                                // Scroll to the new row
                                $('html, body').animate({
                                    scrollTop: row.offset().top
                                }, 600);
                            },
                            removed: function () {
                                // Update form counters
                                var form_count = 1;
                                $('.{{ form.form_title|slugify }}-form h3 small').each(function () {
                                    $(this).text('#' + form_count++);
                                });
                            }
                        }).each(function () { init_form($(this)); });
                    });
                    </script>
                {% else %}
                    {% if form.form_description %}<div class="col-sm-12"><p class="alert alert-info">{{ form.form_description }}</p></div>{% endif %}
                    {% include "form.html" with form=form %}
                {% endif %}
            </div>
        </div>
    </div>            {# class="panel panel-default" #}
{% endfor %}
<script>
$(document).ready(function () {
    $('.panel .panel-heading a').click(function () {
        $(this).find('span').toggleClass('lm-chevron-circle-down').toggleClass('lm-chevron-circle-up');
    });
    
    $('#accordion').on('shown.bs.collapse', function (e) {
        var offset = $(this).find('.collapse.in').prev('.panel-heading');
        if(offset) {
            $('html,body').animate({
                scrollTop: $(offset).offset().top -20
            }, 500); 
        }
    }); 
});
</script>
{% endif %}           {# forms #}
