landmatrix*.sql
landmatrix*.sql.gz
apps/landmatrix/static/css/*.css
/landmatrix/static/css/.sass-cache/

# project
/.env
/.doit.db
/temporary.db
/static/**/*.css
/static-collected/
/media/
*.mo
.es_index_ab_switch

/_icebox/

# python
__pycache__/
*.pyc
.coverage


# javascript
/node_modules/
webpack-stats.json
/frontend/node_modules/
/frontend/.cache/
/frontend/.env

# IDEs
.idea/
.vscode/
