[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<2.2"
wagtail = "<2.7"

elasticsearch = "<2"
psycopg2-binary = "<2.8" # >=2.8 needs django2.2; https://code.djangoproject.com/ticket/30331
redis = "*"
python-memcached = "*"

djangorestframework = "*"
djangorestframework-gis = "*"
django-crispy-forms = "*"
django-environ = "*"
django-file-resubmit = "*"
django-jstemplate = "*"
django-modeltranslation = "*"
django-contrib-comments = "*"
django-threadedcomments = "*"
django-bootstrap3-datetimepicker-2 = "*"
django-impersonate = "*"
django-multiselectfield = "*"
django-recaptcha = "*"
django-registration = "*"
django-rest-swagger = "*"
django-simple-history = "*"
django-wkhtmltopdf = "*"

wagtail-blog = "*"
wagtail-modeltranslation = "*"

geojson = "<2"
unicodecsv = "*"
openpyxl = "*"
tweepy = "*"
country-bounding-boxes = "*"
python-dateutil = "*"

#plumbing
doit = "*"
celery = "*"
gunicorn = "*"
raven = "*"

pyelasticsearch = {git = "git+git://github.com/simonline/pyelasticsearch", ref = "1.4.2"}

[dev-packages]
pygments = "*"
coverage = "*"

django-livereload = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-test-without-migrations = "*"

libsass = "*"
ipdb = "*"

pylint = "*"

[requires]
python_version = "3.6"
