{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Login" %}{% endblock %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block breadcrumb_inner %}
<li>{% trans "Login" %}</li>
{% endblock %}

{% block content %}

{% if form.errors %}
<p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>{% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}</p>
    {% else %}
    <p>{% trans "Please login to see this page." %}</p>
    {% endif %}
{% endif %}
<br>
<form class="form-horizontal" method="post" action="{% url 'auth_login' %}">{% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />

    {% include "grid/form.html" with mandatory_label=" " %}

    <div class="form-group">
        <div class="col-sm-3 col-sm-offset-3">
            <input class="btn btn-default" type="submit" value="{% trans "Login" %}" />
        </div>
    </div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p>{% trans "Forgot password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a></p>
<p>{% trans "No registered user yet?" %} <a href="{% url 'registration_register' %}{% if next %}?next={{ next }}{% endif %}">{% trans "Register" %}</a></p>

{% endblock %}
