{% extends "base.html" %}
{% load i18n %}


{% block page_title %}{% trans "Confirm password reset" %}{% endblock %}
{% block title %}{% trans "Confirm password reset" %}{% endblock %}
{% block breadcrumb_inner %}
<li>{% trans "Confirm password reset" %}</li>
{% endblock %}

{% block content %}

{% if validlink %}

<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %}
