{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Register" %}{% endblock %}
{% block title %}{% trans "Register" %}{% endblock %}
{% block breadcrumb_inner %}
<li>{% trans "Register" %}</li>
{% endblock %}

{% block content %}
<p>
    {% blocktrans %}Your contact information will help our researchers get in touch with you for additional information. We respect and protect your privacy and anonymity, and will never share or publish your personal information. You can also write us directly at <a href="mailto:data@landmatrix.org">data@landmatrix.org</a>.{% endblocktrans %}
</p>
<br>
<form method="post" action="./" class="form-horizontal">
  {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% include "form.html" with mandatory_label="*" %}
    <div class="form-group">
        <div class="col-sm-3">
             <strong>* = mandatory</strong>
        </div>
        <div class="col-sm-3">
            <input class="btn btn-default" type="submit" value="{% trans "Register" %}" />
        </div>
    </div>
</form>
{% endblock %}
