{% extends "charts/special-interest/base.html" %}
{% load i18n static wagtailcore_tags %}

{% block description %}
<p>
	{% trans 'Filter and search through deals that are divided by intention of investment: Crops, mineral resources, or livestock.' %}
</p>
{% endblock %}

{% block legend %}
<ul class="media-list legend offset">
    <li><i class="icon icon-none" style="background-color: #fc941f;"></i><span> {% trans "Crops" %}</span></li>
    <li><i class="icon icon-none" style="background-color: #44b7b6;"></i><span> {% trans "Mineral resources" %}</span></li>
    <li><i class="icon icon-none" style="background-color: #1f7bfc;"></i><span> {% trans "Livestock" %}</span></li>
</ul>
{% endblock %}

{% block chart %}
<div class="produce_info chart" id="TreeChart" align="center">
</div>
<script type="text/javascript">
function draw() {
    buildTreeChart();
};
</script>
{% endblock %}
