{% extends "grid/global_base.html" %}
{% load i18n custom_tags static %}
{% load humanize %}

{% block head %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "css/ol3-layerswitcher-custom.css" %}"/>
{#     <script src="{% static "js/editor/livesearch.js" %}" type="text/javascript" charset="utf-8"></script> #}
    <script src="{% static "d3/d3.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/editor/add_change.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/editor/stakeholder.js" %}" type="text/javascript" charset="utf-8"></script>
    {# TODO: these need to be in head because of how dealpanels inits the widgets, but we should be able to move them #}
    <script src="{% static "js/locationwidget.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/mapwidget.js" %}" type="text/javascript" charset="utf-8"></script>

{% endblock %}


{% block page_title %}{% trans "Change Deal" %} #{{ deal_id }}{% endblock %}
{% block title %}{% trans "Change Deal" %} #{{ deal_id }}{% endblock %}

{% block breadcrumb_inner %}
    <li><a href="{% url 'manage' %}">{% trans "Manage" %}</a></li>
    <li>{% trans "Deal" %} #{{ deal_id }}</li>
{% endblock %}

{% block messages %}
{{ block.super }}
{% if activity.fk_status_id == 1 or activity.fk_status_id == 6 %}
<p class="alert alert-danger">{% trans "This deal version is pending." %}</p>
{% elif activity.fk_status_id == 4 %}
<p class="alert alert-danger">{% trans "This deal has been deleted. It is not visible for public users." %}</p>
{% elif activity.fk_status_id == 5 %}
<p class="alert alert-danger">{% trans "This deal version has been rejected. It is not visible for public users." %}</p>
{% endif %}
{% endblock %}

{% block content %}
    <form action="." method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="panel-group" id="accordion">
            {% include "grid/includes/dealpanels.html" %}
            {% include "grid/includes/deal_history.html" %}
        </div>
        {% if activity.fk_status_id == 4 %}
        {% if perms.landmatrix.change_activity %}<a href="javascript:;" data-toggle="modal" data-target="#recover-deal" class="pull-right"><i class="fa fa-recycle"></i> {% trans "Recover this deal" %}</a>{% endif %}
        {% else %}
        <p>
            {{ action_comment_form.tg_action_comment.label_tag }}<strong> ({% trans "mandatory" %})</strong>
            {{ action_comment_form.tg_action_comment }}
        </p>
        <p>
            <input type="checkbox" required name="terms">
            {% blocktrans %}I've read and agree to the <a href="/data-policy" target="_blank">Data Policy</a>.{% endblocktrans %}
            <br><br>
        </p>
        <button type="submit" name="submit_btn" class="btn btn-primary">
            {% trans 'Submit' %}
        </button>
        {% if user|can_approve_reject:activity %}
        <button type="submit" name="approve_btn" class="btn btn-primary btn-success">
            <i class="fa fa-thumbs-up"></i> {% trans 'Approve' %}
        </button>
        <button type="submit" name="reject_btn" class="btn btn-primary btn-danger">
            <i class="fa fa-thumbs-down"></i> {% trans 'Reject' %}
        </button>
        {% endif %}
        or <a href="{% url "deal_detail" deal_id=deal_id %}">{% trans 'Cancel' %}</a>
        {% if perms.landmatrix.review_activity or perms.landmatrix.delete_activity %}<a href="javascript:;" data-toggle="modal" data-target="#delete-deal" class="pull-right"><i class="fa fa-trash"></i> {% trans "Delete this deal" %}</a>{% endif %}
        {% endif %}
    </form>
    {% if activity.fk_status_id == 4 %}
        {% include "grid/modals/recover_deal_modal.html" %}
    {% else %}
        {% include "grid/modals/delete_deal_modal.html" %}
    {% endif %}
{% endblock %}

{% block global_js %}
    <script src="{% static "js/vendor/d3.v4.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "js/ol3-layerswitcher-custom.js" %}"></script>
    <script>unlockMaps()</script>
{% endblock %}
