{% extends "grid/global_base.html" %}
{% load i18n custom_tags filter_tags wagtailcore_tags humanize static %}

{% block page_title %}
    {% if group == "all" %}{% trans "All investors" %}
    {% elif filters.group_value %}{{ group_value|deslugify }}
    {% else %}{% trans "By" %} {{ group|deslugify }}
    {% endif %}
{% endblock %}
{% block title %}
    {% if group == "all" %}{% trans "All investors" %}
    {% elif filters.group_value %}{{ group_value|deslugify }}
    {% else %}{% trans "By" %} {{ group|deslugify }}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="/">{% trans 'Start' %}</a></li>
  <li><a href="{% url 'data' %}">{% trans 'Data' %}</a></li>
  {% if group == "all" %}
  <li>{{ name|capfirst }}</li>
  {% elif filters.group_value %}
  <li><a href="/data/investors/{{ group_slug }}/?{% add_or_update_param request.GET 'order_by' '' %}">
      {% trans "By" %} {{ group|deslugify }}</a></li>
  <li>{{ group_value|deslugify }}</li>
  {% else %}
  <li>{% trans "By" %} {{ group|deslugify }}</li>
  {% endif %}
</ul>
{% endblock %}

{% block subnav_inner %}
    <li role="presentation"><a href="{% url 'map' %}{% list_params %}">
        <i class="fa fa-map-marker"></i> {% trans "Map" %}
    </a></li>
    <li role="presentation" class="active"><span>
        <i class="fa fa-table"></i> {% trans "Data" %}
    </span></li>
    <li role="presentation"><a href="{% url 'charts' %}{% list_params %}">
        <i class="fa fa-bar-chart"></i> {% trans "Charts" %}
    </a></li>
    <li class="divider"></li>
    <li role="presentation">
        {% include "export.html" %}
    </li>
{% endblock %}

{% block content %}
{% include "grid/includes/subnav_investors.html" %}
{{ introduction|safe }}
<p></p>
{% include "grid/includes/search_investors.html" %}
{% include "grid/includes/filters_investors.html" %}

{% if data.items %}
    <div class="summary-wrap">
        <table id="summary" class="table table-striped">
            <thead>
                <tr>
                    {% for name, column in columns.items %}
                        <th class="{{ name }}{% if name == 'deal_size' %} number{% endif %}">
                            <a class="{{ name }}{% if data.order_by == name %} asc{% elif data.order_by == '-'|add:name %} desc{% endif %}" href="?{% add_or_update_param request.GET 'order_by' column.order_by %}">
                                {{ column.label }}
                            </a>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for item in data.items %}
                <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                    {% for column, value in item.items %}
                        {% if group_value %}
                            {% include "grid/includes/grid_field.html" %}
                        {% elif forloop.first %}
                            {% if column == "roles" %}
                            <td class="{{ column }}">
                                {% if item.roles %}
                                    <a href="{% url 'investor_list' group='by-role' %}{{ item.roles.value }}/?{% add_or_update_param request.GET 'order_by' '' %}">
                                        {{ item.roles.display }}
                                    </a><br/>
                                {% else %}
                                    {% trans "Unknown" %}
                                {% endif %}
                            </td>
                            {% elif column == "classification" %}
                            <td class="{{ column }}">
                                {% if item.classification %}
                                    <a href="{% url 'investor_list' group='by-classification' %}{{ item.classification.value }}/?{% add_or_update_param request.GET 'order_by' '' %}">
                                        {{ item.classification.display }}
                                    </a><br/>
                                {% else %}
                                    {% trans "Unknown" %}
                                {% endif %}
                            </td>
                            {% elif column == "fk_country" %}
                                <td class="{{ column }} investor-country">
                                    {% if item.fk_country %}
                                      <a href="{% url 'investor_list' group='by-fk-country' %}{{ item.fk_country.display|slugify }}/?{% add_or_update_param request.GET 'order_by' '' %}">
                                          {{ item.fk_country.display }}</a><br/>
                                    {% else %}
                                        {% trans "Unknown" %}
                                    {% endif %}
                                </td>
                            {% else %}
                                {% include "grid/includes/grid_field.html" %}
                            {% endif %}
                        {% else %}
                            {% include "grid/includes/grid_field.html" %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if load_more %}
        <a href="?{% add_or_update_param request.GET 'more' load_more %}" class="btn pull-left">{% trans "Show more" %}</a>
    {% endif %}
    {% if group_value %}
        <p class="pull-right"><span class="label label-default">{{ data.count|intcomma }}</span> {% trans "investors" %}</p>
    {% endif %}
{% else %}
    <p>{% trans "There are currently no investors matching your search criteria." %} <a
            href="{% url 'investor_add' %}">{% trans "Add an investor" %}</a>.</p>
{% endif %}
{% endblock %}

{% block javascript %}
{{ block.super }}
{% if request.GET.more %}
<script type="text/javascript">
$(document).ready(function () {
    $('html, body').animate({
        scrollTop: $("table tr:nth-child(" + ({{ request.GET.more }}-20)  + ")").offset().top
    });
});
</script>
{% endif %}
{% endblock %}
