{% extends "base.html" %}
{% load i18n static filter_tags %}

{% block css %}
  <link href="{% static 'css/charts.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static "d3/d3.min.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block page_title %}{% trans "Chart" %}{% endblock %}
{% block title %}{% trans "Chart" %}{% endblock %}

{% block breadcrumb_inner %}
<li><a href="{% url 'charts' %}">{% trans 'Charts' %}</a></li>
{% endblock %}

{% block subnav_inner %}
    <li role="presentation"><a href="{% url 'map' %}{% list_params %}">
        <i class="fa fa-map-marker"></i> {% trans "Map" %}
    </a></li>
    <li role="presentation"><a href="{% url 'data' %}{% list_params %}">
        <i class="fa fa-table"></i> {% trans "Data" %}
    </a></li>
    <li role="presentation" class="active"><span>
        <i class="fa fa-bar-chart"></i> {% trans "Charts" %}
    </span></li>
    <li class="divider"></li>
    <li role="presentation">
        {% include "export.html" %}
    </li>
{% endblock %}

{% block content %}
{% block before %}
{% endblock %}
{% include "charts/subnav.html" %}
{% include "filters.html" %}

<div class="row">
    <div class="col-md-6">
        <div class="well">
            {% block description %}{{ body|safe }}{% endblock %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="well" id="legendbox">
            {% block legend %}
            <ul class="media-list legend offset">
                <li><i class="icon icon-none" style="background-color: #060c0f;"></i><span> {% trans "Food-Crop - Crops that be consumed by humans, even if also used as livestock feed" %}</span></li>
                <li><i class="icon icon-none" style="background-color: #225559;"></i><span> {% trans "Non-Food - Biofuels, exclusive livestock feed, industrial, cosmetic and medicinal uses" %}</span></li>
                <li><i class="icon icon-none" style="background-color: #46b2bf;"></i><span> {% trans "Flex-Crop - Potential both biofuel and food uses" %}</span></li>
                <li><i class="icon icon-none" style="background-color: #acd4dc;"></i><span> {% trans "Multiple Use - Several crops in different categories" %}</span></li>
            </ul>
            {% endblock %}
        </div>
    </div>
</div>

{% block data %}
{% endblock %}

{% block after %}

    <!--[if gte IE 9]--><script type="text/javascript" src="{% static "d3/d3.js" %}"></script><!--<![endif]-->
    <script type="text/javascript" src="{% static "bootstrap-switch/dist/js/bootstrap-switch.min.js" %}"></script>

    <script type="text/javascript">
function get_filter() {
    var filter = "";
    var element = $(".actions .action2 .btn.active");
    if (element.length != 0) {
        var params = getParameterByName($(element).attr("href").replace("?", ""));
        var filter = "";
        if (params["filter"] != undefined) {
            filter = "filter=" + params["filter"];
        }
    }
    return filter;
}

//draw();

var chartwidth,
    chartheight;

$(document).ready(function () {

    $(".actions .action2 .btn.active").click();

    chartwidth = $('#chartarea').width();
    chartheight = $('#chartarea').height();

});
</script>
{% endblock %}
{% endblock %}
