@import 'colors.scss';

/* ==========================================================================
 *    BUTTONS
 * ========================================================================== */


.pagination > .active > a:hover,
.pagination > li > a:hover {
  color: #b9d635;
  border-color: #B9D635;
  background: $lm_offwhite;
}

.pagination > .active > a,
.pagination > li > a,
button,
a.btn {
  color: $lm_orange;
  border-color: $lm_orange;
  border-width: 2px;
  background: $lm_offwhite;
  font-weight: bold;
  /*opacity: 0.5; */
  box-shadow: none;
  text-shadow: none;
}

/* BUTTONS ARE SAME HEIGHT AS FORM INPUTS */
.btn {
  min-height: 3em;
  padding: 8px 12px;
}

.btn-large {
  padding: 1em 3.5vw;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-transform: capitalize;
}

.btn-default {
  background-color: $lm_medium2;
  color: #fff;
  border: none;
}


button:focus,
button.active,
button:hover,
a.btn:focus,
a.btn.active,
a.btn:hover {
  opacity: 1;
}

.btn-primary {
  color: $lm_offwhite !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  border: none;
}

.btn-primary {
  background-color: $lm_orange !important;
  opacity: 1 !important;
}

.btn.disabled:hover,
.btn[disabled]:hover {
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: $lm_offwhite !important;
  background-color: #bf6d15;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399;
}

.btn-primary {
  text-transform: uppercase;
}

.btn-group > .btn.failed {
  margin-left: 6px;
}

.dropdown-menu {
  background: $lm_offwhite;
  padding: 15px;
  border-style: none;
  box-shadow: 1px 1px 3px #dadada !important;
  border-radius: 0px !important;
  z-index: 98;
  min-width: 12vw;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: $lm_offwhite;
  font-weight: lighter;
  border: 0px !important;
  background: $lm_green none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: none;
}

/* ==========================================================================
 *    BREADCRUMB
 * ========================================================================== */
.breadcrumb {
  clear: both;
  background: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.breadcrumb > li,
.breadcrumb > li > a {
  text-shadow: none !important;
}

.breadcrumb > li > a {
  text-decoration: underline;
  color: $lm_dark;
}

/* ==========================================================================
 *    WIDGETS
 * ========================================================================== */
.widget .social,
.widget .copyright,
.widget .creative-commons {
  width: 33%;
  float: left;
}

@media (min-width: 0) and (max-width: 768px) {
  .widget .wrap {
    margin-bottom: auto;
  }

  .widget .push {
    height: auto;
  }

  .widget footer {
    height: auto;
  }
}

.download-hint {
  line-height: 30px;
}

img {
  max-width: 100%;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

/* SHARE */
  #btn-download,
#btn-share {
  position: relative;
}

#btn-download .popover,
#btn-share .popover {
  padding: 0;
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

#btn-download,
#btn-share,
#btn-download .popover,
#btn-share .popover,
#btn-download .popover:hover,
#btn-share .popover:hover,
#btn-download .popover:focus,
#btn-share .popover:focus {
  outline-color: transparent !important;
  outline-style: none !important;
  outline: 0;
}

#btn-download .popover .popover-content,
#btn-share .popover .popover-content {
  width: 312px;
  height: 49px;
  margin: 0;
  padding: 0;
}

#btn-share .popover .popover-content .btn-media,
#btn-download .popover .popover-content .btn-media {
  width: 78px;
  height: 49px;
  line-height: 49px;
  float: left;
  color: #fff;
  text-align: center;
  background: #414141;
}

#btn-download .popover .popover-content .disclaimer {
  width: 234px;
  background-color: white;
  border: 1px solid $lm_orange;
  color: $lm_orange;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px;
  border-bottom: none;
  &.warning {
    border: 1px solid $lm_orange;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}


#btn-download .popover .popover-content .btn-media:first-child,
#btn-share .popover .popover-content .btn-media:first-child {
  //border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#btn-download .popover .popover-content .btn-media:last-child,
#btn-share .popover .popover-content .btn-media:last-child {
  //border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#btn-download .popover .popover-content .btn-media.csv,
#btn-share .popover .popover-content .btn-media.facebook {
  border-left: 1px solid $lm_dark;
  border-right: 1px solid $lm_dark;
}
#btn-download .popover .popover-content .btn-media.csv:before,
#btn-share .popover .popover-content .btn-media.facebook:before {
  position: absolute;
  top: -10px;
  margin-left: 0;
  content: "";
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 10px solid $lm_dark;
}
#btn-download .popover .popover-content .btn-media.csv:before {
  margin-left: 38px;
}
#btn-share .popover .popover-content .btn-media:hover,
#btn-share .popover .popover-content .btn-media:focus,
#btn-download .popover .popover-content .btn-media:hover,
#btn-download .popover .popover-content .btn-media:focus {
  background: $lm_orange;
  text-decoration: none;
}

#btn-download .popover .popover-content .btn-media i {
  font-size: 16px;
  line-height: 49px;
}

/* TODO: Fix the top notch to color in as well - this does not catch/work on my FF/Chromium: */
#btn-download .popover .popover-content .btn-media:hover .csv:before,
#btn-download .popover .popover-content .btn-media:focus .csv:before,
#btn-share .popover .popover-content .btn-media:hover .facebook:before,
#btn-share .popover .popover-content .btn-media:focus .facebook:before {
  border-top-color: $lm_orange;
}

#btn-share .popover .popover-content .btn-media i {
  font-size: 30px;
  line-height: 49px;
}


/* ==========================================================================
 *    ALERTS
 * ========================================================================== */
/*.alert {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.alert-info h4,
.alert-info strong {
    color: $lm_orange;
}

.alert-info {
    color: $lm_dark;
    background-color: #9b9b9b;
    border-color: #c1c1c1;

}
*/

.alert-info p {
  display: inline; /* start page */
}

.dashboard > ul li {
  list-style: none;
}

.dashboard td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.icon-info {
  background: url(/static/img/icons.png) no-repeat;
}

h4 .icon {
  margin-top: 3px;
}


.carousel-control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-weight: 100;
  color: $lm_dark;
  text-align: center;
  background: none;
  border: 0;
  /*-webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;*/
  opacity: 0.5;
  filter: alpha(opacity=50);
  text-decoration: none;
}

.carousel-control:hover {
  color: $lm_orange;
}

.carousel-control.right {
  left: auto;
  right: 23px;
  background: none;
}

.carousel-control.left {
  background: none;
}

.carousel {
  margin-bottom: 50px;
  clear: both;
}

.carousel-indicators {
  bottom: -42px;
  top: auto;
  right: auto;
}

.carousel-indicators li {
  background-color: $lm_medium1;
}

.carousel-indicators .active {
  background-color: $lm_orange;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

/* ==========================================================================
 *    MAPS
 * ========================================================================== */

.locationmap {
  width: 400px;
  height: 300px;
}

/* ==========================================================================
 *    DATETIMEPICKER
 * ========================================================================== */

.bootstrap-datetimepicker-widget table th {
  border-radius: 0px !important;
}


/* ==========================================================================
 *    BOOTSTRAP-SWITCH
 * ========================================================================== */

/*
  background: $lm_orange !important;
}*/


.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: $lm_green !important;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
  color: #fff;
  background: $lm_orange !important;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
  color: #fff;
  background: $lm_orange !important;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
  background: $lm_orange;
  color: #fff;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
  color: #fff;
  background: red;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #000;
  background: #eeeeee;
}
