{
  "printWidth": 88,
  "svelteStrictMode": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "importOrder": ["^\\$app/(.*)$", "^\\$lib(.*)$", "^\\$components/(.*)$", "^[./]"],
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true,
  "bracketSameLine": false
}
