{% load handlebarsjs %}
{% load static %}

{% comment %}
  If this template is loaded from a wagtail-plugin, either 'country' or 'region'
  is available.
  zoom: 6,
  centerTo: [-5, 20],
  legendKey: 'intention',
  visibleLayer: 'countries',
{% endcomment %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.0.1/ol.js" type="text/javascript"></script>
<script src="{% static "map/js/handlebars.min.js" %}"></script>
<script src="{% static "map/js/Chart.min.js" %}"></script>
<script src="{% static "map/js/mapPlugin.js" %}"></script>
<script>
  $(function () {
    var mapProgress = $(".map-progress");
    var successClass = "finished";
    var activeClass = "active";
    var mapPlaceholder = $("#map-placeholder");
    var showHideContent = $(".show-hide-content");
    var showIcon = "glyphicon-menu-right";
    var hideIcon = "glyphicon-menu-left";
    var legendSelect = $(".js-legend-select");
    var mapLegendClass = ".map-legend";
    var tabContainer = $(".map-overlay-content");
    var menuContainer = $(".map-overlay-tabs");
    var layerSwitch = $(".js-layer-switch");
    function advanceProgressLine() {
      var currentProgressLine = mapProgress.find(".line:not(." + successClass + "):first");
      currentProgressLine.addClass(successClass);
    }
    function advanceProgress() {
      var currentIcon = mapProgress.find(".status:not(." + successClass + "):first");
      currentIcon.addClass(successClass);
      advanceProgressLine();
    }
    function finishProgress() {
      mapProgress.find('.line').addClass(successClass);
      advanceProgress();
      mapProgress.fadeOut();
    }
    function showHideTabContent() {
      tabContainer.toggleClass("is-hidden");
      var content = showHideContent.children("h4:first");
      if(content.hasClass(hideIcon)) {
        content.removeClass(hideIcon).addClass(showIcon);
      } else {
        content.removeClass(showIcon).addClass(hideIcon);
      }
    }
    // show only one tab, and reset 'menu'
    function activateTabContent(element) {
        if (tabContainer.hasClass("is-hidden")) {
            showHideTabContent();
        }
        // activate selected content-div
        tabContainer.children("div").removeClass(activeClass);
        element.addClass(activeClass);
        // update tab-menu
        menuContainer.children('a').removeClass(activeClass);
        menuContainer.find("a[data-tab='" + element.data('content') + "']").addClass(activeClass);
    }
    // custom input element: switch map layers (grouped or deals)
    function switchLayerTo(element) {
      layerSwitch.children("div").addClass("disabled");
      element.removeClass("disabled");
    }
    /**
     *  Map loading progress
     */
    // first step: replace static image with map.
    advanceProgress();
    var map = $.setMap({
      countriesUrl: "{% url "country_deals_api" %}{% if country %}?country={{ country.id }}{% endif %}",
      dealsUrl: "{% url "deals_api" %}",
      legend: {{ legend_json|safe }},
      legendKey: legendSelect.val(),
      featureDetailsElement: "details-overlay",
      featureDetailsCallback: activateTabContent,
      visibleLayer: {% if map_object %}"deals"{% else %}"countries"{% endif %},
      autoToggle: {% if map_object %}false{% else %}true{% endif %},
      {% if map_object %}centerTo: [{{ map_object.point_lon }}, {{ map_object.point_lat }}],{% endif %}
      switchLayerCallback: switchLayerTo
    });
    {% if map_object %}
      map.zoomToExtent(
          {{ map_object.point_lon_min }},
          {{ map_object.point_lat_min }},
          {{ map_object.point_lon_max }},
          {{ map_object.point_lat_max }}
      );
    {% endif %}

    mapPlaceholder.remove();
    advanceProgressLine();
    // load country-data and cluster deals.
    advanceProgress();
    map.loadCountries();
    // load clustered deals per country.
    map.setDealsPerCountryLayer();
    map.loadDeals();
    advanceProgress();
    map.setDealsLayer();
    advanceProgress();
    finishProgress();
    /**
     *  Handling of panel, tabs, etc.
     */
    // handle tabs for info-panel
    $(".js-toggle-overlay-content").click(function(e) {
      e.preventDefault();

      var tab = $(this).data('tab');
      tabContainer.toggleClass('is-wide', tab == 'details');

      // load content of clicked tab
      var containerElement = tabContainer.children(
          "div[data-content='" + tab + "']"
      );
      activateTabContent(containerElement);
    });
    // display legend according to type.
    legendSelect.on("change", function() {
      var selected = $(this).val();
      map.setLegendKey(selected);
      $(mapLegendClass).removeClass(activeClass);
      $(mapLegendClass + "." + selected).addClass(activeClass);
    });
    // show-hide the content box
    showHideContent.on("click", function(e) {
      e.preventDefault();
      showHideTabContent();
    });
    // Toggle to group by countries
    layerSwitch.children("div").on("click", function() {
      switchLayerTo($(this));
      map.toggleVisibleLayer($(this).data("show-layer"));
      // If the toggle is clicked manually, "auto" checkbox is automatically
      // unchecked.
      $('.js-toggle-cluster-auto').prop('checked', false).change();
    });
    $(".js-toggle-cluster-auto").on("change", function() {
      map.setAutoToggle(this.checked);
    });
    $("input[name='base-layer']").on("change", function() {
      map.toggleBaseLayer(this.value);
    });

    $("input[name='context-layer']").on("change", function() {
      map.toggleContextLayer(this);
    });
  });
</script>
{% handlebarsjs "countries-details" precompile %}
{% handlebarsjs "deals-many-details" precompile %}
{% handlebarsjs "deals-single-details" precompile %}
