/* ==========================================================================
 *    COLORS
 *       ========================================================================== */
html,
body {
    background-color: white;
    padding: 0;
}

h1 {
    position: relative;
    text-align: center;
    text-color: #ed881b;
}

h1 span {
    background: #fff;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

h1:before {
    background: #555;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
}

h1:before {
    left: 0;
}

/*

h1.separator,
h2.separator {
    border-top: 1px solid #1d1d1d;
    display: block;
    height: 31.5px;
}

h1.separator span,
h2.separator span {
    display: block;
    margin: 0 auto;
    background: #ededed;
    margin-top: -19px;
    padding: 0 20px;
    width: auto;
}

h1.separator span:first-child,
h2.separator span:first-child {
    text-align: center;
}

*/

.get-the-idea h1,
.get-the-idea a:hover {
    color: #44b7b6;
}

.get-the-idea ::selection {
    background-color: #44b7b6;
}

.get-the-detail h1,
.get-the-detail a:hover,
.get-the-detail strong {
    color: #44b7b6;

}

.get-the-detail ::selection,
.get-the-detail .thumbnails .counter {
    background-color: #44b7b6;
}

.get-the-detail #add_id_primary_investor {
    display: none;
}

.get-involved h1,
.get-involved a:hover,
.get-involved strong {
    color: #ed881b;

}

.get-involved ::selection {
    background-color: #ed881b;
}

/* ==========================================================================
 *    BUTTONS
 *       ========================================================================== */
.container .btn {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.container button,
.container a.btn {
    color: #ed881b;
    border-color: #ed881b;
    background: white;
    opacity: 0.5;
    font-size: 12px;
    box-shadow: none;
    text-shadow: none;
}

.container button:focus,
.container button.active,
.container button:hover,
.container a.btn:focus,
.container a.btn.active,
.container a.btn:hover {
    opacity: 1;
}

.btn-primary {
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #bf6d15;
    background-image: -moz-linear-gradient(top, #ed881b, #bf6d15);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ed881b), to(#bf6d15));
    background-image: -webkit-linear-gradient(top, #ed881b, #bf6d15);
    background-image: -o-linear-gradient(top, #ed881b, #bf6d15);
    background-image: linear-gradient(to bottom, #ed881b, #bf6d15);
    background-repeat: repeat-x;
    border-color: #bf6d15 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffed881b', endColorstr='#ffbf6d15', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn.disabled:hover,
.btn[disabled]:hover {
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff !important;
    background-color: #bf6d15;
    *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #003399 \9;
}

.btn-primary {
    text-transform: uppercase;
}

.btn-group > .btn.failed {
    margin-left: 6px;
}

.dropdown-menu {
    padding: 10px;
    border-top-color: #fff;
    border-left-color: #fff;
    box-shadow: 2px 5px 2px #aaa;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    border-top-color: #fff;
    border-left-color: #fff;
    background: #44b7b6 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: none;
}

/* ==========================================================================
 *    FONTS (generated by Font Squirrel via http://www.fontsquirrel.com)
 *       ========================================================================== */
@font-face {
    font-family: 'Unit';
    src: url('../fonts/unit-bold-webfont.eot');
    src: url('../fonts/unit-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/unit-bold-webfont.woff') format('woff'),
    url('../fonts/unit-bold-webfont.ttf') format('truetype'),
    url('../fonts/unit-bold-webfont.svg#unit-boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Unit';
    src: url('../fonts/unit-regular-webfont.eot');
    src: url('../fonts/unit-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/unit-regular-webfont.woff') format('woff'),
    url('../fonts/unit-regular-webfont.ttf') format('truetype'),
    url('../fonts/unit-regular-webfont.svg#unit-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,
p,
a,
ul li,
dl dt,
dl dd,
table th,
table td,
blockquote,
h5,
h6,
label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #3b3b3b;
}

h1,
h2,
h3,
h4 {
    font-family: 'Unit';
}

h1 {
    text-transform: uppercase;
    font-size: 28px;
    line-height: 32px;
    color: #ed881b;
}

h2 {
    font-weight: bold;
    font-size: 16px;
    color: #1d1d1d;
}

h6 {
    margin: 0;
}

a {
    text-decoration: underline;
}

.navbar a,
a.btn,
.nav a {
    text-decoration: none;
}

a:hover {
    color: #ed881b;
}

::-moz-selection {
    background: #ed881b;
    text-shadow: none;
}

::selection {
    background: #ed881b;
    text-shadow: none;
}

/* ==========================================================================
 *    HEADER
 *       ========================================================================== */

.container-fluid {
    max-width: 86vw;
    width: auto;
}

.container {
    max-width: 86vw;
    width: auto;
}

.navbar-default .navbar-inner {
    background-color: #1d1d1d;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;

    border-bottom-color: #999;
    border-bottom-width: 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*
.navbar-brand {
    margin-left: 8vw; 
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 8vw;
    }
}

*/
.navbar-right {
/*    margin-right: 8vw; */
    color: #555555;
}

.navbar-right > li > span{
    color: #555;
}

@media (max-width: 767px) {
    .navbar-right > li,
    .navbar-right > li > a {
        display: inline-block;
    }
}

.navbar .brand {
    background: url(../../img/lm-logo.png) no-repeat;
    display: block;
    padding: 5px;
 /*   margin-left: 8vw; */
    margin-top: 15px;
    margin-right: 40px;
    width: 180px;
}

.navbar .brand span {
    text-transform: none;
    font-family: 'Unit', sans-serif;
    font-weight: normal;
    display: block;
}

.navbar .nav > li > a {
    min-height: 100%;
    font-size: 1.5em;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background: #fff none;
    color: #44b7b6;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ed881b
}

.fa-spacer {
    padding-right: 10px;
    font-size: 1.2em;
}

.fa-lang {
    margin-top: -5px;
    margin-left: -15px;
    color: white;
    font-size: 1.5em;
}

.right {
    text-align: right;
}

.right li {
    float: right;
}

.center {
    text-align: center;
}

.section {
    margin: 36px 0 18px
}

/* ==========================================================================
 *    SUBNAVIGATION
 *       ========================================================================== */
.subnav a {
    color: #3b3b3b;
}

.subnav a:hover {
    text-decoration: underline;
}

.subnav.nav .thumbnail {
    opacity: 0.5;
    overflow: hidden;
}

.subnav.nav > .active a,
.subnav.nav > li:hover a,
.subnav.nav > li:focus a,
.subnav.nav > .active a {
    color: #3b3b3b;
}

.subnav.nav > .active .thumbnail,
.subnav.nav > li:hover .thumbnail,
.subnav.nav > li:focus .thumbnail,
.subnav.nav > .active .thumbnail {
    opacity: 1;
}

/*
.title span {
    position: relative;
}

.title .prev,
.title .next {
    position: absolute;
    display: block;
    top: 9px;
    left: 12px;
    width: 11px;
    height: 18px;
    background: url(../../img/arrows.png) no-repeat;
    text-indent: -9999px;
}

.title .next {
    background-position: -11px 0;
    left: auto;
    right: 12px;
}

*/

.collapsible {
    position: relative;
}

.collapsible .subnav {
    margin-bottom: 31px;
}

.collapsible .toggle .icon {
    display: block;
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 14px;
    height: 14px;
    background: url(../../img/plus-minus.png) no-repeat -14px 0;
    text-indent: -9999px;
    opacity: 0.5;
}

.collapsed .toggle .icon {
    background-position: 0 0;
}

.collapsible .toggle .icon:hover {
    opacity: 1;
}

.collapsed .thumbnail a.image {
    display: none;
}

.collapsed .thumbnail {
    color: #3b3b3b;
    background-color: #e5e5e5;
    border: 1px solid #bcbcbc;
    padding: 8px 35px 8px 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
    height: 36px;
    opacity: 0.5;
    cursor: pointer;
}

.get-the-detail .collapsed .thumbnail {
    height: 57px;
    width: 144px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-right: none;
}

.get-the-detail .collapsed .last .thumbnail {
    border-right: 1px solid #e5e5e5;
}

.get-the-detail .thumbnail a {
    height: auto;
}

.get-the-detail .collapsible .toggle {
    top: -20px;
    left: 0;

}

/* ==========================================================================
 *    FOOTER (including Sticky Footer by Ryan Fait http://ryanfait.com/)
 *       ========================================================================== */

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

footer {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


footer .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .col-md-3 {
    margin-left: 0px;
    margin-right: 0px;
}

.wrap {
    margin-bottom: 20px;
}

.push {
/*    height: 50px; /* .push must be the same height as footer */
}

footer {
    background-color: #ccc;
    padding: 10px;
    display: block;
}

footer p,
footer li,
footer a {
    color: #555;
    font-size: 1.2em;
    line-height: 1.4em;
    text-decoration: none;
}

footer h4 {
    font-size: 1.3em;
    text-transform: uppercase;
}

footer hr {
    border-top: 1px solid #fff;
}


a.cc-icons {
    display: inline-block;
    background: url(../../img/cc-icons.png) no-repeat;
    background-position: 0 0;
    width: 71px;
    height: 20px;
}

a.cc-icons:hover {
    background-position: 0 -20px;
}

.newsletter-icon {
    background: url(../../img/subscribe-icon.png) no-repeat;
    background-position: right 1px;
    padding-right: 25px;
}

.newsletter-icon:hover {
    background-position: right -15px;
}

/* ==========================================================================
 *    NAVIGATION ICONS
 *       ========================================================================== */
a.get-the-idea,
a.get-the-detail,
a.get-involved,
a.about {
    display: block;
    width: 28px;
    height: 34px;
    background: url(../../img/nav-icons.png) no-repeat;
    text-indent: -99999px;
}

.navbar .nav > li {
    margin: 8px 0 8px 20px;
}

.nav > li.active > a.get-the-idea,
a.get-the-idea:hover {
    background-position: 0 -34px;
}

a.get-the-detail {
    background-position: -28px 0;
}

.nav > li.active > a.get-the-detail,
a.get-the-detail:hover {
    background-position: -28px -34px;
}

a.get-involved {
    background-position: -56px 0;
}

.nav > li.active > a.get-involved,
a.get-involved:hover {
    background-position: -56px -34px;
}

a.about {
    background-position: -84px 0;
}

.nav > li.active > a.about,
a.about:hover {
    background-position: -84px -34px;
}

i.big {
    display: block;
    width: 40px;
    height: 48px;
    background: url(../../img/nav-icons.png) no-repeat 0 -68px;
    text-indent: -99999px;
    float: left;
    margin-top: -5px;
    margin-right: 18px;
}

.active i.big.get-the-idea {
    background-position: 0 -116px;
}

.big.get-the-detail {
    background-position: -40px -68px;
}

.active .big.get-the-detail {
    background-position: -40px -116px;
}

i.big.get-involved {
    background-position: -80px -68px;
}

.active .big.get-involved {
    background-position: -80px -116px;
}

/* ==========================================================================
 *    SECTOR ICONS
 *       ========================================================================== */

/* riot: This could be realized by using font-awesome or other glyphfonts (can be custom created */

.intention-icon {
    background: url(../../img/intention-icons.png) no-repeat;
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    padding: 0;
    margin: 0 5px 5px 0;
}

.intention-icon:hover {
    background-position: 0 -32px;
}

.forestry {
    background-position: -32px 0;
}

.forestry:hover {
    background-position: -32px -32px;
}

.mining {
    background-position: -64px 0;
}

.mining:hover {
    background-position: -64px -32px;
}

.tourism {
    background-position: -96px 0;
}

.tourism:hover {
    background-position: -96px -32px;
}

.land-speculation {
    background-position: -128px 0;
}

.land-speculation:hover {
    background-position: -128px -32px;
}

.industry {
    background-position: -160px 0;
}

.industry:hover {
    background-position: -160px -32px;
}

.conservation {
    background-position: -192px 0;
}

.conservation:hover {
    background-position: -192px -32px;
}

.renewable-energy {
    background-position: -224px 0;
}

.renewable-energy:hover {
    background-position: -224px -32px;
}

.other {
    background-position: -256px 0;
}

.other:hover {
    background-position: -256px -32px;
}

/* ==========================================================================
 *    ALERTS
 *       ========================================================================== */
.alert {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.alert-info h4,
.alert-info strong {
    color: #ed881b;
}

.alert-info {
    color: #3b3b3b;
    background-color: #e5e5e5;
    border-color: #bcbcbc;

}

.alert-info p {
    display: inline; /* start page */

}

.icon-info {
    background: url(../../img/icons.png) no-repeat;
}

h4 .icon {
    margin-top: 3px;
}

/* ==========================================================================
 *    START PAGE
 *       ========================================================================== */
.thumbnail {
    box-shadow: none;
    border: none;
    padding: 0;
}

.thumbnails .counter {
    display: block;
    width: 10px;
    height: 18px;
    position: absolute;
    bottom: 33px;
    color: #fff;
    padding: 10px 14px;
    border: 1px solid #fff;
}

.thumbnail img {
    border: 1px solid #bcbcbc;
    margin-bottom: 6px;
}

.btn-primary {
    background-color: #ed881b !important;
    opacity: 1 !important;
}

.get-involved .btn-primary {
    padding-top: 22px;
    height: 29px;
    white-space: nowrap;
    margin-bottom: 20px;
}

.media-list li {
    clear: both;
}

.media-list li i {
    margin-right: 3px;
}

.media-list h6 {
    display: block;
    float: left;
}

.media-list .separator {
    display: block;
    height: 12px;
    width: 70px;
    float: left;
    border-bottom: 2px dotted #ed881b;
    margin: 0 4px;
}

.get-the-detail .span3 {
    margin: 0 auto;
    float: none;
}

.get-the-detail .first .span3 {
    margin-left: 0;
    float: left;
}

.get-the-detail .last .span3 {
    float: right;
}

.get-the-detail li {
    position: relative;
}

.get-the-detail li .separator {
    display: block;
    background: url(../../img/arrow-right.png) no-repeat;
    width: 28px;
    height: 46px;
    position: absolute;
    right: -50px;
    top: 50px;
}

.get-the-detail li.first .separator {
    right: -7px;
}

/* Fix for IE7, floating intention icons */
.get-the-detail .unstyled li {
    display: inline-block;
    float: left;
}

.carousel-control {
    position: absolute;
    top: 50%;
    left: -22px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #3b3b3b;
    text-align: center;
    background: none;
    border: 0;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    text-decoration: none;
}

.carousel-control:hover {
    color: #ed881b;
}

.carousel-control.right {
    left: auto;
    right: -22px;
}

.carousel {
    margin-bottom: 0;
}

.carousel-indicators {
    bottom: -30px;
    top: auto;
    right: auto;
}

.carousel-indicators li {
    background-color: #000;
    border-radius: 3px;
    margin-left: 10px;
}

.carousel-indicators .active {
    background-color: #bebebe;
}

.blog-entry {
    background-color: #fff;
    width: 470px;
    float: left;
}

.blog-meta {
    width: 150px;
    background-color: #e3e3e3;
    height: 100%;
    position: absolute;
    right: 0;
    margin-left: 0;
    border: 1px solid #bebebe;
    float: left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

.blog-meta .content,
.blog-entry .content {
    padding: 10px;
}

.blog-meta .content img,
.blog-meta .content p {
    margin-bottom: 25px;
}

@media (min-width: 1200px) {
    .blog-entry {
        width: 585px;
    }

    .blog-entry h4 {
        width: 370px;
    }

    .blog-meta {
        width: 185px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .blog-entry {
        width: 362px;
    }

    .blog-meta {
        width: 114px;
    }
}

@media (max-width: 767px) {
    .blog-entry {
        width: auto;
        margin-left: 0;
        padding-right: 134px;
    }

    .blog-meta {
        width: 134px;
    }

    .blog {
        margin-bottom: 36px;
    }
}

.carousel-fade .carousel-inner .item.prev.right,
.carousel-fade .carousel-inner .item.active.right {
    text-align: left;
}

.carousel-fade .right li {
    float: left;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.well-square.social {
    margin-top: 27px;
    text-align: center;
    opacity: 0.5;
    height: 23px;
}

.well-square.social:first-child {
    margin-top: 0;
}

.well-square.social a img {
    padding-right: 20px;
}

.well-square.social:hover {
    opacity: 1;
}

.icon-twitter {
    display: inline-block;
    vertical-align: text-top;
    background-image: url("/media/img/icon-twitter.png");
    background-repeat: no-repeat;
}

/* ==========================================================================
 *    FORMS
 *       ========================================================================== */
ul.form.empty {
    display: none;
}

ul.form {
    margin: 0;
}

ul.form li {
    background: none;
    padding-left: 0;
    list-style: none;
}

ul.form.condition li.field label {
    display: none;
}

.get-the-detail ul.form.condition li.field .value-wrapper ul li label {
    display: block;
}

.get-the-detail .year-based-year,
.get-the-detail .add-ybd,
.get-the-detail .change-investor {
    display: none;
}

ul.form.condition li {
    float: left;
}

#id_honeypot {
    display: none;
}

label[for=id_honeypot] {
    display: none;
}

input,
select,
textarea {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.get-the-detail .input-append .value-wrapper > ul {
    display: block;
    max-height: 180px;
    width: 260px;
    overflow-y: auto;
}

.get-the-detail ul.form.condition .input-append li {
    float: none;
}

.get-the-detail ul.form.condition .input-append li input {
    width: 15px;
}

.btn-group input {
    margin-bottom: 0;
}

.deal-detail.nav.nav-list > li > button {
    background: none;
    border: none;
    padding: 3px 15px;
    display: block;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
    opacity: 1;
    text-align: left;
}

.nav.nav-tabs > li > a,
.nav.nav-tabs > li > a:hover {
    padding: 3px 15px;
    border-radius: 0;
    border: none;
}

.nav.nav-tabs > li:hover > a,
.deal-detail.nav.nav-list > li > button:hover {
    color: #44b7b6;
}

.nav.nav-tabs > li.active > a:hover,
.deal-detail.nav.nav-list > li > button.active:hover {
    color: #fff;
}

.nav.nav-tabs > li.active > a,
.deal-detail.nav.nav-list > li > button.active {
    background: #44b7b6;
    color: #fff;
}

.public .deal-detail.nav.nav-list > li.done > button {
    display: inline-block;
    color: #3b3b3b;
    border: 1px solid #bcbcbc;
    background: #e5e5e5;
    margin-top: 6px;
    width: auto;
}

.public .deal-detail.nav.nav-list > li.done > button:hover {
    background: #ed881b;
    opacity: 1;
    color: #fff;
}

.public .deal-detail.nav.nav-list > li > button.active {
    background: #ed881b;
}

.public .deal-detail.nav.nav-list > li > button:hover {
    color: #ed881b;
}

.public .deal-detail.nav.nav-list > li > button.active:hover {
    color: #fff;
}

.public .change-investor,
.public .add-investor {
    display: none;
}

/** OLD CRUFT (PRE OPENLAYERS)
/* ==========================================================================
 *    MAPS
 *       ==========================================================================
.map img {
 max-width: none;
}
.map label {
 width: auto;
 display:inline;
}
*/

/* ==========================================================================
 *    COMMENT
 *       ========================================================================== */
#comments {
    margin-bottom: 20px;
}

.get-the-detail .form-actions {
    background-color: inherit;
    border-top: inherit;
}

#write_comment .form-horizontal .control-label {
    width: 140px;
}

#write_comment .form-horizontal .controls {
    margin-left: 160px;
}

#comments ul {
    clear: both;
}

#comments ul .comment_li {
    float: none;
}

.comment_li .comment_li {
    padding-left: 20px;
}

.scrollable {
    padding-top: 50px;
    margin-top: -50px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
    background-color: #ed881b;
    color: #fff;
    text-shadow: none;
}

/* ==========================================================================
 *    GET THE IDEA
 *       ========================================================================== */
.action1, .action2 {
    margin-bottom: 6px;
}

svg {
    display: block;
    width: 960px;
    margin: 0 auto;
}

svg a {
    text-decoration: none;
}

ul.legend.offset {
    margin-left: 10px;
}

ul.legend.offset li > span {
    margin-left: 9px;
}

.well-square {
    min-height: 20px;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #e3e3e3;
    border: 1px solid #bebebe;
}

.well-square p, ul {
    margin-bottom: 0;
}

.current-country {
    margin-bottom: 12px;
}

.get-the-idea h3.count {
    font-size: 35px;
}

/* ==========================================================================
 *    BREADCRUMB
 *       ========================================================================== */
.breadcrumb {
    clear: both;
    background: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.breadcrumb > li,
.breadcrumb > li > a  {
    text-shadow: none !important;
}

/* ==========================================================================
 *    TABLES
 *       ========================================================================== */
.table th,
.table td {
    padding: 16px 8px 8px;
    border-top: 1px solid #bcbcbc;
}

.table-condensed th,
.table-condensed td {
    padding: 4px 5px;
}

.table th .intention-icon,
.table td .intention-icon {
    margin-top: -4px;
    margin-bottom: 4px;
}

table th,
.container table th a {
    font-weight: bold;
    color: #3b3b3b;
}

table th a {
    display: block;
    float: left;
}

.get-the-detail table th a {
    padding-bottom: 12px;
}

.get-the-detail table thead tr {
    background-color: #ededed;
}

.get-the-detail table th a:hover,
.get-the-detail table th a.desc:hover,
.get-the-detail table th a.asc {
    background: url(../../img/icon-sort-asc.png) no-repeat 6px bottom;
}

.get-the-detail table th a.asc:hover,
.get-the-detail table th a.desc {
    background: url(../../img/icon-sort-desc.png) no-repeat 6px bottom;
}

.get-the-detail .table-striped tbody tr:nth-child(odd) td {
    /*background-color: #e2e2e2;*/
}

.get-the-detail .collapsible-tags h5 {
    float: left;
    margin-top: 0;
    margin-right: 5px;
}

.get-the-detail .collapsible-tags ul li {
    float: left;
    margin: 0 5px 5px 0;
}

.get-the-detail .collapsible-tags.collapsed ul,
.get-the-detail .collapsible-tags.collapsed h5 {
    display: none;
}

.entry-point h4 {
    display: block;
    margin: 0 auto;
    width: 91px;
}

.entry-point-by-target-country,
.entry-point-by-target-region,
.entry-point-by-investor-country,
.entry-point-by-investor-region,
.entry-point-by-investor-name,
.entry-point-by-data-source-type,
.entry-point-by-intention,
.entry-point-by-crop,
.entry-point-all {
    width: 979px;
    height: 52px;
    background: url(/media/img/entry-points.png) no-repeat;
    display: block;
    text-indent: -9999px;
    margin: 5px auto 0;
}

.entry-point-by-investor-country,
.entry-point-by-investor-region,
.entry-point-by-investor-name {
    background-position: 0 -52px;
}

.entry-point-by-data-source-type {
    background-position: 0 -104px;
}

.entry-point-by-intention {
    background-position: 0 -156px;
}

.entry-point-by-crop {
    background-position: 0 -208px;
}

.entry-point-all {
    background-position: 0 -260px;
}

/* ==========================================================================
 *    FORMS
 *       ========================================================================== */
.condition {
    clear: both;
}

.condition .field {
    margin: 0 6px 6px 0;
}

.condition .operator {
    width: 80px;
}

.condition li.field input {
    width: 120px;
}

.filters .btn-group {
    clear: both;
    display: block;
}

.container select {
    color: #3b3b3b;
    background: #e5e5e5 url(../../img/select-arrow.png) no-repeat right 12px;
    border: 1px solid #bcbcbc;
    -webkit-appearance: none;
    padding: 0 4px;
}

.container input,
.container textarea {
    color: #3b3b3b;
    border: 1px solid #bcbcbc;
}

input,
button,
select,
textarea {
    font-family: "Open Sans", sans-serif;
    font-size: 12px !important;
}

/* UNSET BOOTSTRAP STYLES FOR MAP (https://github.com/twitter/bootstrap/issues/1552) */
.gmap img {
    max-width: none;
}

/* ==========================================================================
 *    GRAPHS
 *       ========================================================================== */
.graph-popover {
    background-color: #1d1d1d !important;
    -webkit-background-clip: padding-box !important;
    -moz-background-clip: padding !important;
    background-clip: padding-box !important;
    border: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
    white-space: normal !important;
    color: #fff;
}

.graph-popover p {
    margin: 12px 12px 12px 12px;
    color: #fff;
}

.graph-popover img {
    display: none;
}

/* ==========================================================================
 *    STATS
 *       ========================================================================== */

.stats h4 .icon {
    margin-top: -5px;
}

.stats .bar {
    padding: 0 8px 2px;
    text-align: left;
    color: #fff;
    font-weight: bold;
    line-height: 22px;
}

.stats .number {
    font-weight: bold;
    display: block;
}

.stats .progress {
    margin-bottom: 10px;
}

.progress-concluded .bar {
    background-color: #ed881b;
    background-image: -moz-linear-gradient(top, #ed881b, #ed881b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ed881b), to(#ed881b));
    background-image: -webkit-linear-gradient(top, #ed881b, #ed881b);
    background-image: -o-linear-gradient(top, #ed881b, #ed881b);
    background-image: linear-gradient(to bottom, #ed881b, #ed881b);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed881b', endColorstr='#ed881b', GradientType=0);
}

.progress-intended .bar {
    background-color: #b96c12;
    background-image: -moz-linear-gradient(top, #b96c12, #b96c12);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b96c12), to(#b96c12));
    background-image: -webkit-linear-gradient(top, #b96c12, #b96c12);
    background-image: -o-linear-gradient(top, #b96c12, #b96c12);
    background-image: linear-gradient(to bottom, #b96c12, #b96c12);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b96c12', endColorstr='#b96c12', GradientType=0);
}

.progress-failed .bar {
    background-color: #884e0e;
    background-image: -moz-linear-gradient(top, #884e0e, #884e0e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#884e0e), to(#884e0e));
    background-image: -webkit-linear-gradient(top, #884e0e, #884e0e);
    background-image: -o-linear-gradient(top, #884e0e, #884e0e);
    background-image: linear-gradient(to bottom, #884e0e, #884e0e);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#884e0e', endColorstr='#884e0e', GradientType=0);
}

.stats .legend.well-square {
    padding: 5px;
    margin-top: 10px;
}

.stats ul.media-list li {
    width: 107px;
    display: inline-block;
    text-align: center;
}

.stats ul.media-list {
    margin-top: 2px;
}

.stats .description ul {
    margin-top: 30px;
}

.stats .description li {
    margin-bottom: 10px;
}

/* FIXME: Cleanup */
.progress-intended,
.progress-failed {
    height: 10px;
}

.percentage-intended,
.percentage-failed {
    margin-top: -3px;
}

.progress {
    width: 80%;
    float: left;
    clear: left;
}

.percentage {
    width: 20%;
    float: right;
    text-align: right;
}

.number {
    clear: both;
}

.number-concluded {
    font-size: 18px;
    line-height: 22px;
}

/*
@media (min-width: 1200px) {
	.section-overview-wrapper {
		margin-left: -20px;
		width: 1190px;
		padding: 0 10px 0 10px;
	}
}
@media (min-width:768px) and (max-width:979px) {
	.section-overview-wrapper {
		margin-left: -20px;
		width: 714px;
		padding: 0 10px 0 10px;
	}
}
*/
.section-overview-wrapper {
    margin-bottom: 36px;
}

.section-overview,
.nav-tabs {
    margin-bottom: 0;
}

.section-overview .nav.nav-tabs > li.active > a {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

@media (min-width: 1200px) {
    .section-overview-wrapper .thumbnails > li {
        margin-left: 20px;
    }

    .section-overview-wrapper .thumbnails > li.span4,
    .section-overview-wrapper .span6 {
        margin-left: 10px;
    }

    .section-overview-wrapper .thumbnails > li:first-child,
    .section-overview-wrapper .thumbnails > li.span4:first-child,
    .section-overview-wrapper .span6:first-child {
        margin-left: 30px;
    }

    .section-overview .nav-tabs li {
        width: 32%;
    }

    .section-overview .nav-tabs li.get-the-detail {
        width: 36%;
    }

    .section-overview .nav-tabs li h1 {
        margin-left: 18%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .section-overview-wrapper .thumbnails > li {
        margin-left: 15px;
    }

    .section-overview-wrapper .thumbnails > li.span4,
    .section-overview-wrapper .span6 {
        margin-left: 10px;
    }

    .section-overview-wrapper .thumbnails > li:first-child,
    .section-overview-wrapper .thumbnails > li.span4:first-child,
    .section-overview-wrapper .span6:first-child {
        margin-left: 20px;
    }

    .section-overview .nav-tabs li {
        width: 32%;
    }

    .section-overview .nav-tabs li.get-the-detail {
        width: 36%;
    }

    .section-overview .nav-tabs li h1 {
        margin-left: 0;
    }
}

@media (min-width: 0) and (max-width: 768px) {
    .section-overview .nav-tabs li {
        width: 100%;
    }

    .section-overview .nav-tabs li.get-the-detail {
        width: 100%;
    }

    .section-overview-wrapper .tab-content .tab-pane {
        height: auto;
    }

    .section-overview .nav-tabs li h1 {
        margin-left: 0;
    }

    .section-overview-wrapper .span6 {
    }

    /*
    .wrap {
        margin-bottom: -91px;
    }

    .push {
        height: 91px;
    }

    footer {
        height: 71px;
    }
    */
}

/*
.section-overview .nav-tabs li a {
	padding-left: 75px;
}
.section-overview .nav-tabs li.get-involved {
    width: 398px;
}
*/
.section-overview .nav-tabs li.get-involved a {
    margin-right: 0;
}

.section-overview-wrapper .tab-pane {
    padding: 20px 9px;
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    height: 240px;
    overflow: hidden;
}

.top-10-countries table th,
.top-10-countries table td,
.country-info table th,
.country-info table td {
    padding: 0;
}

.toggle-tooltip {
    margin-left: 5px;
}

th .toggle-tooltip {
    background: none !important;
}

.btn-group .tooltip-inner {
    white-space: normal;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #1d1d1d;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #1d1d1d;
}

.tooltip-inner {
    background-color: #1d1d1d;
    color: #fff;
    font-weight: normal;
}

.tooltip.left {
    margin-left: -9px; /* flickers with the default setting of -4px */
}

.recaptchatable * {
    line-height: 0;
}

.twitter-timeline {
    float: right;
    background: #fff;
    border: 1px solid #ddd !important;
    margin-bottom: 14px;
}

@media (max-width: 767px) {
    .twitter-timeline {
        width: 716px;
    }
}

.fancybox > img {
    margin: 0;
}

.fancybox:hover {
    box-shadow: none !important;;
    border: none !important;
}

.file {
    display: block;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .row, .thumbnails, .breadcrumb {
        margin: 0 20px !important;
    }
}

/* ==========================================================================
 *    WIDGETS
 * ========================================================================== */
.widget .social,
.widget .copyright,
.widget .creative-commons {
    width: 33%;
    float: left;
}

@media (min-width: 0) and (max-width: 768px) {
    .widget .wrap {
        margin-bottom: auto;
    }

    .widget .push {
        height: auto;
    }

    .widget footer {
        height: auto;
    }
}

.download-hint {
    line-height: 30px;
}

/* ==========================================================================
 *    LAND MATRIX AFRICA
 * ========================================================================== */

body.africa {
    background-color: #fff;
}

body.africa .wrap {
    background-color: #fff;
}

.africa .brand {
    text-transform: uppercase;
    font-size: 18px;
    background: none;
    color: #fff;
    margin: 12px 0 0 0
}

.africa h1.separator span,
.africa h2.separator span {
    background-color: #fff;
}

.africa footer {
    border-top: 1px solid #000;
    position: relative;
    z-index: 1000;
}

.africa footer .copyright {
    margin-top: 34px;
}

.africa footer {
    background-color: #fff;
    color: #000;
    height: 80px;
}

.africa footer .african-union {
    height: 73px;
}

.africa footer .un-economics {
    margin-top: 8px;
}

.africa footer a,
.africa footer p {
    color: #000;
}

.africa .africa-map {
    overflow: hidden;
    height: 340px;
}

.africa .africa-map svg {
    left: -300px !important;
    top: -60px !important;
}

.africa .navbar-inverse .navbar-inner {
    background-color: #37261c;
}

.africa .navbar-inverse .navbar-inner img {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}
