/* FONT DEFINITIONS */
@font-face {
    font-family: "MyriadPro";
    src: url('fonts/myriadpro-regular.eot');
    src: url('fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-regular.otf') format('woff'),
         url('fonts/myriadpro-regular.ttf') format('truetype');
}
@font-face {
    font-family: "MyriadPro";
    font-weight: bold;
    src: url('fonts/myriadpro-bold.eot');
    src: url('fonts/myriadpro-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-bold.otf') format('woff'),
         url('fonts/myriadpro-bold.ttf') format('truetype');
}
/* GENERAL */
h1#site-name {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
}
h2,
h2 a,
h2 a:hover {
    font-size: 38px;
    line-height: 46px;
    font-family: "MyriadPro", Arial, Helvetica, sans-serif;
    font-style: bold;
    color: #fff;
    clear: both;
    text-transform: uppercase;
    font-weight: bold;
}
h3,
p.headline,
p.headline a {
    font-size: 20px;
    line-height: 30px;
    font-family: "MyriadPro", Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 9px;
}
h3 {
    font-weight: bold;
}
p.headline strong {
    color: #da8a1c;
}
h4,
h5,
h6,
legend {
    font-size: 14px;
    line-height: 18px;
    font-family: "MyriadPro", Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 32px;
}
.title {
    margin-bottom: 36px;
    clear: both;
}
.title h2 {
    float: left;
}
.title h3 {
    clear: left;
}
ul.actions {
    clear: left;
    float: right;
}
ul.actions li {
    float: left;
    display: block;
}
ul.actions li a {
    margin-left: 18px;
}
p#site-desc,
ul.links li,
ul.links li a {
    font-size: 14px;
    line-height: 18px;
    font-family: "MyriadPro", Arial, Helvetica, sans-serif;
    color: #fff;
}
p#site-desc {
    text-transform: none;
}
p,
ul li,
ol li,
dt,
dd,
dl a,
table th,
table td,
table a,
label {
    font-size: 14px;
    line-height: 18px;
    font-family: "MyriadPro", Arial, Helvetica, sans-serif;
    color: #fff;
}
ul li,
ol li,
dt,
dd,
dl a,
table th,
table td,
table a,
label {
    text-transform: uppercase;
}
table th {
    vertical-align: top;
    width: 250px;
}
table th label {
    background-color: #465159;
    padding: 6px 7px;
    display: block;
    border-radius: 3px 0 0 3px;
}
table td {
    vertical-align: top;
}
table td h3 {
    margin-left: -250px;
}
.page ul li,
.page table td {
    text-transform: none;
}
a {
    /*font-size: 18px;
    line-height: 24px;*/
    font-family: "MyriadPro", Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
a:hover {
    color: #da8a1c;
}

/* SUB-NAVIGATION */
ul.subnav {
    position: fixed;
    width: 200px;
    z-index: 3;
    top: 180px;
    margin-left: 760px;
}
.overlay ul.subnav {
    z-index: 7;
}
ul.subnav li {
    display: block;
    float: right;
    margin-left: 18px;
}
button,
a.button,
ul.actions li a,
ul.subnav li a,
ul.subnav li button,
ul.subnav li li button,
.select li a {
    background-color: #465159;
    height: 32px;
    padding: 2px 18px 0;
    font-size: 18px;
    line-height: 24px;
    line-height: 34px;
    display: block;
    border: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none;
}
ul.subnav li li {
    display: block;
    float: none;
}
ul.subnav li.select a,
ul.subnav li a,
ul.subnav li button {
    border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    margin-bottom: 4px;
    white-space: nowrap;
}
button:hover,
a.button:hover,
ul.actions li a:hover,
ul.subnav li.current button,
ul.subnav li a:hover,
ul.subnav li button:hover,
.select li a:hover {
    color: #fff;
}
a.button.add {
    float: right;
    margin-bottom: 18px;
}
button:hover,
a.button:hover,
ul.subnav li.current button,
ul.actions li a:hover,
ul.subnav li button:hover {
    background-color: #da8a1c;
}
/* SELECTS */
.select {
    position: relative;
}
.select ul {
    display: none;
    position: absolute;
    overflow: hidden;
    padding-top: 39px;
    top: 0;
    z-index: 1;
}

.select ul li:first-child a,
.select ul li:first-child span {
    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
}
.select ul li:first-child ul li a,
.select ul ul li:first-child a {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.select ul ul {
    display: block;
    position: inherit;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    overflow: visible;
    padding-top: 0;
}
a.back {
    font-size: 14px;
    line-height: 18px;
	background-image: url(img/select-arrow.png);
	background-repeat: no-repeat;
	background-position: left -112px;
	padding-left: 25px;
	display: block;
}
.select a.current,
.bg-arrow a {
	background-image: url(img/select-arrow.png);
	background-repeat: no-repeat;
}
.bg-arrow.left a {
	background-position: left -100px;
	padding-left: 25px;
}
.bg-arrow.right a {
	background-position: right -33px;
	padding-right: 25px;
}
.subnav .close a {
	background-image: url(img/select-arrow.png);
	background-repeat: no-repeat;
	background-position: left -136px;
	padding-left: 25px;
}
.select a.current {
    background-repeat: no-repeat;
 	background-position: right 0px;
	background-color: #da8a1c;
    height: 32px;
    padding: 2px 26px 0 18px;
    line-height: 34px;
    display: block;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none;
}
.select.investor a.current,
.select.investor ul li.current a,
.select ul li.investor:hover a {
    background-color: #58b1bf;
}
.primary-investor a {
    font-size: 14px;
    margin: 7px 0 0 5px;
}
.select:hover ul {
    display: block;
}
.select ul li {
    float: none;
    margin-left: 0;
}
.select ul li a,
.subnav .select ul li a {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.select ul li.current a,
.select ul li:hover a {
    background: #da8a1c;
}
.select ul li.current li a,
.select ul li:hover li a {
    background-color: #465159;
}
.select ul li.current li.current a,
.select ul li li:hover a {
    background: #da8a1c;
}
.select ul span {
    background: #465159;
    display: block;
    padding: 9px 18px 0;
    color: #89959e;
}
.select ul li.first a {
    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
}
.select ul li.last a {
    border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
}
.input-append {
    float: left;
}
input[type=checkbox] {
    margin-left: 20px;
}
ul li input[type=checkbox] {
    margin-left: 0;
}
.errorlist {
    float: left;
    padding: 6px 7px;
    background: #d93c1c;
    border-radius: 3px;
}
.ui-autocomplete {
    background-color: white;
    width: 300px;
    border: 1px solid #cfcfcf;
    list-style-type: none;
    padding-left: 0px;
}
.field {
    clear: both;
    display: block;
}
/* BOOTSTRAP TWEAKS */
.input-append .add-on {
  color: #000;
}
label {
  text-transform: none;
}
.map img {
  max-width: none;
  clear:both;
}
.map label {
  width: auto;
  display:inline;
}
/* WIDGETS */
.widget {
	border: 2px solid #fff;
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 20px;
}
#dashboard .widget {
	float: left;
	width: 446px;
	margin-right: 20px;
}
#dashboard .widget.latest-modified,
#dashboard .widget.manage {
	margin-right: 0;
}

#dashboard .widget table td {
    white-space: nowrap;
}
.latest-added td {
    overflow: hidden;
}
.latest-added .deal {
    max-width: 50px;
}
.latest-added .user {
    max-width: 140px;
}
.latest-added .comment {
    max-width: 160px;
}
.latest-added .date {
    max-width: 94px;
}
.latest-modified td {
    overflow: hidden;
}
.latest-modified .deal {
    max-width: 50px;
}
.latest-modified .user {
    max-width: 140px;
}
.latest-modified .comment {
    max-width: 160px;
}
.latest-modified .date {
    max-width: 94px;
}
.latest-deleted td {
    overflow: hidden;
}
.latest-deleted .deal {
    max-width: 50px;
}
.latest-deleted .user {
    max-width: 140px;
}
.latest-deleted .comment {
    max-width: 160px;
}
.latest-deleted .date {
    max-width: 94px;
}
.manage td {
    overflow: hidden;
}
.manage .deal {
    max-width: 50px;
}
.manage .user {
    max-width: 140px;
}
.manage .comment {
    max-width: 160px;
}
.manage .date {
    max-width: 94px;
}
form table {
    clear: both;
}
ul.form.new-investor .investor {
    display: none;
}
ul.form.existing-investor .investor_name,
ul.form.existing-investor .country,
ul.form.existing-investor .classification,
ul.form.existing-investor .subsidiary_of {
    display: none;
}
#browse-primary-investor ul.form.existing-investor .investor_name,
#browse-primary-investor ul.form.existing-investor .country,
#browse-primary-investor ul.form.existing-investor .classification,
#browse-primary-investor ul.form.existing-investor .investment_ratio,
#browse-primary-investor ul.form.existing-investor .tg_general_comment,
#browse-primary-investor ul.form.existing-investor .subsidiary_of {
    display: none;
}
#browse-primary-investor ul.form.new-investor .investment_ratio,
#browse-primary-investor ul.form.new-investor .tg_general_comment {
    display: none;
}
#browse-primary-investor button{
    margin: 20px 5px 0 0;
}
ul.form.empty {
    display: none;
}
ul.form .tg_primary_investor,
ul.form .tg_investor {
    display: none;
}
.location .map {
    left: -250px;
}
.add-row, .delete-row{
    font-size: 14px;

}
.form.condition .add-ybd {
    display: none;
}
.form.condition {
    clear: both;
    width: 100%;
}
.form.condition label {
    display: none;
}
.form.condition .value-wrapper label {
    display: block;
}
.form.condition li {
    float: left;
    clear: none;
    margin-right: 10px;
}
.form.condition .value-wrapper li {
    float: none;
}
.form.column {
    margin-top: 10px;
}
/* TIN STYLING */
h1,
h2,
h3,
h4 {
  color: #edb86f;
}
h3 {
  color: #da8a1c;
  width: 660px;
  font-weight: normal;
  padding: 0;
  white-space: normal;
}
ul.form {
  margin: 0;
  width: 660px;
  padding-bottom: 50px;
}
span.input-append {
  max-width: 400px;
}
.input-append option {
  max-width: 400px;
}
li.field label,
li.field input,
li.field select,
li.field textarea,
li.field .helptext {
  float: left;
}
li.field div#map_canvas * {
  clear: both;
}
li.field label {
  display: block;
  width: 230px;
  text-align: right;
  padding: 6px 20px 6px 0;
  background: #465159;
  border-radius: 5px 0px 0px 5px;
}
li span ul * {
  clear: both;
}
li.field span ul li label {
  background: none;
  font-weight: normal;
  text-align: left;
  white-space: normal;
}
/*
input[type=number] {
	width: 280px;
}
*/
input[type=checkbox],
input[type=radio] {
  margin: 0 5px 0 0;
}
ul.form li span input[type=checkbox] {
  padding-right: 20px;
}
span.helptext {
  display: block;
  font-size: 14px;
  padding: 6px 10px;
  min-width: 30px;
  color: #da8a1c;
  background: #465159;
  border-radius: 0px 5px 5px 0px;
}
span.input-append textarea {
  width: 386px;
}
span.input-append > ul {
  border: 2px solid #465159;
  border-radius: 0px 5px 5px 5px;
  margin: 0;
  padding: 0 25px;
  width: 346px;
}
span.input-append ul li label {
  margin-bottom: 0;
}
span.input-append ul li ul li label {
  padding: 0;
}
li.on_the_lease span.input-append input[type=checkbox],
li.off_the_lease span.input-append input[type=checkbox] {
  margin: 6px 15px;
  font-size: 24px;
}
#map_canvas {
  position: relative;
  left: -250px;
  top: 20px;
}
ul.errorlist {
  position: absolute;
  margin-left: 505px;
}
a.add-row,
a#add_more {
  clear: both;
  display: block;
  width: 70px;
  padding: 6px;
  margin: 10px 0 0 0;
  border-radius: 5px;
  background: #465159;
  color: white;
}
a.add-row:hover,
a#add_more:hover {
  background: #da8a1c;
  text-decoration: none;
}
a.add-row:after,
a#add_more:after {
  padding-top: 20px;
  border-top: 2px solid #465159;
}
a.add-row {
  clear: both;
  display: inline;
  padding: 6px;
  margin: 10px 0 0 0;
  border-radius: 5px;
  background: #465159;
  color: white;
}
a.add-row:hover {
  background: #da8a1c;
  text-decoration: none;
}
a.delete-row {
  clear: both;
  display: block;
  width: 53px;
  padding: 6px;
  margin: 10px 0 0 0;
  border-radius: 5px;
  background: #633b28;
  color: white;
}
a.delete-row:hover {
  background: #aa4040;
  text-decoration: none;
}
li.crops span.input-append ul,
li.animals span.input-append ul,
li.minerals span.input-append ul,
body#browse ul.column li span.input-append ul {
  display: block;
  max-height: 180px;
  overflow-y: scroll;
}
/* Hide all duplicate labels by making them the same color as the background. A bit messy, but hey. */
/*
li.intention, li.nature, li.negotiation_status, li.agreement_duration, li.implementation_status, li.contract_farming, li.community_reaction, li.community_consultation, li.community_compensation, li.community_benefits, li.land_owner, li.land_use, li.land_cover, li.water_extraction_envisaged, li.source_of_water_extraction li.tg_how_much_do_investors_pay_comment, li.source_of_water_extraction, li.lease_type, li.on_the_lease_farmers, li.off_the_lease_farmers {
	>label {
		display: block;
		color: @lm-dark-grey;
		height: 18px;
	}
}
*/
ul#nav {
  position: absolute;
  right: 0;
  top: 40px;
}
div.account_info {
  position: absolute;
  right: 0;
  top: 5px;
}
div.account_info span {
  padding: 2px 10px;
  margin: 0 0 0 4px;
  background: #61727d;
  border-radius: 5px;
}
ul.messages {
  display: block;
  margin: 0;
  padding-right: 225px;
}
ul.messages li {
  display: block;
  padding: 10px 25px 5px 25px;
  margin-bottom: 12px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: #465159;
}
ul.messages li a {
  color: #da8a1c;
}
ul.messages li.info {
  border-color: #3c933c;
  background-color: #476746;
}
ul.messages li.warning {
  border-color: #bfbf40;
  background-color: #716c3b;
}
ul.messages li.error {
  border-color: #aa4040;
  background-color: #633b28;
}
span.input-append > input[type="checkbox"] {
  margin: 8px 5px 0 20px;
  font-size: 16px;
}
.invisiblo {
  display: none;
}
input.year-based-year {
  display: block;
  width: 50px;
  background-color: #eceff1;
  border-radius: 0px;
  margin-left: 1px;
}
body#dashboard div.widget {
  width: 446px;
  height: 380px;
  position: relative;
}
body#dashboard div.widget h3 {
  display: block;
  width: 446px;
}
td {
  padding: 4px 6px;
  vertical-align: middle;
}
thead th {
  padding: 4px 6px;
  background-color: #eceff1;
  color: #da8a1c;
  vertical-align: middle;
  border-right: 1px solid #61727d;
}
thead th a {
  color: #da8a1c;
}
table {
  border: 2px solid #eceff1;
}
tr.even td {
  background-color: #89959e;
}
tr td {
  border-right: 1px solid #eceff1;
  border-left: 1px solid #eceff1;
}
body#dashboard .pagination {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px 10px -7px 0;
}
body#dashboard .pagination a {
  display: inline;
  color: #465159;
  padding: 5px;
  border-radius: 5px;
  background-color: #eceff1;
}
body#dashboard .pagination a:hover {
  background-color: #da8a1c;
  color: #eceff1;
  text-decoration: none;
}
body#dashboard div.manage > a {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px 10px 11px 0;
  color: #465159;
  padding: 5px;
  border-radius: 5px;
  background-color: #eceff1;
}
body#dashboard div.manage > a:hover {
  background-color: #da8a1c;
  color: #eceff1;
  text-decoration: none;
}
body#manage #container ul,
body#browse ul.rule-links {
  border-bottom: 2px solid #da8a1c;
}
body#manage #container ul a,
body#browse ul.rule-links a {
  padding-bottom: 0;
}
body#manage #container ul a:hover,
body#browse ul.rule-links a:hover {
  background: #eceff1;
}
body#manage #container ul h3,
body#browse ul.rule-links h3 {
  width: auto;
  height: auto;
  margin: 0;
}
ul.subnav li button,
ul.subnav li li button {
  height: 28px;
  padding: 0 9px;
  font-size: 15px;
  border-radius: 5px;
  line-height: normal;
}
li.done {
  margin-top: 10px;
  border-top: 2px solid #465159;
}
ul.subnav li ul li.done button,
form.browse button,
body#browse div.rules button {
  background-color: #476746;
  border: 2px solid #465159;
  margin-top: 10px;
  color: white;
  line-height: 4px;
}
ul.subnav li ul li.done button:hover,
form.browse button:hover,
body#browse div.rules button:hover {
  background: #3c933c;
}
ul.subnav li ul li.delete {
  position: relative;
  top: -48px;
  left: 83px;
}
ul.subnav li ul li.delete button {
  background-color: #633b28;
  font-size: 10px;
  border: 1px solid #aa4040;
  padding: 2px 10px;
  margin-top: 20px;
  color: white;
  font-weight: normal;
  line-height: 4px;
}
ul.subnav li ul li.delete button:hover {
  background: #aa4040;
}
body#delete div#container form div.forms button {
  clear: both;
  background-color: #633b28;
  border-color: #aa4040;
  color: white;
}
body#delete div#container form div.forms button:hover {
  background-color: #aa4040;
}
ul.subnav span.status {
  display: block;
  padding: 8px 15px 5px 15px;
  margin-bottom: 12px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: #633b28;
  border-color: #aa4040;
}
body#browse div#container form button {
  clear: both;
}
form.browse ul {
  margin-left: 0;
}
body#browse div.rules {
  padding-bottom: 25px;
  margin-bottom: 40px;
  border-bottom: solid 2px #da8a1c;
}
body#browse tr.deleted .browse-id {
    text-decoration: line-through;
}
/* Employment - make subfields for readability */
li.total_jobs_planned_employees label,
li.total_jobs_planned_daily_workers label,
li.total_jobs_current_employees label,
li.total_jobs_current_daily_workers label,
li.foreign_jobs_planned_employees label,
li.foreign_jobs_planned_daily_workers label,
li.foreign_jobs_current_employees label,
li.foreign_jobs_current_daily_workers label,
li.domestic_jobs_planned_employees label,
li.domestic_jobs_planned_daily_workers label,
li.domestic_jobs_current_employees label,
li.domestic_jobs_current_daily_workers label {
  margin-left: 30px;
  width: 200px;
  font-size: 12px;
}
ul.joint-venture {
  border-bottom: 2px solid #465159;
  margin-bottom: 25px;
}
ul.new-investor,
ul.existing-investor {
  display: block;
  padding: 10px 0;
  margin-top: 20px;
}
ul.last-investor {
  margin-bottom: -30px;
  padding-bottom: 60px;
}
li.name,
li.company,
li.email,
li.phone {
  display: none;
}
a#add-data-source {
  display: block;
}
div.history {
  width: 750px;
  /*
tr {

	}
	tr.change {
		background-color: @yellow-bg;
	}
	tr.add {
		background-color: @green-bg;
	}
*/

}
li.subsidiary_of span ul,
li.investor span ul {
  display: block;
  max-height: 180px;
  width: 396px;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: normal;
  padding: 0;
}
li.subsidiary_of span ul li a,
li.investor span ul li a {
  padding: 2px 20px 2px 25px;
  text-transform: none;
  width: 351px;
}
li.subsidiary_of span ul li a:hover,
li.investor span ul li a:hover {
  background-color: #89959e;
  background-image: url('https://dl.dropbox.com/u/70239/lmeditor/ok-17x15.png');
  background-position: right center;
  background-repeat: no-repeat;
  text-decoration: none;
  color: white;
}
a.selected-subsidiary {
  background-color: #476746;
  background-image: url('https://dl.dropbox.com/u/70239/lmeditor/ok-17x15.png');
  background-position: right center;
  background-repeat: no-repeat;
}
a.selected-subsidiary:hover {
  background-image: url('https://dl.dropbox.com/u/70239/lmeditor/canc-17x15.png');
  background-position: right center;
  background-repeat: no-repeat;
}
a.selected-investor {
  background-color: #476746;
  background-image: url('https://dl.dropbox.com/u/70239/lmeditor/ok-17x15.png');
  background-position: right center;
  background-repeat: no-repeat;
  margin: 0;
  cursor: default;
}
div.map * {
  float: none;
}
a.approve,
a.reject {
  display: block;
  padding: 4px 20px 0px 4px;
  width: 60px;
  border-radius: 2px;
}
a.approve {
  background: url('https://dl.dropbox.com/u/70239/lmeditor/ok-17x15.png') right center no-repeat;
}
a.approve:hover {
  background: #476746 url('https://dl.dropbox.com/u/70239/lmeditor/ok-17x15.png') right center no-repeat;
  color: white;
  text-decoration: none;
}
a.reject {
  background: url('https://dl.dropbox.com/u/70239/lmeditor/canc-17x15.png') right center no-repeat;
}
a.reject:hover {
  background: #633b28 url('https://dl.dropbox.com/u/70239/lmeditor/canc-17x15.png') right center no-repeat;
  color: white;
  text-decoration: none;
}
th.action {
  width: 60px;
}
li.field dl dt {
  text-transform: none;
  clear: both;
  color: #465159;
}
li.field dl dd {
  text-transform: none;
  color: #465159;
}
li.field dl {
  display: block;
  background: #eceff1;
  padding: 2px 25px 0 25px;
  border-radius: 5px;
  margin-top: 5px;
}
li.field.file dl {
  clear: both;
  width: 470px;
  background: #465159;
  padding: 0;
  margin: 0 0 5px 0;
  border: 1px solid #edb86f;
}
li.field.file dl dt {
  width: 230px;
  text-align: right;
  padding: 6px 20px 6px 0;
  color: #edb86f;
  font-weight: normal;
}
li.field.file dl dd {
  max-width: 210px;
}
li.field.file dl dd a {
  padding: 6px 20px 6px 0;
  color: #edb86f;
}
li.project_name label {
  margin-bottom: 20px;
}
.overall-stats {
    position:absolute;
    top:106px;
}
div.overall-stats span {
  padding: 2px 10px;
  margin: 0 0 0 4px;
  background: #465159;
  border-radius: 5px;
}
#browse-primary-investor button {
    float: left;
}
#recaptcha_area, #recaptcha_widget_div {
    float: none;
}
