html,
body {
    background-color: #61727d;
    height:100%;
	  color: #ffffff;
}
/* ZONES */
div#header-container {
    width: 100%;
    height: 84px;
	  position: fixed;
	  z-index: 9;
    padding: 18px 0;
    background-color: #465159;
}
div#header {
    height: 108px;
    position: relative;
}
div#header,
div#container {
    width: 960px;
    margin: 0 auto;
}
div#container {
    padding: 172px 0 36px;
}
/* HEADER */
a#logo {
    display: block;
    width: 244px;
    height: 85px;
    background: url(img/logo.png) no-repeat;
}
p#site-desc {
    position: absolute;
    bottom: 30px;
    left: 89px;
}
/* NAVIGATION */

ul#nav li {
    display: block;
    float: left;
    width: 64px;
    height: 64px;
    margin-left: 40px;
}
ul#nav li:first-child {
    margin-left: 0;
}
ul#nav li a {
    display: block;
    width: 60px;
    height: 60px;
    background: url(img/nav-icons.png) no-repeat;
    text-indent: -9999px;
}
ul#nav li:hover a.dashboard,
ul#nav li.current a.dashboard {
    background-position: 0 -60px;
}
ul#nav li a.add {
    background-position: -60px 0;
}
ul#nav li:hover a.add,
ul#nav li.current a.add {
    background-position: -60px -60px;
}
ul#nav li a.browse {
    background-position: -120px 0;
}
ul#nav li:hover a.browse,
ul#nav li.current a.browse {
    background-position: -120px -60px;
}
ul#nav li a.manage {
    background-position: -180px 0;
}
ul#nav li:hover a.manage,
ul#nav li.current a.manage {
    background-position: -180px -60px;
}
/* CLEARFIX */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
