h1,
h2,
h3,
h4 {
  color: #da8a1c;
}
h3 {
  color: #da8a1c;
  width: 660px;
  font-weight: normal;
  padding: 0;
  white-space: normal;
}
ul.form {
  margin: 0;
  width: 660px;
  padding-bottom: 50px;
}
span.input-append {
  max-width: 400px;
}
li.field * {
  float: left;
}
li.field div#map_canvas * {
  clear: both;
}
li.field label {
  display: block;
  width: 230px;
  text-align: right;
  padding: 6px 20px 6px 0;
  background: #465159;
  border-radius: 5px 0px 0px 5px;
}
li span ul * {
  clear: both;
}
li.field span ul li label {
  background: none;
  font-weight: normal;
  text-align: left;
  white-space: normal;
}
/*
input[type=number] {
	width: 280px;
}
*/
input[type=checkbox],
input[type=radio] {
  margin: 0 5px 0 0;
}
ul.form li span input[type=checkbox] {
  padding-right: 20px;
}
span.helptext {
  display: block;
  font-size: 14px;
  padding: 6px 10px;
  min-width: 30px;
  color: #da8a1c;
  background: #465159;
  border-radius: 0px 5px 5px 0px;
}
span.input-append textarea {
  width: 290px;
}
span.input-append > ul {
  border: 2px solid #465159;
  border-radius: 0px 5px 5px 5px;
  margin: 0;
  padding: 0 25px;
  /* 	width: 358px; */

}
span.input-append ul li label {
  margin-bottom: 0;
}
span.input-append ul li ul li label {
  padding: 0;
}
li.on_the_lease span.input-append input[type=checkbox],
li.off_the_lease span.input-append input[type=checkbox] {
  margin: 6px 15px;
  font-size: 24px;
}
#map_canvas {
  position: relative;
  left: -250px;
  top: 20px;
}
ul.errorlist {
  position: absolute;
  margin-left: 505px;
}
a.add-row,
a#add_more {
  clear: both;
  display: block;
  width: 70px;
  padding: 6px;
  margin: 10px 0 0 0;
  border-radius: 5px;
  background: #465159;
  color: white;
}
a.add-row:hover,
a#add_more:hover {
  background: #da8a1c;
  text-decoration: none;
}
a.add-row:after,
a#add_more:after {
  padding-top: 20px;
  border-top: 2px solid #465159;
}
a.add-row {
  clear: both;
  display: inline;
  padding: 6px;
  margin: 10px 0 0 0;
  border-radius: 5px;
  background: #465159;
  color: white;
}
a.add-row:hover {
  background: #da8a1c;
  text-decoration: none;
}
a.delete-row {
  clear: both;
  display: block;
  width: 53px;
  padding: 6px;
  margin: 10px 0 0 0;
  border-radius: 5px;
  background: #633b28;
  color: white;
}
a.delete-row:hover {
  background: #aa4040;
  text-decoration: none;
}
li.crops span.input-append ul,
li.animals span.input-append ul,
li.minerals span.input-append ul,
body#browse ul.column li span.input-append ul {
  display: block;
  max-height: 180px;
  overflow-y: scroll;
}
/* Hide all duplicate labels by making them the same color as the background. A bit messy, but hey. */
/*
li.intention, li.nature, li.negotiation_status, li.agreement_duration, li.implementation_status, li.contract_farming, li.community_reaction, li.community_consultation, li.community_compensation, li.community_benefits, li.land_owner, li.land_use, li.land_cover, li.water_extraction_envisaged, li.source_of_water_extraction li.tg_how_much_do_investors_pay_comment, li.source_of_water_extraction, li.lease_type, li.on_the_lease_farmers, li.off_the_lease_farmers {
	>label {
		display: block;
		color: @lm-dark-grey;
		height: 18px;
	}
}
*/
ul#nav {
  position: absolute;
  right: 0;
  top: 40px;
}
div.account_info {
  position: absolute;
  right: 0;
  top: 5px;
}
div.account_info span {
  padding: 2px 10px;
  margin: 0 0 0 4px;
  background: #61727d;
  border-radius: 5px;
}
ul.messages {
  display: block;
  margin: 0;
  padding-right: 225px;
}
ul.messages li {
  display: block;
  padding: 10px 25px 5px 25px;
  margin-bottom: 12px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: #465159;
}
ul.messages li a {
  color: #da8a1c;
}
ul.messages li.info {
  border-color: #3c933c;
  background-color: #476746;
}
ul.messages li.warning {
  border-color: #bfbf40;
  background-color: #716c3b;
}
ul.messages li.error {
  border-color: #aa4040;
  background-color: #633b28;
}
span.input-append > input[type="checkbox"] {
  margin: 8px 5px 0 20px;
  font-size: 16px;
}
.invisiblo {
  display: none;
}
input.year-based-year {
  display: block;
  width: 50px;
  background-color: #eceff1;
  border-radius: 0px;
  margin-left: 1px;
}
body#dashboard div.widget {
  width: 446px;
  height: 380px;
  position: relative;
}
body#dashboard div.widget h3 {
  display: block;
  width: 446px;
}
td {
  padding: 4px 6px;
  vertical-align: middle;
}
thead th {
  padding: 4px 6px;
  background-color: #eceff1;
  color: #da8a1c;
  vertical-align: middle;
  border-right: 1px solid #61727d;
}
table {
  border: 2px solid #eceff1;
}
tr.even td {
  background-color: #89959e;
}
tr td {
  border-right: 1px solid #eceff1;
  border-left: 1px solid #eceff1;
}
body#dashboard .pagination {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px 10px -7px 0;
}
body#dashboard .pagination a {
  display: inline;
  color: #465159;
  padding: 5px;
  border-radius: 5px;
  background-color: #eceff1;
}
body#dashboard .pagination a:hover {
  background-color: #da8a1c;
  color: #eceff1;
  text-decoration: none;
}
body#dashboard div.manage > a {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px 10px 11px 0;
  color: #465159;
  padding: 5px;
  border-radius: 5px;
  background-color: #eceff1;
}
body#dashboard div.manage > a:hover {
  background-color: #da8a1c;
  color: #eceff1;
  text-decoration: none;
}
body#manage #container ul,
body#browse ul.rule-links {
  border-bottom: 2px solid #da8a1c;
}
body#manage #container ul a,
body#browse ul.rule-links a {
  padding-bottom: 0;
}
body#manage #container ul a:hover,
body#browse ul.rule-links a:hover {
  background: #eceff1;
}
body#manage #container ul h3,
body#browse ul.rule-links h3 {
  width: auto;
  height: auto;
  margin: 0;
}
ul.subnav li button,
ul.subnav li li button {
  height: 28px;
  padding: 0 9px;
  font-size: 15px;
  border-radius: 5px;
  line-height: normal;
}
li.done {
  margin-top: 10px;
  border-top: 2px solid #465159;
}
ul.subnav li ul li.done button,
form.browse button,
body#browse div.rules button {
  background-color: #476746;
  border: 2px solid #465159;
  margin-top: 10px;
  color: white;
  line-height: 4px;
}
ul.subnav li ul li.done button:hover,
form.browse button:hover,
body#browse div.rules button:hover {
  background: #3c933c;
}
ul.subnav li ul li.delete {
  position: relative;
  top: -48px;
  left: 83px;
}
ul.subnav li ul li.delete button {
  background-color: #633b28;
  font-size: 10px;
  border: 1px solid #aa4040;
  padding: 2px 10px;
  margin-top: 20px;
  color: white;
  font-weight: normal;
  line-height: 4px;
}
ul.subnav li ul li.delete button:hover {
  background: #aa4040;
}
body#delete div#container form div.forms button {
  clear: both;
  background-color: #633b28;
  border-color: #aa4040;
  color: white;
}
body#delete div#container form div.forms button:hover {
  background-color: #aa4040;
}
ul.subnav span.status {
  display: block;
  padding: 8px 15px 5px 15px;
  margin-bottom: 12px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: #633b28;
  border-color: #aa4040;
}
body#browse div#container form button {
  clear: both;
}
form.browse ul {
  margin-left: 0;
}
body#browse div.rules {
  padding-bottom: 25px;
  margin-bottom: 40px;
  border-bottom: solid 2px #da8a1c;
}
/* Employment - make subfields for readability */
li.total_jobs_planned_employees label,
li.total_jobs_planned_daily_workers label,
li.total_jobs_current_employees label,
li.total_jobs_current_daily_workers label,
li.foreign_jobs_planned_employees label,
li.foreign_jobs_planned_daily_workers label,
li.foreign_jobs_current_employees label,
li.foreign_jobs_current_daily_workers label,
li.domestic_jobs_planned_employees label,
li.domestic_jobs_planned_daily_workers label,
li.domestic_jobs_current_employees label,
li.domestic_jobs_current_daily_workers label {
  margin-left: 30px;
  width: 200px;
  font-size: 12px;
}
ul.primary-investor {
  border-bottom: 2px solid #465159;
  margin-bottom: 25px;
}
ul.new-investor,
ul.existing-investor {
  display: block;
  padding: 10px 0;
  margin-top: 20px;
}
ul.last-investor {
  margin-bottom: -30px;
  padding-bottom: 60px;
}
li.name,
li.company,
li.email,
li.phone {
  display: none;
}
a#add-data-source {
  float: none;
}
div.history {
  width: 750px;
  /*
tr {

	}
	tr.change {
		background-color: @yellow-bg;
	}
	tr.add {
		background-color: @green-bg;
	}
*/

}
ul.primary-investor {overflow:auto;}
