{% extends "base.html" %}
{% load i18n custom_tags humanize %}

{% block body_class %}dashboard{% endblock %}

{% block breadcrumb_inner %}
    <li>{% trans "Dashboard" %}</li>
{% endblock %}

{% block page_title %}{% trans "Dashboard" %}{% endblock %}
{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block subnav %}
{% if statistics %}
<ul class="subnav nav nav-pills pull-right">
    <li>
        <span class="label label-default number">{{ statistics.overall_deal_count|intcomma }}</span> {% trans "Overall deals" %}
    </li>
    <li class="divider"></li>
    <li>
        <span class="label label-default number">{{ statistics.public_deal_count|intcomma }}</span> {% trans "Public deals" %}
    </li>
    <li class="divider"></li>
    <li>
        <span class="label label-default number">{{ statistics.not_public_deal_count|intcomma }}</span> {% trans "Non public deals" %}
    </li>
</ul>
{% endif %}
{% endblock %}

{% block content %}
    <div class="dashboard">
        {% if perms.editor.editor_filter %}
        <div class="row">
            <form method="POST" action="{% url 'api_dashboard_filter' %}" id="dashboard-filter">
                {% csrf_token %}
                <div class="controls col-sm-2">
                    <select id="dashboard-filter-region" multiple="multiple">
                    </select>
                </div>
                <div class="controls col-sm-2">
                    <select id="dashboard-filter-country" multiple="multiple">
                    </select>
                </div>
                <div class="controls col-sm-2">
                    <a id="dashboard-filter-clear" class="btn" href="">{% trans 'Clear' %}</a>
                </div>
                {% if request.user.is_staff %}
                <div class="controls col-sm-2">
                    <select id="impersonate-user" multiple="multiple">
                    </select>
                </div>
                <div class="controls col-sm-2">
                    <a id="impersonate" class="btn" href="">{% trans 'Impersonate' %}</a>
                </div>
                {% endif %}
            </form>
            <script type="text/javascript">
            function initDashboardFilters(data) {
                if (data.length == 0) {
                    return;
                }
                if ('region' in data) {
                    $('#dashboard-filter-region').val(data.region).trigger('change');
                }
                if ('country' in data) {
                    $('#dashboard-filter-country').val(data.country).trigger('change');
                }
                //if ('user' in data) {
                //    $('#dashboard-filter-user').val(data.user).trigger('change');
                //}
                $('#dashboard-filter-region').change(function () {
                    $.post({
                      url: $('form#dashboard-filter').attr('action'),
                      data: {
                        'action': 'set',
                        'region': $(this).val(),
                      },
                      success: function (data) {
                        location.reload();
                      }
                    });
                });
                $('#dashboard-filter-country').change(function () {
                    $.post({
                      url: $('form#dashboard-filter').attr('action'),
                      data: {
                        'action': 'set',
                        'country': $(this).val(),
                      },
                      success: function (data) {
                        location.reload();
                      }
                    });
                });
                $('#dashboard-filter-clear').click(function (e) {
                    e.preventDefault()
                    $.post({
                      url: $('form#dashboard-filter').attr('action'),
                      data: {
                        'action': 'clear',
                      },
                      success: function (data) {
                        location.reload();
                      }
                    });
                });
                $('#impersonate').click(function (e) {
                    e.preventDefault();
                    location.href = '/impersonate/' + $('#impersonate-user').val() + '/';
                    return false;
                });
            }
            $(document).ready(function () {
                // Regions
                var region_select = $('#dashboard-filter-region'),
                    region_request = $.ajax({
                      url: '/api/regions.json'
                    });
                region_request.then(function (data) {
                  for (var d = 0; d < data.length; d++) {
                    var item = data[d];
                    var option = new Option(item[2], item[0], false, false);
                    region_select.append(option);
                  };
                  region_select.select2({
                    placeholder: "{% trans 'Regions' %}"
                  });
                  //$element.trigger('change');
                });
                // Countries
                var country_select = $('#dashboard-filter-country'),
                    country_request = $.ajax({
                      url: '/api/countries.json'
                    }),
                    group, opt_group,
                    item, option;
                country_request.then(function (data) {
                    country_select.data(data);
                  for (var d = 0; d < data.length; d++) {
                    group = data[d];
                    opt_group = $('<optgroup label="' + group.text + '"></optgroup>');
                    for (var o = 0; o < group.children.length; o++) {
                        item = group.children[o];
                        option = new Option(item[2], item[0], false, false);
                        opt_group.append(option);
                    }
                    country_select.append(opt_group);
                  }
                  country_select.select2({
                    placeholder: "{% trans 'Countries' %}"
                  });
                });
                // Users
                var user_select = $('#impersonate-user'),
                    user_request = $.ajax({
                      url: '/api/users.json'
                    });
                user_request.then(function (data) {
                  for (var d = 0; d < data.length; d++) {
                    var item = data[d];
                    var option = new Option(item[2], item[0], false, false);
                    user_select.append(option);
                  };
                  user_select.select2({
                    placeholder: "{% trans 'Users' %}"
                  });
                  //$element.trigger('change');
                });
                // Select current filters
                $.get({
                    url: $('#dashboard-filter').attr('action'),
                    success: function (data) {
                        initDashboardFilters(data);
                    }
                });

            });
            </script>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-success">
                    <a class="close hidden" data-dismiss="alert">&times;</a>
                    <h3>
                        {% trans "Latest added" %}
                        <a class="" href="{% url 'log' action='latest_added' %}"><small>{% trans "Show all" %}</small></a>
                    </h3>
                    {% if latest_added %}
                        <table class="table table-condensed">
                            <thead>
                            <th class="deal">{% trans "Deal #" %}</th>
                            <th class="user">{% trans "Added by" %}</th>
                            <th class="comment">{% trans "Comment" %}</th>
                            <th class="date">{% trans "Added" %}</th>
                            </thead>
                            <tbody>
                            {% for activity in latest_added.items %}
                                <tr>
                                    <td class="deal"><a
                                            href="{% if request.user.is_staff %}{% url 'change_deal' activity.deal_id %}{% else %}{% url 'deal_detail' activity.deal_id %}{% endif %}">#{{ activity.deal_id }}</a>
                                    </td>
                                    <td class="user">{{ activity.user }}</td>
                                    <td class="comment" title="{{ activity.comment }}"><span
                                            class="truncate">{{ activity.comment }}</span></td>
                                    {% if activity.timestamp %}
                                        <td class="date">{{ activity.timestamp|naturaltime_from_string }}</td>
                                    {% else %}
                                        <td class="date">-</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>{% trans "No deals have been added lately." %}</p>
                    {% endif %}
                </div>
                <div class="alert alert-warning">
                    <a class="close hidden" data-dismiss="alert">&times;</a>
                    <h3>
                        {% trans "Latest modified" %}
                        <a class="" href="{% url 'log' action='latest_modified' %}"><small>{% trans "Show all" %}</small></a>
                    </h3>
                    {% if latest_modified %}
                        <table class="table table-condensed">
                            <thead>
                            <th class="deal">{% trans "Deal #" %}</th>
                            <th class="user">{% trans "Modified by" %}</th>
                            <th class="comment">{% trans "Comment" %}</th>
                            <th class="date">{% trans "Modified" %}</th>
                            </thead>
                            <tbody>
                            {% for activity in latest_modified.items %}
                                <tr>
                                    <td class="deal"><a
                                            href="{% if request.user.is_staff %}{% url 'change_deal' activity.deal_id %}{% else %}{% url 'deal_detail' activity.deal_id %}{% endif %}">#{{ activity.deal_id }}</a>
                                    </td>
                                    <td class="user">{{ activity.user }}</td>
                                    <td class="comment" title="{{ activity.comment }}"><span
                                            class="truncate">{{ activity.comment }}</span></td>
                                    {% if activity.timestamp %}
                                        <td class="date">{{ activity.timestamp|naturaltime_from_string }}</td>
                                    {% else %}
                                        <td class="date">-</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>{% trans "No deals have been modified lately." %}</p>
                    {% endif %}
                </div>
                <div class="alert alert-danger">
                    <a class="close hidden" data-dismiss="alert">&times;</a>
                    <h3>{% trans "Latest deleted" %} 
                        <a class="" href="{% url 'log' action='latest_deleted' %}"><small>{% trans "Show all" %}</small></a>
                    </h3>
                    {% if latest_deleted %}
                        <table class="table table-condensed">
                            <thead>
                            <th class="deal">{% trans "Deal #" %}</th>
                            <th class="user">{% trans "Deleted by" %}</th>
                            <th class="comment">{% trans "Comment" %}</th>
                            <th class="date">{% trans "Deleted" %}</th>
                            </thead>
                            <tbody>
                            {% for activity in latest_deleted.items %}
                                <tr>
                                    <td class="deal"><a
                                            href="{% if request.user.is_staff %}{% url 'change_deal' activity.deal_id %}{% else %}{% url 'deal_detail' activity.deal_id %}{% endif %}">#{{ activity.deal_id }}</a>
                                    </td>
                                    <td class="user">{{ activity.user }}</td>
                                    <td class="comment" title="{{ activity.comment }}"><span
                                            class="truncate">{{ activity.comment }}</span></td>
                                    {% if activity.timestamp %}
                                        <td class="date">{{ activity.timestamp|naturaltime_from_string }}</td>
                                    {% else %}
                                        <td class="date">-</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>{% trans "No deals have been deleted lately." %}</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
        {% if perms.editor.change_activity %}
                    <div class="alert alert-info">
                        <a class="close hidden" data-dismiss="alert">&times;</a>
                        <h3>{% trans "Needs your attention" %}</h3>
                        {% if manage.activities or manage.investors %}
                            <table class="table table-condensed">
                                <thead>
                                <th class="deal">{% trans "Deal #" %}</th>
                                <th class="user">{% trans "Last revision" %}</th>
                                <th class="state">{% trans "State" %}</th>
                                <th class="action">{% trans "Actions" %}</th>
                                </thead>
                                <tbody>
                                {% for activity in manage.activities.updates %}
                                    <tr class="update">
                                        <td class="deal"><a
                                                href="{% if request.user.is_staff %}{% url 'change_deal' activity.deal_id %}{% else %}{% url 'deal_detail' activity.deal_id %}{% endif %}">#{{ activity.deal_id }}</a>
                                        </td>
                                        <td class="user">{{ activity.user }}</td>
                                        <td class="state">{% trans "Update" %}</td>
                                        <td class="action">
                                            <a href="{% url 'manage_deal' type='deal' action='approve' id=activity.id %}" class="approve label label-default"><i class="lm lm-thumbs-up"></i>{% trans "Approve" %}</a>
                                            <a href="{% url 'manage_deal' type='deal' action='reject' id=activity.id %}" class="reject label label-default"><i class="lm lm-thumbs-down"></i>{% trans "Reject" %}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for activity in manage.activities.deletes %}
                                    <tr class="delete">
                                        <td class="deal"><a
                                                href="{% if request.user.is_staff %}{% url 'change_deal' activity.deal_id %}{% else %}{% url 'deal_detail' activity.deal_id %}{% endif %}">#{{ activity.deal_id }}</a>
                                        </td>
                                        <td class="user">{{ activity.user }}</td>
                                        <td class="state">{% trans "Delete" %}</td>
                                        <td class="action">
                                            <a href="{% url 'manage_deal' type='deal' action='approve' id=activity.id %}" class="approve label label-default"><i class="lm lm-thumbs-up"></i>{% trans "Approve" %}</a>
                                            <a href="{% url 'manage_deal' type='deal' action='reject' id=activity.id %}" class="reject label label-default"><i class="lm lm-thumbs-down"></i>{% trans "Reject" %}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for activity in manage.activities.inserts %}
                                    <tr class="insert">
                                        <td class="deal"><a
                                                href="{% if request.user.is_staff %}{% url 'change_deal' activity.deal_id %}{% else %}{% url 'deal_detail' activity.deal_id %}{% endif %}">#{{ activity.deal_id }}</a>
                                        </td>
                                        <td class="user">{{ activity.user }}</td>
                                        <td class="state">{% trans "Add" %}</td>
                                        <td class="action">
                                            <a href="{% url 'manage_deal' type='deal' action='approve' id=activity.id %}" class="approve label label-default"><i class="lm lm-thumbs-up"></i>{% trans "Approve" %}</a>
                                            <a href="{% url 'manage_deal' type='deal' action='reject' id=activity.id %}" class="reject label label-default"><i class="lm lm-thumbs-down"></i>{% trans "Reject" %}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for activity in manage.investors.deletes %}
                                    <tr class="deletes">
                                        <td class="investor"><a
                                                href="{% url 'stakeholder_form' investor_id=activity.investor_id %}">#{{ activity.investor_id }}</a>
                                        </td>
                                        <td class="user">{{ activity.user }}</td>
                                        <td class="state">{% trans "Delete" %}</td>
                                        <td class="action">
                                            <a href="{% url 'manage_deal' type='deal' action='approve' id=activity.id %}" class="approve label label-default"><i class="lm lm-thumbs-up"></i>{% trans "Approve" %}</a>
                                            <a href="{% url 'manage_deal' type='deal' action='reject' id=activity.id %}" class="reject label label-default label label-default"><i class="lm lm-thumbs-down"></i>{% trans "Reject" %}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>{% trans "No pending activities require your attention." %}</p>
                        {% endif %}
                    </div>
            {% endif %}
                <div class="alert alert-info">
                    <a class="close hidden" data-dismiss="alert">&times;</a>
                    <h3>{% trans "Feedback requests" %}</h3>
                    {% if feedbacks.feeds %}
                        <table class="table table-condensed">
                            <thead>
                            <th class="deal">{% trans "Deal #" %}</th>
                            <th class="user">{% trans "Request from" %}</th>
                            <th class="comment">{% trans "Comment" %}</th>
                            <th class="date">{% trans "Requested" %}</th>
                            </thead>
                            <tbody>
                            {% for feedback in feedbacks.feeds %}
                                <tr>
                                    <td class="deal"><a
                                            href="{% if request.user.is_staff %}{% url 'change_deal' feedback.deal_id %}{% else %}{% url 'deal_detail' activity.deal_id %}{% endif %}">#{{ feedback.deal_id }}</a></td>
                                    <td class="user">{{ feedback.from_user }}</td>
                                    <td class="comment" title="{{ feedback.comment }}"><span
                                            class="truncate">{{ feedback.comment }}</span></td>
                                    <td class="date">{{ feedback.timestamp|naturaltime_from_string }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!--a href="{% url 'manage' %}">{% trans "Show all" %}</a-->
                    {% else %}
                        <p>{% trans "No feedback requests lately." %}</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}
