{% extends "base.html" %}
{% load i18n custom_tags humanize %}

{% block body_class %}dashboard{% endblock %}

{% block breadcrumb_inner %}
    <li>{% trans "Dashboard" %}</li>
{% endblock %}

{% block page_title %}{% trans "Dashboard" %}{% endblock %}
{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block subnav %}
{% if statistics %}
<ul class="subnav nav nav-pills pull-right">
    <li>
        <span class="label label-default number">{{ statistics.overall_deal_count|intcomma }}</span> {% trans "Overall deals" %}
    </li>
    <li class="divider"></li>
    <li>
        <span class="label label-default number">{{ statistics.public_deal_count|intcomma }}</span> {% trans "Public deals" %}
    </li>
    <li class="divider"></li>
    <li>
        <span class="label label-default number">{{ statistics.not_public_deal_count|intcomma }}</span> {% trans "Non public deals" %}
    </li>
</ul>
{% endif %}
{% endblock %}

{% block content %}
    <div class="dashboard">
        {% if perms.editor.editor_filter %}
        <div class="row">
            <form method="POST" action="" id="dashboard-filter">
                {% csrf_token %}
                <div class="controls col-sm-2">
                    <select id="dashboard-filter-region" multiple="multiple">
                    </select>
                </div>
                <div class="controls col-sm-2">
                    <select id="dashboard-filter-country" multiple="multiple">
                    </select>
                </div>
                <div class="controls col-sm-2">
                    <a id="dashboard-filter-clear" class="btn" href="{% url 'editor' %}">{% trans 'Clear' %}</a>
                </div>
                {% if request.user.is_staff %}
                <div class="controls col-sm-2">
                    <select id="impersonate-user" multiple="multiple">
                    </select>
                </div>
                <div class="controls col-sm-2">
                    <a id="impersonate" class="btn" href="">{% trans 'Impersonate' %}</a>
                </div>
                {% endif %}
            </form>
            <script type="text/javascript">
            var selectedRegions = {{ filters.region_ids|safe }};
            var selectedCountries = {{ filters.country_ids|safe }};

            $(document).ready(function () {
                // Regions
                var region_select = $('#dashboard-filter-region'),
                    region_request = $.ajax({
                      url: '/api/regions.json'
                    });
                region_request.then(function (data) {
                  for (var d = 0; d < data.length; d++) {
                    var item = data[d];
                    var selected = false;
                    if (selectedRegions.indexOf(item[0].toString()) != -1) {
                        selected = true;
                    }
                    var option = new Option(item[2], item[0], false, selected);
                    region_select.append(option);
                  };
                  region_select.select2({
                    placeholder: "{% trans 'Regions' %}"
                  });
                  //$element.trigger('change');
                });
                // Countries
                var country_select = $('#dashboard-filter-country'),
                    country_request = $.ajax({
                      url: '/api/target-countries.json'
                    }),
                    group, opt_group,
                    item, option;
                country_request.then(function (data) {
                    country_select.data(data);
                  for (var d = 0; d < data.length; d++) {
                    group = data[d];
                    opt_group = $('<optgroup label="' + group.text + '"></optgroup>');
                    for (var o = 0; o < group.children.length; o++) {
                        item = group.children[o];
                        var selected = false;
                        if (selectedCountries.indexOf(item[0].toString()) != -1) {
                            selected = true;
                        }
                        option = new Option(item[2], item[0], false, selected);
                        opt_group.append(option);
                    }
                    country_select.append(opt_group);
                  }
                  country_select.select2({
                    placeholder: "{% trans 'Countries' %}"
                  });
                });
                // Users
                var user_select = $('#impersonate-user'),
                    user_request = $.ajax({
                      url: '/api/users.json'
                    });
                user_request.then(function (data) {
                  for (var d = 0; d < data.length; d++) {
                    var item = data[d];
                    var username = item['full_name'] || item['username'];
                    var option = new Option(username, item['id'], false, false);
                    user_select.append(option);
                  };
                  user_select.select2({
                    placeholder: "{% trans 'Users' %}"
                  });
                  //$element.trigger('change');
                });

                $('#dashboard-filter-region').change(function () {
                    var val = $(this).val()
                    var url = '{% url 'editor' %}'
                    if (val) {
                        url = url + '?' + jQuery.param({'region': val});
                    }
                    window.location = url
                });
                $('#dashboard-filter-country').change(function () {
                    var val = $(this).val()
                    var url = '{% url 'editor' %}'
                    if (val) {
                        url = url + '?' + jQuery.param({'country': val});
                    }
                    window.location = url
                });
                $('#impersonate').click(function (e) {
                    e.preventDefault();
                    location.href = '/impersonate/' + $('#impersonate-user').val() + '/';
                    return false;
                });

            });
            </script>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-success">
                    <a class="close hidden" data-dismiss="alert">&times;</a>
                    <h3>
                        {% trans "Latest added" %}
                        <a class="" href="{% url 'log_added' %}?{{ request.GET.urlencode }}"><small>{% trans "Show all" %}</small></a>
                    </h3>
                    {% if latest_added %}
                        <table class="table table-condensed">
                            <thead>
                            <th class="deal">{% trans "Deal #" %}</th>
                            <th class="user">{% trans "Added by" %}</th>
                            <th class="comment">{% trans "Comment" %}</th>
                            <th class="date">{% trans "Added" %}</th>
                            </thead>
                            <tbody>
                            {% for activity in latest_added %}
                                <tr>
                                    <td class="deal"><a
                                            href="{% if request.user.is_staff %}{% url 'change_deal' activity.deal_id %}{% else %}{% url 'deal_detail' activity.deal_id %}{% endif %}">#{{ activity.deal_id }}</a>
                                    </td>
                                    <td class="user">{{ activity.user }}</td>
                                    <td class="comment" title="{{ activity.comment }}"><span
                                            class="truncate">{{ activity.comment }}</span></td>
                                    {% if activity.timestamp %}
                                        <td class="date"><span title="{{ activity.timestamp }}">{{ activity.timestamp|naturaltime_from_string }}</span></td>
                                    {% else %}
                                        <td class="date">-</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>{% trans "No deals have been added lately." %}</p>
                    {% endif %}
                </div>
                <div class="alert alert-warning">
                    <a class="close hidden" data-dismiss="alert">&times;</a>
                    <h3>
                        {% trans "Latest modified" %}
                        <a class="" href="{% url 'log_modified' %}?{{ request.GET.urlencode }}"><small>{% trans "Show all" %}</small></a>
                    </h3>
                    {% if latest_modified %}
                        <table class="table table-condensed">
                            <thead>
                            <th class="deal">{% trans "Deal #" %}</th>
                            <th class="user">{% trans "Modified by" %}</th>
                            <th class="comment">{% trans "Comment" %}</th>
                            <th class="date">{% trans "Modified" %}</th>
                            </thead>
                            <tbody>
                            {% for activity in latest_modified %}
                                <tr>
                                    <td class="deal"><a
                                            href="{% if request.user.is_staff %}{% url 'change_deal' activity.deal_id %}{% else %}{% url 'deal_detail' activity.deal_id %}{% endif %}">#{{ activity.deal_id }}</a>
                                    </td>
                                    <td class="user">{{ activity.user }}</td>
                                    <td class="comment" title="{{ activity.comment }}"><span
                                            class="truncate">{{ activity.comment }}</span></td>
                                    {% if activity.timestamp %}
                                        <td class="date"><span title="{{ activity.timestamp }}">{{ activity.timestamp|naturaltime_from_string }}</span></td>
                                    {% else %}
                                        <td class="date">-</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>{% trans "No deals have been modified lately." %}</p>
                    {% endif %}
                </div>
                <div class="alert alert-danger">
                    <a class="close hidden" data-dismiss="alert">&times;</a>
                    <h3>{% trans "Latest deleted" %} 
                        <a class="" href="{% url 'log_deleted' %}?{{ request.GET.urlencode }}"><small>{% trans "Show all" %}</small></a>
                    </h3>
                    {% if latest_deleted %}
                        <table class="table table-condensed">
                            <thead>
                            <th class="deal">{% trans "Deal #" %}</th>
                            <th class="user">{% trans "Deleted by" %}</th>
                            <th class="comment">{% trans "Comment" %}</th>
                            <th class="date">{% trans "Deleted" %}</th>
                            </thead>
                            <tbody>
                            {% for activity in latest_deleted %}
                                <tr>
                                    <td class="deal"><a
                                            href="{% if request.user.is_staff %}{% url 'change_deal' activity.deal_id %}{% else %}{% url 'deal_detail' activity.deal_id %}{% endif %}">#{{ activity.deal_id }}</a>
                                    </td>
                                    <td class="user">{{ activity.user }}</td>
                                    <td class="comment" title="{{ activity.comment }}"><span
                                            class="truncate">{{ activity.comment }}</span></td>
                                    {% if activity.timestamp %}
                                        <td class="date"><span title="{{ activity.timestamp }}">{{ activity.timestamp|naturaltime_from_string }}</span></td>
                                    {% else %}
                                        <td class="date">-</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>{% trans "No deals have been deleted lately." %}</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
        {% if perms.landmatrix.review_activity %}
                    <div class="alert alert-info">
                        <a class="close hidden" data-dismiss="alert">&times;</a>
                        <h3>
                            {% trans "Needs your attention" %}
                            <a class="" href="{% url 'manage' %}"><small>{% trans "Show all" %}</small></a>
                        </h3>
                        {% if manage %}
                            <table class="table table-condensed">
                                <thead>
                                <th class="deal">{% trans "Deal #" %}</th>
                                <th class="user">{% trans "Last revision" %}</th>
                                <th class="state">{% trans "State" %}</th>
                                <th class="state">{% trans "Timestamp" %}</th>
                                <th class="action">{% trans "Actions" %}</th>
                                </thead>
                                <tbody>
                                {% for pending in manage %}
                                    <tr class="update">
                                        <td class="deal"><a
                                                href="{% if request.user.is_staff %}{% url 'change_deal' deal_id=pending.activity.deal_id %}{% else %}{% url 'deal_detail' pending.activity.deal_id %}{% endif %}">#{{ pending.activity.deal_id }}</a>
                                        </td>
                                        <td class="user">{{ pending.activity.user }}</td>
                                        <td class="state">
                                            {% if pending.action == 'add' %}
                                                {% trans "Add" %}
                                            {% elif pending.action == 'update' %}
                                                {% trans "Update" %}
                                            {% elif pending.action == 'delete' %}
                                                {% trans "Delete" %}
                                            {% endif %}
                                        </td>
                                        <td class="state">{{ pending.activity.timestamp|naturaltime_from_string }}</td>
                                        <td class="action">
                                            {% if pending.action == 'add' %}
                                                <a href="{% url 'manage_approve_change_deal' id=pending.activity.id %}" class="approve label label-default"><i class="lm lm-thumbs-up"></i>{% trans "Approve" %}</a>
                                                <a href="{% url 'manage_reject_change_deal' id=pending.activity.id %}" class="reject label label-default"><i class="lm lm-thumbs-down"></i>{% trans "Reject" %}</a>
                                            {% elif pending.action == 'update' %}
                                                <a href="{% url 'manage_approve_change_deal' id=pending.activity.id %}" class="approve label label-default"><i class="lm lm-thumbs-up"></i>{% trans "Approve" %}</a>
                                                <a href="{% url 'manage_reject_change_deal' id=pending.activity.id %}" class="reject label label-default"><i class="lm lm-thumbs-down"></i>{% trans "Reject" %}</a>
                                            {% elif pending.action == 'delete' %}
                                                <a href="{% url 'manage_approve_delete_deal' id=pending.activity.id %}" class="approve label label-default"><i class="lm lm-thumbs-up"></i>{% trans "Approve" %}</a>
                                                <a href="{% url 'manage_reject_delete_deal' id=pending.activity.id %}" class="reject label label-default"><i class="lm lm-thumbs-down"></i>{% trans "Reject" %}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                {# TODO: fix #}
                                <!--
                                {% for activity in manage.investors.deletes %}
                                    <tr class="deletes">
                                        <td class="investor"><a
                                                href="{% url 'investor_update' investor_id=activity.investor_id %}">#{{ activity.investor_id }}</a>
                                        </td>
                                        <td class="user">{{ activity.user }}</td>
                                        <td class="state">{% trans "Delete" %}</td>
                                        <td class="action">
                                            <a href="{% url 'manage_approve_delete_deal' id=activity.id %}" class="approve label label-default"><i class="lm lm-thumbs-up"></i>{% trans "Approve" %}</a>
                                            <a href="{% url 'manage_reject_delete_deal' id=activity.id %}" class="reject label label-default label label-default"><i class="lm lm-thumbs-down"></i>{% trans "Reject" %}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                -->
                                </tbody>
                            </table>
                        {% else %}
                            <p>{% trans "No pending activities require your attention." %}</p>
                        {% endif %}
                    </div>
            {% endif %}
                <div class="alert alert-info">
                    <a class="close hidden" data-dismiss="alert">&times;</a>
                    <h3>
                        {% trans "Feedback requests" %}
                        <a class="" href="{% url 'manage' %}"><small>{% trans "Show all" %}</small></a>
                    </h3>
                    {% if feedbacks.feeds %}
                        <table class="table table-condensed">
                            <thead>
                            <th class="deal">{% trans "Deal #" %}</th>
                            <th class="user">{% trans "Request from" %}</th>
                            <th class="comment">{% trans "Comment" %}</th>
                            <th class="date">{% trans "Requested" %}</th>
                            </thead>
                            <tbody>
                            {% for feedback in feedbacks.feeds %}
                                <tr>
                                    <td class="deal"><a
                                            href="{% if request.user.is_staff %}{% url 'change_deal' feedback.deal_id %}{% else %}{% url 'deal_detail' feedback.deal_id %}{% endif %}">#{{ feedback.deal_id }}</a></td>
                                    <td class="user">{{ feedback.from_user }}</td>
                                    <td class="comment" title="{{ feedback.comment }}"><span
                                            class="truncate">{{ feedback.comment }}</span></td>
                                    <td class="date"><span title="{{ feedback.timestamp }}">{{ feedback.timestamp|naturaltime_from_string }}</span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!--a href="{% url 'manage' %}">{% trans "Show all" %}</a-->
                    {% else %}
                        <p>{% trans "No feedback requests lately." %}</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}
