{% extends "base.html" %}
{% load i18n custom_tags %}

{% block breadcrumb_inner %}
    <li><a href="{% url 'editor' %}">{% trans "Dashboard" %}</a></li>
    <li>{% trans "Change log " %}</li>
{% endblock %}

{% block page_title %}{% trans "Change log" %}{% endblock %}
{% block title %}{% trans "Change log" %}{% endblock %}

{% block subnav %}
    <ul class="subnav nav nav-pills pull-right">
        <li role="presentation"><a href="{% url 'map' %}{% if country %}?country={{ country.slug }}{% else %}{% if region %}{{ region.slug }}{% endif %}{% endif %}">
            <i class="fa fa-map-marker"></i> {% trans "Map" %}
        </a></li>
        <li role="presentation"><a href="{% url 'data' %}{% if country %}?country={{ country.slug }}{% else %}{% if region %}{{ region.slug }}{% endif %}{% endif %}">
            <i class="fa fa-table"></i> {% trans "Data" %}
        </a></li>
        <li role="presentation"><a href="{% url 'charts' %}{% if country %}?country={{ country.slug }}{% else %}{% if region %}{{ region.slug }}{% endif %}{% endif %}">
            <i class="fa fa-bar-chart"></i> {% trans "Charts" %}
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-subnav" role="navigation">
        <div class="container-fluid">
            <ul class="manage nav navbar-nav" id="manage-sections">
                    <li{% if action == 'latest_added' %} class="active"{% endif %}><a href="{% url 'log_added' %}?{{ request.GET.urlencode }}">
                        {% trans "Latest added" %}
                    </a></li>
                    <li{% if action == 'latest_modified' %} class="active"{% endif %}><a href="{% url 'log_modified' %}?{{ request.GET.urlencode }}">
                        {% trans "Latest modified" %}
                    </a></li>
                    <li{% if action == 'latest_deleted' %} class="active"{% endif %}><a href="{% url 'log_deleted' %}?{{ request.GET.urlencode }}">
                        {% trans "Latest deleted" %}
                    </a></li>
            </ul>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="tab-content">
            <div id="items" class="tab-pane active">
                <table class="table table-striped table-condensed">
                    <colgroup>
                        <col width="10%">
                        <col width="20%">
                        <col width="40%">
                        <col width="30%">
                    </colgroup>
                    <thead>
                        <th class="deal">{% trans "Deal #" %}</th>
                        <th class="user">{% trans "User" %}</th>
                        <th class="comment">{% trans "Comment" %}</th>
                        <th class="comment">{% trans "Time" %}</th>
                    </thead>
                    <tbody>
                    {% for activity in activities %}
                        <tr>
                            <td class="deal"><a href="{% url 'deal_detail' deal_id=activity.deal_id %}">#{{ activity.deal_id }}</a>
                            </td>
                            <td class="user">{{ activity.user }}</td>
                            <td class="comment" title="{{ activity.comment }}">{{ activity.comment }}</td>
                            {% if activity.timestamp %}
                                <td class="date">{{ activity.timestamp|naturaltime_from_string }}</td>
                            {% else %}
                                <td class="date">-</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_paginated %}
                <ul class="pager">
                    {% if page_obj.has_previous %}
                        <li><a class="pull-left" href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode }}">{% trans "Previous" %}</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li><a class="pull-right" href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode }}">{% trans "Next" %}</a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
    </div>
{% endblock %}
