{% extends "base.html" %}
{% load i18n custom_tags %}

{% block breadcrumb_inner %}
    <li><a href="{% url 'editor' %}">{% trans "Dashboard" %}</a></li>
    <li>{% trans "Manage deals " %}</li>
{% endblock %}

{% block page_title %}{% trans "Manage deals" %}{% endblock %}
{% block title %}{% trans "Manage deals" %}{% endblock %}

{% block subnav %}
    <ul class="subnav nav nav-pills pull-right">
        <li role="presentation"><a href="{% url 'map' %}{% if country %}?country={{ country.slug }}{% else %}{% if region %}{{ region.slug }}{% endif %}{% endif %}">
            <i class="lm lm-map-marker"></i>{% trans "Map" %}
        </a></li>
        <li role="presentation"><a href="{% url 'data' %}{% if country %}?country={{ country.slug }}{% else %}{% if region %}{{ region.slug }}{% endif %}{% endif %}">
            <i class="lm lm-table"></i>{% trans "Data" %}
        </a></li>
        <li role="presentation"><a href="{% url 'chart_transnational_deals' %}{% if country %}?country={{ country.slug }}{% else %}{% if region %}{{ region.slug }}{% endif %}{% endif %}">
            <i class="lm lm-bar-chart"></i>{% trans "Charts" %}
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-subnav" role="navigation">
        <div class="container-fluid">
            <ul class="manage nav navbar-nav" id="manage-sections">
                {% if not perms.landmatrix.change_activity %}
                    <li><a href="{% url 'manage_my_deals' %}"><i class="icon-chevron-down"></i>
                        {% trans "My deals" %}{% if my_deals_page %} <small><span class="label label-default">{{ my_deals|length }}</span></small>{% endif %}</a></li>
                {% endif %}
                {% if perms.landmatrix.review_activity %}
                    <li><a href="{% url 'manage_feedback' %}"><i class="icon-chevron-down icon-white"></i>
                        {% trans "Feedback" %}{% if feedback_count %} <small><span class="label label-default">{{ feedback_count }}</span></small>{% endif %}</a></li>
                    <li><a href="{% url 'manage_pending_updates' %}"><i class="icon-chevron-down"></i>
                        {% trans "Pending updates" %}{% if pending_updates_count %} <small><span class="label label-default">{{ pending_updates_count }}</span></small>{% endif %}</a></li>
                    <li><a href="{% url 'manage_pending_deletes' %}"><i class="icon-chevron-down"></i>
                        {% trans "Pending deletions" %}{% if pending_deletes_count %} <small><span class="label label-default">{{ pending_deletes_count }}</span></small>{% endif %}</a></li>
                    <li><a href="{% url 'manage_pending_adds' %}"><i class="icon-chevron-down"></i>
                        {% trans "New deals for approval" %}{% if pending_adds_count %} <small><span class="label label-default">{{ pending_adds_count }}</span></small>{% endif %}</a></li>
                    {# TODO: make investor deletes work #}
                    <!--
                    <li><a href="{% url 'manage_investor_deletes' %}"><i class="icon-chevron-down"></i>
                        {% trans "Pending investor deletions" %}{% if investor_deletes_count %} <small><span class="label label-default">{{ investor_deletes_count }}</span></small>{% endif %}
                    </a></li>
                    -->
                    <li><a href="{% url 'manage_rejected' %}"><i class="icon-chevron-down"></i>
                        {% trans "Rejected by me" %}{% if rejected_count %} <small><span class="label label-default">{{ rejected_count }}</span></small>{% endif %}
                    </a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="tab-content">
        {% if action == 'feedback' %}
        <div id="feedbacks" class="tab-pane active">
            {% if activities %}
                <table class="table table-striped table-condensed">
                    <colgroup>
                        <col width="10%">
                        <col width="10%">
                        <col width="55%">
                        <col width="25%">
                    </colgroup>
                    <thead>
                    <th class="deal">{% trans "Deal #" %}</th>
                    <th class="user">{% trans "Request from" %}</th>
                    <th class="comment">{% trans "Comment" %}</th>
                    <th class="timestamp">{% trans "Requested" %}</th>
                    </thead>
                    <tbody>
                    {% for feedback in activities %}
                        <tr>
                            <td class="deal"><a href="{% url 'deal_detail' deal_id=feedback.deal_id %}">#{{ feedback.deal_id }}</a></td>
                            <td class="user">{{ feedback.from_user }}</td>
                            <td class="comment" title="{{ feedback.comment }}">{{ feedback.comment }}</td>
                            <td class="date">{{ feedback.timestamp|naturaltime_from_string }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'manage_pagination.html' %}
            {% else %}
                <p class="alert bg-info">{% trans "Currently there are no feedback requests." %}</p>
            {% endif %}
        </div>
        {% elif action == 'my_deals' %}
            <div id="my-pending-deals" class="tab-pane active">
                {% if activities %}
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="55%">
                            <col width="25%">
                        </colgroup>
                        <thead>
                        <th class="deal">{% trans "Deal #" %}</th>
                        <th class="user">{% trans "Added" %}</th>
                        <th class="comment">{% trans "Comment" %}</th>
                        <th class="status">{% trans "Status" %}</th>
                        </thead>
                        <tbody>
                        {% for activity in activities %}
                            <tr>
                                <td class="deal">
                                    {% if activity.status == "rejected" %}
                                        <a href="{% url 'deal_detail' deal_id=activity.deal_id version='rejected' %}">#{{ activity.deal_id }}
                                            ({% trans "Rejected version" %})</a>
                                    {% else %}
                                        <a href="{% url 'deal_detail' deal_id=activity.deal_id %}">#{{ activity.deal_id }}</a>
                                    {% endif %}
                                </td>
                                <td class="user">{{ activity.timestamp|naturaltime_from_string }}</td>
                                <td class="comment" title="{{ activity.comment }}">{{ activity.comment }}</td>
                                <td class="status" title="{{ activity.status }}">{{ activity.status }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'manage_pagination.html' %}
                {% else %}
                    <p class="alert bg-info">{% trans "Currently there are no pending updates." %}</p>
                {% endif %}
            </div>
            {% elif action == 'pending_updates' %}
            <div id="updates" class="tab-pane active">
                {% if activities %}
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="55%">
                            <col width="25%">
                        </colgroup>
                        <thead>
                        <th class="deal">{% trans "Deal #" %}</th>
                        <th class="user">{% trans "Last revision" %}</th>
                        <th class="comment">{% trans "Comment" %}</th>
                        <th class="action">{% trans "Actions" %}</th>
                        </thead>
                        <tbody>
                        {% for activity in activities %}
                            <tr>
                                <td class="deal"><a href="{% url 'deal_detail' deal_id=activity.deal_id %}">#{{ activity.deal_id }}</a>
                                </td>
                                <td class="user">{{ activity.user }}</td>
                                <td class="comment" title="{{ activity.comment }}">{{ activity.comment }}</td>
                                <td class="action">
                                    <a href="{% url 'manage_approve_change_deal' id=activity.id %}"
                                       class="label label-default approve"><i
                                            class="lm lm-thumbs-up"></i> {% trans "Approve" %}</a>
                                    <a href="{% url 'manage_reject_change_deal' id=activity.id %}"
                                       class="label label-default reject"><i
                                            class="lm lm-thumbs-down"></i> {% trans "Reject" %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'manage_pagination.html' %}
                {% else %}
                    <p class="alert bg-info">{% trans "Currently there are no pending updates." %}</p>
                {% endif %}
            </div>
            {% elif action == 'pending_deletes' %}
            <div id="deletions" class="tab-pane active">
                {% if activities %}
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="55%">
                            <col width="25%">
                        </colgroup>
                        <thead>
                        <th class="deal">{% trans "Deal #" %}</th>
                        <th class="user">{% trans "Last revision" %}</th>
                        <th class="comment">{% trans "Comment" %}</th>
                        <th class="action">{% trans "Actions" %}</th>
                        </thead>
                        <tbody>
                        {% for activity in activities %}
                            <tr>
                                <td class="deal"><a href="{% url 'deal_detail' deal_id=activity.deal_id %}">#{{ activity.deal_id }}</a>
                                </td>
                                <td class="user">{{ activity.user }}</td>
                                <td class="comment" title="{{ activity.comment }}">{{ activity.comment }}</td>
                                <td class="action">
                                    <a href="{% url 'manage_approve_delete_deal' id=activity.id %}"
                                       class="label label-default approve"><i class="lm lm-thumbs-up"></i> {% trans "Approve" %}</a>
                                    <a href="{% url 'manage_reject_delete_deal' id=activity.id %}"
                                       class="label label-default reject"><i class="lm lm-thumbs-down"></i> {% trans "Reject" %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'manage_pagination.html' %}
                {% else %}
                    <p class="alert bg-info">{% trans "Currently there are no pending deletions." %}</p>
                {% endif %}
            </div>
            {% elif action == 'pending_adds' %}
            <div id="inserts" class="tab-pane active">
                {% if activities %}
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="55%">
                            <col width="25%">
                        </colgroup>
                        <thead>
                        <th class="deal">{% trans "Deal #" %}</th>
                        <th class="user">{% trans "Last revision" %}</th>
                        <th class="comment">{% trans "Comment" %}</th>
                        <th class="action">{% trans "Actions" %}</th>
                        </thead>
                        <tbody>
                        {% for activity in activities %}
                            <tr>
                                <td class="deal"><a href="{% url 'deal_detail' deal_id=activity.deal_id %}">#{{ activity.deal_id }}</a>
                                </td>
                                <td class="user">{{ activity.user }}</td>
                                <td class="comment" title="{{ activity.comment }}">{{ activity.comment }}</td>
                                <td class="action">
                                    <a href="{% url 'manage_approve_change_deal' id=activity.id %}"
                                       class="label label-default approve"><i class="lm lm-thumbs-up"></i> {% trans "Approve" %}</a>
                                    <a href="{% url 'manage_reject_change_deal' id=activity.id %}"
                                       class="label label-default reject"><i class="lm lm-thumbs-down"></i> {% trans "Reject" %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'manage_pagination.html' %}

                {% else %}
                    <p class="alert bg-info">{% trans "Currently there are no new deals for approval." %}</p>
                {% endif %}
            </div>
            {% elif action == 'investor_deletes' %}
            <div id="sh-deletions" class="tab-pane active">
                {% if activities %}
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="55%">
                            <col width="25%">
                        </colgroup>
                        <thead>
                        <th class="Stakeholder">{% trans "Investor #" %}</th>
                        <th class="user">{% trans "Last revision" %}</th>
                        <th class="comment">{% trans "Comment" %}</th>
                        <th class="action">{% trans "Actions" %}</th>
                        </thead>
                        <tbody>
                        {% for activity in activities %}
                            <tr class="deletes">
                                <td class="investor"><a
                                        href="{% url 'stakeholder_form' investor_id=activity.investor_id %}">#{{ activity.investor_id }}</a>
                                </td>
                                <td class="user">{{ activity.user }}</td>
                                <td class="comment" title="{{ activity.comment }}">{{ activity.comment }}</td>
                                <td class="action">
                                    <a href="{% url 'manage_deal' type='investor' action='approve' id=activity.id %}"
                                       class="label label-default approve"><i class="lm lm-thumbs-up"></i> {% trans "Approve" %}</a>
                                    <a href="{% url 'manage_deal' type='investor' action='reject' id=activity.id %}"
                                       class="label label-default reject"><i class="lm lm-thumbs-down"></i> {% trans "Reject" %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'manage_pagination.html' %}
                {% else %}
                    <p class="alert bg-info">{% trans "Currently there are no pending investor deletions." %}</p>
                {% endif %}
            </div>
            {% elif action == 'rejected' %}
            <div id="rejected" class="tab-pane active">
                {% if activities %}
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="55%">
                            <col width="25%">
                        </colgroup>
                        <thead>
                        <th class="dealid">{% trans "Deal ID #" %}</th>
                        <th class="user">{% trans "User" %}</th>
                        <th class="comment">{% trans "Comment" %}</th>
                        <th class="action">{% trans "Timestamp" %}</th>
                        </thead>
                        <tbody>
                        {% for activity in activities %}
                            <tr class="deletes">
                                <td class="dealid"><a
                                        href="{% url 'deal_detail' deal_id=activity.deal_id history_id=activity.history_id %}">#{{ activity.deal_id }}</a>
                                </td>
                                <td class="user">{{ activity.user }}</td>
                                <td class="comment" title="{{ activity.comment }}">{{ activity.comment }}</td>
                                <td class="timestamp">{{ activity.timestamp }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'manage_pagination.html' %}

                {% else %}
                    <p class="alert bg-info">{% trans "Currently there are no rejected changes." %}</p>
                {% endif %}
            </div>
            {% endif %}
    </div>
{% endblock %}
