{% extends "base.html" %}
{% load i18n custom_tags %}

{% block body_class %}add-deal{% endblock %}

{% block head %}
{{ block.super }}
{{ wizard.form.media }}

{% endblock %}

{% block page_title %}{% if action == "approve" %}{% trans "Approve" %}{% else %}{% trans "Reject" %}{% endif %} {{ type }} {{ id }}{% endblock %}
{% block title %}{% if action == "approve" %}{% trans "Approve" %}{% else %}{% trans "Reject" %}{% endif %} {{ type }} {{ id }}{% endblock %}

{% block breadcrumb_inner %}
<li>{% if action == "approve" %}{% trans "Approve" %}{% else %}{% trans "Reject" %}{% endif %} {{ type }} {{ id }}</li>
{% endblock %}

{% block content %}
<form method="POST" action="./">
{% csrf_token %}

<div class="forms">
{% if form %}
  <div class="form clearfix">
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    <h3>{% trans "Action comment" %}</h3>
    {{ form.non_field_errors }}

    {{ form.tg_action_comment }}
    {{ form.tg_action_comment.errors }}

  </div>
{% endif %}
  <input class="btn btn-primary" type="submit" name="{{ action }}" value="{% if action == "approve" %}{% trans "Approve" %}{% else %}{% trans "Reject" %}{% endif %}">
</div>
</form>
{% endblock %}
