{% load i18n %}

<ul class="pagination">
    {% if page_obj.has_previous %}
        <li><a class="btn btn-default" type="button"
               href="{{ request.path }}?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
    {% endif %}
    <li class="active">
        <a class="btn btn-default disabled" href="#">{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}</a>
    </li>
    {% if page_obj.has_next %}
        <li><a class="btn btn-default" type="button"
               href="{{ request.path }}?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
    {% endif %}
</ul>