{% extends "base.html" %}
{% load i18n custom_tags %}

{% block body_class %}add-deal{% endblock %}

{% block head %}
{{ block.super }}
{{ wizard.form.media }}

{% endblock %}

{% block page_title %}{% if action == "approve" %}{% trans "Approve" %}{% else %}{% trans "Reject" %}{% endif %} #{{ activity.activity_identifier }}{% endblock %}
{% block title %}{% if action == "approve" %}{% trans "Approve" %}{% else %}{% trans "Reject" %}{% endif %} #{{ activity.activity_identifier }}{% endblock %}

{% block breadcrumb_inner %}
<li>{% trans "Add a deal" %}</li>
{% endblock %}

{% block content %}
<form method="POST" action="./">
{% csrf_token %}

<div class="forms">
{% if form %}
  <ul class="form clearfix">
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    <li> <h3>{% trans "Action comment" %}</h3></li>
    {{ form.non_field_errors }}
    <li>
        {{ form.tg_action_comment }}
        {{ form.tg_action_comment.errors }}
    </li>

  </ul>
{% endif %}
  <input class="btn btn-default" type="submit" name="{{ action }}" value="{% if action == "approve" %}{% trans "Approve" %}{% else %}{% trans "Reject" %}{% endif %}">
</div>
</form>
{% endblock %}
