{% extends "base.html" %}
{% load i18n custom_tags %}

{% block breadcrumb_inner %}
    <li><a href="{% url 'editor' %}">{% trans "Dashboard" %}</a></li>
    <li>{% trans "Manage deals/investors" %}</li>
{% endblock %}

{% block page_title %}{% trans "Manage deals/investors" %}{% endblock %}
{% block title %}{% trans "Manage deals/investors" %}{% endblock %}

{% block subnav %}
    <ul class="subnav nav nav-pills pull-right">
        <li role="presentation"><a href="{% url 'map' %}{% if country %}?country={{ country.slug }}{% else %}{% if region %}{{ region.slug }}{% endif %}{% endif %}">
            <i class="fa fa-map-marker"></i> {% trans "Map" %}
        </a></li>
        <li role="presentation"><a href="{% url 'data' %}{% if country %}?country={{ country.slug }}{% else %}{% if region %}{{ region.slug }}{% endif %}{% endif %}">
            <i class="fa fa-table"></i> {% trans "Data" %}
        </a></li>
        <li role="presentation"><a href="{% url 'charts' %}{% if country %}?country={{ country.slug }}{% else %}{% if region %}{{ region.slug }}{% endif %}{% endif %}">
            <i class="fa fa-bar-chart"></i> {% trans "Charts" %}
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-subnav" role="navigation">
        <div class="container-fluid">
            <ul class="manage nav navbar-nav" id="manage-sections">
                <li{% if action == 'for_user' %} class="active"{% endif %}><a href="{% url 'manage_for_user' %}"><i class="icon-chevron-down"></i>
                    {% trans "My deals/investors" %}{% if for_user_count %} <small><span class="label label-default">{{ for_user_count }}</span></small>{% endif %}</a></li>
                {% if perms.landmatrix.review_activity %}
                    <li{% if action == 'feedback' %} class="active"{% endif %}><a href="{% url 'manage_feedback' %}"><i class="icon-chevron-down icon-white"></i>
                        {% trans "Feedback" %}{% if feedback_count %} <small><span class="label label-default">{{ feedback_count }}</span></small>{% endif %}</a></li>
                    <li{% if action == 'pending_updates' %} class="active"{% endif %}><a href="{% url 'manage_pending_updates' %}"><i class="icon-chevron-down"></i>
                        {% trans "Pending updates" %}{% if pending_updates_count %} <small><span class="label label-default">{{ pending_updates_count }}</span></small>{% endif %}</a></li>
                    <li{% if action == 'pending_deletes' %} class="active"{% endif %}><a href="{% url 'manage_pending_deletes' %}"><i class="icon-chevron-down"></i>
                        {% trans "Pending deletions" %}{% if pending_deletes_count %} <small><span class="label label-default">{{ pending_deletes_count }}</span></small>{% endif %}</a></li>
                    <li{% if action == 'pending_adds' %} class="active"{% endif %}><a href="{% url 'manage_pending_adds' %}"><i class="icon-chevron-down"></i>
                        {% trans "New deals for approval" %}{% if pending_adds_count %} <small><span class="label label-default">{{ pending_adds_count }}</span></small>{% endif %}</a></li>
                    <li><a href="{% url 'manage_rejected' %}"><i class="icon-chevron-down"></i>
                        {% trans "Rejected by me" %}{% if rejected_count %} <small><span class="label label-default">{{ rejected_count }}</span></small>{% endif %}
                    </a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="tab-content">
        {% if action == 'feedback' %}
        <div id="feedbacks" class="tab-pane active">
            {% if items %}
                <table class="table table-striped table-condensed">
                    <colgroup>
                        <col width="10%">
                        <col width="10%">
                        <col width="55%">
                        <col width="25%">
                    </colgroup>
                    <thead>
                        <th class="deal">{% trans "ID" %}</th>
                        <th class="user">{% trans "Request from" %}</th>
                        <th class="comment">{% trans "Comment" %}</th>
                        <th class="timestamp">{% trans "Requested" %}</th>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td class="deal">
                                <a href="{% url 'deal_detail' deal_id=item.id %}" class="label label-deal">
                                    {{ item.id }}
                                </a>
                            </td>
                            <td class="user">{{ item.from_user }}</td>
                            <td class="comment" title="{{ item.comment }}">{{ item.comment }}</td>
                            <td class="timestamp">{{ item.timestamp|naturaltime_from_string }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'manage_pagination.html' %}
            {% else %}
                <p class="alert bg-info">{% trans "Currently there are no feedback requests." %}</p>
            {% endif %}
        </div>
        {% elif action == 'for_user' %}
            <div id="my-pending-deals" class="tab-pane active">
                {% if items %}
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="55%">
                            <col width="25%">
                        </colgroup>
                        <thead>
                            <th class="deal">{% trans "ID" %}</th>
                            <th class="timestamp">{% trans "Added" %}</th>
                            <th class="comment">{% trans "Comment" %}</th>
                            <th class="status">{% trans "Status" %}</th>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                {% if item.type == 'activity' %}
                                <td class="deal">
                                    <a href="{% url 'deal_detail' deal_id=item.id %}" class="label label-deal">
                                        {{ item.id }}
                                    </a>
                                </td>
                                {% else %}
                                <td class="investor">
                                    <a href="{% url 'investor_detail' investor_id=item.id %}" class="label label-investor">
                                        {{ item.id }}
                                    </a>
                                </td>
                                {% endif %}
                                <td class="timestamp">{{ item.timestamp|naturaltime_from_string }}</td>
                                <td class="comment" title="{{ item.comment }}">{{ item.comment }}</td>
                                <td class="status" title="{{ item.status.name|title }}">{{ item.status.name|title }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'manage_pagination.html' %}
                {% else %}
                    <p class="alert bg-info">{% trans "Currently there are no pending updates." %}</p>
                {% endif %}
            </div>
            {% elif action == 'pending_updates' %}
            <div id="updates" class="tab-pane active">
                {% if items %}
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="40%">
                            <col width="15%">
                            <col width="25%">
                        </colgroup>
                        <thead>
                            <th class="deal">{% trans "ID" %}</th>
                            <th class="user">{% trans "Last revision" %}</th>
                            <th class="comment">{% trans "Comment" %}</th>
                            <th class="timestamp">{% trans "Updated" %}</th>
                            <th class="action">{% trans "Actions" %}</th>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                {% if item.type == 'activity' %}
                                <td class="deal">
                                    <a href="{% url 'deal_detail' deal_id=item.id %}" class="label label-deal">
                                        {{ item.id }}
                                    </a>
                                </td>
                                {% else %}
                                <td class="investor">
                                    <a href="{% url 'investor_detail' investor_id=item.id %}" class="label label-investor">
                                        {{ item.id }}
                                    </a>
                                </td>
                                {% endif %}
                                <td class="user">{{ item.user }}</td>
                                <td class="comment" title="{{ item.comment }}">{{ item.comment }}</td>
                                <td class="timestamp">{{ item.timestamp|naturaltime_from_string }}</td>
                                <td class="action">
                                {% if item.type == 'activity' %}
                                    <a href="{% url 'change_deal' deal_id=item.id %}"
                                       class="label label-default approve label-deal"><i class="lm lm-thumbs-up"></i> {% trans "Approve" %}</a>
                                    <a href="{% url 'change_deal' deal_id=item.id %}"
                                       class="label label-default reject label-deal"><i class="lm lm-thumbs-down"></i> {% trans "Reject" %}
                                    </a>
                                {% else %}
                                    <a href="{% url 'investor_update' investor_id=item.id %}"
                                       class="label label-default approve label-investor"><i class="lm lm-thumbs-up"></i> {% trans "Approve" %}</a>
                                    <a href="{% url 'investor_update' investor_id=item.id %}"
                                       class="label label-reject label-investor"><i class="lm lm-thumbs-down"></i> {% trans "Reject" %}
                                    </a>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'manage_pagination.html' %}
                {% else %}
                    <p class="alert bg-info">{% trans "Currently there are no pending updates." %}</p>
                {% endif %}
            </div>
            {% elif action == 'pending_deletes' %}
            <div id="deletions" class="tab-pane active">
                {% if items %}
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="40%">
                            <col width="15%">
                            <col width="25%">
                        </colgroup>
                        <thead>
                            <th class="deal">{% trans "ID" %}</th>
                            <th class="user">{% trans "Last revision" %}</th>
                            <th class="comment">{% trans "Comment" %}</th>
                            <th class="timestamp">{% trans "Deleted" %}</th>
                            <th class="action">{% trans "Actions" %}</th>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                {% if item.type == 'activity' %}
                                <td class="deal">
                                    <a href="{% url 'deal_detail' deal_id=item.id %}" class="label label-deal">
                                        {{ item.id }}
                                    </a>
                                </td>
                                {% else %}
                                <td class="investor">
                                    <a href="{% url 'investor_detail' investor_id=item.id %}" class="label label-investor">
                                        {{ item.id }}
                                    </a>
                                </td>
                                {% endif %}
                                <td class="user">{{ item.user }}</td>
                                <td class="comment" title="{{ item.comment }}">{{ item.comment }}</td>
                                <td class="timestamp">{{ item.timestamp|naturaltime_from_string }}</td>
                                <td class="action">
                                {% if item.type == 'activity' %}
                                    <a href="{% url 'delete_deal' deal_id=item.id %}"
                                       class="label label-default approve label-deal"><i class="lm lm-thumbs-up"></i> {% trans "Approve" %}</a>
                                    <a href="{% url 'delete_deal' deal_id=item.id %}"
                                       class="label label-default reject label-deal"><i class="lm lm-thumbs-down"></i> {% trans "Reject" %}
                                    </a>
                                {% else %}
                                    <a href="{% url 'investor_delete' investor_id=item.id %}"
                                       class="label label-default approve label-investor"><i class="lm lm-thumbs-up"></i> {% trans "Approve" %}</a>
                                    <a href="{% url 'investor_delete' investor_id=item.id %}"
                                       class="label label-default reject label-investor"><i class="lm lm-thumbs-down"></i> {% trans "Reject" %}
                                    </a>
                                {% endif %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'manage_pagination.html' %}
                {% else %}
                    <p class="alert bg-info">{% trans "Currently there are no pending deletions." %}</p>
                {% endif %}
            </div>
            {% elif action == 'pending_adds' %}
            <div id="inserts" class="tab-pane active">
                {% if items %}
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="40%">
                            <col width="15%">
                            <col width="25%">
                        </colgroup>
                        <thead>
                            <th class="deal">{% trans "ID" %}</th>
                            <th class="user">{% trans "Last revision" %}</th>
                            <th class="comment">{% trans "Comment" %}</th>
                            <th class="timestamp">{% trans "Added" %}</th>
                            <th class="action">{% trans "Actions" %}</th>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                {% if item.type == 'activity' %}
                                <td class="deal">
                                    <a href="{% url 'deal_detail' deal_id=item.id %}" class="label label-deal">
                                        {{ item.id }}
                                    </a>
                                </td>
                                {% else %}
                                <td class="investor">
                                    <a href="{% url 'investor_detail' investor_id=item.id %}" class="label label-investor">
                                        {{ item.id }}
                                    </a>
                                </td>
                                {% endif %}
                                <td class="user">{{ item.user }}</td>
                                <td class="comment" title="{{ item.comment }}">{{ item.comment }}</td>
                                <td class="timestamp">{{ item.timestamp|naturaltime_from_string }}</td>
                                <td class="action">
                                {% if item.type == 'activity' %}
                                    <a href="{% url 'change_deal' deal_id=item.id %}"
                                       class="label label-default approve label-deal"><i class="lm lm-thumbs-up"></i> {% trans "Approve" %}</a>
                                    <a href="{% url 'change_deal' deal_id=item.id %}"
                                       class="label label-default reject label-deal"><i class="lm lm-thumbs-down"></i> {% trans "Reject" %}
                                    </a>
                                {% else %}
                                    <a href="{% url 'investor_update' investor_id=item.id %}"
                                       class="label label-default approve label-investor"><i class="lm lm-thumbs-up"></i> {% trans "Approve" %}</a>
                                    <a href="{% url 'investor_update' investor_id=item.id %}"
                                       class="label label-default reject label-investor"><i class="lm lm-thumbs-down"></i> {% trans "Reject" %}
                                    </a>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'manage_pagination.html' %}

                {% else %}
                    <p class="alert bg-info">{% trans "Currently there are no new deals for approval." %}</p>
                {% endif %}
            </div>
            </div>
            {% elif action == 'rejected' %}
            <div id="rejected" class="tab-pane active">
                {% if items %}
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="55%">
                            <col width="25%">
                        </colgroup>
                        <thead>
                        <th class="deal">{% trans "ID" %}</th>
                        <th class="user">{% trans "User" %}</th>
                        <th class="comment">{% trans "Comment" %}</th>
                        <th class="timestamp">{% trans "Timestamp" %}</th>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr class="deletes">
                                {% if item.type == 'activity' %}
                                <td class="deal">
                                    <a href="{% url 'deal_detail' deal_id=item.id %}" class="label label-deal">
                                        {{ item.id }}
                                    </a>
                                </td>
                                {% else %}
                                <td class="investor">
                                    <a href="{% url 'investor_detail' investor_id=item.id %}" class="label label-investor">
                                        {{ item.id }}
                                    </a>
                                </td>
                                {% endif %}
                                <td class="user">{{ item.user }}</td>
                                <td class="comment" title="{{ item.comment }}">{{ item.comment }}</td>
                                <td class="timestamp">{{ item.timestamp|naturaltime_from_string }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'manage_pagination.html' %}

                {% else %}
                    <p class="alert bg-info">{% trans "Currently there are no rejected changes." %}</p>
                {% endif %}
            </div>
            {% endif %}
    </div>
{% endblock %}
