{% extends "charts/base_chart.html" %}
{% load i18n static wagtailcore_tags %}

{% block page_title %}{% trans "Dynamics Overview" %}{% endblock %}
{% block title %}{% trans "Dynamics Overview" %}{% endblock %}
{% block breadcrumb_inner %}
{{ block.super }}
<li>{% trans "Dynamics Overview" %}</li>
{% endblock %}

{% comment %}
get the filters that are active with {{ filters }}
the filter formset/widget is in {{ empty_form_conditions }}
or {% include "filters.html" %}, if the downloads are removed from filters.html
{% endcomment %}

{% block before %}
{% endblock %}

{% block description %}
<p>
    {% trans "Show size or number of deals" %}: <input type="checkbox" name="use_deal_size" autocomplete="off" checked>
</p>
{% endblock %}

{% block legend %}{% endblock %}

{% block data %}
<div class="row">
    <div id="chartarea" class="col-md-12 overview-chartarea">
        <canvas id="chartcanvas"></canvas>
    </div>
</div>
{% endblock %}

{% block after %}
{{ block.super }}
<script type="text/javascript" src="{% static "legacy/vendor/RGraph.bar.js" %}"></script>
<script type="text/javascript" src="{% static "legacy/vendor/RGraph.common.core.js" %}"></script>
<script type="text/javascript" src="{% static "legacy/vendor/RGraph.common.effects.js" %}"></script>
<script type="text/javascript" src="{% static "legacy/vendor/RGraph.common.dynamic.js" %}"></script>
<script type="text/javascript" src="{% static "legacy/vendor/RGraph.common.tooltips.js" %}"></script>
<script type="text/javascript">
var datatype = 'size'
    variable = "{% block variable %}{% endblock %}";

$(document).ready(function () {
    draw();

    var dataSwitch = $("[name='use_deal_size']");
    dataSwitch.bootstrapSwitch({
        onText: 'Size',
        offText: 'Deals',
        offColor: 'info',
        onSwitchChange: function(event, state) {
            if (state) {
                datatype = 'size';
            } else {
                datatype = 'deals';
            }
            draw();
        }
    });
    $(".views .btn.active").click();
});
var storage = {},
    bar;

function draw (callback, chart_data) {
/* chart_data: optional */
    $('#chartcanvas').attr('width', chartwidth)
        .attr('height', chartheight);

    RGraph.ObjectRegistry.Clear();
    // Cached data?
    if (chart_data) {
        var bar_labels = [], bar_labels_ingraph = [], bar_data = [], bar_above_labels = [];

        var show_deals = (datatype == "deals");
        for (var i = 0; i < chart_data.length; i++) {
            if (chart_data[i]["name"] !== "") {
                var label = chart_data[i]["name"];
                if (String(label).indexOf('(') > 0) {
                    label = label.replace('(', '\n(');
                    if (String(label).indexOf('Memorandum of ') > 0) {
                        label = label.replace('Memorandum of ', 'Memorandum of \n');
                    }
                } else if (String(label).length > 15) {
                    label = label.replace(' ', '\n');
                }

                bar_labels.push(label);
                bar_data.push(show_deals && parseInt(chart_data[i]["deals"], 10) || parseInt(chart_data[i]["hectares"], 10));
                if (typeof chart_data[i].parent !== undefined) {
                    var parent = chart_data[i].parent;
                    if (bar_above_labels.indexOf(parent) > -1) {
                        bar_above_labels.push(null);
                    } else {
                        bar_above_labels.push(parent);
                    }
                }
            }
        }
        for (var i = 0; i < bar_data.length; i++) {
            bar_labels_ingraph.push("<p>" + (show_deals && (bar_data[i] + " deals") || (numberWithCommas(bar_data[i]) +  " ha")) + "</p>");
        }
        bar = new RGraph.Bar('chartcanvas', bar_data);
        bar.Set('chart.hmargin', 5);
        bar.Set('chart.gutter.bottom', 130);
        bar.Set('chart.colors', [show_deals && '#fc941f' || '#44b7b6']);
        bar.Set('chart.labels', bar_labels);
        //bar.Set('chart.labels.ingraph', bar_labels_ingraph);
        bar.Set('chart.labels.above.specific', bar_above_labels);
        //bar.Set('chart.labels.above.size', '10');
        bar.Set('chart.strokestyle', '#bbb');
        bar.Set('chart.hmargin.grouped', 1);
        bar.Set('chart.background.barcolor1', '#e2e2e2');
        bar.Set('chart.background.barcolor2', '#ededed');
        bar.Set('chart.background.grid', false);
        bar.Set('chart.background.grid.color', '#d5d5d5');
        bar.Set('chart.text.font', 'Open Sans');
        bar.Set('chart.text.color', '#3b3b3b');
        bar.Set('chart.axis.color', '#3b3b3b');
        bar.Set('chart.text.Angle', 45);
        bar.Set('chart.text.size', '8');
        bar.Set('chart.xlabels.offset', 15);
        bar.Set('chart.tooltips', bar_labels_ingraph);
        bar.Set('chart.tooltips.css.class', 'graph-popover');
        bar.Set('chart.gutter.left', (Math.max.apply(Math, bar_data).toString().length * 11));
        bar.Set('chart.tooltips.event', 'onmousemove');
        RGraph.Effects.Fade.In(bar, {'duration': 250});

        // show/hide data availability
        //var sum = 0;
        //$(chart_data).each(function (i) { sum += chart_data[i].deals; });
        //sum && $(".data-availability").show() || $(".data-availability").hide();
        //// availability pie chart
        //var pie_data = [], pie_labels = [];
        //var available = 0, not_available = 0, not_available_per = 0, //available_per = 0;
        //sum = 0;
        //for (var i = 0; i < chart_data.length; i++) {
        //    sum += chart_data[i][(show_deals && "deals" || "hectares")];
        //    if (chart_data[i]["name"] !== "") {
        //        available += chart_data[i][(show_deals && "deals" || "hectares")]
        //    } else {
        //        not_available += chart_data[i][(show_deals && "deals" || "hectares")];
        //    }
        //}
        //not_available_per = Math.round(not_available/sum*100)
        //available_per = Math.round(available/sum*100)
        //pie_data.push(not_available_per);
        //pie_data.push(available_per);
        //var pie = new RGraph.Pie('pie-availability', pie_data);
        //pie.Set('chart.colors', ['#1e1e1e', '#828282']);
        //pie.Set('chart.radius', 15);
        //pie.Set('chart.strokestyle', '#bbb');
        //pie.Set('chart.text.font', 'Open Sans');
        //pie.Set('chart.text.size', '9');
        //RGraph.Effects.Fade.In(pie, {'duration': 250});
        //$("ul.legend li:first span").text(" (" + numberWithCommas(available) + (//show_deals && " deals" || " hectares") + ", " + available_per + "%)");
        //$("ul.legend li:last span").text(" (" + numberWithCommas(not_available) + (show_deals && " deals" || " hectares") + ", " + not_available_per + "%)");
        {% block extra_draw %}{% endblock %}
        (typeof callback == "function") && callback();
    } else {
        var json_query = variable + ".json";
        var query_params = "";
        // rename agriculture
        if (json_query == "agriculture.json") {
            json_query = "intention.json";
            query_params += "?intention=Agriculture";
        }
        if ((json_query + query_params) in storage) {
            draw(callback, storage[json_query + query_params]);
        } else {
            jQuery.getJSON("/api/" + json_query + query_params, function(data) {
                storage[json_query + query_params] = data;
                draw(callback, data);
            });
        }
    }
};
</script>
{% endblock %}
