{% extends "charts/overview/base.html" %}
{% load i18n wagtailcore_tags %}

{% block description %}
<p>
	{%trans 'Deals divided by implementation status. Since this chart shows all deals in the database, there is no option to select concluded, intended or failed deals separately.' %} <a href="/faq/#how-are-stages-of-negotiation-and-implementation-dealt-with" class="toggle-tooltip left noul" title="{% trans 'There are two key variables to describe the status of a land deal: negotiation and implementation. Although these two variables are linked, they are independent in our database, and various combinations are possible for different projects. Click here for more info.' %}"><i class="lm lm-question-circle"> </i></a>
</p>
{{ block.super }}
{% endblock %}

{% block variable %}implementation_status{% endblock %}