{% extends "base.html" %}

{% load i18n static filter_tags %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "map/css/map.css" %}">
{% endblock %}

{% block page_title %}{% trans "Map" %}{% endblock %}
{% block title %}{% trans "Map" %}{% endblock %}
{% block breadcrumb_inner %}
  <li><a href="{% url 'data' %}">{% trans "Global" %}</a></li>
  <li>{% trans "Map" %}</li>
{% endblock %}

{% block subnav_inner %}
  <li role="presentation" class="active">
    <span><i class="lm lm-map-marker"></i>{% trans "Map" %}</span></li>
  <li role="presentation"><a href="{% url 'data' %}{% list_params %}">
    <i class="lm lm-table"></i>{% trans "Data" %}
  </a></li>
  <li role="presentation"><a href="{% url 'charts' %}{% list_params %}">
    <i class="lm lm-bar-chart"></i>{% trans "Charts" %}
  </a></li>
  <li class="divider"></li>
  <li role="presentation">
    {% include "export.html" %}
  </li>
{% endblock %}

{% block content %}
  {{ introduction|safe }}
  <p></p>
  {% include "filters.html" %}
  {% include "map/includes/markup.html" %}
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% include "map/includes/script.html" %}
{% endblock %}
