{% extends "base.html" %}
{% load static i18n custom_tags humanize %}

{% block head %}

    <script src="{% static "js/editor/year-based-fields.js" %}" type="text/javascript" charset="utf-8"></script>
{#     <script src="{% static "js/editor/livesearch.js" %}" type="text/javascript" charset="utf-8"></script> #}
    <script src="{% static "js/editor/add_change.js" %}" type="text/javascript" charset="utf-8"></script>

    {# map #}
    <link rel="stylesheet" href="{% static "vendor/openlayers/ol.css" %}"/>
    <link rel="stylesheet" href="{% static "css/map.css" %}"/>

    <script src="{% static "vendor/openlayers/ol.js" %}" type="text/javascript"></script>
    <script src="{% static "js/editor/detail.js" %}" type="text/javascript" charset="utf-8"></script>

    <script src="{% static "js/editor/map.js" %}" type="text/javascript" charset="utf-8"></script>
    <script>unlockMaps()</script>

    {# include django_select2 CSS; must be done in form loop because it's a property of form.media #}
    {% if forms %}
        {% for form in forms %}
            {{ form.media.css }}
        {%  endfor %}
    {%  endif %}

{% endblock %}

{% block page_title %}Add a deal{% endblock %}
{% block title %}Add a deal{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="/editor">Editor</a> <span class="divider"></span></li>
        <li><a href="/en/global/add/">Add a deal</a> <span class="divider"></span></li>
    </ul>
{% endblock %}

{% block content %}
    <form action="." method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="panel-group" id="accordion">

        {% include "includes/dealpanels.html" %}

        </div>

        <input type="submit" value="Submit"/>

    </form>

{% endblock %}

