{% extends "base.html" %}
{% load static i18n custom_tags humanize %}

{% block head %}

  <!-- {# <script src="/media/js/editor/map.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=en"></script> #}
  -->


  <script src="{% static "js/editor/year-based-fields.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "js/editor/livesearch.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "js/editor/add_change.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block page_title %}Add a deal{% endblock %}
{% block title %}Add a deal{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="/editor">Editor</a> <span class="divider"></span></li>
  <li><a href="/en/global/add/">Add a deal</a> <span class="divider"></span></li>
  <li>Add a deal</li>
</ul>
{% endblock %}

{% block content %}


  <h5>Add a deal</h5>

  <form action="." method="post" enctype="multipart/form-data">

    {% csrf_token %}

      <div class="panel-group" id="accordion">

        {% if forms %}

          {% for form in forms %}

            <div class="panel panel-default">


                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
                      {% if form.forms %}
                          Formset {{forloop.counter}}: {#{ form }#}
                      {% else %}      {# form.forms #}
                          Form {{forloop.counter}}: {#{ form }#}
                      {% endif %}     {# form.forms #}
                      <span id="collapsebtn{{forloop.counter}}" class="lm-chevron-circle-up pull-right"></span>
                    </a>
                  </h4>
                </div>

                <div id="collapse{{forloop.counter}}" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <table class="i-dont-know-how-to-do-this-in-css-yes-i-know-booh">
                      {% if form.forms %}

                          {% if form.forms.0.has_investor %}
                            {{ form }}

                            {% comment %}
                            <tr>
                              <td>Primary investor:</td>
                              <td>{{ investor.primary_investor.name }}</td>
                            </tr>
                            {% for i in investor.secondary_investors %}
                              <tr>
                                <td>Secondary investor:</td>
                                <td>{{i.tags.investor_name}} - {{i.tags.country}}, {{i.tags.classification}} ({{i.investment_ratio}}%)</td>
                                <td>{{i.comment}}</td>
                              </tr>
                            {% endfor %}
                            {% endcomment %}

                          {% else %}    {# form.forms.0.has_investor #}

                            {{ form }}

                          {% endif %}   {# form.forms.0.has_investor #}
                      {% else %}      {# form.forms #}
                          {{ form.as_table }}
                      {% endif %}     {# form.forms #}
                    </table>
                  </div>
                </div>
            </div>            {# class="panel panel-default" #}

            <script>
                var collapsename = "#collapse{{forloop.counter}}";
                $(collapsename).on("hidden.bs.collapse", function() {
                    $("#collapsebtn{{forloop.counter}}").addClass('lm-chevron-circle-down').removeClass('lm-chevron-circle-up');
                });
                 $(collapsename).on("shown.bs.collapse", function() {
                    $("#collapsebtn{{forloop.counter}}").removeClass('lm-chevron-circle-down').addClass('lm-chevron-circle-up');
                });
            </script>

          {% endfor %}

        {% endif %}           {# forms #}

    </div>

    <input type="submit" value="Submit" />

  </form>

{% endblock %}
