{% extends "base.html" %}
{% load i18n custom_tags %}
{% load humanize %}

{% block head %}
    {# map #}
  <script src="/media/js/editor/map.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=en"></script>


  <script src="/media/js/editor/year-based-fields.js" type="text/javascript" charset="utf-8"></script>
  <script src="/media/js/editor/livesearch.js" type="text/javascript" charset="utf-8"></script>
  <script src="/media/js/editor/add_change.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block page_title %}Change deal #{{ deal_id }}{% endblock %}
{% block title %}Change deal #{{ deal_id }}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="/editor">Editor</a> <span class="divider">|</span></li>
  <li><a href="/global/change/{{ deal_id }}">Change deal #{{ deal_id }}</a> <span class="divider">|</span></li>
  <li>Change deal  #{{ deal_id }}</li>
</ul>
{% endblock %}

{% block content %}


  <h5>Change deal #{{ deal_id }}</h5>

  <form action="." method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="panel-group" id="accordion">
        {% include "includes/dealpanels.html" %}
    </div>

    <input type="submit" value="Submit" />

  </form>

{% endblock %}
