{% extends "base.html" %}
{% load i18n custom_tags static %}
{% load humanize %}

{% block header %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block navutils %}
{% endblock %}
{% block page_title %}Add / edit Operational stakeholder{% endblock %}
{% block title %}Add / edit Operational stakeholder{% endblock %}

{% block content %}

<form>
  <div class="form-group">
    <label for="exampleInputName1">Name address</label>
    <input type="name" class="form-control" id="exampleInputName1" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="exampleInputCountry1">Country</label>
    <input type="country" class="form-control" id="exampleInputCountry1" placeholder="Country">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}