@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf")
      format("truetype supports variations"),
    url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
  font-style: normal;
  font-weight: 300 800;
  font-stretch: 100%;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    @apply text-orange cursor-pointer hover:text-orange-200;
    /*@apply hover:underline*/
  }
  a.lm-underline:hover {
    text-decoration: none;
    color: var(--color-lm-dark);
    border-bottom: 3px solid var(--color-lm-orange);
  }

  a.investor {
    @apply text-pelorous;
  }

  p {
    @apply mb-4;
  }

  h1 {
    @apply text-3xl text-lm-dark my-5 font-bold;
  }

  h3 {
    @apply text-lm-dark text-[22px] my-5 font-bold;
  }
  h3 a {
    @apply text-lm-dark;
  }

  h4 {
    @apply text-lm-dark text-lg  my-5 font-bold;
  }
  .inpt {
    height: calc(1.5em + 0.75rem + 2px);
    @apply border border-gray-500 py-1.5 px-3 bg-white w-full;
  }
  .btn {
    @apply inline-block border m-0.5 px-4 py-2 shadow whitespace-nowrap transform transition;
    @apply focus:outline-none focus:ring;
  }
  .btn.disabled {
    @apply pointer-events-none opacity-60;
  }

  .btn-primary {
    @apply bg-orange text-white border-orange text-center;
    @apply hover:bg-orange-300 hover:border-orange-300;
    @apply active:bg-orange-700;
  }
  .btn-secondary {
    @apply bg-white text-orange border-orange;
    @apply hover:bg-orange-300 hover:text-white hover:border-orange-300;
    @apply active:bg-orange-700;
  }

  .btn-white {
    @apply border border-black px-5 py-1 text-sm text-black uppercase;
  }

  .btn-link {
    @apply bg-none text-orange shadow-none border-none;
    @apply hover:text-orange-200;
    @apply active:text-orange-500;
  }

  .btn-gray {
    @apply bg-gray-300 text-gray-600;
    @apply hover:text-white hover:bg-gray-400;
  }

  .btn-pelorous {
    @apply bg-pelorous-300 border-pelorous text-white;
    @apply hover:bg-pelorous hover:text-white;
    @apply active:bg-pelorous active:text-white;
  }
  .btn-danger {
    @apply border-dotted border-red-600 text-red-600 bg-transparent;
    @apply hover:text-white hover:bg-red-400;
  }

  .inpt {
    height: calc(1.5em + 0.75rem + 2px);
    @apply border border-gray-300 py-1.5 px-3 bg-white w-full;
  }

  .inpt[readonly] {
    @apply text-gray-500 bg-gray-100 focus:outline-none cursor-not-allowed;
  }
  .field-has-appendix {
    @apply flex;
  }

  .field-has-appendix > input:not([type="checkbox"]):not([type="radio"]) {
    @apply border-r-0;
  }

  .field-has-appendix > :not(input) {
    height: calc(1.5em + 0.75rem + 2px);
    @apply flex justify-center items-center border border-gray-300 py-1.5 px-3 bg-gray-200 text-gray-600;
  }
}

.richtext-image {
  @apply w-auto h-auto max-w-[40%];
}
.richtext-image.left {
  @apply float-left mr-12;
}
.richtext-image.right {
  @apply float-right ml-12;
}
.richtext-image.fullwidth {
  @apply text-center max-w-full max-h-[700px] w-auto block mx-auto;
}
