{% load i18n %}
<div class="widget-countries">
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    {% trans "Choose a country" %}
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		{% for country in countries %}
			<li><a href="/country/{{ country.slug }}/">{{ country.name }}</a></li>
		{% endfor %}
	  </ul>
	</div>
	<ul>
	</ul>
</div><!-- widget-countries -->