{% load wagtailcore_tags %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for listitem in list %}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="{{ listitem.slug }}">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ listitem.slug }}" aria-expanded="true" aria-controls="collapseOne">
          <h5 class="panel-title">
            {{ listitem.term }}
            <span id="collapsebtn_{{ forloop.counter }}"
                  class="lm-chevron-circle-down pull-right mgrey1"></span>
          </h5>
        </a>
      </div>
      <div id="collapse-{{ listitem.slug }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ listitem.slug }}">
        <div class="panel-body">
          {{ listitem.definition|richtext }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<script type="text/javascript">
  $(function () {
    // open content that matches the hash
    var hash = window.location.hash;
    var thash = hash.substring(hash.lastIndexOf('#') + 1, hash.length);
    if (thash) {
      $('#accordion').find('[id=' + thash + ']').children('a').trigger('click');
    }
  })
</script>
