{% load i18n wagtailcore_tags %}
<div id="carousel-explanation" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for image in images %}
      <li data-target="#carousel-explanation" data-slide-to="{{ forloop.counter0 }}
"{% if forloop.first %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  <div class="center">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% for image in images %}
        <div class="item{% if forloop.first %} active{% endif %}">
          {% include 'widgets/image.html' with url=image.url name=image.name href=image.href %}
          <div class="carousel-caption">
            {% if image.href %}<a href="{{ image.href }}">{% endif %}
            {{ image.caption|richtext }}
            {% if image.href %}</a>{% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-explanation" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    <span class="sr-only">{% trans "Previous" %}</span>
  </a>
  <a class="right carousel-control" href="#carousel-explanation" role="button" data-slide="next">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    <span class="sr-only">{% trans "Next" %}</span>
  </a>

</div>
