{% load wagtailcore_tags %}
<ul class="nav nav-tabs">
  {% for listitem in list %}
    <li{% if forloop.first %} class="active"{% endif %} style="width:33%;text-align:center;"><a style="padding:0;" data-toggle="tab" href="#{{ forloop.counter }}"><h3>{% if listitem.fa_icon %}<i class="fa fa-{{ listitem.fa_icon }}"></i>&nbsp;{% endif %}{{ listitem.title }}</h3></a></li>
  {% endfor %}
</ul>
<div class="tab-content">
  {% for listitem in list %}
    <div id="{{ forloop.counter }}" class="tab-pane fade{% if forloop.first %} in active{% endif %}">
      <p></p>
      {{ listitem.content|safe }}
    </div>
  {% endfor %}
</div>
<!-- script type="text/javascript">
$(document).ready(function () {
  // open content that matches the hash
  var hash = window.location.hash;
  var thash = hash.substring(hash.lastIndexOf('#') + 1, hash.length);
  $('#accordion').find('[id='+ thash + ']').children('a').trigger('click');
})
</script -->
