$primary: #fc941f;
$secondary: #fcfcfc;

//$lm_green: #fc941f;
//$lm_greenaccent1: #fc941f;
//$lm_greenaccent2: #fc941f;
//$lm_greenaccent3: #fc941f;
$lm_orange: #fc941f;
$lm_offwhite: #fcfcfc;
$lm_dark: #4a4a4a;
$lm_medium2: #919191;
$lm_medium1: #c6c6c6;
$lm_light: #ebebeb;
$lm_light_border: #bebebe;

$lm_grey: #c1c1c1;
