h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;

  a {
    font-weight: bold;
    color: var(--color-lm-dark);

    &:hover {
      text-decoration: none;
      color: var(--color-lm-dark);
      border-bottom: 3px solid var(--color-lm-orange);
    }
  }
}

h1,
h2 {
  font-size: 28px;
  //line-height: 32px;
}

h1 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-lm-orange);
  font-weight: 700 !important;
  margin-bottom: 20px;

  &:before {
    background: var(--color-lm-light);
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  a:hover {
    border-color: var(--color-lm-orange);
  }
}

h3 {
  color: var(--color-lm-dark);
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}
