@font-face {
  font-family: "landmatrix";
  src: url("/static/fonts/landmatrix.eot?g7d85c");
  src: url("/static/fonts/landmatrix.eot?g7d85c#iefix") format("embedded-opentype"),
    url("/static/fonts/landmatrix.ttf?g7d85c") format("truetype"),
    url("/static/fonts/landmatrix.woff?g7d85c") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="lm-"],
[class*=" lm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  //noinspection CssNoGenericFontName
  font-family: "landmatrix" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /*    line-height: 1; */

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lm-glass:before {
  content: "\f000";
}
.lm-music:before {
  content: "\f001";
}
.lm-search:before {
  content: "\f002";
}
.lm-envelope-o:before {
  content: "\f003";
}
.lm-heart:before {
  content: "\f004";
}
.lm-star:before {
  content: "\f005";
}
.lm-star-o:before {
  content: "\f006";
}
.lm-user:before {
  content: "\f007";
}
.lm-film:before {
  content: "\f008";
}
.lm-th-large:before {
  content: "\f009";
}
.lm-th:before {
  content: "\f00a";
}
.lm-th-list:before {
  content: "\f00b";
}
.lm-check:before {
  content: "\f00c";
}
.lm-close:before {
  content: "\f00d";
}
.lm-remove:before {
  content: "\f00d";
}
.lm-times:before {
  content: "\f00d";
}
.lm-search-plus:before {
  content: "\f00e";
}
.lm-search-minus:before {
  content: "\f010";
}
.lm-power-off:before {
  content: "\f011";
}
.lm-signal:before {
  content: "\f012";
}
.lm-cog:before {
  content: "\f013";
}
.lm-gear:before {
  content: "\f013";
}
.lm-trash-o:before {
  content: "\f014";
}
.lm-home:before {
  content: "\f015";
}
.lm-file-o:before {
  content: "\f016";
}
.lm-clock-o:before {
  content: "\f017";
}
.lm-road:before {
  content: "\f018";
}
.lm-download:before {
  content: "\f019";
}
.lm-arrow-circle-o-down:before {
  content: "\f01a";
}
.lm-arrow-circle-o-up:before {
  content: "\f01b";
}
.lm-inbox:before {
  content: "\f01c";
}
.lm-play-circle-o:before {
  content: "\f01d";
}
.lm-repeat:before {
  content: "\f01e";
}
.lm-rotate-right:before {
  content: "\f01e";
}
.lm-refresh:before {
  content: "\f021";
}
.lm-list-alt:before {
  content: "\f022";
}
.lm-lock:before {
  content: "\f023";
}
.lm-flag:before {
  content: "\f024";
}
.lm-headphones:before {
  content: "\f025";
}
.lm-volume-off:before {
  content: "\f026";
}
.lm-volume-down:before {
  content: "\f027";
}
.lm-volume-up:before {
  content: "\f028";
}
.lm-qrcode:before {
  content: "\f029";
}
.lm-barcode:before {
  content: "\f02a";
}
.lm-tag:before {
  content: "\f02b";
}
.lm-tags:before {
  content: "\f02c";
}
.lm-book:before {
  content: "\f02d";
}
.lm-bookmark:before {
  content: "\f02e";
}
.lm-print:before {
  content: "\f02f";
}
.lm-camera:before {
  content: "\f030";
}
.lm-font:before {
  content: "\f031";
}
.lm-bold:before {
  content: "\f032";
}
.lm-italic:before {
  content: "\f033";
}
.lm-text-height:before {
  content: "\f034";
}
.lm-text-width:before {
  content: "\f035";
}
.lm-align-left:before {
  content: "\f036";
}
.lm-align-center:before {
  content: "\f037";
}
.lm-align-right:before {
  content: "\f038";
}
.lm-align-justify:before {
  content: "\f039";
}
.lm-list:before {
  content: "\f03a";
}
.lm-dedent:before {
  content: "\f03b";
}
.lm-outdent:before {
  content: "\f03b";
}
.lm-indent:before {
  content: "\f03c";
}
.lm-video-camera:before {
  content: "\f03d";
}
.lm-image:before {
  content: "\f03e";
}
.lm-photo:before {
  content: "\f03e";
}
.lm-picture-o:before {
  content: "\f03e";
}
.lm-pencil:before {
  content: "\f040";
}
.lm-map-marker:before {
  content: "\f041";
}
.lm-adjust:before {
  content: "\f042";
}
.lm-tint:before {
  content: "\f043";
}
.lm-edit:before {
  content: "\f044";
}
.lm-pencil-square-o:before {
  content: "\f044";
}
.lm-share-square-o:before {
  content: "\f045";
}
.lm-check-square-o:before {
  content: "\f046";
}
.lm-arrows:before {
  content: "\f047";
}
.lm-step-backward:before {
  content: "\f048";
}
.lm-fast-backward:before {
  content: "\f049";
}
.lm-backward:before {
  content: "\f04a";
}
.lm-play:before {
  content: "\f04b";
}
.lm-pause:before {
  content: "\f04c";
}
.lm-stop:before {
  content: "\f04d";
}
.lm-forward:before {
  content: "\f04e";
}
.lm-fast-forward:before {
  content: "\f050";
}
.lm-step-forward:before {
  content: "\f051";
}
.lm-eject:before {
  content: "\f052";
}
.lm-chevron-left:before {
  content: "\f053";
}
.lm-chevron-right:before {
  content: "\f054";
}
.lm-plus-circle:before {
  content: "\f055";
}
.lm-minus-circle:before {
  content: "\f056";
}
.lm-times-circle:before {
  content: "\f057";
}
.lm-check-circle:before {
  content: "\f058";
}
.lm-question-circle:before {
  content: "\f059";
}
.lm-info-circle:before {
  content: "\f05a";
}
.lm-crosshairs:before {
  content: "\f05b";
}
.lm-times-circle-o:before {
  content: "\f05c";
}
.lm-check-circle-o:before {
  content: "\f05d";
}
.lm-ban:before {
  content: "\f05e";
}
.lm-arrow-left:before {
  content: "\f060";
}
.lm-arrow-right:before {
  content: "\f061";
}
.lm-arrow-up:before {
  content: "\f062";
}
.lm-arrow-down:before {
  content: "\f063";
}
.lm-mail-forward:before {
  content: "\f064";
}
.lm-share:before {
  content: "\f064";
}
.lm-expand:before {
  content: "\f065";
}
.lm-compress:before {
  content: "\f066";
}
.lm-plus:before {
  content: "\f067";
}
.lm-minus:before {
  content: "\f068";
}
.lm-asterisk:before {
  content: "\f069";
}
.lm-exclamation-circle:before {
  content: "\f06a";
}
.lm-gift:before {
  content: "\f06b";
}
.lm-leaf:before {
  content: "\f06c";
}
.lm-fire:before {
  content: "\f06d";
}
.lm-eye:before {
  content: "\f06e";
}
.lm-eye-slash:before {
  content: "\f070";
}
.lm-exclamation-triangle:before {
  content: "\f071";
}
.lm-warning:before {
  content: "\f071";
}
.lm-plane:before {
  content: "\f072";
}
.lm-calendar:before {
  content: "\f073";
}
.lm-random:before {
  content: "\f074";
}
.lm-comment:before {
  content: "\f075";
}
.lm-magnet:before {
  content: "\f076";
}
.lm-chevron-up:before {
  content: "\f077";
}
.lm-chevron-down:before {
  content: "\f078";
}
.lm-retweet:before {
  content: "\f079";
}
.lm-shopping-cart:before {
  content: "\f07a";
}
.lm-folder:before {
  content: "\f07b";
}
.lm-folder-open:before {
  content: "\f07c";
}
.lm-arrows-v:before {
  content: "\f07d";
}
.lm-arrows-h:before {
  content: "\f07e";
}
.lm-bar-chart:before {
  content: "\f080";
}
.lm-bar-chart-o:before {
  content: "\f080";
}
.lm-twitter-square:before {
  content: "\f081";
}
.lm-facebook-square:before {
  content: "\f082";
}
.lm-camera-retro:before {
  content: "\f083";
}
.lm-key:before {
  content: "\f084";
}
.lm-cogs:before {
  content: "\f085";
}
.lm-gears:before {
  content: "\f085";
}
.lm-comments:before {
  content: "\f086";
}
.lm-thumbs-o-up:before {
  content: "\f087";
}
.lm-thumbs-o-down:before {
  content: "\f088";
}
.lm-star-half:before {
  content: "\f089";
}
.lm-heart-o:before {
  content: "\f08a";
}
.lm-sign-out:before {
  content: "\f08b";
}
.lm-linkedin-square:before {
  content: "\f08c";
}
.lm-thumb-tack:before {
  content: "\f08d";
}
.lm-external-link:before {
  content: "\f08e";
}
.lm-sign-in:before {
  content: "\f090";
}
.lm-trophy:before {
  content: "\f091";
}
.lm-github-square:before {
  content: "\f092";
}
.lm-upload:before {
  content: "\f093";
}
.lm-lemon-o:before {
  content: "\f094";
}
.lm-phone:before {
  content: "\f095";
}
.lm-square-o:before {
  content: "\f096";
}
.lm-bookmark-o:before {
  content: "\f097";
}
.lm-phone-square:before {
  content: "\f098";
}
.lm-twitter:before {
  content: "\f099";
}
.lm-facebook:before {
  content: "\f09a";
}
.lm-facebook-f:before {
  content: "\f09a";
}
.lm-github:before {
  content: "\f09b";
}
.lm-unlock:before {
  content: "\f09c";
}
.lm-credit-card:before {
  content: "\f09d";
}
.lm-feed:before {
  content: "\f09e";
}
.lm-rss:before {
  content: "\f09e";
}
.lm-hdd-o:before {
  content: "\f0a0";
}
.lm-bullhorn:before {
  content: "\f0a1";
}
.lm-bell-o:before {
  content: "\f0a2";
}
.lm-certificate:before {
  content: "\f0a3";
}
.lm-hand-o-right:before {
  content: "\f0a4";
}
.lm-hand-o-left:before {
  content: "\f0a5";
}
.lm-hand-o-up:before {
  content: "\f0a6";
}
.lm-hand-o-down:before {
  content: "\f0a7";
}
.lm-arrow-circle-left:before {
  content: "\f0a8";
}
.lm-arrow-circle-right:before {
  content: "\f0a9";
}
.lm-arrow-circle-up:before {
  content: "\f0aa";
}
.lm-arrow-circle-down:before {
  content: "\f0ab";
}
.lm-globe:before {
  content: "\f0ac";
}
.lm-wrench:before {
  content: "\f0ad";
}
.lm-tasks:before {
  content: "\f0ae";
}
.lm-filter:before {
  content: "\f0b0";
}
.lm-briefcase:before {
  content: "\f0b1";
}
.lm-arrows-alt:before {
  content: "\f0b2";
}
.lm-group:before {
  content: "\f0c0";
}
.lm-users:before {
  content: "\f0c0";
}
.lm-chain:before {
  content: "\f0c1";
}
.lm-link:before {
  content: "\f0c1";
}
.lm-cloud:before {
  content: "\f0c2";
}
.lm-flask:before {
  content: "\f0c3";
}
.lm-cut:before {
  content: "\f0c4";
}
.lm-scissors:before {
  content: "\f0c4";
}
.lm-copy:before {
  content: "\f0c5";
}
.lm-files-o:before {
  content: "\f0c5";
}
.lm-paperclip:before {
  content: "\f0c6";
}
.lm-floppy-o:before {
  content: "\f0c7";
}
.lm-save:before {
  content: "\f0c7";
}
.lm-square:before {
  content: "\f0c8";
}
.lm-bars:before {
  content: "\f0c9";
}
.lm-navicon:before {
  content: "\f0c9";
}
.lm-reorder:before {
  content: "\f0c9";
}
.lm-list-ul:before {
  content: "\f0ca";
}
.lm-list-ol:before {
  content: "\f0cb";
}
.lm-strikethrough:before {
  content: "\f0cc";
}
.lm-underline:before {
  content: "\f0cd";
}
.lm-table:before {
  content: "\f0ce";
}
.lm-magic:before {
  content: "\f0d0";
}
.lm-truck:before {
  content: "\f0d1";
}
.lm-pinterest:before {
  content: "\f0d2";
}
.lm-pinterest-square:before {
  content: "\f0d3";
}
.lm-google-plus-square:before {
  content: "\f0d4";
}
.lm-google-plus:before {
  content: "\f0d5";
}
.lm-money:before {
  content: "\f0d6";
}
.lm-caret-down:before {
  content: "\f0d7";
}
.lm-caret-up:before {
  content: "\f0d8";
}
.lm-caret-left:before {
  content: "\f0d9";
}
.lm-caret-right:before {
  content: "\f0da";
}
.lm-columns:before {
  content: "\f0db";
}
.lm-sort:before {
  content: "\f0dc";
}
.lm-unsorted:before {
  content: "\f0dc";
}
.lm-sort-desc:before {
  content: "\f0dd";
}
.lm-sort-down:before {
  content: "\f0dd";
}
.lm-sort-asc:before {
  content: "\f0de";
}
.lm-sort-up:before {
  content: "\f0de";
}
.lm-envelope:before {
  content: "\f0e0";
}
.lm-linkedin:before {
  content: "\f0e1";
}
.lm-rotate-left:before {
  content: "\f0e2";
}
.lm-undo:before {
  content: "\f0e2";
}
.lm-gavel:before {
  content: "\f0e3";
}
.lm-legal:before {
  content: "\f0e3";
}
.lm-dashboard:before {
  content: "\f0e4";
}
.lm-tachometer:before {
  content: "\f0e4";
}
.lm-comment-o:before {
  content: "\f0e5";
}
.lm-comments-o:before {
  content: "\f0e6";
}
.lm-bolt:before {
  content: "\f0e7";
}
.lm-flash:before {
  content: "\f0e7";
}
.lm-sitemap:before {
  content: "\f0e8";
}
.lm-umbrella:before {
  content: "\f0e9";
}
.lm-clipboard:before {
  content: "\f0ea";
}
.lm-paste:before {
  content: "\f0ea";
}
.lm-lightbulb-o:before {
  content: "\f0eb";
}
.lm-exchange:before {
  content: "\f0ec";
}
.lm-cloud-download:before {
  content: "\f0ed";
}
.lm-cloud-upload:before {
  content: "\f0ee";
}
.lm-user-md:before {
  content: "\f0f0";
}
.lm-stethoscope:before {
  content: "\f0f1";
}
.lm-suitcase:before {
  content: "\f0f2";
}
.lm-bell:before {
  content: "\f0f3";
}
.lm-coffee:before {
  content: "\f0f4";
}
.lm-cutlery:before {
  content: "\f0f5";
}
.lm-file-text-o:before {
  content: "\f0f6";
}
.lm-building-o:before {
  content: "\f0f7";
}
.lm-hospital-o:before {
  content: "\f0f8";
}
.lm-ambulance:before {
  content: "\f0f9";
}
.lm-medkit:before {
  content: "\f0fa";
}
.lm-fighter-jet:before {
  content: "\f0fb";
}
.lm-beer:before {
  content: "\f0fc";
}
.lm-h-square:before {
  content: "\f0fd";
}
.lm-plus-square:before {
  content: "\f0fe";
}
.lm-angle-double-left:before {
  content: "\f100";
}
.lm-angle-double-right:before {
  content: "\f101";
}
.lm-angle-double-up:before {
  content: "\f102";
}
.lm-angle-double-down:before {
  content: "\f103";
}
.lm-angle-left:before {
  content: "\f104";
}
.lm-angle-right:before {
  content: "\f105";
}
.lm-angle-up:before {
  content: "\f106";
}
.lm-angle-down:before {
  content: "\f107";
}
.lm-desktop:before {
  content: "\f108";
}
.lm-laptop:before {
  content: "\f109";
}
.lm-tablet:before {
  content: "\f10a";
}
.lm-mobile:before {
  content: "\f10b";
}
.lm-mobile-phone:before {
  content: "\f10b";
}
.lm-circle-o:before {
  content: "\f10c";
}
.lm-quote-left:before {
  content: "\f10d";
}
.lm-quote-right:before {
  content: "\f10e";
}
.lm-spinner:before {
  content: "\f110";
}
.lm-circle:before {
  content: "\f111";
}
.lm-mail-reply:before {
  content: "\f112";
}
.lm-reply:before {
  content: "\f112";
}
.lm-github-alt:before {
  content: "\f113";
}
.lm-folder-o:before {
  content: "\f114";
}
.lm-folder-open-o:before {
  content: "\f115";
}
.lm-smile-o:before {
  content: "\f118";
}
.lm-frown-o:before {
  content: "\f119";
}
.lm-meh-o:before {
  content: "\f11a";
}
.lm-gamepad:before {
  content: "\f11b";
}
.lm-keyboard-o:before {
  content: "\f11c";
}
.lm-flag-o:before {
  content: "\f11d";
}
.lm-flag-checkered:before {
  content: "\f11e";
}
.lm-terminal:before {
  content: "\f120";
}
.lm-code:before {
  content: "\f121";
}
.lm-mail-reply-all:before {
  content: "\f122";
}
.lm-reply-all:before {
  content: "\f122";
}
.lm-star-half-empty:before {
  content: "\f123";
}
.lm-star-half-full:before {
  content: "\f123";
}
.lm-star-half-o:before {
  content: "\f123";
}
.lm-location-arrow:before {
  content: "\f124";
}
.lm-crop:before {
  content: "\f125";
}
.lm-code-fork:before {
  content: "\f126";
}
.lm-chain-broken:before {
  content: "\f127";
}
.lm-unlink:before {
  content: "\f127";
}
.lm-question:before {
  content: "\f128";
}
.lm-info:before {
  content: "\f129";
}
.lm-exclamation:before {
  content: "\f12a";
}
.lm-superscript:before {
  content: "\f12b";
}
.lm-subscript:before {
  content: "\f12c";
}
.lm-eraser:before {
  content: "\f12d";
}
.lm-puzzle-piece:before {
  content: "\f12e";
}
.lm-microphone:before {
  content: "\f130";
}
.lm-microphone-slash:before {
  content: "\f131";
}
.lm-shield:before {
  content: "\f132";
}
.lm-calendar-o:before {
  content: "\f133";
}
.lm-fire-extinguisher:before {
  content: "\f134";
}
.lm-rocket:before {
  content: "\f135";
}
.lm-maxcdn:before {
  content: "\f136";
}
.lm-chevron-circle-left:before {
  content: "\f137";
}
.lm-chevron-circle-right:before {
  content: "\f138";
}
.lm-chevron-circle-up:before {
  content: "\f139";
}
.lm-chevron-circle-down:before {
  content: "\f13a";
}
.lm-html5:before {
  content: "\f13b";
}
.lm-css3:before {
  content: "\f13c";
}
.lm-anchor:before {
  content: "\f13d";
}
.lm-unlock-alt:before {
  content: "\f13e";
}
.lm-bullseye:before {
  content: "\f140";
}
.lm-ellipsis-h:before {
  content: "\f141";
}
.lm-ellipsis-v:before {
  content: "\f142";
}
.lm-rss-square:before {
  content: "\f143";
}
.lm-play-circle:before {
  content: "\f144";
}
.lm-ticket:before {
  content: "\f145";
}
.lm-minus-square:before {
  content: "\f146";
}
.lm-minus-square-o:before {
  content: "\f147";
}
.lm-level-up:before {
  content: "\f148";
}
.lm-level-down:before {
  content: "\f149";
}
.lm-check-square:before {
  content: "\f14a";
}
.lm-pencil-square:before {
  content: "\f14b";
}
.lm-external-link-square:before {
  content: "\f14c";
}
.lm-share-square:before {
  content: "\f14d";
}
.lm-compass:before {
  content: "\f14e";
}
.lm-caret-square-o-down:before {
  content: "\f150";
}
.lm-toggle-down:before {
  content: "\f150";
}
.lm-caret-square-o-up:before {
  content: "\f151";
}
.lm-toggle-up:before {
  content: "\f151";
}
.lm-caret-square-o-right:before {
  content: "\f152";
}
.lm-toggle-right:before {
  content: "\f152";
}
.lm-eur:before {
  content: "\f153";
}
.lm-euro:before {
  content: "\f153";
}
.lm-gbp:before {
  content: "\f154";
}
.lm-dollar:before {
  content: "\f155";
}
.lm-usd:before {
  content: "\f155";
}
.lm-inr:before {
  content: "\f156";
}
.lm-rupee:before {
  content: "\f156";
}
.lm-cny:before {
  content: "\f157";
}
.lm-jpy:before {
  content: "\f157";
}
.lm-rmb:before {
  content: "\f157";
}
.lm-yen:before {
  content: "\f157";
}
.lm-rouble:before {
  content: "\f158";
}
.lm-rub:before {
  content: "\f158";
}
.lm-ruble:before {
  content: "\f158";
}
.lm-krw:before {
  content: "\f159";
}
.lm-won:before {
  content: "\f159";
}
.lm-bitcoin:before {
  content: "\f15a";
}
.lm-btc:before {
  content: "\f15a";
}
.lm-file:before {
  content: "\f15b";
}
.lm-file-text:before {
  content: "\f15c";
}
.lm-sort-alpha-asc:before {
  content: "\f15d";
}
.lm-sort-alpha-desc:before {
  content: "\f15e";
}
.lm-sort-amount-asc:before {
  content: "\f160";
}
.lm-sort-amount-desc:before {
  content: "\f161";
}
.lm-sort-numeric-asc:before {
  content: "\f162";
}
.lm-sort-numeric-desc:before {
  content: "\f163";
}
.lm-thumbs-up:before {
  content: "\f164";
}
.lm-thumbs-down:before {
  content: "\f165";
}
.lm-youtube-square:before {
  content: "\f166";
}
.lm-youtube:before {
  content: "\f167";
}
.lm-xing:before {
  content: "\f168";
}
.lm-xing-square:before {
  content: "\f169";
}
.lm-youtube-play:before {
  content: "\f16a";
}
.lm-dropbox:before {
  content: "\f16b";
}
.lm-stack-overflow:before {
  content: "\f16c";
}
.lm-instagram:before {
  content: "\f16d";
}
.lm-flickr:before {
  content: "\f16e";
}
.lm-adn:before {
  content: "\f170";
}
.lm-bitbucket:before {
  content: "\f171";
}
.lm-bitbucket-square:before {
  content: "\f172";
}
.lm-tumblr:before {
  content: "\f173";
}
.lm-tumblr-square:before {
  content: "\f174";
}
.lm-long-arrow-down:before {
  content: "\f175";
}
.lm-long-arrow-up:before {
  content: "\f176";
}
.lm-long-arrow-left:before {
  content: "\f177";
}
.lm-long-arrow-right:before {
  content: "\f178";
}
.lm-apple:before {
  content: "\f179";
}
.lm-windows:before {
  content: "\f17a";
}
.lm-android:before {
  content: "\f17b";
}
.lm-linux:before {
  content: "\f17c";
}
.lm-dribbble:before {
  content: "\f17d";
}
.lm-skype:before {
  content: "\f17e";
}
.lm-foursquare:before {
  content: "\f180";
}
.lm-trello:before {
  content: "\f181";
}
.lm-female:before {
  content: "\f182";
}
.lm-male:before {
  content: "\f183";
}
.lm-gittip:before {
  content: "\f184";
}
.lm-gratipay:before {
  content: "\f184";
}
.lm-sun-o:before {
  content: "\f185";
}
.lm-moon-o:before {
  content: "\f186";
}
.lm-archive:before {
  content: "\f187";
}
.lm-bug:before {
  content: "\f188";
}
.lm-vk:before {
  content: "\f189";
}
.lm-weibo:before {
  content: "\f18a";
}
.lm-renren:before {
  content: "\f18b";
}
.lm-pagelines:before {
  content: "\f18c";
}
.lm-stack-exchange:before {
  content: "\f18d";
}
.lm-arrow-circle-o-right:before {
  content: "\f18e";
}
.lm-arrow-circle-o-left:before {
  content: "\f190";
}
.lm-caret-square-o-left:before {
  content: "\f191";
}
.lm-toggle-left:before {
  content: "\f191";
}
.lm-dot-circle-o:before {
  content: "\f192";
}
.lm-wheelchair:before {
  content: "\f193";
}
.lm-vimeo-square:before {
  content: "\f194";
}
.lm-try:before {
  content: "\f195";
}
.lm-turkish-lira:before {
  content: "\f195";
}
.lm-plus-square-o:before {
  content: "\f196";
}
.lm-space-shuttle:before {
  content: "\f197";
}
.lm-slack:before {
  content: "\f198";
}
.lm-envelope-square:before {
  content: "\f199";
}
.lm-wordpress:before {
  content: "\f19a";
}
.lm-openid:before {
  content: "\f19b";
}
.lm-bank:before {
  content: "\f19c";
}
.lm-institution:before {
  content: "\f19c";
}
.lm-university:before {
  content: "\f19c";
}
.lm-graduation-cap:before {
  content: "\f19d";
}
.lm-mortar-board:before {
  content: "\f19d";
}
.lm-yahoo:before {
  content: "\f19e";
}
.lm-google:before {
  content: "\f1a0";
}
.lm-reddit:before {
  content: "\f1a1";
}
.lm-reddit-square:before {
  content: "\f1a2";
}
.lm-stumbleupon-circle:before {
  content: "\f1a3";
}
.lm-stumbleupon:before {
  content: "\f1a4";
}
.lm-delicious:before {
  content: "\f1a5";
}
.lm-digg:before {
  content: "\f1a6";
}
.lm-pied-piper:before {
  content: "\f1a7";
}
.lm-pied-piper-alt:before {
  content: "\f1a8";
}
.lm-drupal:before {
  content: "\f1a9";
}
.lm-joomla:before {
  content: "\f1aa";
}
.lm-language:before {
  content: "\f1ab";
}
.lm-fax:before {
  content: "\f1ac";
}
.lm-building:before {
  content: "\f1ad";
}
.lm-child:before {
  content: "\f1ae";
}
.lm-paw:before {
  content: "\f1b0";
}
.lm-spoon:before {
  content: "\f1b1";
}
.lm-cube:before {
  content: "\f1b2";
}
.lm-cubes:before {
  content: "\f1b3";
}
.lm-behance:before {
  content: "\f1b4";
}
.lm-behance-square:before {
  content: "\f1b5";
}
.lm-steam:before {
  content: "\f1b6";
}
.lm-steam-square:before {
  content: "\f1b7";
}
.lm-recycle:before {
  content: "\f1b8";
}
.lm-automobile:before {
  content: "\f1b9";
}
.lm-car:before {
  content: "\f1b9";
}
.lm-cab:before {
  content: "\f1ba";
}
.lm-taxi:before {
  content: "\f1ba";
}
.lm-tree:before {
  content: "\f1bb";
}
.lm-spotify:before {
  content: "\f1bc";
}
.lm-deviantart:before {
  content: "\f1bd";
}
.lm-soundcloud:before {
  content: "\f1be";
}
.lm-database:before {
  content: "\f1c0";
}
.lm-file-pdf-o:before {
  content: "\f1c1";
}
.lm-file-word-o:before {
  content: "\f1c2";
}
.lm-file-excel-o:before {
  content: "\f1c3";
}
.lm-file-powerpoint-o:before {
  content: "\f1c4";
}
.lm-file-image-o:before {
  content: "\f1c5";
}
.lm-file-photo-o:before {
  content: "\f1c5";
}
.lm-file-picture-o:before {
  content: "\f1c5";
}
.lm-file-archive-o:before {
  content: "\f1c6";
}
.lm-file-zip-o:before {
  content: "\f1c6";
}
.lm-file-audio-o:before {
  content: "\f1c7";
}
.lm-file-sound-o:before {
  content: "\f1c7";
}
.lm-file-movie-o:before {
  content: "\f1c8";
}
.lm-file-video-o:before {
  content: "\f1c8";
}
.lm-file-code-o:before {
  content: "\f1c9";
}
.lm-vine:before {
  content: "\f1ca";
}
.lm-codepen:before {
  content: "\f1cb";
}
.lm-jsfiddle:before {
  content: "\f1cc";
}
.lm-life-bouy:before {
  content: "\f1cd";
}
.lm-life-buoy:before {
  content: "\f1cd";
}
.lm-life-ring:before {
  content: "\f1cd";
}
.lm-life-saver:before {
  content: "\f1cd";
}
.lm-support:before {
  content: "\f1cd";
}
.lm-circle-o-notch:before {
  content: "\f1ce";
}
.lm-ra:before {
  content: "\f1d0";
}
.lm-rebel:before {
  content: "\f1d0";
}
.lm-empire:before {
  content: "\f1d1";
}
.lm-ge:before {
  content: "\f1d1";
}
.lm-git-square:before {
  content: "\f1d2";
}
.lm-git:before {
  content: "\f1d3";
}
.lm-hacker-news:before {
  content: "\f1d4";
}
.lm-y-combinator-square:before {
  content: "\f1d4";
}
.lm-yc-square:before {
  content: "\f1d4";
}
.lm-tencent-weibo:before {
  content: "\f1d5";
}
.lm-qq:before {
  content: "\f1d6";
}
.lm-wechat:before {
  content: "\f1d7";
}
.lm-weixin:before {
  content: "\f1d7";
}
.lm-paper-plane:before {
  content: "\f1d8";
}
.lm-send:before {
  content: "\f1d8";
}
.lm-paper-plane-o:before {
  content: "\f1d9";
}
.lm-send-o:before {
  content: "\f1d9";
}
.lm-history:before {
  content: "\f1da";
}
.lm-circle-thin:before {
  content: "\f1db";
}
.lm-header:before {
  content: "\f1dc";
}
.lm-paragraph:before {
  content: "\f1dd";
}
.lm-sliders:before {
  content: "\f1de";
}
.lm-share-alt:before {
  content: "\f1e0";
}
.lm-share-alt-square:before {
  content: "\f1e1";
}
.lm-bomb:before {
  content: "\f1e2";
}
.lm-futbol-o:before {
  content: "\f1e3";
}
.lm-soccer-ball-o:before {
  content: "\f1e3";
}
.lm-tty:before {
  content: "\f1e4";
}
.lm-binoculars:before {
  content: "\f1e5";
}
.lm-plug:before {
  content: "\f1e6";
}
.lm-slideshare:before {
  content: "\f1e7";
}
.lm-twitch:before {
  content: "\f1e8";
}
.lm-yelp:before {
  content: "\f1e9";
}
.lm-newspaper-o:before {
  content: "\f1ea";
}
.lm-wifi:before {
  content: "\f1eb";
}
.lm-calculator:before {
  content: "\f1ec";
}
.lm-paypal:before {
  content: "\f1ed";
}
.lm-google-wallet:before {
  content: "\f1ee";
}
.lm-cc-visa:before {
  content: "\f1f0";
}
.lm-cc-mastercard:before {
  content: "\f1f1";
}
.lm-cc-discover:before {
  content: "\f1f2";
}
.lm-cc-amex:before {
  content: "\f1f3";
}
.lm-cc-paypal:before {
  content: "\f1f4";
}
.lm-cc-stripe:before {
  content: "\f1f5";
}
.lm-bell-slash:before {
  content: "\f1f6";
}
.lm-bell-slash-o:before {
  content: "\f1f7";
}
.lm-trash:before {
  content: "\f1f8";
}
.lm-copyright:before {
  content: "\f1f9";
}
.lm-at:before {
  content: "\f1fa";
}
.lm-eyedropper:before {
  content: "\f1fb";
}
.lm-paint-brush:before {
  content: "\f1fc";
}
.lm-birthday-cake:before {
  content: "\f1fd";
}
.lm-area-chart:before {
  content: "\f1fe";
}
.lm-pie-chart:before {
  content: "\f200";
}
.lm-line-chart:before {
  content: "\f201";
}
.lm-lastfm:before {
  content: "\f202";
}
.lm-lastfm-square:before {
  content: "\f203";
}
.lm-toggle-off:before {
  content: "\f204";
}
.lm-toggle-on:before {
  content: "\f205";
}
.lm-bicycle:before {
  content: "\f206";
}
.lm-bus:before {
  content: "\f207";
}
.lm-ioxhost:before {
  content: "\f208";
}
.lm-angellist:before {
  content: "\f209";
}
.lm-cc:before {
  content: "\f20a";
}
.lm-ils:before {
  content: "\f20b";
}
.lm-shekel:before {
  content: "\f20b";
}
.lm-sheqel:before {
  content: "\f20b";
}
.lm-meanpath:before {
  content: "\f20c";
}
.lm-buysellads:before {
  content: "\f20d";
}
.lm-connectdevelop:before {
  content: "\f20e";
}
.lm-dashcube:before {
  content: "\f210";
}
.lm-forumbee:before {
  content: "\f211";
}
.lm-leanpub:before {
  content: "\f212";
}
.lm-sellsy:before {
  content: "\f213";
}
.lm-shirtsinbulk:before {
  content: "\f214";
}
.lm-simplybuilt:before {
  content: "\f215";
}
.lm-skyatlas:before {
  content: "\f216";
}
.lm-cart-plus:before {
  content: "\f217";
}
.lm-cart-arrow-down:before {
  content: "\f218";
}
.lm-diamond:before {
  content: "\f219";
}
.lm-ship:before {
  content: "\f21a";
}
.lm-user-secret:before {
  content: "\f21b";
}
.lm-motorcycle:before {
  content: "\f21c";
}
.lm-street-view:before {
  content: "\f21d";
}
.lm-heartbeat:before {
  content: "\f21e";
}
.lm-venus:before {
  content: "\f221";
}
.lm-mars:before {
  content: "\f222";
}
.lm-mercury:before {
  content: "\f223";
}
.lm-intersex:before {
  content: "\f224";
}
.lm-transgender:before {
  content: "\f224";
}
.lm-transgender-alt:before {
  content: "\f225";
}
.lm-venus-double:before {
  content: "\f226";
}
.lm-mars-double:before {
  content: "\f227";
}
.lm-venus-mars:before {
  content: "\f228";
}
.lm-mars-stroke:before {
  content: "\f229";
}
.lm-mars-stroke-v:before {
  content: "\f22a";
}
.lm-mars-stroke-h:before {
  content: "\f22b";
}
.lm-neuter:before {
  content: "\f22c";
}
.lm-genderless:before {
  content: "\f22d";
}
.lm-facebook-official:before {
  content: "\f230";
}
.lm-pinterest-p:before {
  content: "\f231";
}
.lm-whatsapp:before {
  content: "\f232";
}
.lm-server:before {
  content: "\f233";
}
.lm-user-plus:before {
  content: "\f234";
}
.lm-user-times:before {
  content: "\f235";
}
.lm-bed:before {
  content: "\f236";
}
.lm-hotel:before {
  content: "\f236";
}
.lm-viacoin:before {
  content: "\f237";
}
.lm-train:before {
  content: "\f238";
}
.lm-subway:before {
  content: "\f239";
}
.lm-medium:before {
  content: "\f23a";
}
.lm-y-combinator:before {
  content: "\f23b";
}
.lm-yc:before {
  content: "\f23b";
}
.lm-optin-monster:before {
  content: "\f23c";
}
.lm-opencart:before {
  content: "\f23d";
}
.lm-expeditedssl:before {
  content: "\f23e";
}
.lm-battery-4:before {
  content: "\f240";
}
.lm-battery-full:before {
  content: "\f240";
}
.lm-battery-3:before {
  content: "\f241";
}
.lm-battery-three-quarters:before {
  content: "\f241";
}
.lm-battery-2:before {
  content: "\f242";
}
.lm-battery-half:before {
  content: "\f242";
}
.lm-battery-1:before {
  content: "\f243";
}
.lm-battery-quarter:before {
  content: "\f243";
}
.lm-battery-0:before {
  content: "\f244";
}
.lm-battery-empty:before {
  content: "\f244";
}
.lm-mouse-pointer:before {
  content: "\f245";
}
.lm-i-cursor:before {
  content: "\f246";
}
.lm-object-group:before {
  content: "\f247";
}
.lm-object-ungroup:before {
  content: "\f248";
}
.lm-sticky-note:before {
  content: "\f249";
}
.lm-sticky-note-o:before {
  content: "\f24a";
}
.lm-cc-jcb:before {
  content: "\f24b";
}
.lm-cc-diners-club:before {
  content: "\f24c";
}
.lm-clone:before {
  content: "\f24d";
}
.lm-balance-scale:before {
  content: "\f24e";
}
.lm-hourglass-o:before {
  content: "\f250";
}
.lm-hourglass-1:before {
  content: "\f251";
}
.lm-hourglass-start:before {
  content: "\f251";
}
.lm-hourglass-2:before {
  content: "\f252";
}
.lm-hourglass-half:before {
  content: "\f252";
}
.lm-hourglass-3:before {
  content: "\f253";
}
.lm-hourglass-end:before {
  content: "\f253";
}
.lm-hourglass:before {
  content: "\f254";
}
.lm-hand-grab-o:before {
  content: "\f255";
}
.lm-hand-rock-o:before {
  content: "\f255";
}
.lm-hand-paper-o:before {
  content: "\f256";
}
.lm-hand-stop-o:before {
  content: "\f256";
}
.lm-hand-scissors-o:before {
  content: "\f257";
}
.lm-hand-lizard-o:before {
  content: "\f258";
}
.lm-hand-spock-o:before {
  content: "\f259";
}
.lm-hand-pointer-o:before {
  content: "\f25a";
}
.lm-hand-peace-o:before {
  content: "\f25b";
}
.lm-trademark:before {
  content: "\f25c";
}
.lm-registered:before {
  content: "\f25d";
}
.lm-creative-commons:before {
  content: "\f25e";
}
.lm-gg:before {
  content: "\f260";
}
.lm-gg-circle:before {
  content: "\f261";
}
.lm-tripadvisor:before {
  content: "\f262";
}
.lm-odnoklassniki:before {
  content: "\f263";
}
.lm-odnoklassniki-square:before {
  content: "\f264";
}
.lm-get-pocket:before {
  content: "\f265";
}
.lm-wikipedia-w:before {
  content: "\f266";
}
.lm-safari:before {
  content: "\f267";
}
.lm-chrome:before {
  content: "\f268";
}
.lm-firefox:before {
  content: "\f269";
}
.lm-opera:before {
  content: "\f26a";
}
.lm-internet-explorer:before {
  content: "\f26b";
}
.lm-television:before {
  content: "\f26c";
}
.lm-tv:before {
  content: "\f26c";
}
.lm-contao:before {
  content: "\f26d";
}
.lm-500px:before {
  content: "\f26e";
}
.lm-amazon:before {
  content: "\f270";
}
.lm-calendar-plus-o:before {
  content: "\f271";
}
.lm-calendar-minus-o:before {
  content: "\f272";
}
.lm-calendar-times-o:before {
  content: "\f273";
}
.lm-calendar-check-o:before {
  content: "\f274";
}
.lm-industry2:before {
  content: "\f275";
}
.lm-map-pin:before {
  content: "\f276";
}
.lm-map-signs:before {
  content: "\f277";
}
.lm-map-o:before {
  content: "\f278";
}
.lm-map:before {
  content: "\f279";
}
.lm-commenting:before {
  content: "\f27a";
}
.lm-commenting-o:before {
  content: "\f27b";
}
.lm-houzz:before {
  content: "\f27c";
}
.lm-vimeo:before {
  content: "\f27d";
}
.lm-black-tie:before {
  content: "\f27e";
}
.lm-fonticons:before {
  content: "\f280";
}
.lm-reddit-alien:before {
  content: "\f281";
}
.lm-edge:before {
  content: "\f282";
}
.lm-credit-card-alt:before {
  content: "\f283";
}
.lm-codiepie:before {
  content: "\f284";
}
.lm-modx:before {
  content: "\f285";
}
.lm-fort-awesome:before {
  content: "\f286";
}
.lm-usb:before {
  content: "\f287";
}
.lm-product-hunt:before {
  content: "\f288";
}
.lm-mixcloud:before {
  content: "\f289";
}
.lm-scribd:before {
  content: "\f28a";
}
.lm-pause-circle:before {
  content: "\f28b";
}
.lm-pause-circle-o:before {
  content: "\f28c";
}
.lm-stop-circle:before {
  content: "\f28d";
}
.lm-stop-circle-o:before {
  content: "\f28e";
}
.lm-shopping-bag:before {
  content: "\f290";
}
.lm-shopping-basket:before {
  content: "\f291";
}
.lm-hashtag:before {
  content: "\f292";
}
.lm-bluetooth:before {
  content: "\f293";
}
.lm-bluetooth-b:before {
  content: "\f294";
}
.lm-percent:before {
  content: "\f295";
}
.lm-conservation:before {
  content: "\e905";
}
.lm-regions:before {
  content: "\e900";
}
.lm-agriculture:before {
  content: "\e901";
}
.lm-renewables:before {
  content: "\e902";
}
.lm-forestry:before {
  content: "\e903";
}
.lm-unknown:before {
  content: "\e904";
}
.lm-industry:before {
  content: "\e906";
}
.lm-land-speculation:before {
  content: "\e907";
}
.lm-tourism:before {
  content: "\e908";
}
.lm-mining:before {
  content: "\e909";
}
