.active .leaflet-buttons-control-button {
  box-shadow: none !important;
}

.landmatrix-custom-circle {
  opacity: 0.9;
  font-size: 12px;
  line-height: 12px;
  border-radius: 50%;
  border: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
  display: flex !important;
  text-align: center;
  justify-content: center;
  align-items: center;

  .landmatrix-custom-circle-hover-text {
    display: none;
    padding: 5px;
  }

  &:hover {
    .landmatrix-custom-circle-text {
      display: none;
    }
    z-index: 900 !important;

    .landmatrix-custom-circle-hover-text {
      display: inline;
    }
  }
}
.vue2leaflet-map {
  .marker-cluster-small {
    background-color: rgba(252, 215, 172, 0.5);
    div {
      background-color: rgba(252, 215, 172, 0.8);
    }
  }

  .marker-cluster-medium {
    background-color: rgba(254, 170, 75, 0.5);
    div {
      background-color: rgba(254, 170, 75, 0.8);
    }
  }

  .marker-cluster-large {
    background-color: rgba(252, 148, 31, 0.8);

    div {
      background-color: rgba(252, 148, 31, 0.8);
    }
  }
}

.deal-popup {
  .deal-summary {
    color: var(--color-lm-dark);
    a {
      color: var(--color-lm-investor);
    }
  }
  a.btn-primary {
    margin-top: 1em;
    color: white;
  }
}

.context-layer-legend-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
