.multiselect {
  min-width: 200px;
  font-size: 1rem !important;
}

.multiselect__single {
  font-size: 1rem !important;
}

.multiselect__tag {
  background: var(--color-lm-orange);
}

.multiselect__option--selected {
  background: rgba(var(--color-lm-orange), 0.1);
}

.multiselect__option--highlight {
  background: var(--color-lm-orange);

  &:after {
    background: var(--color-lm-orange);
  }
}

.multiselect__option--group {
  background: #999 !important;
  color: black !important;
  text-transform: uppercase;
  padding: 12px 6px;
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: var(--color-lm-orange);
}
