$theme-colors: (
  "primary": #fc941f,
  "secondary": #fcfcfc,
  "investor": #44b7b6,
);
$fa-font-path: "/static/assets";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

@import "colors";
@import "headings";
@import "landmatrix_icons";

@import "multiselect";
@import "loadingscreen";
@import "wagtail";

body {
  font-family: "Open Sans", Arial, sans-serif;
}

a {
  color: $lm_orange;

  &:hover {
    color: var(--primary);
  }

  &.lm-underline:hover {
    text-decoration: none;
    color: $lm_dark;
    border-bottom: 3px solid var(--primary);
  }

  &.investor {
    color: $lm_investor;
  }
}

.container {
  max-width: 86vw;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-fluid {
  max-width: 86vw;
  //min-width: 70vw;
  //width: auto;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(252, 148, 31,0.5);
  //opacity: 1; /* Firefox */
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(252, 148, 31,0.5);
}
