$theme-colors: (
  "primary": #fc941f,
  "secondary": #fcfcfc,
);

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

@import "colors";
@import "fonts";
@import "headings";
@import "landmatrix_icons";

@import "multiselect";

body {
  font-family: Open Sans, Arial, sans-serif;
}

a {
  font-family: "Open Sans", sans-serif;
  color: $lm_dark;

  &:hover {
    color: var(--primary);
  }

  &.lm-underline:hover {
    text-decoration: none;
    color: $lm_dark;
    border-bottom: 3px solid var(--primary);
  }
}

.container {
  max-width: 86vw;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-fluid {
  max-width: 86vw;
  //min-width: 70vw;
  //width: auto;
}
