@import "colors";
@import "fonts";
@import "headings";
@import "landmatrix_icons";

body {
  font-family: Open Sans, Arial, sans-serif;
}

a {
  font-family: 'Open Sans', sans-serif;
  color: $lm_dark;

  &:hover {
    color: $lm_orange;
  }

  &.lm-underline:hover {
    text-decoration: none;
    color: $lm_dark;
    border-bottom: 3px solid $lm_orange;
  }
}

h1 {
  position: relative;
  text-align: center;

  &:before {
    background: $lm_grey;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  > span {
    background: white;
    padding: 0 15px;
    position: relative;
    z-index: 1;
  }
}

.container {
  max-width: 86vw;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-fluid {
  max-width: 86vw;
  //min-width: 70vw;
  //width: auto;
}
