$theme-colors: (
  "primary": #fc941f,
  "secondary": #fcfcfc,
  "investor": #44b7b6,
);
$fa-font-path: "/static/assets";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

@import "colors";
@import "headings";
@import "landmatrix_icons";

@import "map";
@import "multiselect";
@import "loadingscreen";
@import "wagtail";

:root {
  --color-lm-orange: $lm_orange;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
}

a {
  color: $lm_orange;

  &:hover {
    color: var(--primary);
  }

  &.lm-underline:hover {
    text-decoration: none;
    color: $lm_dark;
    border-bottom: 3px solid var(--primary);
  }

  &.investor {
    color: $lm_investor;
  }
}

.container {
  max-width: 86vw;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-fluid {
  max-width: 86vw;
  //min-width: 70vw;
  //width: auto;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(252, 148, 31, 0.5);
  //opacity: 1; /* Firefox */
  color: lightgrey;
  font-style: italic;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(252, 148, 31, 0.5);
}

.id-display {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;

  &:hover {
    text-decoration: none;
  }
}

.investor-id-display {
  background-color: $lm_investor;

  &:hover {
    background-color: darken($lm_investor, 10%);
  }
}

.deal-id-display {
  background-color: $lm_orange;

  &:hover {
    background-color: darken($lm_orange, 10%);
  }
}
