/* FONT DEFINITIONS */
@font-face {
    font-family: "MyriadPro";
    src: url('fonts/myriadpro-regular.eot');
    src: url('fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-regular.otf') format('woff'),
         url('fonts/myriadpro-regular.ttf') format('truetype');
}
@font-face {
    font-family: "MyriadPro";
    font-weight: bold;
    src: url('fonts/myriadpro-bold.eot');
    src: url('fonts/myriadpro-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-bold.otf') format('woff'),
         url('fonts/myriadpro-bold.ttf') format('truetype');
}
/* GENERAL */
h1#site-name {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
}
h2,
h2 a,
h2 a:hover {
    font-size: 38px;
    line-height: 46px;
    font-family: "MyriadPro", Arial, Helvetica, sans-serif;
    font-style: bold;
    color: #fff;
    clear: both;
    text-transform: uppercase;
    font-weight: bold;
}
h3,
p.headline,
p.headline a {
    font-size: 20px;
    line-height: 30px;
    font-family: "MyriadPro", Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 9px;
}
h3 {
    font-weight: bold;
}
p.headline strong {
    color: #da8a1c;
}
h4,
h5,
h6,
legend {
    font-size: 14px;
    line-height: 18px;
    font-family: "MyriadPro", Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 32px;
}
.title {
    margin-bottom: 36px;
    clear: both;
}
.title h2 {
    float: left;
}
.title h3 {
    clear: left;
}
ul.actions {
    clear: left;
    float: right;
}
ul.actions li {
    float: left;
    display: block;
}
ul.actions li a {
    margin-left: 18px;
}
p#site-desc,
ul.links li,
ul.links li a {
    font-size: 14px;
    line-height: 18px;
    font-family: "MyriadPro", Arial, Helvetica, sans-serif;
    color: #fff;
}
p#site-desc {
    text-transform: none;
}
p,
ul li,
ol li,
dt,
dd,
dl a,
table th,
table td,
table a,
button,
label {
    font-size: 14px;
    line-height: 18px;
    font-family: "MyriadPro", Arial, Helvetica, sans-serif;
    color: #fff;
}
ul li,
ol li,
dt,
dd,
dl a,
table th,
table td,
table a,
button,
label {
    text-transform: uppercase;
}
.page ul li,
.page table td {
    text-transform: none;
}
a {
    /*font-size: 18px;
    line-height: 24px;*/
    font-family: "MyriadPro", Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
}
a:hover {
    color: #da8a1c;
}

/* SUB-NAVIGATION */
ul.subnav {
    position: fixed;
    width: 960px;
    z-index: 3;
    top: 120px;
}
.overlay ul.subnav {
    z-index: 7;
}
ul.subnav li {
    display: block;
    float: right;
    margin-left: 18px;
}
a.button,
ul.actions li a,
ul.subnav li a,
.select li a {
    background-color: #465159;
    height: 32px;
    padding: 2px 18px 0;
    font-size: 18px;
    line-height: 24px;
    line-height: 34px;
    display: block;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
}
ul.subnav li.select a,
ul.subnav li a {
    border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
}
a.button:hover,
ul.actions li a:hover,
ul.subnav li a:hover,
.select li a:hover {
    color: #fff;
}
a.button.add {
    float: right;
    margin-bottom: 18px;
}
div#sectors a span {
	top: 0;
}
#map-overlay {
	display: none;
}
a.button:hover,
ul.actions li a:hover,
ul.subnav li a:hover {
    background-color: #da8a1c;
}
/* OVERLAY */
.overlay p {
    width: 430px;
}
a.pie-chart.big {
    clear: left;
    font-size: 20px;
    width: 80px;
    height: 80px;
    /*margin: 18px 0 0 95px;*/
}
.title a.pie-chart.big {
    float: right;
}
a.pie-chart.big span {
    width: 80px;
    height: 80px;
    position: relative;
    top: -80px;
    padding: 30px 18px;
    font-size: 18px;
    line-height: 24px;
}
a.pie-chart.huge {
    clear: left;
    font-size: 48px;
    width: 320px;
    height: 320px;
    margin: 10px 0 0 10px;
}
.title a.pie-chart.huge {
    float: right;
}
a.pie-chart.huge span {
    width: 320px;
    height: 320px;
    position: relative;
    top: -320px;
    padding: 110px 40px;
    font-size: 80px;
    line-height: 96px;
}

a.data-availability,
a.pie-chart:hover {
    color: #fff;
}
ul.investment-sectors {
    width: 234px;
}
#deal-list ul.investment-sectors {
    width: 110px;
}
ul.investment-sectors li {
    padding: 0;
    display: block;
    float: left;
}
ul.investment-sectors li{
	padding: 0 19px 19px 0;
}
ul.investment-sectors li a {
    margin: 0;
}
.overlay p,
.overlay ul li {
    line-height: 27px;
}
#map-zoom-out {
    display: none;
}
/* SELECTS */
.select {
    position: relative;
}
.select ul {
    display: none;
    position: absolute;
    overflow: hidden;
    padding-top: 39px;
    top: 0;
    z-index: 1;
}

.select ul li:first-child a,
.select ul li:first-child span {
    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
}
.select ul li:first-child ul li a,
.select ul ul li:first-child a {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.select ul ul {
    display: block;
    position: inherit;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    overflow: visible;
    padding-top: 0;
}
a.back {
    font-size: 14px;
    line-height: 18px;
	background-image: url(img/select-arrow.png);
	background-repeat: no-repeat;
	background-position: left -112px;
	padding-left: 25px;
	display: block;
}
.select a.current,
.bg-arrow a {
	background-image: url(img/select-arrow.png);
	background-repeat: no-repeat;
}
.bg-arrow.left a {
	background-position: left -100px;
	padding-left: 25px;
}
.bg-arrow.right a {
	background-position: right -33px;
	padding-right: 25px;
}
.subnav .close a {
	background-image: url(img/select-arrow.png);
	background-repeat: no-repeat;
	background-position: left -136px;
	padding-left: 25px;
}
.select a.current {
    background-repeat: no-repeat;
 	background-position: right 0px;
	background-color: #da8a1c;
    height: 32px;
    padding: 2px 26px 0 18px;
    line-height: 34px;
    display: block;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none;
}
.select.investor a.current,
.select.investor ul li.current a,
.select ul li.investor:hover a {
    background-color: #58b1bf;
}
.select:hover ul {
    display: block;
}
.select ul li {
    float: none;
    margin-left: 0;
}
.select ul li a,
.subnav .select ul li a {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.select ul li.current a,
.select ul li:hover a {
    background: #da8a1c;
}
.select ul li.current li a,
.select ul li:hover li a {
    background-color: #465159;
}
.select ul li.current li.current a,
.select ul li li:hover a {
    background: #da8a1c;
}
.select ul span {
    background: #465159;
    display: block;
    padding: 9px 18px 0;
    color: #89959e;
}
.select ul li.first a {
    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
}
.select ul li.last a {
    border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
}
/* DATA TABLE */
table {
    clear: both;
}
table thead tr.even th,
table tbody tr.even td {
    background: #89959e;
/*    border: 2px solid #89959E; */
}
table tbody td {
    padding: 36px 9px 26px;
}
table thead th.number,
table tbody td.number {
    /*text-align: right;*/
    font-weight: bold;
}
table thead th {
    font-weight: bold;
    padding: 9px 9px;
    background: #89959e;
}
table thead a {
    background: url(img/sort-icons.png) no-repeat right -8px;
    padding-right: 18px;
}
table thead a.pie-chart {
    background: none;
    padding-right: 0;
}
table thead a.asc,
table thead a.desc:hover,
table thead a:hover {
    background-position: right -44px;
    color: #da8a1c;
}
table thead a.desc,
table thead a.asc:hover {
    background-position: right -80px;
    color: #da8a1c;
}
/* PIE CHARTS */
.pie-chart {
    display: block;
    width: 42px;
    height: 42px;
    float: left;
    margin: 0 9px 9px 0;
}
.pie-chart span,
.circle span {
    display: block;
    width: 42px;
    height: 42px;
    text-indent: -9999px;
    position: relative;
    top: -42px;
    font-size: 14px;
    line-height: 18px;
}
.title a.pie-chart {
    margin-left: 18px;
}
a.pie-chart {
	text-decoration: none;
}
.pie-chart span.caption {
	width: 110px;
	text-align: center;
	font-size: 16px;
	padding: 5px;
	position: relative;
	top: -90px;
	text-indent: 0;
}
.pie-chart.full span,
.data-availability.full span {
    position: inherit;
    padding: 12px 2px 12px 3px;
    display: block;
}
.pie-chart.full:hover span,
.data-availability.full:hover span {
    color: #fff;
}
.pie-chart span.caption em,
.data-availability span.caption em {
    font-size: 14px;
}
.pie-chart.full,
.data-availability.full,
ul.investment-sectors a {
    background: url(img/sector-icons.png) no-repeat -420px 0;
    display: block;
    width: 42px;
    height: 42px;
    margin: 0 9px 9px 0;
}
ul.investment-sectors a span {
    display: block;
    width: 42px;
    height: 42px;
    text-indent: -9999px;
}
ul.investment-sectors a.none {
    background-position: -600px;
}

a.sector-agriculture span,
a.sector-c span,
a.sector-forestry span,
a.sector-f span,
a.sector-mining span,
a.sector-tourism span,
a.sector-industry span,
a.sector-other span,
a.sector-k span,
a.sector-l span {
    background-image: url(img/sector-icons.png);
 	background-repeat: no-repeat;
}
a.sector-agriculture span {
    background-position: -42px 0;
}
a.sector-c span {
    background-position: -84px 0;
}
a.sector-forestry span {
    background-position: -168px 0;
}
a.sector-f span {
    background-position: -210px 0;
}
a.sector-mining span {
    background-position: -252px 0;
}
a.sector-tourism span {
    background-position: -294px 0;
}
a.sector-industry span {
    background-position: -336px 0;
}
a.sector-other span {
    background-position: -378px 0;
}
a.data-availability {
    text-decoration: none;
    font-weight: bold;
}
a.data-availability span {
    text-indent: 0;
    padding: 12px 8px;
}
/* COMMENTS */
dl dt {
    float: left;
    width: 240px;
    display: block;
    margin-bottom: 54px;
}
dl dd {
    float: left;
    width: 600px;
    display: block;
    margin-bottom: 54px;
    text-transform: none;
}
/* FORMS */
form input.text,
form input.submit {
    background: transparent;
    color: #fff;
    height: 32px;
    line-height: 34px;
    display: block;
    border: none;
    font-size: 18px;
    font-family: "MyriadPro", Arial, Helvetica, sans-serif;
    border-bottom: 2px dotted #89959E;
    float: left;
    margin-bottom: 18px;
    width: 320px;
    font-weight: normal;
}
#comment-form input.text {
    margin-bottom: 0;
}
#comment-form input.submit {
    float: right;
}
form select {
    background: transparent;
    color: #fff;
    height: 32px;
    line-height: 18px;
    display: block;
    border: none;
    font-size: 14px;
    font-family: "MyriadPro", Arial, Helvetica, sans-serif;
    border: 2px dotted #89959E;
    float: left;
    font-weight: normal;
    padding: 6px 0;
}
form textarea {
    background: transparent;
    color: #fff;
    line-height: 34px;
    display: block;
    border: none;
    font-size: 18px;
    font-family: "MyriadPro", Arial, Helvetica, sans-serif;
    border: 2px dotted #89959E;
    float: left;
    margin-bottom: 18px;
    width: 316px;
}
form input:hover,
form input:focus {
    border-bottom: 2px dotted #fff;
}
form textarea:hover,
form textarea:focus {
    border: 2px dotted #fff;
}
form .field {
    clear: left;
    margin-bottom: 18px;
}
form label {
    display: block;
    width: 120px;
    float: left;
    margin-top: 21px;
}
form .msg {
    padding-top: 32px;
}
form .msg label {
    margin-top: 0;
}
form input.submit {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #da8a1c;
    border: none;
    text-transform: uppercase;
    font-weight: normal;
}
form input.submit:focus,
form input.submit:hover {
    border-bottom: none;
}
.title input.submit {
    float: right;
    margin-right: 18px;
    padding: 0 18px;
    width: auto;
    margin-bottom: 0;
}
.hectares,
.hectares select {
    width: 83px;
}
.deals,
.deals select {
    width: 59px;
}
.availability,
.availability select {
    width: 85px;
}
form .years label {
    width: auto;
    margin-top: 8px;
    padding: 0 9px;
}
form .years {
    float: right;
    padding-bottom: 9px;
}
/* TOOLTIP */
#tooltip-container {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
#tooltip-container span {
	background-image: url(img/tooltip.png);
	background-repeat: none;
	display: block;
	width: 170px;
	padding: 0 10px;
	text-align: center;
	font-family: "MyriadPro", Arial, Helvetica, sans-serif;
	color: #fff;
	text-transform: uppercase;
}
#tooltip-container span.top {
	height: 16px;
	background-position: -190px 0;
}
#tooltip-container span.content {
	background-position: 0px 0;
	padding-top: 5px;
	background-repeat: repeat-y;
}
#tooltip-container span.content strong {
    font-weight: bold;
}
#tooltip-container span.bottom {
	height: 11px;
	background-position: -380px 0;
}
#tooltip-container.investor span.top {
	background-position: -760px 0;
}
#tooltip-container.investor span.content {
	background-position: -570px 0;
}
#tooltip-container.investor span.bottom {
	background-position: -950px 0;
}
#tooltip-container a {
    font-size: 14px;
    line-height: 18px;
}
#map-overlay .circle {
	background: url(img/sector-icons.png) no-repeat -420px 0;
	width: 42px;
	height: 42px;
	position: absolute;
}
#map {
    position: relative;
}
/* LEGEND */
div#map ul.legend,
div#holder div.legend {
     position: absolute;
     top: -9px;
}
ul.legend li {
    clear: left;
    margin-bottom: 5px;
}
ul.legend li span.legend-item {
    display: block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    float: left;
    margin-right: 20px;
}
ul.legend li a {
    font-size: 14px;
    line-height: 18px;
}
.investor-target div.current-country {
    top: 320px;
    margin-left: 0;
    width: 110px;
    text-transform: uppercase;
}
div.current-country {
    /* absolute as position: relative will break click events */
    position: absolute;
    top: 750px;
    margin-left: 320px;
    width: 320px;
    border: 2px solid #fff;
    padding: 9px;
    overflow: hidden;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #da8a1c;
    text-transform: uppercase;
}
div.top-10-countries {
    /* absolute as position: relative will break click events */
    position: absolute;
    top: 750px;
    margin-left: 320px;
    width: 320px;
    border: 2px solid #fff;
    padding: 9px;
    overflow: hidden;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #58b1bf;
    text-transform: uppercase;
}

div.current-country.investor {
    background-color: #58b1bf;
}
div.current-country a:hover {
    color: #fff;
}
div.current-country h3 {
    font-size: 14px;
    line-height: 18px;
}
span.lower {
    text-transform: none;
}
/* SUMMARY */
.summary {
    margin-bottom: 32px;
}
.summary table {
    float: left;
    width: 400px;
}
.summary img {
    width: 84px;
    float: left;
    margin-right: 120px;
}
.summary table tbody td {
    padding: 0 18px 0 0;
}
.summary a.pie-chart {
    float: left;
}
/* FILTERS */
#filters {
    position: relative;
    top: 10px;
}
#filters th {
    vertical-align: top;
    background: none;
    border: 2px dotted #89959e;
    border-top: none;
}
#filters ul {
    display: block;
}
#filters ul li {
    font-weight: normal;
    padding-bottom: 8px;
}
#filters ul li input {
    width: 20px;
    height: auto;
    clear: left;
    display: inline;
}
#filters th.number input,
#filters th.number select,
#filters th.number label {
    float: right;
    clear: both;
}
#filters label {
    margin: 0;
    width: auto;
    display: inline;
    float: none;
    font-weight: normal;
}
#filters input {
    float: none;
    font-weight: normal;
}
#filters input.text {
    width: 40px;
}
#filters input.number,
#filters select.number {
    text-align: right;
}
#filters .actions {
    height: auto;
    overflow-y: hidden;
    margin: 0 0 9px;
    float: none;
}
#filters .actions li {
    display: block;
    float: left;
    margin-left: 0;
}
#filters .actions li a,
#filters a {
    background: none;
    padding: 0;
    display: inline;
    height: inherit;
    line-height: inherit;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
/* START */
div.cols-2 {
    clear: left;
}
div.cols-3 {
    clear: left;
    padding-top: 36px;
}
div.cols-2 .col-1 {
    width: 444px;
    float: left;
    margin-right: 72px;
}
div.cols-2 .col-2 {
    width: 444px;
    float: left;
}
div.cols-3 .col-1,
div.cols-3 .col-2 {
    width: 296px;
    float: left;
    margin-right: 36px;
}
div.cols-3 .col-3 {
    width: 296px;
    float: left;
}
div.cols-3 a img {
    border: 2px solid #fff;
}
div.cols-3 a:hover img {
    border-color: #DA8A1C;
}
div.cols-3 img,
div.cols-3 p {
    margin-bottom: 36px;
}
img.infographic {
    max-width: 960px;
}
table#deal-list,
table#summary {
    margin-bottom: 36px;
    width: 960px;
}
table#deal-list tr,
table#summary tr {
	width: 960px;
}
table#deal-list th.deal-id,
table#deal-list td.deal-id {
    width: 30px;
}
table#deal-list th.investor,
table#deal-list td.investor {
    width: 100px;
}
table#deal-list th.target-country,
table#deal-list td.target-country,
table#deal-list th.investor-country,
table#deal-list td.investor-country {
    width: 110px;
}
table#deal-list th.target_region,
table#deal-list td.target_region,
table#deal-list th.investor_region,
table#deal-list td.investor_region,
table#deal-list th.target-region,
table#deal-list td.target-region,
table#deal-list th.investor-region,
table#deal-list td.investor-region {
    width: 100px;
}
table#deal-list th.investment-sectors,
table#deal-list td.investment-sectors {
    width: 110px;
}
table#deal-list th.crops,
table#deal-list td.crops {
    width: 80px;
}
table#deal-list th.hectares,
table#deal-list td.hectares {
    width: 100px;
}
table#deal-list th.year,
table#deal-list td.year {
    width: 88px;
}
table#deal-list th.comments,
table#deal-list td.comments {
    width: 80px;
}
div.legend {
    position: relative;
}
p.help {
    width: 430px;
    margin-right: 100px;
    margin-bottom: 200px;
    display: block;
    float: left;
}
dl.timeline {
    display: block;
    float: left;
    border: 2px solid #fff;
    padding: 9px;
    width: 408px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
dl.timeline dt,
dl.timeline dd {
	display: none;
}
.timeline li {
	margin: 18px 0;
}
.timeline li ul li {
	margin: 0;
}
.timeline dt {
	font-weight: bold;
}
.timeline dt,
.timeline dd {
    display: inline;
	margin-bottom: 0;
	width: auto;
	float: none;
}
/* PAGES */
.page p {
    padding-bottom: 18px;
}
.page ul li {
    padding-left: 36px;
    background: url(img/list-icon.png) no-repeat 8px 8px;
    padding-bottom: 18px;

}
.page ul.subnav li {
    padding: 0;
    background: none;
}
.page table td {
    vertical-align: top;
}
.page strong {
    font-weight: bold;
}
/* LOADER */
.loader {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: url(img/loader.gif) no-repeat;
    margin-top: 200px;
}
/* IE 6 message */
#upgrade-browser-overlay {
    padding: 150px 0 0 300px;
}
#upgrade-browser-overlay ul {
    padding: 5px;
}
/* Data availability */
a.horizontal-line-chart {
    padding: 6px 20px 6px 0;
}
ul.data-availability li {
    margin-bottom: 9px;
}
ul.data-availability li h3 {
    margin-bottom: 0;
    word-wrap: none;
}
ul.data-availability li a.horizontal-line-chart:last-child {
    margin-left: 51px;
}
.legend strong {
    font-weight: bold;
}
/* Target countries */
.target-countries dt {
    width: 180px;
    float: left;
    display: block;
    clear: left;
}
.target-countries dd {
    width: 300px;
    float: left;
    display: block;
}
ul.hectares {
    width: auto;
}
ul.hectares li {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 10px 10px 0;
    background-color: #DA8A1C;
    border: 2px solid #DA8A1C;
}
ul.hectares li.other {
    background-color: transparent;
}
/* AGRICULTURAL PRODUCES */
div.agricultural-produce {
    width: 220px;
    float: left;
    margin-bottom: 20px;
}
div.agricultural-produce .legend {
    width: 100px;
    float: left;
}
div.agricultural-produce.left-col {
    width: 440px;
}

/* GET THE DETAIL */
#get-the-detail .actions li {
    float: none;
    margin: 0 0 5px 0;
}
.rules {
    margin-bottom: 18px;
    overflow: hidden;
}
.rules button {
  display: block;
  background-color: #476746;
  /*border: 2px solid #465159;*/
  border: none;
  width: 53px;
  border-radius: 5px;
  line-height: 18px;
  padding: 6px;
  color: white;
  float: right;
}
.rules button:hover {
  background: #3c933c;
}
.rules a.reset-filter {
  display: block;
  float: right;
  width: 53px;
  padding: 6px;
  border-radius: 5px;
  background: #633b28;
  color: white;
  margin-right: 10px;
}
.rules a.reset-filter:hover {
  background: #aa4040;
  text-decoration: none;
}
ul.form.empty {
    display: none;
}
.form.condition .add-ybd {
    display: none;
}
.form.condition {
    clear: both;
    width: 100%;
    margin-bottom: 48px ;
}
.form.condition label {
    display: none;
}
.form.condition li {
    float: left;
    clear: none;
    margin-right: 10px;
}
.form.condition select {
    height: auto;
}
.form.condition label {
    width: auto;
    margin-top: 0;
}
.form .field {
    clear: none;
}
/*a.add-row:after {
  padding-top: 20px;
  border-top: 2px solid #465159;
}*/
a.add-row {
  clear: both;
  float: left;
  display: block;
  padding: 6px;
  border-radius: 5px;
  background: #465159;
  color: white;
  margin: 0 10px 0 0;
  text-decoration: none;
}
a.add-row:hover {
  background: #da8a1c;
  text-decoration: none;
}
a.delete-row {
  display: block;
  width: 53px;
  padding: 6px;
  border-radius: 5px;
  background: #633b28;
  color: white;
}
a.delete-row:hover {
  background: #aa4040;
  text-decoration: none;
}
/* SUB-NAVIGATION  WIZARD*/
ul.subnav-wizard {
    position: fixed;
    width: 200px;
    z-index: 3;
    top: 180px;
    margin-left: 760px;
}
.overlay ul.subnav-wizard {
    z-index: 7;
}
ul.subnav-wizard li {
    display: block;
    float: right;
    margin-left: 18px;
}
ul.subnav-wizard li a,
ul.subnav-wizard li button,
ul.subnav-wizard li li button{
    background-color: #465159;
    height: 32px;
    padding: 2px 18px 0;
    font-size: 18px;
    line-height: 24px;
    line-height: 34px;
    display: block;
    border: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none;
}
ul.subnav-wizard li li {
    display: block;
    float: none;
}
ul.subnav-wizard li.select a,
ul.subnav-wizard li a,
ul.subnav-wizard li button {
    border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    margin-bottom: 4px;
    white-space: nowrap;
}
ul.subnav-wizard li.current button,
ul.subnav-wizard li a:hover,
ul.subnav-wizard li button:hover {
    color: #fff;
}
ul.subnav-wizard li.current button,
ul.subnav-wizard li button:hover {
    background-color: #da8a1c;
}
/* WIZARD FORM STYLING*/
ul.form {
  margin: 0;
  width: 660px;
  padding-bottom: 50px;
}
ul.form li.field {
    float: left;
    clear: both;
    display: block;
}
ul.form {
  margin: 0;
  width: 660px;
  padding-bottom: 50px;
}
span.input-append {
  max-width: 400px;
}
.input-append option {
  max-width: 400px;
}
li.field * {
  float: left;
}
li.field div#map_canvas * {
  clear: both;
}
li.field label {
  margin-top: 0;
  display: block;
  width: 230px;
  text-align: right;
  padding: 6px 20px 6px 0;
  background: #465159;
  border-radius: 5px 0px 0px 5px;
}
li span ul * {
  clear: both;
}
li.field span ul li label {
  background: none;
  font-weight: normal;
  text-align: left;
  white-space: normal;
}
/*
input[type=number] {
    width: 280px;
}
*/
input[type=checkbox],
input[type=radio] {
  margin: 0 5px 0 0;
}
ul.form li span input[type=checkbox] {
  padding-right: 20px;
}
span.helptext {
  display: block;
  font-size: 14px;
  padding: 6px 10px;
  min-width: 30px;
  color: #da8a1c;
  background: #465159;
  border-radius: 0px 5px 5px 0px;
}
span.input-append textarea {
  width: 386px;
}
span.input-append > ul {
  border: 2px solid #465159;
  border-radius: 0px 5px 5px 5px;
  margin: 0;
  padding: 0 25px;
  width: 346px;
}
span.input-append ul li label {
  margin-bottom: 0;
}
span.input-append ul li ul li label {
  padding: 0;
}
li.on_the_lease span.input-append input[type=checkbox],
li.off_the_lease span.input-append input[type=checkbox] {
  margin: 6px 15px;
  font-size: 24px;
}
li.crops span.input-append ul,
li.animals span.input-append ul,
li.minerals span.input-append ul,
body#browse ul.column li span.input-append ul {
  display: block;
  max-height: 180px;
  overflow-y: scroll;
}
#map_canvas {
  position: relative;
  left: -250px;
  top: 20px;
}
ul.errorlist {
  position: absolute;
  margin-left: 505px;
}
a.add-row{
  display: none;
}
a.delete-row {
  display: none;
}
