html,
body {
    background-color: #61727d;
    height:100%;
	color: #ffffff;
}
/* ZONES */
div#header-container {
    width: 100%;
    height: 84px;
	position: fixed;
	z-index: 9;
    padding: 18px 0;
    background-color: #465159;
}
div#header {
    height: 108px;
    position: relative;
}
div#header,
div#container {
    width: 960px;
    margin: 0 auto;
}
div#container {
    padding: 172px 0 36px;
}
/* HEADER */
a#logo {
    display: block;
    width: 244px;
    height: 85px;
    background: url(img/logo.png) no-repeat;
    float: left;
}
p#site-desc {
    position: absolute;
    bottom: 30px;
    left: 89px;
}
div#header ul.links {
    position: absolute;
    bottom: 30px;
    left: 400px;
}
/* NAVIGATION */
ul#nav {
    float: right;
    margin-top: 21px;
}
ul#nav li {
    display: block;
    float: left;
    width: 64px;
    height: 64px;
    margin-left: 40px;
}
ul#nav li:first-child {
    margin-left: 0;
}
ul#nav li a {
    display: block;
    width: 55px;
    height: 59px;
    background: url(img/nav-icons.png) no-repeat;
    text-indent: -9999px;
}
ul#nav li a.get-the-idea {
    background-position: 0 -60px;
}
ul#nav li a.get-the-idea:hover,
ul#nav li.current a.get-the-idea {
    background-position: 0 0;
}
ul#nav li a.get-the-picture {
    background-position: 0 -180px;
}
ul#nav li a.get-the-picture:hover,
ul#nav li.current a.get-the-picture {
    background-position: 0 -120px;
}
ul#nav li a.get-the-detail {
    background-position: 0 -300px;
}
ul#nav li a.get-the-detail:hover,
ul#nav li.current a.get-the-detail {
    background-position: 0 -240px;
}
a.get-the-idea,
a.get-the-picture,
a.get-the-detail {
    display: block;
    background: url(img/nav-icons.png) no-repeat;
    padding-left: 64px;
    height: 60px;
    line-height: 60px;
}
a.get-the-idea {
    background-position: 0 -60px;
}
a.get-the-idea:hover {
    background-position: 0 0;
}
a.get-the-picture {
    background-position: 0 -180px;
}
a.get-the-picture:hover {
    background-position: 0 -120px;
}
a.get-the-detail {
    background-position: 0 -300px;
}
a.get-the-detail:hover {
    background-position: 0 -240px;
}
/* CLEARFIX */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
#map {
	width: 960px;
	height: 560px;
	margin: 0 auto;
	margin-top: 20px;
}
#map.zoomed svg,
#map.zoomed div {
    border: 2px solid #fff;
}
#overlay-container {
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.9;
	z-index: 5;
	top: 0px;
	display: none;
	position: fixed;
	overflow: hidden;
}
.overlay {
	width: 960px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	z-index: 0;
	margin-left: -480px;
}
/* RECORD */
.left-col {
    width: 480px;
    float: left;
    margin-right: 40px;
    margin-bottom: 32px;
    clear: left;
}
.right-col {
    width: 440px;
    float: left;
}

/* Data availability */
#overall-availability {
    width: 360px;
    float: left;
    margin-right: 40px;
    margin-bottom: 32px;
    clear: left;
}

#top-5-countries, #flop-5-countries {
    width: 240px;
    float: left;
    margin-right: 20px;
    margin-bottom: 32px;
}
