{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>LAND MATRIX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% render_bundle 'main' 'css' %}
</head>

<body>
<div id="app"></div>

<script>
  const REGIONS = JSON.parse("{{ regions|escapejs }}");
  const COUNTRIES = JSON.parse("{{ countries|escapejs }}");
  const MAP_DESC = "{{ map_introduction|escapejs }}";
</script>
{% render_bundle 'main' 'js' %}

</body>
</html>
