{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load static i18n filter_tags wagtailcore_tags custom_tags landmatrix_tags message_tags %}

<div class="container">
    {% block navutils %}
      {% block messages %}
        {% custom_messages as custommessages %}
        {% for message in custommessages %}
          <p class="alert{% if message.level %} alert-{% if message.level == "error" %}danger{% else %}{{ message.level }}{% endif %}{% else %} alert-info{% endif %}">
            {% if message.title %}<strong>{{ message.title }}</strong> {% endif %}{{ message.text|safe|urlize }}
          </p>
        {% endfor %}
        {% for message in messages %}
          <p class="alert{% if message.tags %} alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% else %} alert-info{% endif %}">
            {{ message|safe }}
          </p>
        {% endfor %}
        {% block extra_messages %}{% endblock %}
      {% endblock %}

      <div class="row">
        <div class="col-md-4">
          {% block breadcrumb %}
            <ul class="breadcrumb">
              <li><a href="/">{% trans 'Home' %}</a></li>
              {% block breadcrumb_inner %}
              {% endblock %}
            </ul>
          {% endblock %}
        </div>
        <div class="col-md-6 col-md-offset-2">

          {% block subnav %}
            <ul class="subnav nav nav-pills pull-right">
              {% block subnav_inner %}
                <li role="presentation"><a href="{% url 'map' %}{% list_params %}">
                  <i class="fa fa-map-marker"></i> {% trans "Map" %}
                </a></li>
                <li role="presentation"><a href="{% url 'data' %}{% list_params %}">
                  <i class="fa fa-table"></i> {% trans "Data" %}
                </a></li>
                <li role="presentation"><a href="{% url 'charts' %}{% list_params %}">
                  <i class="fa fa-bar-chart"></i> {% trans "Charts" %}
                </a></li>
                <li class="divider"></li>
                <li role="presentation">
                  {% include "export.html" %}
                </li>
              {% endblock %}
              <li role="presentation">
                {% include "share.html" %}
              </li>
            </ul>
          {% endblock %}
        </div>
      </div>

    {% endblock %}

    <noscript>
      <div id="javascriptwarning" class="alert alert-danger" role="alert">Please <a href="http://www.enable-javascript.com/" target="_blank">enable
        Javascript</a> to use all features of the Landmatrix!
      </div>
    </noscript>

    {% block title_section %}
    {% endblock %}

    {% block content %}  <div id="app"></div>{% endblock %}

  </div>


{% block javascript %}
  {% render_bundle 'main' 'js' %}
{% endblock %}
