{% extends "chart/base_chart.html" %}{% load humanize %}

{% block before %}
    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
            {% for item in items %}
                <li{% if active_item.name|slugify == item.name|slugify %} class="active"{% endif %}><a href="?item={{ item.name|slugify }}">{{ item.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block data_availability %}{% endblock %}

{% block legend %}
    <ul class="legend media-list">
        <li><i class="icon icon-none" style="background-color: #3ab7b6;"></i> {{ active_item.name }} ({{ active_item.hectares }} ha)</li>
        <li> </li>
    </ul>
{% endblock %}

{% block data %}
<div class="row">
    <div class="span4">
    </div>
    <div class="span4 center">
        <h3 class="count"> {% if count < 10 %}{{ count|floatformat:"0"|intcomma }}{% else %}{{ count|floatformat:"2"|intcomma }}{% endif %}</h3>
        <h3>x</h3>
        <img src="{{ active_item.image.url }}">
    </div>
    <div class="span4">
    </div>
</div>
{% endblock %}

{% block after %}
{{ block.super }}
<script type="text/javascript">
function draw(callback) {
    $(".table").empty();
    var query_params = get_query_params(get_base_filter(), "");
    var json_query = "/api/hectares.json" + query_params;
    jQuery.getJSON(json_query, function(data) {
        var count = data["hectares"] / {{ active_item.hectares|escapejs }};
        var deals = data["deals"];
        var hectares = data["hectares"];
        $(".hectares").empty().append(numberWithCommas(hectares));
        if (count < 10) {
            $(".count").empty().append(numberWithCommas(parseFloat(count.toFixed(1))));
        } else {
            $(".count").empty().append(numberWithCommas(Math.round(count)));
        }
        callback();
    });
};
$(document).ready(function () {
    draw(function() {
});
});
</script>
{% endblock %}
