{% extends "charts/overview/base.html" %}
{% load i18n wagtailcore_tags %}

{% block description %}
<p>
	{%  trans 'Deals divided by negotiation status. Since this chart shows all deals in the database, there is no option to select concluded, intended or failed deals separately.' %}<a href="{% slugurl 'about' %}#how-does-the-global-observatory-deal-with-different-stages-of-negotiation-and-implementation" class="toggle-tooltip left noul" title="{% trans 'The LM has two key variables to describe the status of a land deal: the negotiation status and the implementation status. For further information press the question mark.' %}"><i class="lm lm-question-circle"> </i></a>
</p>
{{ block.super }}
{% endblock %}

{% block variable %}negotiation_status{% endblock %}