{% load custom_tags i18n %}
{% for field in form %}
{% if not exclude or field.name != exclude %}
{% if not field.is_hidden %}
<div class="control-group row {{ field.name }}{% if field.errors %} with-error{% endif %}">
    {% if field.field.is_title %}
    <div class="control-label col-sm-12">
        <h3>
            {{ field.field.initial }}
            {% if form_count %} 
            <small>#{{ form_count }}</small>
            <a class="btn pull-right add-form">
                <i class="fa fa-plus"></i>
                {% trans "Add another" %} {{ field.field.initial|lower }}
            </a>
            <a class="btn pull-right remove-form">
                <i class="fa fa-minus"></i>
                {% trans "Remove" %}
            </a>
            {% endif %}
        </h3>
    </div>
    {% else %}
    <div class="control-label col-md-3">
        {{ field.label_tag }}{% if field.field.required %}<strong> {% if mandatory_label %}{{ mandatory_label }}{% else %}({% trans "mandatory" %}</strong>){% endif %}{% endif %}
    </div>
    <div class="controls col-md-9">
        {% if field.help_text %}
        <div class="input-group">
            {{ field|add_class:'form-control' }}
            <div class="input-group-addon">{{ field.help_text }}</div>
        </div>
        {% else %}
            {{ field|add_class:'form-control' }}
        {% endif %}
        {{ field.errors }}
    </div>
    {% endif %}
</div>
{% else %}
{{ field }}
{% endif %}
{% endif %}
{% endfor %}