{% extends "grid/global_base.html" %}
{% load i18n static custom_tags %}

{% block head %}
{{ block.super }}
    <script src="{% static "js/editor/add_change.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/vendor/d3.v4.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/editor/stakeholder.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block header %}
{% if not request.GET.popup %}{{ block.super }}{% endif %}
{% endblock %}
{% block footer %}
{% if not request.GET.popup %}{{ block.super }}{% endif %}
{% endblock %}
{% block messages %}
{% if not request.GET.popup %}{{ block.super }}{% endif %}
{% if investor.fk_status_id == 1 or investor.fk_status_id == 6 %}
<p class="alert alert-danger">{% trans "This investor version is pending." %}</p>
{% elif investor.fk_status_id == 4 %}
<p class="alert alert-danger">{% trans "This investor has been deleted. It is not visible for public users." %}</p>
{% elif investor.fk_status_id == 5 %}
<p class="alert alert-danger">{% trans "This investor version has been rejected. It is not visible for public users." %}</p>
{% endif %}
{% endblock %}
{% block breadcrumb %}
{% if not request.GET.popup %}{{ block.super }}{% endif %}
{% endblock %}
{% block subnav %}
{% if not request.GET.popup %}{{ block.super }}{% endif %}
{% endblock %}
{% block page_title %}
    {% if investor %}{{ investor.name }} (#{{ investor.investor_identifier }})
    {% else %}{% trans "Add investor" %}{% endif %}
{% endblock %}
{% block title %}
    {% if investor %}{{ investor.name }} <small>(#{{ investor.investor_identifier }})</small>
    {% else %}{% trans "Add investor" %}{% endif %}
{% endblock %}

{% block content %}
<div class="popup">
    <form action="./?{{ request.GET.urlencode }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="panel-group" id="accordion">
            <div class="panel panel-default{% if form.errors %} with-error{% endif %}">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#general_info_body"
                       id="general_info">
                        <h5 class="panel-title">
                            {% trans "General info" %}
                            <span id="collapsebtn_genereal_info"
                                  class="lm-chevron-circle-down pull-right mgrey1"></span>
                        </h5>
                    </a>
                </div>

                <div id="general_info_body"
                     class="panel-collapse collapse{% if not request.POST %} in{% endif %}{% if form.errors %} in with-error{% endif %}">
                    <div class="panel-body">
                    {% include "grid/form.html" with exclude='action_comment' %}
                    {% if investor %}
                        {% include "grid/includes/investor_network.html" with investor_id=investor.investor_identifier %}
                    {% endif %}
                    </div>
                </div>
            </div>

            <div class="panel panel-default{% for form in parent_companies.forms %}{% if form.errors %} with-error{% endif %}{% endfor %}">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#parent_companies_body"
                       id="parent_companies">
                        <h5 class="panel-title">
                            {% trans "Parent companies" %}
                            <span id="collapsebtn_stakeholders"
                                  class="lm-chevron-circle-down pull-right mgrey1"></span>
                        </h5>
                    </a>
                </div>

                <div id="parent_companies_body"
                     class="panel-collapse collapse{% for form in parent_companies.forms %}{% if form.errors %} in{% endif %}{% endfor %}">
                    <div class="panel-body">
                        {{ parent_companies.management_form }}
                        {% for form in parent_companies.forms %}
                            <div class="dynamic-form {{ parent_companies.form_title|slugify }}-form{% if form.errors %} with-error{% endif %}">
                            {% include "grid/form.html" with form_count=forloop.counter form=form %}
                            </div>
                        {% endfor %}
                        <script type="text/javascript">
                        $(document).ready(function () {
                            // Init dynamic forms for stakeholder popup
                            $('.{{ parent_companies.form_title|slugify }}-form').formset({
                                addText: '<i class="fa fa-plus"></i> {% trans "Add another parent company" %}',
                                addCssClass: 'formset-add-form hidden',
                                deleteText: '<i class="fa fa-minus"></i> {% trans "Remove" %}',
                                deleteCssClass: 'formset-remove-form hidden',
                                prefix: 'parent-company-form',
                                formCssClass: '{{ parent_companies.form_title|slugify }}-form',
                                //extraClasses: ['dynamic-form'],
                                added: stakeholderAdded,
                                removed: stakeholderRemoved,
                            }).each(function () { initInvestorForm($(this)); });
                        });
                        </script>
                    </div>
                </div>
            </div>

            <div class="panel panel-default{% for form in parent_investors.forms %}{% if form.errors %} with-error{% endif %}{% endfor %}">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#parent_investors_body"
                       id="parent_investors">
                        <h5 class="panel-title">
                            {% trans "Tertiary investors/lenders" %}
                            <span id="collapsebtn_investors"
                                  class="lm-chevron-circle-down pull-right mgrey1"></span>
                        </h5>
                    </a>
                </div>

                <div id="parent_investors_body"
                     class="panel-collapse collapse{% for form in parent_investors.forms %}{% if form.errors %} in{% endif %}{% endfor %}">
                    <div class="panel-body">
                        {{ parent_investors.management_form }}
                        {% for form in parent_investors.forms %}
                            <div class="dynamic-form {{ parent_investors.form_title|slugify }}-form{% if form.errors %} with-error{% endif %}">
                            {% include "grid/form.html" with form_count=forloop.counter form=form %}
                            </div>
                        {% endfor %}
                        <script type="text/javascript">
                        $(document).ready(function () {
                            // Init dynamic forms for stakeholder popup
                            $('.{{ parent_investors.form_title|slugify }}-form ').formset({
                                addText: '<i class="fa fa-plus"></i> {% trans "Add another lender" %}',
                                addCssClass: 'formset-add-form hidden',
                                deleteText: '<i class="fa fa-minus"></i> {% trans "Remove" %}',
                                deleteCssClass: 'formset-remove-form hidden',
                                prefix: 'parent-investor-form',
                                formCssClass: '{{ parent_investors.form_title|slugify }}-form',
                                //extraClasses: ['dynamic-form'],
                                added: stakeholderAdded,
                                removed: stakeholderRemoved,
                            }).each(function () { initInvestorForm($(this)); });
                        });
                        </script>
                    </div>
                </div>
            </div>
        {% include "grid/includes/investor_history.html" %}

        <div class="row">
            <div class="col-sm-12">
                <h3>
                    {% trans "Action comment" %}
                </h3>
                {{ form.action_comment }}

                {% if investor.fk_status_id == 4 %}
                    {% if perms.landmatrix.change_activity %}<a href="javascript:;" data-toggle="modal" data-target="#recover-investor" class="pull-right"><i class="fa fa-recycle"></i> {% trans "Recover this investor" %}</a>{% endif %}
                {% else %}
                    <p>
                        <input type="checkbox" required name="terms">
                        {% blocktrans %}I've read and agree to the <a href="/data-policy" target="_blank">Data Policy</a>.{% endblocktrans %}
                        <br><br>
                    </p>
                    <input type="submit" class="btn btn-primary" value="{% trans "Submit" %}">
                    {% if investor and user|can_approve_reject:investor or user|can_approve_reject %}
                    <button type="submit" name="approve_btn" class="btn btn-primary btn-success">
                        <i class="fa fa-thumbs-up"></i> {% trans 'Approve' %}
                    </button>
                    <button type="submit" name="reject_btn" class="btn btn-primary btn-danger">
                        <i class="fa fa-thumbs-down"></i> {% trans 'Reject' %}
                    </button>
                    {% endif %}
                    or <a href="{% url "investor_detail" investor_id=investor.id %}">{% trans 'Cancel' %}</a>
                    {% if investor %}{% if perms.landmatrix.review_activity or perms.landmatrix.delete_activity %}<a href="javascript:;" data-toggle="modal" data-target="#delete-investor" class="pull-right"><i class="fa fa-trash"></i> {% trans "Delete this investor" %}</a>{% endif %}{% endif %}
                {% endif %}
            </div>
        </div>
    </form>
    {% if investor.fk_status_id == 4 %}
        {% include "grid/modals/recover_investor_modal.html" %}
    {% elif investor.fk_status_id %}
        {% include "grid/modals/delete_investor_modal.html" %}
    {% endif %}
</div>
{% endblock %}