{% extends "wagtailcms/wagtail_page.html" %}
{% load i18n %}

{% block page_title %}{% if country %}{{ country }}{% else %}{{ page.title }}{% endif %}{% endblock %}
{% block title %}{% if country %}{{ country }}{% else %}{{ page.title }}{% endif %}{% endblock %}

{% block subnav %}
    <ul class="subnav nav nav-pills pull-right">
        {% block subnav_inner %}
        <li role="presentation"><a href="{% url 'map' %}{% if country %}?country={{ country.id }}{% elif page.country %}?country={{ page.country.id }}{% endif %}">
            <i class="fa fa-map-marker"></i> {% trans "Map" %}
        </a></li>
        <li role="presentation"><a href="{% url 'data' %}{% if country %}?country={{ country.id }}{% elif page.country %}?country={{ page.country.id }}{% endif %}">
            <i class="fa fa-table"></i> {% trans "Data" %}
        </a></li>
        <li role="presentation"><a href="{% url 'chart_transnational_deals' %}{% if country %}?country={{ country.id }}{% elif page.country %}?country={{ page.country.id }}{% endif %}">
            <i class="fa fa-bar-chart"></i> {% trans "Charts" %}
        </a></li>
        <li class="divider"></li>
        <li role="presentation">
            {% include "export.html" %}
        </li>
        {% endblock %}
        <li role="presentation">
            {% include "share.html" %}
        </li>
    </ul>
{% endblock %}