.node {
  fill: #919191; }

.node:hover {
  fill: #4a4a4a; }

.link {
  stroke: #919191;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none; }

.node:hover,
.node--source,
.node--target {
  font-weight: 700; }

.node--source {
  fill: #fc941f; }

.node--target {
  fill: #44c42d; }

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px; }

.link--source {
  stroke: #44c42d; }

.link--target {
  stroke: #fc941f; }

.chart-box {
  position: relative;
  opacity: 0.9;
  overflow: auto; }

.chart-box h3 {
  margin-bottom: 0px;
  margin-top: 0px; }

.chart-box .modal-header {
  padding: 5px; }

svg g {
  z-index: 50; }

svg text {
  font-size: 12px;
  font-weight: 100;
  z-index: 99; }

.legend i {
  margin-right: 5px;
  border: 0px none; }

ul.media-list.legend > li > span {
  font-size: 12px; }

#chartarea {
  min-height: 50vh; }

.well.country-info > div.row > ul {
  font-size: 12px; }

#map svg {
  margin: 0 auto;
  display: block; }
