$lm_green: #44c42d;
$lm_greenaccent1: #4bbb87;
$lm_greenaccent2: #179961;
$lm_greenaccent3: #7c9a61;
$lm_orange: #fc941f;
$lm_offwhite: #fcfcfc;
$lm_dark: #4a4a4a;
$lm_medium2: #919191;
$lm_medium1: #c6c6c6;
$lm_light: #ebebeb;