@import 'colors';

/* ==========================================================================
 *    COLORS
 * ========================================================================== */
html,
body {
  background-color: #ffffff;
  padding: 0;
}

.mgrey1 {
  color: $lm_medium2;
}

.wrap h1 {
  position: relative;
  text-align: center;
  color: $lm_orange;
}

.wrap h1 span {
  background: #ffffff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.wrap h1:before {
  background: #c1c1c1;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.wrap h1:before {
  left: 0;
}

.debug {
  background-color: hotpink;
}

/*
.get-the-idea h1,
.get-the-idea a:hover {
    color: #44c42d;
}
*/
.get-the-idea ::selection {
  background-color: #44c42d;
}

.get-the-detail h1,
.get-the-detail a:hover,
.get-the-detail strong {
  color: $lm_green;

}

.get-the-detail ::selection,
.get-the-detail .thumbnails .counter {
  background-color: $lm_green;
}

.label {
  font-size: 100%;
}

/* ==========================================================================
 *    FONT-SIZES
 * ========================================================================== */

.container button,
.container a.btn {
  font-size: 14px;
}

body,
p,
form input,
form textarea,
form select {
  font-size: 16px;
  line-height: 1.5em;
}

h1 {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 20px;
}

h2,
h3,
.wrap h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

h5,
h6 {
  font-size: 16px;
}

.newsitem {
  h4 {
    font-size: 18px;
    line-height: 1.5em;
    margin: -6px 0 0;
    text-transform: none;
  }
  small {
    color: $lm_medium2;
  }
}

.blog-post-item {
  margin-bottom: 40px;
}

.meta.date {
    color: $lm_medium2;
}

.messages {
  font-size: 24px
}

.lm-footer {
  font-size: 20px;
}

footer {
  font-size: 16px;
}

.whitecircle {
  font-size: 42px;
  line-height: 80px;
  background: white;
  border-radius: 50%;
  width: 80px;
  display: inline-block;
  height: 80px;
  margin-bottom: 20px;
}

table td,
table th {
  font-size: 12px;
}

.carousel-control {
  font-size: 60px;
  line-height: 30px;
}

.checkboxes input[type=checkbox]:checked + label:before {
  font-size: 12px;
  line-height: 12px;
}

.get-the-idea h3.count {
  font-size: 35px;
}

.breadcrumb {
  font-size: 14px;
}

#summary,
#summary .btn {
  font-size: 12px;
}

table button,
table a.btn {
  font-size: 12px;
}

.number-concluded {
  font-size: 18px;
  line-height: 22px;
}

#filters,
.condition input,
.condition select {
  font-size: 14px;
}

.popover-title {
  font-size: 14px;
}

#search-location > form > div > i {
  font-size: 16px;
}

/* ==========================================================================
 *    LAYOUT
 * ========================================================================== */
hr {
  margin-bottom: 2em;
}

.wrap {
  margin-bottom: 20px;
  margin-top: 20px;
}

.wrap.fullwidth {
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 40px;
  border-top: solid 1px $lm_medium1;
  background: $lm_light;
}

/* FULL WIDTH CONTAINERS */
div.fullwidth.fullwidth-lightgrey {
  background-color: $lm_offwhite;
}

.fullwidth.fullwidth-darkgrey {
  background-color: #eee;
}

.block {
  padding: 30px 0;
}

.block.block-section_divider {
  padding: 0;
}

.block-link {
  padding-top: 0 !important;
}
.block-link .btn-with-space {
    margin-top: 30px;
}

.wrap > hr {
  padding: 0;
  margin: 0;
  border-top: 1px solid $lm_medium1;
}

/* ==========================================================================
 *    FONTS (generated by Font Squirrel via http://www.fontsquirrel.com)
 * ========================================================================== */

@font-face {
  font-family: Open Sans;
  src: url(/static/fonts/OpenSans-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Open Sans;
  src: url(/static/fonts/OpenSans-Semibold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Open Sans;
  src: url(/static/fonts/OpenSans-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Open Sans;
  src: url(/static/fonts/OpenSans-Light.ttf);
  font-weight: 200;
}

@font-face {
    font-family: 'Unit';
    src: url('/static/fonts/unit-bold-webfont.eot');
    src: url('/static/fonts/unit-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/unit-bold-webfont.woff') format('woff'),
         url('/static/fonts/unit-bold-webfont.ttf') format('truetype'),
         url('/static/fonts/unit-bold-webfont.svg#unit-boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Unit';
    src: url('/static/fonts/unit-regular-webfont.eot');
    src: url('/static/fonts/unit-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/unit-regular-webfont.woff') format('woff'),
         url('/static/fonts/unit-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/unit-regular-webfont.svg#unit-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,
p,
a,
ul li,
dl dt,
dl dd,
table th,
table td,
blockquote,
label {
  font-family: 'Open Sans', sans-serif;
  color: $lm_dark;
  font-weight: 400;
}

body,
p {
  font-family: 'Open Sans', sans-serif;
}

.lead {
  font-weight: 400;
  line-height: 2em;
}

h1,
h1
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Unit', sans-serif;
  font-weight: bold;
  a {
    font-family: 'Unit', sans-serif;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      border-bottom: 3px solid $lm_orange;
    }
  }
}

h1 {
  text-transform: uppercase;
  color: $lm_orange;
  a:hover {
    border-color: $lm_orange;
  }
}

h2 {
  text-transform: uppercase;
}

h2,
h3,
.wrap h4 {
  color: $lm_dark;
}

.container > .block > h3 {
  text-align: center;  
}

.block-heading {
  padding-bottom: 0;
  //h3 {
  //  margin-bottom: 0;
  //}
  + .block {
    padding-top: 0;
  }
}

.wrap > h2,
.wrap > h3,
.wrap > h4 {
  margin-top: 2em;
  margin-bottom: 2em;
}

h4 {
  color: $lm_medium2;
}

h5,
h6 {
  margin: 0;
}

a:hover {
  color: $lm_orange;
  text-decoration: underline;
}

.noul:hover {
  text-decoration: none;
}

a:focus {
  color: #b9d635;
  text-decoration: none;
}

p a {
  color: $lm_orange;
  vertical-align: bottom;
}

.icon-none {
  width: 14px;
  height: 14px;
  display: inline-block;
  border: 1px solid #c1c1c1;
}

::-moz-selection {
  background: $lm_orange;
  color: $lm_offwhite;
  text-shadow: none;
}

::selection {
  background: $lm_orange;
  color: $lm_offwhite;
  text-shadow: none;
}

/* ==========================================================================
 *    HEADER
 * ========================================================================== */

.container-fluid {
  max-width: 86vw;
  width: auto;
}

.container {
  max-width: 86vw;
  width: auto;
}

.input-group .investorfield,
.input-group .select2,
.input-group .select2-container,
.input-group .select2-main,
.investorfield,
.controls .select2,
.controls .select2-container,
.controls .select2-main {
  min-width: 80%;
  max-width: 80%;
  min-height: 3em;
  margin-bottom: 1em;
  #comparison > & {
    min-width: 45% !important;
    max-width: 45% !important;
  }
}

#comparison .investorfield {
  background: hotpink;
}

#comparison .url {
  overflow: hidden;
}

.container .lm {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.center {
  text-align: center;
}

.section {
  margin: 36px 0 18px
}

.panel {
  border: 0 none;
  border-top: 2px solid #c1c1c1;
  box-shadow: none;
  border-radius: 0 !important;
  background: none !important;
  width: 100%;
  height: 100%;
}

.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 2px dashed #c1c1c1;
}

.panel-heading, .panel-title {
  background: none !important;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 0;
}

.panel-heading a {
  padding: 1.5em 1em;
  display: block;
  margin: 0;
}

div.panel.panel-default:last-child {
  border-bottom: solid 2px #c1c1c1;
}

form > .in {
  border-top: dashed 2px #c1c1c1 !important;
}

/* ==========================================================================
 *    FOOTER (including Sticky Footer by Ryan Fait http://ryanfait.com/)
 * ========================================================================== */

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

footer {
  background-color: hotpink;
  height: auto !important;
}

footer > .container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.push {
  /*    height: 50px; /* .push must be the same height as footer */
}

footer {
  background-color: #c1c1c1;
  padding: 10px;
  display: block;
}

footer h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  color: $lm_dark;
  text-transform: uppercase;
}

footer p,
footer li,
footer a {
  color: $lm_dark;
  line-height: 1.8em;
  text-decoration: none !important;
}

footer hr {
  border-top: 1px solid #9b9b9b;
}

footer > a:hover {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .toobigtofail {
    display: none;
  }

  .toosmalltofail {
    display: block;
  }
}

@media (min-width: 1200px) {
  .toobigtofail {
    display: block;
  }

  .toosmalltofail {
    display: none;
  }
}

.lm-twitter-square:hover {
  color: #55acee;
}

.lm-facebook-square:hover {
  color: #3b5998;
}

a.cc-icons {
  display: inline-block;
  background: url(/static/img/cc-icons.png) no-repeat;
  background-position: 0 0;
  width: 71px;
  height: 20px;
}

a.cc-icons:hover {
  background-position: 0 -20px;
}

.newsletter-icon {
  background: url(/static/img/subscribe-icon.png) no-repeat;
  background-position: right 1px;
  padding-right: 25px;
}

.newsletter-icon:hover {
  background-position: right -15px;
}

/* ==========================================================================
 *    SECTOR ICONS
 * ========================================================================== */

/* riot: This could be realized by using font-awesome or other glyphfonts (can be custom created */

.intention-icon {
  background: url(/static/img/intention-icons.png) no-repeat;
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  padding: 0;
  margin: 0 5px 5px 0;
}

.intention-icon:hover {
  background-position: 0 -32px;
}

.logging,
.forestry {
  background-position: -32px 0;
}

.logging:hover,
.forestry:hover {
  background-position: -32px -32px;
}

.resource-extraction {
  background-position: -64px 0;
}

.resource-extraction:hover {
  background-position: -64px -32px;
}

.tourism {
  background-position: -96px 0;
}

.tourism:hover {
  background-position: -96px -32px;
}

.land-speculation {
  background-position: -128px 0;
}

.land-speculation:hover {
  background-position: -128px -32px;
}

.industry {
  background-position: -160px 0;
}

.industry:hover {
  background-position: -160px -32px;
}

.conservation {
  background-position: -192px 0;
}

.conservation:hover {
  background-position: -192px -32px;
}

.renewable-energy {
  background-position: -224px 0;
}

.renewable-energy:hover {
  background-position: -224px -32px;
}

.other {
  background-position: -256px 0;
}

.other:hover {
  background-position: -256px -32px;
}

/* ==========================================================================
 *    TABLES
 * ========================================================================== */
.summary-wrap {
  max-width: 100%;
  overflow-x: auto
}

table th,
table td {
  padding: 10px 20px 8px;
  /*border-bottom: 1px solid #c1c1c1; */
  border: 0 none;
}

table button,
/* .panel-body .btn, */
table a.btn {
  color: $lm_offwhite !important;
  border-color: $lm_orange !important;
  border-width: 2px !important;
  background: $lm_orange !important;
  font-weight: bold;
  box-shadow: none;
  text-shadow: none;
  padding: 2px 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: inherit;
}

/* TODO: This would help for responsivity but breaks the deal-add buttons:
.panel-body .btn {
  white-space: normal;
  word-wrap: normal;
  display: inline-block;
  max-width: 30vw;
  line-height: 18px;
} */

table {
  width: 100%;
}

table tbody {
  width: 100%;
}

.table-striped > tbody > tr:nth-of-type(2n+1),
.table-striped > tbody > tr.odd {
  background-color: $lm_light;
  &.even {
    background-color: transparent !important;
  }
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table .comment {
  max-width: 15vw;
}

.table th .intention-icon,
.table td .intention-icon {
  margin-top: -4px;
  margin-bottom: 4px;
}

.container table thead th {
  font-weight: bold;
  padding-left: 10px;
  color: $lm_offwhite;
  background-color: $lm_medium2;
}

table th a {
  display: block;
  float: left;
}

.popup table th,
.panel-body table th {
  background-color: inherit;
}

/* ==========================================================================
 *    GRAPHS
 * ========================================================================== */
.graph-popover {
  background-color: #1d1d1d !important;
  -webkit-background-clip: padding-box !important;
  -moz-background-clip: padding !important;
  background-clip: padding-box !important;
  border: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
  white-space: normal !important;
  color: #fff;
}

.graph-popover p {
  margin: 12px 12px 12px 12px;
  color: #fff;
}

.graph-popover img {
  display: none;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
}

#investor-network .link {
  fill: none;
  stroke: #44c42d;
  stroke-width: 2px;
}

#investor-network .link.investor {
  stroke: #fc941f;
}

#investor-network .circle {
  fill: #44c42d;
  stroke: #ffffff;
  stroke-width: 2px;
}

#investor-network .circle.investor {
  fill: #fc941f;
}

#investor-network .circle:hover {
  stroke: #000000;
  stroke-width: 2px;
}




/* ==========================================================================
 *    STATS
 * ========================================================================== */

#stats h4 .icon {
  margin-top: -5px;
}

#logging .bar,
#resource_extraction .bar,
#stats .bar {
  padding: 0 8px 2px;
  text-align: left;
  color: #fff;
  font-weight: bold;
  line-height: 22px;
  height: 100%;
}

#logging .number,
#resource_extraction .number,
#stats .number {
  font-weight: bold;
  display: block;
}

#logging .progress,
#resource_extraction .progress,
#stats .progress {
  margin-bottom: 10px;
}

.progress-concluded .bar {
  background-color: $lm_orange;
  background-image: -moz-linear-gradient(top, $lm_orange, $lm_orange);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($lm_orange), to($lm_orange));
  background-image: -webkit-linear-gradient(top, $lm_orange, $lm_orange);
  background-image: -o-linear-gradient(top, $lm_orange, $lm_orange);
  background-image: linear-gradient(to bottom, $lm_orange, $lm_orange);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$lm_orange', endColorstr='$lm_orange', GradientType=0);
}

.progress-intended .bar {
  background-color: #b96c12;
  background-image: -moz-linear-gradient(top, #b96c12, #b96c12);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b96c12), to(#b96c12));
  background-image: -webkit-linear-gradient(top, #b96c12, #b96c12);
  background-image: -o-linear-gradient(top, #b96c12, #b96c12);
  background-image: linear-gradient(to bottom, #b96c12, #b96c12);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b96c12', endColorstr='#b96c12', GradientType=0);
}

.progress-failed .bar {
  background-color: #884e0e;
  background-image: -moz-linear-gradient(top, #884e0e, #884e0e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#884e0e), to(#884e0e));
  background-image: -webkit-linear-gradient(top, #884e0e, #884e0e);
  background-image: -o-linear-gradient(top, #884e0e, #884e0e);
  background-image: linear-gradient(to bottom, #884e0e, #884e0e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#884e0e', endColorstr='#884e0e', GradientType=0);
}

#logging .legend ul,
#resource_extraction .legend ul,
#stats .legend ul {
  width: 300px;
  margin: 0 auto;
}

/* FIXME: Cleanup */
#stats .progress-intended,
#stats .progress-failed {
  height: 10px;
}

#stats .percentage-intended,
#stats .percentage-failed {
  margin-top: -3px;
}

#stats .progress {
  width: 80%;
  float: left;
  clear: left;
}

#stats .percentage {
  width: 20%;
  float: right;
  text-align: right;
}

#stats .number {
  clear: both;
}

#comments {
  > ul {
    padding: 0;
  }
  .comment-moderation {
    form {
      display: inline-block;
      input {
        border: none;
        background: none;
      }
    }
  }
}

.twitter-timeline {
  height: 500px !important;
}