@import 'colors';

#filters {
  margin-bottom: 20px;
}

#add-filter,
#filter-settings {
    font-weight: 300;
    margin-top: 10px;
}

.filterbox,
.filterwidgetbox {
  color: $lm_medium1 !important;
  height: 200px;
  padding: 0;
  padding: 5px 15px;
}

#filterrow {
    margin: 0px;
    border: solid 1px $lm_medium2;

    h6 {
        margin: 10px 0 5px;
    }
}

#columnsrow,
#statusrow {
    h6 {
        color: $lm_medium1;
        margin: 15px 0 5px;
    }
    .select2 {
        width: 100% !important;
    }
}


#filters ul.variables h4 {
  font-size: 14px;
  text-transform: none;
  font-weight: normal;
  background-color: $lm_light;
  color: $lm_dark;
  padding: 5px 15px;
  margin-top: 0px;
  margin-bottom: 5px;
}

#filters ul.variables,
#filters ul.variables ul {
  padding: 0;

}

@media (min-width: 992px) {
  #filters ul.variables,
  #filters ul.variables ul {
    padding: 0;
    margin: 0;
  }

  .filterbox {
    border-left: solid 1px $lm_medium2;
  }

  .filtercontrolbox {
    border-right: none;
  }

  .filtervaluebox {
    border-left: none;
  }
}

@media (max-width: 992px) {
  #filterrow {
    margin: 0px 0px !important;
  }

  .filterbox:nth-child(2) {
    border-top: solid 1px $lm_medium2;
    border-bottom: solid 1px $lm_medium2;
  }

  #filters:nth-child(1) ul.variables {
    margin-left: -15px;
  }

  #filterbox:nth-child(2) ul.variables {
    margin-left: 15px !important;
  }

  .filtercontrolbox {
    border-bottom: none !important;
    height: inherit;
  }

  .filtervaluebox {
    border-top: none !important;
    border-bottom: none !important;
    height: auto; /* 300px; */
  }

  /* TODO: Might make sense to hide those (they're empty), to conserve vertical space:
  .filtervaluebox > h6,
  .filtercontrolbox > h6 {
    display: none;
  }
  */

}

#filter_operator,
#filter_submit {
  margin-bottom: 5px;
  width: 100%;
}

#filter_submit {
  word-wrap: break-word;
  white-space: normal;
  padding-top: 3px;
  padding-bottom: 3px;
}

#filter_value {
  display: inline-block;
  margin-right: 10px;
  width: 95%;
}

#filter_value .bootstrap-datetimepicker-widget {
  display: flex !important;
}

#filter_value > ul:nth-child(1) {
  overflow-y: auto;
  max-width: 100%;
  height: 100% !important;
}

#filter_value .filtervalueheight {
  height: 190px;
  padding-bottom: 0px;
  margin-bottom: -161px;
}

.in
.valuefield {
  max-width: 95%;
  width: 100% !important;
}

.valuefield option {
  overflow: auto;
}

.filterbox {
  overflow-y: auto;
  overflow-x: auto;
}

.presetbox {
  border-left: none;
}

.filterbox label {
  width: 100%;
  margin-bottom: 0px;
}

#filterlist > label:nth-child(1) {
  margin-bottom: 0px;
}

.filterbox > .input-group {
  padding: 5px 5px;
}

.filterbox.no-pad {
  padding: 5px 0 15px;
}

.filterbox.no-pad h6 {
    padding: 0 15px;
}

#filters ul.presets.ul.variables li a,
#filters ul.variables li a {
  display: block;
  padding: 0px 15px 0px 30px;
}

#filters ul.presets.ul.variables > li > ul > li:hover > a,
#filters ul.variables > li > ul > li:hover > a {
  background-color: $lm_light;
  color: $lm_dark;
}

.filter_active {
  background-color: $lm_green;
  color: $lm_dark;
}

.filter_active a:focus,
.filter_active a:hover {
  background-color: $lm_orange;
  color: $lm_offwhite;
  text-decoration: none;
}

#filter_value > label {
  height: 1.5em;
}

#filter_value,
#filter_value > select[multiple],
#filter_value > ul {
  height: 100%;
  max-height: 188px;
}

.bootstrap-datetimepicker-widget table th {
  height: 15px !important;
  line-height: 15px !important;
}

.bootstrap-datetimepicker-widget table td.day {
  height: 12px !important;
  line-height: 12px !important;
}

.form-horizontal .checkbox,
.form-horizontal .radio {
  padding-top: 0;
}

.label-filter {
  background-color: $lm_green;
  padding-right: 0px;
  margin-left: 10px;
  display: inline-block;
}

.label-filter a {
  top: 2px;
  color: white;
}

.label-filter a:hover {
  top: 2px;
  color: white;
  text-decoration: none;
}

.toggle-filters {
  margin-left: 7px;
}

#filters .filter-variable .select2-container {
  width: 100% !important;
}