
/* ==========================================================================
 *    FORMS
 * ========================================================================== */

.control-group {
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .control-group .input-group {
    margin-top: 10px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .control-group .input-group {
    margin-top: 10px;
    width: 30%;
  }
}

.control-group .input-group:first-child {
  margin-top: 0;
}
.control-group:before {
  display: table;
  content: " ";
}
.control-group:after {
  clear: both;
}

.control-group .control-label {
  padding: 5px 0 0 30px;
}

.form-control {
  width: auto;
  display: inline-block;
  border: solid 1px $lm_medium2;
  min-height: 3em;
}

.form-control:focus {
  border-color: #B9D635;
}

.control-group.url .input-group {
  width: 100%;
}

textarea.form-control {
  width: 100%;
}

.control-group .input-group-addon {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.control-group.file a.input-group-addon {
  float: left;
}


.controls .select2-container--default .select2-selection--single {
  border: solid 1px $lm_medium2;
  min-height: 3em;
  padding: 8px 12px;
}

.select2-container--default .select2-selection--single span.select2-selection__arrow {
  right: 10px;
  top: 10px;
}

.select2-dropdown {
    font-size: 14px;
}

.controls > ul {
  padding: 0;
  margin: 0;
}

.help-block {
  display: inline-block;
}

.checkboxes input[type=checkbox] {
  display: none;
}

.checkboxes label:before {
  font-weight: normal;
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 6px;
  background-color: $lm_offwhite;
  border: solid 1px $lm_dark;
}

.checkboxes .checkbox label:before {
  border-radius: 4px;
}

.checkboxes input[type=checkbox]:checked + label:before {
  content: 'x';
  color: $lm_dark;
  text-align: center;
}

.checkboxes label {
  padding: 0px 25px !important;
}

ul.form.empty {
  display: none;
}

.form ul {
  margin: 0;
}

form ul li,
.panel ul li {
  background: none;
  padding-left: 0;
  list-style: none;
}

.helptext {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

#id_crops, #id_animals, #id_minerals {
  max-height: 30vh;
  max-width: 66%;
  overflow: scroll;
  overflow-x: hidden;
}

ul.form.condition li.field label {
  display: none;
}

input,
select,
textarea {
  border-radius: 4px;
  border: 1px solid;
  border-color: $lm_medium2;

  background-color: $lm_offwhite;
  box-shadow: none !important;
  color: $lm_dark;
  max-width: 100%;
  padding: 5px 5px;
}

.investorops {
  display: inline-block;
}

.with-error .panel-heading h5,
.errorlist li {
  color: red;
}

.control-group.with-error .form-control,
.control-group.with-error .select2-selection {
  border-color: red;
}

/* YEAR BASED DATA AND FORMSETS */

a.add-form,
a.remove-form,
a.add-ybd,
a.remove-ybd {
  height: 42px;
  padding: 8px 12px;
  border-color: transparent;
  visibility: collapse;
  margin-left: 20px;
  display: inline-block;
  color: #414141;
  width: 120px;
  text-align: left;
}

a.add-form i,
a.remove-form i,
a.add-ybd i,
a.remove-ybd i {
  visibility: visible;
}

a.add-form:hover,
a.remove-form:hover,
a.add-ybd:hover,
a.remove-ybd:hover {
  border-color: $lm_orange;
  visibility: visible;
  color: $lm_orange;
}

.control-group .input-group {
  width: auto;
  display: block;
  clear: both;
}

.control-group .input-group > * {
  display: inline-block;
}

.control-group .input-group select.year-based,
.control-group .input-group input,
.control-group .input-group select {
  width: 200px;
}

.control-group .input-group input.year-based {
  width: 80px;
}
.control-group .input-group .year-based-year {
  width: 120px;
}
.control-group .input-group .year-based-is-current {
  width: 20px;
  float: none;
  height: 15px;
}

.input-group .select2 {
  width: 280px !important;
  min-width: auto !important;
  float: left;
}

.control-group .input-group-addon {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  width: auto;
  height: 3em;
  display: inline-block;
  padding: 14px 12px;
}

.dynamic-form .remove-form {
  display: none;
}

.dynamic-form + .dynamic-form .remove-form {
  display: block;
}

.dynamic-form + .dynamic-form .add-form {
  display: none;
}

.control-group.parent-company-form .input-group,
.control-group.parent-investor-form .input-group {
  width: auto;
}

.filtervaluebox .bootstrap-datetimepicker-widget {
  clear: both !important;
}

/* Chrome-on-OSX (only!) bugfix, select fields are (weirdly) not high enough on that platform: */
select:not([multiple]) {
  height: 42px !important; /* A good number.. */
}

.small input,
small input {
  font-size: 100% !important;
}