/*  Styling for PDF exports goes here */
html,
body {
    background-color: transparent !important;
    width: 100%;
    padding: 0 !important;
}
.wrap {
    margin: 0 !important;
}
div#header-container,
ul.subnav,
ul.actions {
    display: none;
}
div#container {
    padding-top: 0 !important;
}
.container {
    width: 100% !important;
    max-width: 100% !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul li,
ol li,
dt,
dd,
dl a,
table th,
table td,
table a,
label {
    color: #000 !important;
}
.navbar-main,
.navbar-subnav,
.wrap > .container > .row:first-child,
footer,
#collapsebtn_history,
#collapse_comments form,
#filters,
#crowd-shortcut {
    display: none !important;
}
.collapse {
    display: block;
}
.col-md-9,
.col-md-3 {
    display: block;
    float: left;
    width: 50%;
}
.row {
    clear: both;
}
.canvas-container.transnational-deals {
    width: 1000px;
    height: 1000px;
}
#chartarea.overview-chartarea,
#chartarea.overview-chartarea #chartcanvas {
    width: 1000px;
    height: 400px;
}
.produce_info.chart {
    width: 1000px;
    height: 1000px;
}
.agricultural_drivers .row .col-md-6,
.agricultural_drivers .row .col-md-8 {
    width: 420px;
    height: 420px;
}

.agricultural_drivers .row .col-md-5 {
    width: 100px;
    height: 100px;
}
.top-10-countries {
    position: static !important;
    display: block !important;
    clear: both !important;
    margin: 0 auto;
    height: 100% !important;
    width: 100% !important;
}
.top-10-countries #investor-countries,
.top-10-countries #target-countries {
    display: block !important;
    width: 50% !important;
    float: left;
}
.top-10-countries .nav-tabs li {
    width: 50% !important;
    display: inline-block !important;
}
