/*  Styling for PDF exports goes here */
.navbar-main,
.navbar-subnav,
.wrap > .container > .row:first-child,
footer,
#collapsebtn_history,
#collapse_comments form,
#filters,
#crowd-shortcut {
    display: none !important;
}
.collapse {
    display: block;
}
.col-md-9,
.col-md-3 {
    display: block;
    float: left;
    width: 50%;
}
.row {
    clear: both;
}
.canvas-container.transnational-deals {
    width: 1000px;
    height: 1000px;
}
#chartarea.overview-chartarea,
#chartarea.overview-chartarea #chartcanvas {
    width: 1000px;
    height: 400px;
}
.produce_info.chart {
    width: 1000px;
    height: 1000px;
}
.agricultural_drivers .row .col-md-6,
.agricultural_drivers .row .col-md-8 {
    width: 420px;
    height: 420px;
}

.agricultural_drivers .row .col-md-5 {
    width: 100px;
    height: 100px;
}
.top-10-countries {
    position: static !important;
    display: block !important;
    clear: both !important;
    margin: 0 auto;
    height: 100% !important;
    width: 100% !important;
}
.top-10-countries #investor-countries,
.top-10-countries #target-countries {
    display: block !important;
    width: 50% !important;
    float: left;
}
.top-10-countries .nav-tabs li {
    width: 50% !important;
    display: inline-block !important;
}
