/*  Styling for PDF exports goes here */
.navbar-main,
.navbar-subnav,
.wrap > .container > .row:first-child,
footer,
#collapsebtn_history,
#collapse_comments form,
#filters {
    display: none;
}
.collapse {
    display: block;
}
.col-md-9,
.col-md-3 {
    display: block;
    float: left;
    width: 50%;
}
.row {
    clear: both;
}
.canvas-container.transnational-deals {
    width: 1000px;
    height: 1000px;
}
#chartarea.overview-chartarea,
#chartarea.overview-chartarea #chartcanvas {
    width: 1000px;
    height: 400px;
}
.produce_info.chart {
    width: 1000px;
    height: 1000px;
}
.agricultural_drivers .row .col-md-6,
.agricultural_drivers .row .col-md-8 {
    width: 420px;
    height: 420px;
}

.agricultural_drivers .row .col-md-5 {
    width: 100px;
    height: 100px;
}