.ol-full-screen {
    left: 0.5em;
    top: 4.5em;
    right: auto;
}

.ol-mouse-position {
    position: absolute;
    float: right;
    top: 8px;
    text-align: center;
    background-color: #fff;
    width: 10em;
    background-opacity: 0.5;
}

.popover-title {
    background-color: #f7f7f7;
    border-bottom: 1px solid $lm_light;
    border-radius: 5px 5px 0 0;
    margin: 0;
    padding: 8px 14px;
    text-align: center;
}

.popover-content {
    min-width: 180px;
}

p {
    margin: 0;
    padding: 2px 2px;
}


/*.map {
    clear: both;
    width: 400px;
    height: 300px;
}
*/

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}
/*
.map:-moz-full-screen {
    height: 100%;
}

.map:-webkit-full-screen {
    height: 100%;
}

.map:-ms-fullscreen {
    height: 100%;
}

.map:fullscreen {
    height: 100%;
}
*/
.ol-rotate {
    top: 3em;
}

table .map {
    position: relative;
    width: 100%;
    top: 15px;
    overflow: hidden;
    /*-moz-border-radius: 8px;
    border-radius: 8px; */
    /* border: 1px solid black; */
}


.legend-entry {
    margin-bottom: 3px;
    margin-left: 5px;
}

.legend-symbol {
    float: left;
    height: 1.2em;
    margin-right: 0.3em;
    text-align: center;
    width: 1.2em;
}

div.layer-group > a:hover {
    text-decoration: none;
}

.layer-switcher .panel,
#legend .panel {
    background-color: $lm_offwhite;
    border: none !important;
    padding-left: 10px;
    padding-top: 10px;
}

.ol-control,
.ol-control:focus,
.ol-control:hover {
    background-color: $lm_offwhite;
}

#search-location > form > div > i {
    top: 5px;
    right: 5px;
}

#mapVariableSelect {
    border: none;
    padding: 0px;
    margin-top: 0px;
    margin-left: -4px;
    margin-bottom: 10px;
}