@charset "UTF-8";
.ol-full-screen {
  left: 0.5em;
  top: 4.5em;
  right: auto; }

.ol-mouse-position {
  position: absolute;
  float: right;
  top: 8px;
  text-align: center;
  background-color: #fcfcfc;
  width: 10em;
  opacity: 0.5; }

.popover-title {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
  margin: 0;
  padding: 8px 14px;
  text-align: center; }

.popover-content {
  min-width: 180px;
  font-size: 12px; }

p {
  margin: 0;
  padding: 2px 2px; }

/*.map {
    clear: both;
    width: 400px;
    height: 300px;
}
*/
#map {
  height: 75vh; }

.ol-popup {
  font-size: 12px;
  position: absolute;
  background-color: #fcfcfc;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #919191;
  bottom: 12px;
  left: -50px;
  min-width: 280px; }

.ol-popup > table {
  margin-bottom: 0px; }

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.ol-popup:after {
  border-top-color: #fcfcfc;
  border-width: 10px;
  left: 48px;
  margin-left: -10px; }

.ol-popup:before {
  border-top-color: #919191;
  border-width: 11px;
  left: 48px;
  margin-left: -11px; }

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px; }

.ol-popup-closer:after {
  content: "✖"; }

/*
.map:-moz-full-screen {
    height: 100%;
}

.map:-webkit-full-screen {
    height: 100%;
}

.map:-ms-fullscreen {
    height: 100%;
}

.map:fullscreen {
    height: 100%;
}
*/
.ol-rotate {
  top: 3em; }

table .map {
  position: relative;
  width: 100%;
  top: 15px;
  overflow: hidden;
  /*-moz-border-radius: 8px;
    border-radius: 8px; */
  /* border: 1px solid black; */ }

.legend-entry {
  margin-bottom: 3px;
  margin-left: 5px; }

.legend-symbol {
  float: left;
  height: 1.2em;
  margin-right: 0.3em;
  text-align: center;
  width: 1.2em; }

div.layer-group > a:hover {
  text-decoration: none; }

.layer-switcher .panel,
#legend .panel {
  background-color: #fcfcfc;
  border: none !important;
  padding-left: 10px;
  padding-top: 10px; }

#legendstuff {
  min-width: 250px;
  min-height: 100px;
  max-height: 50vh;
  overflow-y: auto;
  margin-bottom: 8px; }

.ol-control,
.ol-control:focus,
.ol-control:hover {
  background-color: #fcfcfc; }

#mapsearch {
  margin-top: 8px;
  margin-left: 8px; }

#mapVariableSelect {
  border: none;
  padding: 0px;
  margin-top: 0px;
  margin-left: -4px;
  margin-bottom: 0px; }

select:not([multiple])#mapVariableSelect {
  height: 20px !important; }

#mapVariableSelect,
#legendstuff .form-control,
#legendstuff .input-group-addon {
  height: 32px !important; }

.searchAddon {
  margin-left: -30px;
  margin-top: 10px;
  position: relative; }

.button-layer-switch .disabled {
  visibility: hidden;
}