/* Navigation icons */
ul.nav li a.dashboard,
ul.nav li a.add,
ul.nav li a.browse,
ul.nav li a.manage
 {
    width: 28px;
    height: 34px;
    background: url(../../img/editor-icons.png) no-repeat;
    text-indent: -9999px;
    opacity: 1;
}
ul.nav li:hover a.dashboard,
ul.nav li.current a.dashboard {
    background-position: 0 -34px;
}
ul.nav li a.add {
    background-position: -28px 0;
}
ul.nav li:hover a.add,
ul.nav li.current a.add {
    background-position: -28px -34px;
}
ul.nav li a.browse {
    background-position: -56px 0;
}
ul.nav li:hover a.browse,
ul.nav li.current a.browse {
    background-position: -56px -34px;
}
ul.nav li a.manage {
    background-position: -84px 0;
}
ul.nav li:hover a.manage,
ul.nav li.current a.manage {
    background-position: -84px -34px;
}
/* User tools */
.navbar .btn-group {
    margin-top: 14px;
    float: right;
}
.navbar .btn-group .btn {
    background: transparent;
    border: none;
    color: #fff;
    opacity: 1;
}
/* Loading animation */
img.loading {
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -26px;
    z-index: 9999;
}
/* Dashboard */
.alert .close {
    text-decoration: none;
}
.dashboard .alert {
    max-height: 453px;
}
/* Forms */
form .field .input-append > ul,
form .field .input-append .value-wrapper > ul {
    display: block;
    max-height: 180px;
    overflow-y: scroll;
    border: 1px solid #bcbcbc;
    margin: 0;
    padding: 5px 10px;
    width: 346px;
}

form .field .input-append .value-wrapper > ul li label{
    display: block;
}
form .field .input-append .value-wrapper > ul li {
    float: none;
}
form .field .input-append .value-wrapper > ul li input {
    width: inherit;
}
form .field .input-append > ul li {
    list-style: none;
    padding: 0;
    display: block;
}
form textarea {
    resize: both;
}
button:focus,
input:focus,
textarea:focus {
    outline: none;
}
.errorlist {
    border: none;
    padding: 0;
    margin: -10px 0 10px;
}
.errorlist li {
    color: #b94a48;
    list-style: none;
}
.year-based-year {
    width: 40px;
}
.year-based {
    clear: both;
}
.input-append .add-ybd,
.input-append .remove-ybd {
    margin-left: 5px;
}
.form .field > label {
    width: 240px;
    float: left;
    display: block;
    position: absolute;
}
.form {
    clear: both;
}
.form > li,
.form .field {
    clear: both;
    position: relative;
}
.form .input-append,
.form .field > .errorlist {
    display: block;
    margin-left: 240px;
}
.form .input-append .last {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.forms {
    margin-bottom: 20px;
    position: relative;
}
.forms > .add-row {
    margin-top: 20px;
}
/* Remove labels where needed */
form li.intention > label,
form li.nature > label,
form li.negotiation_status > label,
form li.agreement_duration > label,
form li.implementation_status > label,
form li.contract_farming > label,
form li.community_reaction > label,
form li.community_consultation > label,
form li.community_compensation > label,
form li.community_benefits > label,
form li.land_owner > label,
form li.land_use > label,
form li.land_cover > label,
form li.water_extraction_envisaged > label,
form li.source_of_water_extractio > label,
form li.tg_how_much_do_investors_pay_comment > label,
form li.source_of_water_extraction > label,
form li.lease_type > label,
form li.on_the_lease_farmers > label,
form li.on_the_lease_area > label,
form li.off_the_lease_farmers > label,
form li.off_the_lease_area > label {
    opacity: 0;
}
form .tg_location .input-append,
form .tg_reliability_ranking  .input-append,
form .tg_land_area .input-append,
form .tg_intention .input-append,
form .tg_nature .input-append,
form .tg_negotiation_status .input-append,
form .tg_agreement_duration .input-append,
form .tg_implementation_status .input-append,
form .tg_purchase_price .input-append,
form .tg_leasing_fees .input-append,
form .tg_contract_farming .input-append,
form .tg_total_number_of_jobs_created .input-append,
form .tg_foreign_jobs_created .input-append,
form .tg_domestic_jobs_created .input-append,
form .tg_primary_investor .input-append,
form .tg_investor .input-append,
form .tg_data_source .input-append,
form .tg_community_reaction .input-append,
form .tg_community_consultation .input-append,
form .tg_community_compensation .input-append,
form .tg_community_benefits .input-append,
form .tg_number_of_displaced_people .input-append,
form .tg_land_owner .input-append,
form .tg_land_use .input-append,
form .tg_land_cover .input-append,
form .tg_crop_animal_mineral .input-append,
form .tg_use_of_produce .input-append,
form .tg_in_country_processing .input-append,
form .tg_water_extraction_envisaged .input-append,
form .tg_source_of_water_extraction .input-append,
form .tg_how_much_do_investors_pay .input-append,
form .tg_water_extraction_amount .input-append,
form .tg_gender_specific_info .input-append,
form .tg_action .input-append,
form .tg_overall .input-append,
form .tg_general .input-append,
form .tg_not_public .input-append,
form .tg_public_user .input-append,
form .tg_feedback .input-append {
    margin-left: 0;
}
/* Dashboard */
th.deal,
th.user,
td.date {
    white-space: nowrap;
}
.truncate {
    width: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
@media (min-width:768px) and (max-width:1199px) {
    .truncate {
        width: 100px;
    }
}
/* Hide fields that depend on other fields by default */
.form.new-investor .investor {
    display: none;
}
.form.existing-investor .investor_name,
.form.existing-investor .country,
.form.existing-investor .classification,
.form.existing-investor .subsidiary_of {
    display: none;
}
#browse-primary-investor .form.existing-investor .investment_ratio,
#browse-primary-investor .form.existing-investor .tg_general_comment {
    display: none;
}
.form.empty {
    display: none;
}
.form .tg_primary_investor,
.form .tg_investor {
    display: none;
}
.form.condition .add-ybd {
    display: none;
}
.form.condition {
    clear: both;
    width: 100%;
}
.form.condition label {
    display: none;
}
tr.name,
tr.company,
tr.email,
tr.phone {
  display: none;
}
.primary-investor select {
    float: left;
}
.btn.add-investor,
.btn.change-investor {
    float: left;
    margin-left: 5px;
}
.change-primary-investor .investment_ratio,
.add-primary-investor .investment_ratio {
    display: none;
}
.form li.file {
    display: table-row;
}
.form li.file input {
    margin-bottom: 10px;
}
.livesearch {
    margin-right: 5px;
}
.livesearch-active {
    display: inline;
    white-space: normal;
}
.change-deal .livesearch,
.add-deal .livesearch {
    display: none;
}
.add-deal .existing-investor label,
.change-deal .existing-investor label {
    display: none;
}
.add-deal .existing-investor .input-append,
.change-deal .existing-investor .input-append {
    margin-left: 0;
}
.add-deal .existing-investor .investor,
.change-deal .existing-investor .investor {
    width: 240px;
}
.add-deal .existing-investor .investor,
.add-deal .existing-investor .investment_ratio,
.add-deal .existing-investor .tg_general_comment,
.change-deal .existing-investor .investor,
.change-deal .existing-investor .investment_ratio,
.change-deal .existing-investor .tg_general_comment {
    display: list-item;
    clear: none;
    float: left;
    margin-right: 5px;
}
/* Browse */
ul.form.condition li,
.condition li .input-append {
    margin-left: 0;
    clear: none;
}
.condition .add-investor,
.condition .change-investor {
    display: none;
}
/* POPUP */
.popup .wrap > .container {
    padding-top: 20px;
}
.popup .wrap > .navbar,
.popup .breadcrumb,
footer {
    display: none;
}

#id_action_comment-not_public {
    margin-right: 10px;
}

#id_action_comment-fully_updated_history {
    width: 400px;
}
