{% load i18n %}

{% block content %}
    {% if changes %}
        <ul>
        {% for group_id, attribute, later_value, earlier_value in changes %}
            <li>
            {% if later_value and not earlier_value %}{# attribute added #}
                {{ attribute }} {% trans "added" %} ({{ later_value }}).
            {% elif earlier_value and not later_value %}{# attribute removed #}
                {{ attribute }} {% trans "removed" %}.
            {% else %}{# attribute changed #}
                {{ attribute }} {% trans "changed from" %}
                {{ earlier_value }} {% trans "to" %} {{ later_value }}.
            {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
    {% trans "No changes." %}
    {% endif %}
{% endblock %}