{% load i18n %}


<div class="row">
  <h2>{{ legend.title }}</h2>
  <table>
    <thead>
      <td></td>
      {% for country in countries %}
        <td>{{ country.name }}</td>
      {% endfor %}
    </thead>
    {% for item in legend.attributes.values %}
      <tr>
        <td>
          <span class="legend-symbol" style="background-color:{{ item.color }};"></span>
          {{ item.label }}
        </td>
        {% for value in item.values %}
          <td>{{ value }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    <tr>
      <td>
        {% trans "Total" %}
      </td>
      {% for country in countries %}
        <td>{{ country.total }}</td>
      {% endfor %}
    </tr>
  </table>
</div>
