{% load i18n wagtailcore_tags %}
<div id="news" class="col-md-12">
    <h3 class="center">{% trans "Latest News" %}</h3>

    <div class="row row-eq-height">
        {% for item in news %}
        <div class="col-sm-6 col-md-4 ">
          <div class="thumbnail flex-col">
            {% if item.header_image %}<img src="{{ item.header_image.file.url }}"/>{% endif %}
            <div class="caption">
              <h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
              <p>{{ item.body|richtext|truncatewords_html:50 }}</p>
              <p>
                <a href="{{ item.get_absolute_url }}" class="btn">{% trans "Read more" %}</a>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div> <!-- News -->