{% load i18n %}<table class="table table-striped" id="latest-database-modifications" style="display:none">
    <thead>
        <tr>
            <th>{% trans "Deal #" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Target country" %}</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script type="text/javascript">
$(document).ready(function () {
    var count = {{ limit|default_if_none:5 }};
    $.get('/api/latest_changes.json?n=' + count{% if country %} + '&target_country={{ country.id }}'{% else %}{% if region %} + '&target_region={{ region.id }}'{% endif %}{% endif %}, function (data) {
        var table = $('#latest-database-modifications');
        if (data.length > 0) {
            var tbody = table.find('tbody').empty(),
                item, row;
            for (var i = 0; i < data.length; i++) {
                item = data[i];
                row = '<tr>';
                row += '<td><a class="label label-default" href="/deal/' + item.deal_id + '/">' + item.deal_id + '</a></td>';
                date = new Date(item.change_date);
                row += '<td>' + date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate() + '</td>';
                action = item.action.charAt(0).toUpperCase() + item.action.slice(1);
                row += '<td>' + action + '</td>';
                row += '<td>' + item.target_country + '</td>';
                tbody.append(row);
            };
            table.show();
        } else {
            table.hide();
        }
    })
});
</script>