{% load i18n static sass_tags %}
<link rel="stylesheet" href="{% static "vendor/openlayers/ol.css" %}"/>

<link rel="stylesheet" href="{% static "css/nprogress.css" %}"/>
<link rel="stylesheet" href="{% static "css/ol3-layerswitcher.css" %}"/>
<!-- <link rel="stylesheet" href="{% static "css/map.css" %}"/> -->
<link href="{% sass_src 'css/map.scss' %}" rel="stylesheet" type="text/css" />


<div id="alert_placeholder"></div>

<div id="map" class="map" title='{% trans "All Deals" %}'></div>

<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="noul ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>
<script type="text/javascript">
var mapDisableControls = true,
    mapBounds = [
        {{ country.point_lat_min }}, {{ country.point_lon_min }},
        {{ country.point_lat_max }}, {{ country.point_lon_max }},
    ],
    mapParams = '&{% if country %}target_country={{ country.id }}{% else %}{% if region %}target_region={{ region.id }}{% endif %}{% endif %}';
</script>
<script type="text/javascript" src="{% static "vendor/openlayers/ol-debug.js" %}"></script>
<script type="text/javascript" src="{% static "js/ol3-layerswitcher.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/nprogress/nprogress.js" %}"></script>

<script type="text/javascript" src="{% static "js/map.js" %}"></script>
<script type="text/javascript" src="{% static "js/layers.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>