/*
.get-the-detail #add_id_primary_investor {
    display: none;
}

.get-involved h1,
.get-involved a:hover,
.get-involved strong {
    color: $lm_orange;

}

.get-involved ::selection {
    background-color: $lm_orange;
}
*/


/*
.title span {
    position: relative;
}

.title .prev,
.title .next {
    position: absolute;
    display: block;
    top: 9px;
    left: 12px;
    width: 11px;
    height: 18px;
    background: url(/static/img/arrows.png) no-repeat;
    text-indent: -9999px;
}

.title .next {
    background-position: -11px 0;
    left: auto;
    right: 12px;
}

*/
/*
.collapsible {
    position: relative;
}

.collapsible .subnav {
    margin-bottom: 31px;
}

.collapsible .toggle .icon {
    display: block;
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 14px;
    height: 14px;
    background: url(/static/img/plus-minus.png) no-repeat -14px 0;
    text-indent: -9999px;
    opacity: 0.5;
}

.collapsed .toggle .icon {
    background-position: 0 0;
}

.collapsible .toggle .icon:hover {
    opacity: 1;
}

.collapsed .thumbnail a.image {
    display: none;
}

.collapsed .thumbnail {
    color: $lm_dark;
    background-color: #e5e5e5;
    border: 1px solid #bcbcbc;
    padding: 8px 35px 8px 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
    height: 36px;
    opacity: 0.5;
    cursor: pointer;
}

.get-the-detail .collapsed .thumbnail {
    height: 57px;
    width: 144px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-right: none;
}

.get-the-detail .collapsed .last .thumbnail {
    border-right: 1px solid #e5e5e5;
}

.get-the-detail .thumbnail a {
    height: auto;
}

.get-the-detail .collapsible .toggle {
    top: -20px;
    left: 0;

}
*/

/* ==========================================================================
 *    NAVIGATION ICONS
 * ========================================================================== */
/*a.get-the-idea,
a.get-the-detail,
a.get-involved,
a.about {
    display: block;
    width: 28px;
    height: 34px;
    background: url(/static/img/nav-icons.png) no-repeat;
    text-indent: -99999px;
}

.nav > li.active > a.get-the-idea,
a.get-the-idea:hover {
    background-position: 0 -34px;
}

a.get-the-detail {
    background-position: -28px 0;
}

.nav > li.active > a.get-the-detail,
a.get-the-detail:hover {
    background-position: -28px -34px;
}

a.get-involved {
    background-position: -56px 0;
}

.nav > li.active > a.get-involved,
a.get-involved:hover {
    background-position: -56px -34px;
}

a.about {
    background-position: -84px 0;
}

.nav > li.active > a.about,
a.about:hover {
    background-position: -84px -34px;
}

i.big {
    display: block;
    width: 40px;
    height: 48px;
    background: url(/static/img/nav-icons.png) no-repeat 0 -68px;
    text-indent: -99999px;
    float: left;
    margin-top: -5px;
    margin-right: 18px;
}

.active i.big.get-the-idea {
    background-position: 0 -116px;
}

.big.get-the-detail {
    background-position: -40px -68px;
}

.active .big.get-the-detail {
    background-position: -40px -116px;
}

i.big.get-involved {
    background-position: -80px -68px;
}

.active .big.get-involved {
    background-position: -80px -116px;
}

.whitecircle {
    width: 80px;
    height: 80px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 50%;
    color: #4bbb87;
    text-align: center;
    padding-left: 5px;
    background: $lm_offwhite;
    font-weight: 700;
}
*/


/* ==========================================================================
 *    START PAGE
 * ========================================================================== */
/*
.thumbnail {
    box-shadow: none;
    border: none;
    padding: 0;
}

.thumbnails .counter {
    display: block;
    width: 10px;
    height: 18px;
    position: absolute;
    bottom: 33px;
    color: #fff;
    padding: 10px 14px;
    border: 1px solid #fff;
}

.thumbnail img {
    border: 1px solid #bcbcbc;
    margin-bottom: 6px;
}

.get-involved .btn-primary {
    padding-top: 22px;
    height: 29px;
    white-space: nowrap;
    margin-bottom: 20px;
}

.media-list li {
    clear: both;
}

.media-list li i {
    margin-right: 3px;
}

.media-list h6 {
    display: block;
    float: left;
}

.media-list .separator {
    display: block;
    height: 12px;
    width: 70px;
    float: left;
    border-bottom: 2px dotted $lm_orange;
    margin: 0 4px;
}

.get-the-detail .span3 {
    margin: 0 auto;
    float: none;
}

.get-the-detail .first .span3 {
    margin-left: 0;
    float: left;
}

.get-the-detail .last .span3 {
    float: right;
}

.get-the-detail li {
    position: relative;
}

.get-the-detail li .separator {
    display: block;
    background: url(/static/img/arrow-right.png) no-repeat;
    width: 28px;
    height: 46px;
    position: absolute;
    right: -50px;
    top: 50px;
}

.get-the-detail li.first .separator {
    right: -7px;
}

*/

/* Fix for IE7, floating intention icons */
/*
.get-the-detail .unstyled li {
    display: inline-block;
    float: left;
}
*/

/*
.blog-entry {
    background-color: $lm_offwhite;
    width: 470px;
    float: left;
}

.blog-meta {
    width: 150px;
    background-color: #9b9b9b;
    height: 100%;
    position: absolute;
    right: 0;
    margin-left: 0;
    border: 1px solid #c1c1c1;
    float: left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ /*
    -moz-box-sizing: border-box; /* Firefox, other Gecko */ /*
    box-sizing: border-box; /* Opera/IE 8+ */ /*
}

.blog-meta .content,
.blog-entry .content {
    padding: 10px;
}

.blog-meta .content img,
.blog-meta .content p {
    margin-bottom: 25px;
}

@media (min-width: 1200px) {
    .blog-entry {
        width: 585px;
    }

    .blog-entry h4 {
        width: 370px;
    }

    .blog-meta {
        width: 185px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .blog-entry {
        width: 362px;
    }

    .blog-meta {
        width: 114px;
    }
}

@media (max-width: 767px) {
    .blog-entry {
        width: auto;
        margin-left: 0;
        padding-right: 134px;
    }

    .blog-meta {
        width: 134px;
    }

    .blog {
        margin-bottom: 36px;
    }
}
*/
/*
.carousel-fade .carousel-inner .item.prev.right,
.carousel-fade .carousel-inner .item.active.right {
    text-align: left;
}

.carousel-fade .right li {
    float: left;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

*/

/*
.well-square.social {
    margin-top: 27px;
    text-align: center;
    opacity: 0.5;
}

.well-square.social:first-child {
    margin-top: 0;
}

.well-square.social a img {
    padding-right: 20px;
}

.well-square.social:hover {
    opacity: 1;
}

.well {
    border-radius: 0;
    box-shadow: 1px 1px 3px #dadada !important;
}

.icon-twitter {
    display: inline-block;
    vertical-align: text-top;
    background-image: url("/static/img/twitter-icon.png");
    background-repeat: no-repeat;
}
*/

/*
.get-the-detail ul.form.condition li.field .value-wrapper ul li label {
    display: block;
}

.get-the-detail .year-based-year,
.get-the-detail .add-ybd,
.get-the-detail .change-investor {
    display: none;
}

ul.form.condition li {
    float: left;
}

#id_honeypot {
    display: none;
}

label[for=id_honeypot] {
    display: none;
}
*/

/*
.get-the-detail .input-group .value-wrapper > ul {
    display: block;
    max-height: 180px;
    width: 260px;
    overflow-y: auto;
}

.get-the-detail ul.form.condition .input-group li {
    float: none;
}

.get-the-detail ul.form.condition .input-group li input {
    width: 15px;
}

.btn-group input {
    margin-bottom: 0;
}

.deal-detail.nav.nav-list > li > button {
    background: none;
    border: none;
    padding: 3px 15px;
    display: block;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
    opacity: 1;
    text-align: left;
}

.nav.nav-tabs > li > a,
.nav.nav-tabs > li > a:hover {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 3px 15px;
    border: none;
}

.nav.nav-tabs > li:hover > a,
.deal-detail.nav.nav-list > li > button:hover {
    color: $lm_orange;
}

.nav.nav-tabs > li.active > a:hover,
.deal-detail.nav.nav-list > li > button.active:hover {
    color: #fff;
}

.nav.nav-tabs > li.active > a,
.deal-detail.nav.nav-list > li > button.active {
    background: #44b7b6;
    color: #fff;
    border: none;
}

.public .deal-detail.nav.nav-list > li.done > button {
    display: inline-block;
    color: $lm_dark;
    border: 1px solid #bcbcbc;
    background: #e5e5e5;
    margin-top: 6px;
    width: auto;
}

.public .deal-detail.nav.nav-list > li.done > button:hover {
    background: $lm_orange;
    opacity: 1;
    color: #fff;
}

.public .deal-detail.nav.nav-list > li > button.active {
    background: $lm_orange;
}

.public .deal-detail.nav.nav-list > li > button:hover, button:focus {
    color: $lm_orange;
}

.public .deal-detail.nav.nav-list > li > button.active:hover {
    color: #fff;
}

.public .change-investor,
.public .add-investor {
    display: none;
}
*/


/* RADIO / CHECKBOX
input[type='radio'],
input[type='checkbox'] {
    margin: 0 !important;
    visibility: hidden;
}

input[type='radio']:after,
input[type='checkbox']:after {
    margin-right: 2em;
    padding-top: 1em !important;
    padding-left: 3em;
    position: relative;
    visibility: inherit;
}

input[type='radio'] + label::before,
input[type='checkbox'] + label::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 2em;
    height: 2em;
    margin: 0.65em 0 0 0;
    border: 1px solid #C2CFBF;
    border-radius: 50%;
}

input[type='radio']:hover + label::before,
input[type='radio']:focus + label::before,
input[type='checkbox']:hover + label::before,
input[type='checkbox']:focus + label::before {
    border-color: #10b52b;
}

input[type='radio']:checked + label::before,
input[type='checkbox']:checked + label::before {
    background-color: #10b52b;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMzIiIHdpZHRoPSIzMiI+PGc+PHBhdGggZD0iTTE5IDExbC03IDctNC00IiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMi41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGZpbGw9Im5vbmUiLz48L2c+PC9zdmc+");
    border-color: #10b52b;
}
*/


/** OLD CRUFT (PRE OPENLAYERS)
.map img {
 max-width: none;
}
.map label {
 width: auto;
 display:inline;
}
*/


/* ==========================================================================
 *    COMMENT
 * ========================================================================== */
/*
.get-the-detail .form-actions {
    background-color: inherit;
    border-top: inherit;
}

#write_comment .form-horizontal .control-label {
    width: 140px;
}

#write_comment .form-horizontal .controls {
    margin-left: 160px;
}

#comments ul {
    clear: both;
}

#comments ul .comment_li {
    float: none;
}

.comment_li .comment_li {
    padding-left: 20px;
}

.scrollable {
    padding-top: 50px;
    margin-top: -50px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
    background-color: $lm_orange;
    color: $lm_medium1;
    text-shadow: none;
}
*/
/* ==========================================================================
 *    GET THE IDEA
 * ========================================================================== */
/*
.action1, .action2 {
    margin-bottom: 6px;
}

svg {
    display: block;
    width: 960px;
    margin: 0 auto;
}

svg a {
    text-decoration: none;
}

ul.legend.offset {
    margin-left: 10px;
}

ul.legend.offset li > span {
    margin-left: 9px;
}

.well-square {
    min-height: 20px;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #e3e3e3;
    border: 1px solid #bebebe;
}

.well-square p, ul {
    margin-bottom: 0;
}

.current-country {
    margin-bottom: 12px;
}

*/

/*
.get-the-detail table th a {
    padding-bottom: 12px;
}

.get-the-detail table thead tr {
    background-color: #ededed;
}

.get-the-detail table th a:hover,
.get-the-detail table th a.desc:hover,
.get-the-detail table th a.asc {
    background: url(/static/img/icon-sort-asc.png) no-repeat 6px bottom;
}

.get-the-detail table th a.asc:hover,
.get-the-detail table th a.desc {
    background: url(/static/img/icon-sort-desc.png) no-repeat 6px bottom;
}

.get-the-detail .table-striped tbody tr:nth-child(odd) td {
    /*background-color: #e2e2e2;*/ /*
}

.get-the-detail .collapsible-tags h5 {
    float: left;
    margin-top: 0;
    margin-right: 5px;
}

.get-the-detail .collapsible-tags ul li {
    float: left;
    margin: 0 5px 5px 0;
}

.get-the-detail .collapsible-tags.collapsed ul,
.get-the-detail .collapsible-tags.collapsed h5 {
    display: none;
}

.entry-point h4 {
    display: block;
    margin: 0 auto;
    width: 91px;
}

.entry-point-by-target-country,
.entry-point-by-target-region,
.entry-point-by-investor-country,
.entry-point-by-investor-region,
.entry-point-by-investor-name,
.entry-point-by-data-source-type,
.entry-point-by-intention,
.entry-point-by-crop,
.entry-point-all {
    width: 979px;
    height: 52px;
    background: url(/static/img/entry-points.png) no-repeat;
    display: block;
    text-indent: -9999px;
    margin: 5px auto 0;
}

.entry-point-by-investor-country,
.entry-point-by-investor-region,
.entry-point-by-investor-name {
    background-position: 0 -52px;
}

.entry-point-by-data-source-type {
    background-position: 0 -104px;
}

.entry-point-by-intention {
    background-position: 0 -156px;
}

.entry-point-by-crop {
    background-position: 0 -208px;
}

.entry-point-all {
    background-position: 0 -260px;
}
*/

/* ==========================================================================
 *    CONDITION FORM
 * ========================================================================== */

/*
.condition {
    clear: both;
    width: 100%;
}

.condition .field {
    margin: 0 12px 6px 0;
    width: 50%;
}

.condition .operator {
    margin-right: 20px;
    width: 40%;
}

.condition li.field input {
}

.filters .btn-group {
    clear: both;
    display: block;
}
*/

/*
@media (min-width: 1200px) {
	.section-overview-wrapper {
		margin-left: -20px;
		width: 1190px;
		padding: 0 10px 0 10px;
	}
}
@media (min-width:768px) and (max-width:979px) {
	.section-overview-wrapper {
		margin-left: -20px;
		width: 714px;
		padding: 0 10px 0 10px;
	}
}
*/ /*
.section-overview-wrapper {
    margin-bottom: 36px;
}

.section-overview,
.nav-tabs {
    margin-bottom: 0;
}

.section-overview .nav.nav-tabs > li.active > a {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

@media (min-width: 1200px) {
    .section-overview-wrapper .thumbnails > li {
        margin-left: 20px;
    }

    .section-overview-wrapper .thumbnails > li.span4,
    .section-overview-wrapper .span6 {
        margin-left: 10px;
    }

    .section-overview-wrapper .thumbnails > li:first-child,
    .section-overview-wrapper .thumbnails > li.span4:first-child,
    .section-overview-wrapper .span6:first-child {
        margin-left: 30px;
    }

    .section-overview .nav-tabs li {
        width: 32%;
    }

    .section-overview .nav-tabs li.get-the-detail {
        width: 36%;
    }

    .section-overview .nav-tabs li h1 {
        margin-left: 18%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .section-overview-wrapper .thumbnails > li {
        margin-left: 15px;
    }

    .section-overview-wrapper .thumbnails > li.span4,
    .section-overview-wrapper .span6 {
        margin-left: 10px;
    }

    .section-overview-wrapper .thumbnails > li:first-child,
    .section-overview-wrapper .thumbnails > li.span4:first-child,
    .section-overview-wrapper .span6:first-child {
        margin-left: 20px;
    }

    .section-overview .nav-tabs li {
        width: 32%;
    }

    .section-overview .nav-tabs li.get-the-detail {
        width: 36%;
    }

    .section-overview .nav-tabs li h1 {
        margin-left: 0;
    }
}

@media (min-width: 0) and (max-width: 768px) {
    .section-overview .nav-tabs li {
        width: 100%;
    }

    .section-overview .nav-tabs li.get-the-detail {
        width: 100%;
    }

    .section-overview-wrapper .tab-content .tab-pane {
        height: auto;
    }

    .section-overview .nav-tabs li h1 {
        margin-left: 0;
    }

    .section-overview-wrapper .span6 {
    }

    /*
    .wrap {
        margin-bottom: -91px;
    }

    .push {
        height: 91px;
    }

    footer {
        height: 71px;
    }
    */ /*
}

/*
.section-overview .nav-tabs li a {
	padding-left: 75px;
}
.section-overview .nav-tabs li.get-involved {
    width: 398px;
}
*//*
.section-overview .nav-tabs li.get-involved a {
    margin-right: 0;
}

.section-overview-wrapper .tab-pane {
    padding: 20px 9px;
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    height: 240px;
    overflow: hidden;
}

.top-10-countries table th,
.top-10-countries table td,
.country-info table th,
.country-info table td {
    padding: 0;
}

.toggle-tooltip {
    margin-left: 5px;
}

th .toggle-tooltip {
    background: none !important;
}

.btn-group .tooltip-inner {
    white-space: normal;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #1d1d1d;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #1d1d1d;
}

.tooltip-inner {
    background-color: #1d1d1d;
    color: #fff;
    font-weight: normal;
}

.tooltip.left {
    margin-left: -9px; /* flickers with the default setting of -4px */ /*
}

.recaptchatable * {
    line-height: 0;
}

.twitter-timeline {
    float: left;
    background: #fff;
    border: 1px solid #ddd !important;
    margin-bottom: 14px;
}

/*@media (max-width: 767px) {
    .twitter-timeline {
        width: 716px;
    }
}*/ /*

.fancybox > img {
    margin: 0;
}

.fancybox:hover {
    box-shadow: none !important;;
    border: none !important;
}
*/
/*
.file {
    display: block;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .row, .thumbnails, .breadcrumb {
        margin: 0 20px !important;
    }
}
*/

