{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load static i18n filter_tags wagtailcore_tags custom_tags landmatrix_tags message_tags %}

  {% block css %}
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
    <!-- <link rel="stylesheet" href="{% static "css/content.css" %}"> -->
    <link rel="stylesheet" href="{% static "select2/dist/css/select2.min.css" %}"/>
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}">
    <link rel="stylesheet" href="{% static "css/icons.css" %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" href="{% static "img/favicon.ico" %}">

    {% if is_pdf_export %}
    <script src="{% static "js/wkhtml.js" %}"></script>
    <script src="{% static "js/vendor/requestAnimationFrame-polyfill.js" %}"></script>
    {% endif %}
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "select2/dist/js/select2.full.js" %}"></script>

    {% if is_pdf_export %}
      <link rel="stylesheet" href="{% static "css/htmltopdf.css" %}" type="text/css">
    {% endif %}
  {% endblock %}

{% block navutils %}
  {% block messages %}
    {% custom_messages as custommessages %}
    {% for message in custommessages %}
      <p class="alert{% if message.level %} alert-{% if message.level == "error" %}danger{% else %}{{ message.level }}{% endif %}{% else %} alert-info{% endif %}">
        {% if message.title %}
          <strong>{{ message.title }}</strong> {% endif %}{{ message.text|safe|urlize }}
      </p>
    {% endfor %}
    {% for message in messages %}
      <p class="alert{% if message.tags %} alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% else %} alert-info{% endif %}">
        {{ message|safe }}
      </p>
    {% endfor %}
    {% block extra_messages %}{% endblock %}
  {% endblock %}
{% endblock %}

{% block title_section %}
{% endblock %}

{% block content %}
  <div id="app"></div>
{% endblock %}

{% block javascript %}
  {% render_bundle 'main' 'js' %}
{% endblock %}
