{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Server Error" %}{% endblock %}
{% block title %}{% trans "Looks like something went wrong" %}{% endblock %}

{% block subnav_inner %}
    <li role="presentation">
        <a id="clear-filters" href="/api/filter/clear/" target="_blank"><i class="fa fa-trash"></i> {% trans "Clear filters" %}</a>
    </li>
	<li class="divider"></li>
	{{ block.super }}
<script type="text/javascript">
$(document).ready(function () {
	$('#clear-filters').click(function (e) {
		e.preventDefault();
		$.get($(this).attr('href'), function () {
			location.reload();
		});
		return false;
	});500.
});
</script>
{% endblock %}

{% block content %}
<div class="block">
	<p>{% trans "We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing." %}</p>
</div>
{% endblock %}