{% load i18n static %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block page_title %}{% endblock %} - LAND MATRIX</title>
    <meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{% trans "Landmatrix" %}{% trans 'Default description' %}{% endif %}"/>
    <meta name="keywords" content="{% if meta_keywords %}{{ meta_keywords }}{% else %}{% trans "Landmatrix" %}{% trans 'Default keywords' %}{% endif %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static "vendor/bootstrap/dist/css/bootstrap.min.css" %}">
    <!-- <link rel="stylesheet" href="{% static "vendor/bootstrap/dist/css/bootstrap-theme.min.css" %}"> -->
    <link rel="stylesheet" href="{% static "css/content.css" %}">
    <link rel="stylesheet" href="{% static "vendor/select2/dist/css/select2.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/icons.css" %}">
    <link rel="icon" href="{% static "img/favicon.ico" %}">

    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
    {% if is_pdf_export %}
        <link rel="stylesheet" href="{% static "css/htmltopdf.css" %}" type="text/css" media="screen"
              title="no title" charset="utf-8">
    {% endif %}

    <!-- <script src="{% static "js/legacy/vendor/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>-->

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="{% static "vendor/jquery/dist/jquery.min.js" %}"><\/script>')</script>
    {% block head %}
    {% endblock %}
    {% block css %}
    {% endblock %}

</head>
<body class="{% if popup %}popup {% endif %}">

{% block header %}
    <div class="navbar navbar-default navbar-main" role="navigation">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#main-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand brand" href="/"><img src="{% static "img/lm-logo.png" %}"></a>
            </div>

            <div class="collapse navbar-collapse" id="main-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/global/map/"><i class="lm-nav lm-globe"></i><span class="nav-text">Global</span></a>
                    </li>
                    <li>
                        <form class="navbar-form">
                            <div class="form-group">
                                <span>
                                <i class="lm-nav lm-regions"></i>
                                    <select class="nav-select" id="nav-region-select">
                                        <option></option>
                                        <optgroup label="Region observatories">
                                            <option label="Regions" value="de_o">Europe</option>
                                            <option label="Regions" value="ru_o">Russia</option>
                                        </optgroup>
                                        <optgroup label="Regions">
                                            <option label="Regions" value="de">Europe</option>
                                            <option label="Regions" value="ru">Russia</option>
                                            <option label="Regions" value="sa">South Africa</option>
                                        </optgroup>
                                    </select>
                                </span>
                            </div>
                        </form>
                    </li>
                    <li>
                        <form class="navbar-form">
                            <div class="form-group">
                                <span>
                                <i class="lm-nav lm-flag"></i>
                                    <select class="nav-select" id="nav-country-select">
                                        <option></option>
                                        <optgroup label="Country observatories">
                                            <option label="Countries" value="de_o">Germany</option>
                                            <option label="Countries" value="ru_o">Russia</option>
                                        </optgroup>
                                        <optgroup label="Countries">
                                            <option label="Countries" value="de">Germany</option>
                                            <option label="Countries" value="ru">Russia</option>
                                            <option label="Countries" value="si">Siberia</option>
                                        </optgroup>
                                    </select>
                                </span>
                            </div>
                        </form>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="lm-nav lm-plus-circle"></i><span class="nav-text">Get Involved <span
                                class="caret"></span></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/deal/add">Report a deal</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/contact">Get in touch</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/download">Download</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/help" role="button"><span class="nav-circle nav-help">?</span></a></li>
                    <li><a href="/editor" role="button"><span class="fa lm-envelope messages"></span></a></li>
                    {% include "language_chooser.html" %}
                </ul>
            </div>
            {% block user_tools %}{% endblock %}
        </div>
    </div>

{% endblock %}

<div class="wrap">
    <!--[if lt IE 7]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->

    {# top-level navigation #}
    {# This code is taken from http://twitter.github.com/bootstrap/examples/hero.html #}

    <div class="container">

        {% block navutils %}

            {% block messages %}
                <ul class="unstyled messages">
                    {% for message in messages %}
                        <li class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                            <strong>{{ message.tags|capfirst }}:</strong> {{ message|safe }}</li>
                    {% endfor %}
                    {% block extra_messages %}{% endblock %}
                </ul>
            {% endblock %}

            <div class="row">
                <div class="col-md-4">

                    {% block breadcrumb %}
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            {% block breadcrumb_inner %}
                            {% endblock %}
                        </ul>
                    {% endblock %}
                </div>
                <div class="col-md-4 col-md-offset-4">

                    {% block subnav %}
                        <ul class="subnav nav nav-pills pull-right">
                            {% block subnav_inner %}
                                <li role="presentation"><a href="#/download">
                                    <i class="lm lm-download"></i>{% trans "Download this" %}
                                </a></li>
                            {% endblock %}
                            <li role="presentation"><a href="#/share">
                                <i class="lm lm-spacer lm-share-square-o"></i>
                                {% trans "Share" %}
                            </a></li>
                        </ul>
                    {% endblock %}
                </div>
            </div>

        {% endblock %}

        {% block title_section %}
            <div class="row">
                <div class="col-md-12">
                    <h1><span>{% block title %}{% endblock %}</span></h1>
                </div>
            </div>
        {% endblock %}

        {% block content %}{% endblock %}

    </div> <!-- /container -->

    <div class="push"></div>
</div>

{% block footer %}
    <footer>
        <div class="container">
            <div id="footer-nav" class="row">
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li><h4>Explore</h4></li>
                        <li><a href="/idea/transnational-deals">Global Web of transn. deals</a></li>
                        <li><a href="/global/map">Global map of investments</a></li>
                        <li><a href="/global/map">Interactive Map</a></li>
                        <li><a href="/country/grid">Grid of deals by country</a></li>
                        <li><a href="/download">Download Data</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li><h4>Get Involved</h4></li>
                        <li><a href="/deal/add">Add a deal</a></li>
                        <li><a href="/deal/add">Report a deal</a></li>
                        <li><a href="/help/api">Develop your own app</a></li>
                        <li><a href="/help/feedback">Provide Feedback</a></li>
                        <li><a href="/help/translate">Help improve translations</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li><h4>Stay Informed</h4></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/newsletter">Newsletter</a></li>
                        <li><a href="/publications">Publications</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li><h4>About</h4></li>
                        <li><a href="/about">About Land Matrix</a></li>
                        <li><a href="/ilc">The ILC Partnership</a></li>
                        <li><a href="/policy">Data policy</a></li>
                        <li><a href="/contact">Get in touch</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr/>
                </div>
            </div>

            <div id="footer-etc" class="row">
                <div class="col-md-5">
                    <h4 class="toosmalltofail">Spread and share LM</h4>
                    <h4 class="toobigtofail">Spread the word and share land matrix</h4>
                    <a target="_blank" href="https://twitter.com/Land_Matrix"><i class="lm-footer lm-twitter-square"></i></a>
                    <a target="_blank" href="https://www.facebook.com/LandMatrix"><i class="lm-footer lm-facebook-square"></i></a>
                </div>
                <div class="col-md-2 center">
                    <h4>Share and adapt</h4>
                    <a target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><span
                            class="lm-footer lm-creative-commons"></span></a>
                    <a target="_blank" href="https://github.com/sinnwerkstatt/landmatrix"><i class="lm-footer lm-github"></i></a>
                </div>
                <div class="col-md-5 text-right">
                    <h4 class="toobigtofail">Sign up to receive updates</h4>
                    <h4 class="toosmalltofail">Stay updated</h4>
                    <a target="_blank" href="http://eepurl.com/AHK0r"><i class="lm-footer lm-envelope"></i></a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block footer_scripts %}
    <script src="{% static "vendor/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "vendor/select2/dist/js/select2.full.min.js" %}"></script>
    <script src="{% static "legacy/main.js" %}"></script>
    <!-- Select2 init -->
    <script type="text/javascript">
        $('#nav-region-select').select2({
            placeholder: "Regions"
        });
        $('#nav-country-select').select2({
            placeholder: "Countries"
        });
    </script>
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = (("https:" == document.location.protocol) ? "https" : "http") + "://stats.landmatrix.org//";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.defer = true;
            g.async = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();

    </script>
    <noscript><p><img src="http://stats.landmatrix.org/piwik.php?idsite=1" style="border:0" alt=""/></p></noscript>
    <!-- End Piwik Code -->
{% endblock %}
{% block js %}
{% endblock %}

</body>
</html>
