{% extends "base.html" %}
{% load i18n %}

{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/legacy/vendor/RGraph.pie.js"></script>
<script type="text/javascript" src="/media/js/legacy/vendor/RGraph.bar.js"></script>
<script type="text/javascript" src="/media/js/legacy/vendor/RGraph.common.core.js"></script>
<script type="text/javascript" src="/media/js/legacy/vendor/RGraph.common.effects.js"></script>
<script type="text/javascript" src="/media/js/legacy/vendor/RGraph.common.dynamic.js"></script>
<script type="text/javascript" src="/media/js/legacy/vendor/RGraph.common.tooltips.js"></script>
<script type="text/javascript">
var storage = {};
function draw (callback, chart_data) {
/* chart_data: optional */
//    alert('draw!'+chart_data);
    RGraph.ObjectRegistry.Clear();
    // Cached data?
    if (chart_data) {
        var bar_labels = [], bar_labels_ingraph = [], bar_data = [];
        var pie_data = [], pie_labels = [];
        var show_deals = ($(".views .active").attr("value") == "deals");
        for (var i = 0; i < chart_data.length; i++) {
            if (chart_data[i]["name"] !== "") {
                bar_labels.push(chart_data[i]["name"]);
                bar_data.push(show_deals && parseInt(chart_data[i]["deals"], 10) || parseInt(chart_data[i]["hectares"], 10));
            }
        }
        for (var i = 0; i < bar_data.length; i++) {
            bar_labels_ingraph.push("<p>" + (show_deals && (bar_data[i] + " deals") || (numberWithCommas(bar_data[i]) +  " ha")) + "</p>");
        }
        var bar = new RGraph.Bar('bar', bar_data);
        bar.Set('chart.hmargin', 40);
        bar.Set('chart.colors', [show_deals && '#44b7b6' || '#ed881b']);
        bar.Set('chart.labels', bar_labels);
        //bar.Set('chart.labels.above.specific', bar_labels_ingraph);
        bar.Set('chart.strokestyle', '#bbb');
        bar.Set('chart.hmargin.grouped', 0);
        bar.Set('chart.background.barcolor1', '#e2e2e2');
        bar.Set('chart.background.barcolor2', '#ededed');
        bar.Set('chart.background.grid', false);
        bar.Set('chart.background.grid.color', '#d5d5d5');
        bar.Set('chart.text.font', 'Open Sans');
        bar.Set('chart.text.color', '#3b3b3b');
        bar.Set('chart.axis.color', '#3b3b3b');
        bar.Set('chart.text.size', '9');
        bar.Set('chart.tooltips', bar_labels_ingraph);
        bar.Set('chart.tooltips.css.class', 'graph-popover');
        bar.Set('chart.gutter.left', (Math.max.apply(Math, bar_data).toString().length * 9));
        bar.Set('chart.tooltips.event', 'onmousemove');
        RGraph.Effects.Fade.In(bar, {'duration': 250});

        // show/hide data availability
        var sum = 0;
        $(chart_data).each(function (i) { sum += chart_data[i].deals; });
        sum && $(".data-availability").show() || $(".data-availability").hide();

        // availability pie chart
        var pie_data = [], pie_labels = [];
        var available = 0, not_available = 0, not_available_per = 0, available_per = 0;
        sum = 0;
        for (var i = 0; i < chart_data.length; i++) {
            sum += chart_data[i][(show_deals && "deals" || "hectares")];
            if (chart_data[i]["name"] !== "") {
                available += chart_data[i][(show_deals && "deals" || "hectares")]
            } else {
                not_available += chart_data[i][(show_deals && "deals" || "hectares")];
            }
        }
        not_available_per = Math.round(not_available/sum*100)
        available_per = Math.round(available/sum*100)
        pie_data.push(not_available_per);
        pie_data.push(available_per);
        var pie = new RGraph.Pie('pie-availability', pie_data);
        pie.Set('chart.colors', ['#1e1e1e', '#828282']);
        pie.Set('chart.radius', 15);
        pie.Set('chart.strokestyle', '#bbb');
        pie.Set('chart.text.font', 'Open Sans');
        pie.Set('chart.text.size', '9');
        RGraph.Effects.Fade.In(pie, {'duration': 250});
        $("ul.legend li:first span").text(" (" + numberWithCommas(available) + (show_deals && " deals" || " hectares") + ", " + available_per + "%)");
        $("ul.legend li:last span").text(" (" + numberWithCommas(not_available) + (show_deals && " deals" || " hectares") + ", " + not_available_per + "%)");
        (typeof callback == "function") && callback();
    } else {
        var json_query = $(".nav-tabs .active a").attr("href").replace("?variable=", "") + ".json";
        var query_params = "";
        // rename agriculture
        if (json_query == "agriculture.json") {
            json_query = "intention_of_investment.json";
            query_params += "&intention=agriculture";
        }
        if ((json_query + query_params) in storage) {
            draw(callback, storage[json_query + query_params]);
        } else {
            jQuery.getJSON("/api/" + json_query + query_params, function(data) {
                storage[json_query + query_params] = data;
                draw(callback, data);
            });
        }
    }
};
</script>
{% endblock %}

<!-- subnav -->
{% block subnav %}
{% endblock %}
