{% load i18n %}
<a id="btn-download" class="popover-html" data-container="body" data-toggle="popover" data-placement="bottom" href="javascript:;">
    <i class="lm lm-spacer lm-download"></i>
    {% trans "Download" %}
</a>
<!-- Popover hidden content -->
<span id="download" class="hidden">
  <a href="{% url "export" format=".xml" %}" class="btn-media xml">
    <i class=""></i>XML
  </a>
  <a href="{% url "export" format=".csv" %}" class="btn-media csv">
    <i class=""></i>CSV
  </a>
  <a href="{% url "export" format=".xls" %}" class="btn-media xls">
    <i class=""></i>XLS
  </a>
</span>