{% load i18n %}
<a id="btn-download" class="popover-html" data-container="body" data-toggle="popover" data-placement="bottom" href="javascript:;">
    <i class="fa fa-download"></i> {% trans "Download" %}
</a>
<!-- Popover hidden content -->
<span id="download" class="hidden">
  {# FIXME: EXPORT_FORMATS available in the context would make this much cleaner #}
  {% if group_slug %}
    {% if group_value %}
    <a href="{% url "export" group=group_slug group_value=group_value format="xml" %}" class="btn-media xml">
    {% else %}
    <a href="{% url "export" group=group_slug format="xml" %}" class="btn-media xml">
    {% endif %}
  {% else %}
    {% if activity %}
    <a href="{% url "export" deal_id=activity.activity_identifier format="xml" %}?{{ request.GET.urlencode }}" class="btn-media xml">
    {% else %}
    <a href="{% url "export" format="xml" %}?{{ request.GET.urlencode }}" class="btn-media xml">
    {% endif %}
  {% endif %}
    <i class=""></i>XML
  </a>
  {% if group_slug %}
    {% if group_value %}
    <a href="{% url "export" group=group_slug group_value=group_value format="csv" %}?{{ request.GET.urlencode }}" class="btn-media csv">
    {% else %}
    <a href="{% url "export" group=group_slug format="csv" %}?{{ request.GET.urlencode }}" class="btn-media csv">
    {% endif %}
  {% else %}
    {% if activity %}
    <a href="{% url "export" deal_id=activity.activity_identifier format="csv" %}?{{ request.GET.urlencode }}" class="btn-media csv">
    {% else %}
    <a href="{% url "export" format="csv" %}?{{ request.GET.urlencode }}" class="btn-media csv">
    {% endif %}
  {% endif %}
    <i class=""></i>CSV
  </a>
  {% if group_slug %}
    {% if group_value %}
    <a href="{% url "export" group=group_slug group_value=group_value format="xls" %}?{{ request.GET.urlencode }}" class="btn-media xls">
    {% else %}
    <a href="{% url "export" group=group_slug format="xls" %}?{{ request.GET.urlencode }}" class="btn-media xls">
    {% endif %}
  {% else %}
    {% if activity %}
    <a href="{% url "export" deal_id=activity.activity_identifier format="xls" %}?{{ request.GET.urlencode }}" class="btn-media xls">
    {% else %}
    <a href="{% url "export" format="xls" %}?{{ request.GET.urlencode }}" class="btn-media xls">
    {% endif %}
  {% endif %}
    <i class=""></i>XLS
  </a>
  {% if activity and 'PDF' in export_formats %}
  <a class="btn-media pdf" href="{% if activity %}{% url 'deal_detail_pdf' deal_id=activity.activity_identifier %}{% elif pdf_export_url %}{{ pdf_export_url }}{% endif %}">
      <i class=""></i>PDF
  </a>
  {% endif %}
</span>