{% load i18n %}

<li class="dropdown">
    <!--
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">
        <span class="nav-circle">{{ current_language }}</span>
    </a>
    -->
    <a href="#" class="" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">
        <span class="nav-circle">EN</span>
    </a>
    <ul class="dropdown-menu">
        <li class="active">
            <a href="/en/" title="{% trans "Change to language:" %} English">
                <span>English</span>
            </a>
        </li>
    </ul>
</li>
