{% load static i18n %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block page_title %}{% endblock %} - Land Matrix</title>

  {% block css %}
    <link rel="icon" href="/static/favicon.ico">
  {% endblock %}
  <style>
    label {
      display: block;
      margin-top: 1rem;
      margin-bottom: 0.25rem;
    }

    input {
      height: 18px;
    }
  </style>
</head>

<body>

<div style="
    height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-family: sans-serif;
        ">
  <div>
    <a href="/">
    <img style="height: 60px;" src="/static/lm-logo.png">
    </a>

  </div>
</div>

<div style="
  height: calc(100vh - 240px);
  display: flex;
  align-items: center;
  justify-content: center;
  {#text-align: center;#}
  font-family: sans-serif;
  ">
  <div>
    {% block content %}{% endblock %}
  </div>
</div>

</body>
</html>
