{% load static i18n %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block page_title %}{% endblock %} - Land Matrix</title>

  {% block css %}
    <link rel="icon" href="{% static "img/favicon.ico" %}">
  {% endblock %}
</head>

<body>


<div style="
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-family: sans-serif;
        ">
  <div>
    <img style="margin-bottom: 4rem;" src="/static/img/lm-logo.png">
    {% block content %}{% endblock %}
  </div>
</div>

</body>
</html>
