<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Land Matrix - LAND MATRIX</title>
    <meta name="description" content="LandmatrixDefault description"/>
    <meta name="keywords" content="LandmatrixDefault keywords"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/static/css/content.css"> -->
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/icons.css">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/static/img/favicon.ico">
    <script src="/static/vendor/jquery/dist/jquery.js"></script>
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body class="template-homepage">


    <div class="navbar navbar-default navbar-main navbar-fixed-top" role="navigation">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#main-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand brand" href="/"><img src="/static/img/lm-logo.png"></a>
            </div>
        </div>
    </div>

<div class="wrap">
    <div class="container">
        <h1><span>Maintenance</span></h1>
        <p>Service is currently being updated. Please try again later.</p>
        <div class="push"></div>
    </div>

</div>

</body>
</html>
