{% load i18n %}
<a id="btn-share" class="popover-html" data-container="body" data-toggle="popover" data-placement="bottom" href="javascript:;">
    <i class="fa fa-share-square-o"></i> {% trans "Share" %}
</a>
<!-- Popover hidden content -->
<span id="share" class="hidden">
  <a target="_blank" href="#" class="btn-media twitter">
    <i class="fa fa-twitter"></i>
  </a>
  <a target="_blank" href="#" class="btn-media facebook">
    <i class="fa fa-facebook"></i>
  </a>
  <a target="_blank" href="#" class="btn-media google-plus">
    <i class="fa fa-google-plus"></i>
  </a>
</span>