{% extends "base.html" %}
{% load staticfiles wagtailcore_tags %}

{% block page_title %}Homepage{% endblock %}
{% block title %}Land Matrix Global Observatory{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block subnav_inner %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 center">
            <div id="carousel-explanation" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-explanation" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-explanation" data-slide-to="1"></li>
                    <li data-target="#carousel-explanation" data-slide-to="2"></li>
                    <li data-target="#carousel-explanation" data-slide-to="3"></li>
                </ol>
                <div class="center">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="https://placehold.it/850x450" alt="Slide #1">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://placehold.it/350x450" alt="">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://placehold.it/350x450" alt="">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://placehold.it/350x450" alt="">

                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-explanation" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-explanation" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>

            <hr>

            <h3>Online Public Database on Land Deals</h3>

            <p class="lead">
                The Land Matrix is a global and independent land monitoring initiative that promotes transparency and
                accountability in decisions over land and investment. This website is our Global Observatory - an open
                tool
                for collecting and visualising information about large-scale land acquisitions. The data represented
                here is
                constantly evolving; to make this resource more accurate and comprehensive, we encourage your
                participation.
            </p>
            <a href="{% slugurl 'help' %}" class="btn btn-large" type="button">Read more</a>

        </div> <!-- Carousel & Explanation -->
    </div>
    </div>
    <div class="well">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center">
                    <h3>We currently have information about <i class="lm lm-question-circle"></i></h3>
                    <img src="https://placehold.it/800x450"/>

                    <div class="row left">
                        <a href="{% url 'map' %}">
                            <div class="col-md-offset-3 col-md-2"><span class="whitecircle"><i
                                    class="lm-map-marker"></i></span><br>Map
                            </div>
                        </a>
                        <a href="{% url 'data' %}">
                            <div class="col-md-2"><span class="whitecircle"><i class="lm-table"></i></span><br>Data
                            </div>
                        </a>
                        <a href="{% url 'charts' %}">
                            <div class="col-md-2"><span class="whitecircle"><i class="lm-bar-chart"></i></span><br>Charts
                            </div>
                        </a>
                    </div>
                </div> <!-- We currently have.. -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Latest database modifications</h3>
                        <table class="table table-striped">
                            <tr>
                                <th>Deal #</th>
                                <th>Date</th>
                                <th>State</th>
                                <th>Target Country</th>
                            </tr>
                            <tr>
                                <td><a href="">768</a></td>
                                <td>03/12/14</td>
                                <td>Updated</td>
                                <td>Brazil</td>
                            </tr>

                            <tr>
                                <td><a href="">4575</a></td>
                                <td>03/12/14</td>
                                <td>Updated</td>
                                <td>Lao People's Democratic Republic</td>
                            </tr>
                            <tr>
                                <td><a href="">4054</a></td>
                                <td>10/14/14</td>
                                <td>Updated</td>
                                <td>Brazil</td>
                            </tr>
                            <tr>
                                <td><a href="">4201</a></td>
                                <td>07/04/14</td>
                                <td>Added</td>
                                <td>Brazil</td>
                            </tr>
                            <tr>
                                <td><a href="">4365</a></td>
                                <td>03/12/14</td>
                                <td>Updated</td>
                                <td>Panama</td>
                            </tr>
                            <tr>
                                <td><a href="">4054</a></td>
                                <td>02/08/14</td>
                                <td>Updated</td>
                                <td>Brazil</td>
                            <tr>
                        </table>
                    </div>  <!-- Stats box -->

                    <div class="col-md-6">
                        <h3>Twitter</h3>

                        <a class="twitter-timeline" href="https://twitter.com/landmatrix"
                           data-widget-id="706846539856142336">Tweets by @landmatrix</a>
                        <script>!function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + "://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");</script>
                    </div>  <!-- Twitter box -->
                </div>
            </div><!-- Stats & Twitter -->
        </div>
    </div>
    <div class="well">
        <div class="container">
            <div class="row">
                <div id="news" class="col-md-12">
                    <h3 class="center">Latest News</h3>

                    <div class="row">
                        <div class="col-md-6 newsitem">
                            <div class="thumb">
                                <img src="{% static "img/logo.png" %}"/>
                            </div>
                            <div class="newstext">
                                <h6>Research Assistant @Land Matrix Initiative</h6>
                                <small>Published on: 27 August 2015</small>
                                <p>
                                    The Land Matrix Initiative (LMI)
                                    www.landmatrix.org is a global and independent
                                    initiative monitoring competition over land use in
                                    the Global South...
                                    <br>
                                    <a href="#">Read more</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 newsitem">
                            <div class="thumb">
                                <img src="{% static "img/logo.png" %}"/>
                            </div>
                            <div class="newstext">

                                <h6>Phase 1 Final Newsletter</h6>
                                <small>Published on: 03 September 2015</small>
                                <p>
                                    This newsletter summarizes the work done by the Land Matrix Latin America
                                    Focal Point (LM - LAFP) during Phase I of this project, which started in August,
                                    2014 and ends on July 31, 2015...
                                    <br>
                                    <a href="#">Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div> <!-- News -->
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-12 center">
            <h3>Our Partners</h3>
            <img src="{% static "img/partners.png" %}"/>
        </div> <!-- Partners -->
    </div>
{% endblock %}

