:root {
  --color-lm-orange: hsl(32, 97%, 55%); /*#fc941f  // tree poppy */
  --color-lm-investor: hsl(179, 46%, 49%); /* #44b7b6 // pelorous */
  accent-color: var(--color-lm-orange);
}

@font-face {
  font-family: "Open Sans";
  src:
    url("/fonts/OpenSans-VariableFont_wdth,wght.ttf")
      format("truetype supports variations"),
    url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
  font-style: normal;
  font-weight: 300 800;
  font-stretch: 100%;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  src:
    local(""),
    url("/fonts/Oswald-ExtraLight.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src:
    local(""),
    url("/fonts/Oswald-Light.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("/fonts/Oswald-Regular.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src:
    local(""),
    url("/fonts/Oswald-Regular.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src:
    local(""),
    url("/fonts/Oswald-SemiBold.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src:
    local(""),
    url("/fonts/Oswald-Bold.ttf") format("truetype-variations");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    @apply cursor-pointer text-orange hover:text-orange-200;
    /*@apply hover:underline*/
  }

  a.investor {
    @apply text-pelorous;
  }

  p {
    @apply mb-4;
  }

  /*ToDo: get rid of h-styles*/
  /*h1 {*/
  /*  @apply my-5 text-3xl font-bold text-lm-black dark:text-gray-200;*/
  /*}*/

  /*h2 {*/
  /*  @apply my-5  font-bold text-lm-black dark:text-gray-200;*/
  /*}*/

  /*h3 {*/
  /*  @apply my-5 font-bold text-lm-black dark:text-gray-200;*/
  /*}*/

  /*h3 a {*/
  /*  @apply text-lm-dark dark:text-gray-200;*/
  /*}*/

  /*h4 {*/
  /*  @apply my-5 text-lg font-bold text-lm-dark dark:text-gray-200;*/
  /*}*/

  .display1 {
    @apply font-oswald text-7xl font-bold leading-tight md:text-[120px];
  }

  .heading1,
  .heading2,
  .heading3 {
    @apply mb-5 font-oswald font-bold leading-tight;
  }
  .heading1 {
    @apply text-5xl md:text-6xl;
  }

  .heading2 {
    @apply text-[40px] md:text-[48px];
  }

  .heading3 {
    @apply text-[32px] md:text-[40px];
  }
  .heading4 {
    @apply mb-5 font-oswald text-[28px] font-semibold leading-tight md:text-[32px];
  }

  .heading5 {
    @apply mb-3 font-oswald text-2xl leading-tight md:text-[28px];
  }

  .subtitle1 {
    @apply text-base font-bold leading-tight md:text-lg;
  }
  .subtitle2 {
    @apply text-sm font-bold leading-tight md:text-base;
  }
  .body1 {
    @apply text-base leading-tight md:text-lg;
  }
  .body2 {
    @apply text-sm leading-tight md:text-base;
  }

  .caption {
    @apply text-xs font-bold uppercase leading-tight tracking-[5%] text-lm-black md:text-sm;
  }

  .button1 {
    @apply text-base font-bold leading-tight tracking-[5%] md:text-lg;
  }

  .button-active {
    @apply text-base font-bold leading-tight tracking-[10%] md:text-lg;
  }

  .btn {
    @apply m-0.5 inline-block transform whitespace-nowrap border px-4 py-2 text-center shadow transition;
    @apply focus:outline-none;
  }

  .btn.disabled,
  .btn:disabled {
    @apply pointer-events-none opacity-60;
  }

  .btn-slim {
    @apply px-3 py-1;
  }

  .btn-primary {
    @apply border-orange bg-orange text-white;
    @apply hover:border-orange-300 hover:bg-orange-300;
    @apply active:bg-orange-700;
  }

  .btn-secondary {
    @apply border-orange bg-white text-orange;
    @apply hover:border-orange-300 hover:bg-orange-300 hover:text-white;
    @apply active:bg-orange-700;
    /*@apply focus:bg-orange-700 focus:text-black;*/
    @apply dark:bg-gray-900 dark:text-orange-200;
  }

  .btn-white {
    @apply border-black bg-white text-black;
    @apply hover:bg-lm-lightgray;
  }

  .btn-gray {
    @apply border-lm-dark bg-gray-300 text-gray-600;
    @apply hover:bg-gray-400 hover:text-white;
  }

  .btn-pelorous {
    @apply border-pelorous bg-pelorous-300 text-white;
    @apply hover:bg-pelorous hover:text-white;
    @apply active:bg-pelorous active:text-white;
  }

  .btn-pelorous-secondary {
    @apply border-pelorous bg-white text-pelorous;
    @apply hover:bg-pelorous-200 hover:text-white;
    @apply active:bg-pelorous active:text-white;
  }

  .btn-danger {
    @apply border-dotted border-red-600 bg-transparent text-red-600;
    @apply hover:bg-red-400 hover:text-white;
  }

  .inpt {
    @apply w-full border border-gray-300 bg-white px-3 py-1.5 text-black;
    @apply dark:border-gray-500 dark:bg-gray-600 dark:text-white;
  }

  textarea.inpt,
  select[multiple].inpt {
    height: unset;
  }

  .inpt:not(:placeholder-shown):not(:focus):invalid {
    @apply border-2 border-red-600 text-red-700;
  }

  .inpt:placeholder-shown:required {
    @apply border-2 border-red-600 text-red-700;
  }

  .inpt[readonly] {
    @apply cursor-not-allowed bg-gray-100 text-gray-500 focus:outline-none;
  }

  .field-has-appendix {
    @apply flex;
  }

  .field-has-appendix > input:not([type="checkbox"]):not([type="radio"]) {
    @apply border-r-0;
  }

  .field-has-appendix > :not(input) {
    height: calc(1.5em + 0.75rem + 2px);
    @apply flex items-center justify-center border border-gray-300 bg-gray-200 px-3 py-1.5 text-gray-600;
  }
}

.richtext-image {
  @apply h-auto w-auto max-w-[40%];
}

.richtext-image.left {
  @apply float-left mr-12;
}

.richtext-image.right {
  @apply float-right ml-12;
}

.richtext-image.fullwidth {
  @apply mx-auto block max-h-[700px] w-auto max-w-full text-center;
}

.radio-btn {
  @apply h-4 w-4 appearance-none rounded-full border border-gray-400 bg-white transition duration-200 checked:border-2 checked:border-orange-200 checked:bg-orange;
}

.checkbox-btn {
  @apply h-4 w-4 appearance-none border border-gray-400 transition duration-200 checked:border-2 checked:border-orange-200 checked:bg-orange;
}

/*form-check-input*/

.svelte-select,
.svelte-select + .list {
  --height: 38px;
  --font-size: 1rem;
  /*noinspection CssUnresolvedCustomProperty*/
  --border: 1px solid var(--color-gray-300);
  /*noinspection CssUnresolvedCustomProperty*/
  --border-hover: 1px solid var(--color-gray-300);
  --border-radius: 0px;
  --border-focused: 2px solid black;
  --border-radius-focused: 6px;
  --clear-select-focus-outline: 2px solid black;
  /*noinspection CssUnresolvedCustomProperty*/
  --item-hover-bg: var(--color-orange-100);
  --item-is-active-color: black;
  --item-color: black;
  --selected-item-color: black;
  /*noinspection CssUnresolvedCustomProperty*/
  --item-is-active-bg: var(--color-orange-400);
  --list-max-height: 400px;
  --list-border: 1px solid black;
  /*noinspection CssUnresolvedCustomProperty*/
  --error-border: 2px solid var(--color-red-600);
}

th {
  text-align: left;
}

/* toasts */
/* colors taken from https://getbootstrap.com/docs/5.1/components/alerts/ */
.toast {
  --toastBorderRadius: 0;
  --toastContainerTop: 5.5rem;
  --toastContainerRight: 1rem;
  --toastPadding: 0 0 0 0.5em;
  --toastWidth: 20rem;
}

.toast.info {
  --toastColor: #084298;
  --toastBackground: #cfe2ff;
  --toastBarBackground: #b6d4fe;
}

.toast.success {
  --toastColor: #0f5132;
  --toastBackground: #d1e7dd;
  --toastBarBackground: #badbcc;
}

.toast.warning {
  --toastColor: #664d03;
  --toastBackground: #fff3cd;
  --toastBarBackground: #ffecb5;
}

.toast.error {
  --toastColor: #842029;
  --toastBackground: #f8d7da;
  --toastBarBackground: #f5c2c7;
}

/* toasts end */
