{% load threadedcomments_tags %}
{% load i18n %}
<div id="comments">
    {% for comment in comment_list|fill_tree|annotate_tree %}
        {% if comment.open %}
            <ul>
        {% else %}
            </li>
        {% endif %}
        <li id="c{{ comment.id }}">{# c## is used by the absolute URL of the Comment model, so keep that as it is. #}
            <dl class="comment">
                <dt>
                    {{ comment.submit_date }} {% trans "by" %} {{ comment.name }} 
                    | <a href="#c{{ comment.id }}" data-comment-id="{{ comment.id }}" class="comment-reply-link">{% trans "Reply" %}</a>
                    {% if perms.django_comments.can_moderate %}
                    <span class="comment-moderation">
                        | <a href="{% url 'comments-edit' comment.id %}">{% trans "Edit" %}</a>
                        | <form action="{% url 'comments-delete' comment.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{% url 'deal_detail' deal.activity_identifier %}">
                            <input type="submit" value="{% trans "Delete" %}">
                        </form>
                    </span>
                    {% endif %}

                </dt>
                <dd>
                    {{ comment.comment|linebreaks }}
                </dd>

            </dl>
            {% for close in comment.close %}</li></ul>{% endfor %}
    {% endfor %}
</div>