{% extends "base.html" %}
{% load static i18n custom_tags humanize %}

{% block head %}

    <script src="{% static "js/editor/year-based-fields.js" %}" type="text/javascript" charset="utf-8"></script>
{#     <script src="{% static "js/editor/livesearch.js" %}" type="text/javascript" charset="utf-8"></script> #}
    <script src="{% static "js/editor/add_change.js" %}" type="text/javascript" charset="utf-8"></script>

    {# map #}
    <link rel="stylesheet" href="{% static "vendor/openlayers/ol.css" %}"/>
    <link rel="stylesheet" href="{% static "css/map.css" %}"/>

    <script src="{% static "vendor/openlayers/ol.js" %}" type="text/javascript"></script>
    <script src="{% static "js/editor/detail.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/editor/map.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/editor/jquery.formset.custom.js" %}" type="text/javascript" charset="utf-8"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB59at4M4o0ERqk8OkvZOYjxH7N-8_HkNE&libraries=places"></script>
    <script>unlockMaps()</script>
{% endblock %}

{% block page_title %}{% trans "Add a deal" %}{% endblock %}
{% block title %}{% trans "Add a deal" %}{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'editor' %}">{% trans "Editor" %}</a></li>
        <li><a href="{% url 'add_deal' %}">{% trans "Add a deal" %}</a></li>
    </ul>
{% endblock %}

{% block content %}
<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="panel-group" id="accordion">
    {% include "includes/dealpanels.html" %}
    </div>
    <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}"/>
</form>

{% endblock %}

