{% extends "global_base.html" %}
{% load i18n custom_tags filter_tags wagtailcore_tags humanize %}

{% block page_title %}{% if group == "all" %}{% trans "All deals" %}{% elif filters.group_value %}{{ name }}{% else %}
    {% trans "By" %} {{ group }}{% endif %}{% endblock %}
{% block title %}{% if group == "all" %}{% trans "All deals" %}{% elif filters.group_value %}{{ name }}{% else %}
    {% trans "By" %} {{ group }}{% endif %}{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="/">{% trans 'Home' %}</a></li>
        {% if group == "all" %}
            <li>{% trans "All deals" %}</li>
        {% elif filters.group_value %}
            <li><a href="{% url 'table_list' group=group_slug %}/?{% add_or_update_param request.GET 'order_by' '' %}">{% trans "By" %} {{ group }}</a>
            </li>
            <li>{{ name }}</li>
        {% else %}
            <li>{% trans "By" %} {{ group }}</li>
        {% endif %}
    </ul>
{% endblock %}

{% block subnav_inner %}
    <li role="presentation"><a href="{% url 'map' %}{% regional_params %}">
        <i class="fa fa-map-marker"></i> {% trans "Map" %}
    </a></li>
    <li role="presentation" class="active"><span>
        <i class="fa fa-table"></i> {% trans "Data" %}
    </span></li>
    <li role="presentation"><a href="{% url 'charts' %}{% regional_params %}">
        <i class="fa fa-bar-chart"></i> {% trans "Charts" %}
    </a></li>
    <li class="divider"></li>
    <li role="presentation">
        {% include "export.html" %}
    </li>
{% endblock %}

{% block content %}
    {% include "grid/subnav.html" %}
    {{ introduction|safe }}
    <p></p>
    {% include "filters.html" %}

    {% if data.items %}
        <div class="summary-wrap">
            <table id="summary" class="table table-striped">
                <thead>
                  <tr>
                    {% for name, column in columns.items %}
                        <th class="{{ name }}{% if name == 'deal_size' %} number{% endif %}">
                            <a class="{{ name }}{% if data.order_by == name %} asc{% elif data.order_by == '-'|add:name %} desc{% endif %}" href="?{% add_or_update_param request.GET 'order_by' column.order_by %}">
                              {{ column.label }}
                            </a>
                        </th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                {% for item in data.items %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                        {% for column, value in item.items %}
                            {% include "includes/grid-field.html" %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if load_more %}
            <a href="?{% add_or_update_param request.GET 'more' load_more %}" class="btn pull-left">{% trans "Show more" %}</a>
        {% endif %}
        <p class="pull-right"><span class="label label-default">{{ data.count|intcomma }}</span> {% trans "deals" %}</p>
    {% else %}
        <p>{% trans "There are currently no deals matching your search criteria." %} <a
                href="{% url 'add_deal' %}">{% trans "Add a deal" %}</a>.</p>
    {% endif %}
{% endblock %}

{% block js %}
{{ block.super }}
{% if request.GET.more %}
<script type="text/javascript">
$(document).ready(function () {
    $('html, body').animate({
        scrollTop: $("table tr:nth-child(" + ({{ request.GET.more }}-20)  + ")").offset().top
    });
});
</script>
{% endif %}
{% endblock %}
