{% extends "global_base.html" %}
{% load i18n custom_tags static %}
{% load humanize %}

{% block global_head %}
{#     <script src="{% static "js/editor/livesearch.js" %}" type="text/javascript" charset="utf-8"></script> #}

    {# map #}



    <!--script src="/media/js/editor/livesearch.js" type="text/javascript" charset="utf-8"></script-->
    <!--script src="/media/js/editor/add_change.js" type="text/javascript" charset="utf-8"></script-->

{% endblock %}


{% block page_title %}{% trans "Change Deal" %} #{{ deal_id }}{% endblock %}
{% block title %}{% trans "Change Deal" %} #{{ deal_id }}{% endblock %}

{% block breadcrumb_inner %}
    <li><a href="{% url 'manage' %}">Manage</a></li>
    <li>{% trans "Deal" %} #{{ deal_id }}</li>
{% endblock %}

{% block content %}
    <form action="." method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="panel-group" id="accordion">
            {% include "includes/dealpanels.html" %}
            {% if history|length > 1 %}
                {% include "includes/deal-history.html" %}
            {% endif %}
        </div>

        <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}"/>

    </form>

{% endblock %}

{% block global_js %}
    <script>unlockMaps()</script>
{% endblock %}