{% extends "global_base.html" %}
{% load i18n custom_tags static %}
{% load humanize %}

{% block head %}
{{ block.super }}
{#     <script src="{% static "js/editor/livesearch.js" %}" type="text/javascript" charset="utf-8"></script> #}
    <script src="{% static "vendor/d3/d3.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/editor/add_change.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/editor/stakeholder.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "gis/js/OLMapWidget.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/location-widget.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}


{% block page_title %}{% trans "Change Deal" %} #{{ deal_id }}{% endblock %}
{% block title %}{% trans "Change Deal" %} #{{ deal_id }}{% endblock %}

{% block breadcrumb_inner %}
    <li><a href="{% url 'manage' %}">{% trans "Manage" %}</a></li>
    <li>{% trans "Deal" %} #{{ deal_id }}</li>
{% endblock %}

{% block messages %}
{{ block.super }}
{% if activity.fk_status_id == 1 %}
<p class="alert alert-danger">{% trans "This deal version is pending." %}{% if perms.landmatrix.review_activity %} {% trans "Please accept or reject it in the manage section." %}{% endif %}</p>
{% else %}{% if activity.fk_status_id == 4 %}
<p class="alert alert-danger">{% trans "This deal has been deleted. It is not visible for public users." %}</p>
{% endif %}{% endif %}
{% endblock %}

{% block content %}
    <form action="." method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="panel-group" id="accordion">
            {% include "includes/dealpanels.html" %}
            {% include "includes/deal-history.html" %}
        </div>
        {% if activity.fk_status_id == 4 %}
        {% if perms.landmatrix.change_activity %}<a href="javascript:;" data-toggle="modal" data-target="#recover-deal" class="pull-right"><i class="fa fa-recycle"></i> {% trans "Recover this deal" %}</a>{% endif %}
        {% else %}
        <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}"/>
        {% if perms.landmatrix.delete_activity %}<a href="javascript:;" data-toggle="modal" data-target="#delete-deal" class="pull-right"><i class="fa fa-trash"></i> {% trans "Delete this deal" %}</a>{% endif %}
        {% endif %}
    </form>
    {% if activity.fk_status_id == 4 %}
        {% include "modals/recover-deal.html" %}
    {% else %}
        {% include "modals/delete-deal.html" %}
    {% endif %}
{% endblock %}

{% block global_js %}
    <script>unlockMaps()</script>
{% endblock %}
