{% extends "global_base.html" %}
{% load i18n custom_tags static humanize comments threadedcomments_tags %}

{% block head %}
{{ block.super }}
    <script src="{% static "js/editor/stakeholder.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block page_title %}{% trans "Deal" %} #{{ deal.activity_identifier }}{% endblock %}
{% block title %}{% trans "Deal" %} #{{ deal.activity_identifier }}{% endblock %}

{% block breadcrumb_inner %}
    <li><a href="{% url 'data' %}">{% trans 'Global' %}</a></li>
    <li>{% trans "Deal" %} #{{ deal.activity_identifier }}</li>
{% endblock %}

{% block subnav_inner %}
    <li role="presentation">
        <a href="{% url "change_deal" deal.activity_identifier %}" target="_blank"><i class="fa fa-pencil"></i> {% trans "Edit" %}</a>
    </li>
    <li role="presentation"><a href="#history">
        <i class="fa fa-history"></i> {% trans "History" %}
    </a></li>
    <li role="presentation"><a href="#comments">
        <i class="fa fa-comments"></i> {% trans "Comments" %}
    </a></li>
    <li class="divider"></li>
    <li role="presentation">
        <a href="{% url "deal_changes_feed" deal.activity_identifier %}" target="_blank"><i class="fa fa-rss"></i> {% trans "RSS Feed" %}</a>
    </li>
    <li role="presentation">
        {% include "export.html" %}
    </li>
{% endblock %}

{% block messages %}
{{ block.super }}
{% if activity.fk_status_id == 1 %}
<p class="alert alert-danger">{% trans "This deal version is pending." %}{% if perms.landmatrix.review_activity %} {% trans "Please accept or reject it in the manage section." %}{% endif %}</p>
{% else %}{% if activity.fk_status_id == 4 %}
<p class="alert alert-danger">{% trans "This deal has been deleted. It is not visible for public users." %}</p>
{% endif %}{% endif %}
{% endblock %}

{% block content %}

    {% if deal %}
        <input type="hidden" id="deal-stakeholder" value="{{ deal.operational_stakeholder.id }}">
        <div class="panel-group" id="accordion">
            {% if forms %}
                {% for form in forms %}
                    {% if form.get_fields_display or form.forms %}
                        <div class="panel panel-default">

                            <div class="panel-heading">

                                <a id="#{{ form.form_title|slugify }}" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse_{{ forloop.counter }}">
                                    <h5 class="panel-title">
                                        {{ form.form_title }}
                                    <span id="collapsebtn_{{ forloop.counter }}"
                                          class="lm-chevron-circle-down pull-right mgrey1"></span>
                                    </h5>
                                </a>
                            </div>

                            <div id="collapse_{{ forloop.counter }}"
                                 class="panel-collapse collapse{% if forloop.first %} in {% endif %}">
                                <div class="panel-body">
                                    {% if form.forms %}
                                        {% for subform in form.forms %}
                                            {% include "includes/dealpanels-display.html" with form=subform form_count=forloop.counter %}
                                        {% endfor %}
                                    {% else %}
                                        {% include "includes/dealpanels-display.html" with form=form %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% include "includes/deal-history.html" %}

            {% get_comment_count for deal.activity as comment_count %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a id="comments" data-toggle="collapse" data-parent="#accordion" href="#collapse_comments">
                        <h5 class="panel-title">
                            {% trans "Comments" %} ({{ comment_count }})
                                <span id="collapsebtn_history"
                                      class="lm-chevron-circle-down pull-right mgrey1"></span>
                        </h5>
                    </a>
                </div>
                <div id="collapse_comments" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-sm-12">
                            {% if comment_count > 0 %}
                                {% render_comment_list for deal.activity %}
                            {% else %}
                                <p class="alert alert-info">{% trans "There are no comments to this deal yet." %}</p>
                            {% endif %}
                        </div>
                        {% if not is_pdf_export %}
                        <form method="post" action="{% comment_form_target %}">
                            {% get_comment_form for deal.activity as comment_form %}
                            {% csrf_token %}
                            {# TODO: move next into the form logic #}
                            <input type="hidden" name="next" value="{% url 'deal_detail' deal.activity_identifier %}">
                            {% include "form.html" with form=comment_form %}
                            <input type="submit" class="btn btn-primary" value="{% trans "Add comment" %}">
                            <a href="#c0" id="cancel-reply" style="display:none">{% trans "Cancel reply" %}</a>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


    {% else %}
        <p>
            {% trans "There are currently no deals matching your search criteria." %}
            <a href="{% url 'add_deal' %}">{% trans "Add a deal" %}</a>.
        </p>
    {% endif %}


    <script type="text/javascript">
        $(document).ready(function () {
            var count = 0;
            $('.map').each(function (idx) {
                console.log("Setting up detail map: ", idx, count);
                var lat = parseFloat($('.point_lat div:last-child').text()),
                        lon = parseFloat($('.point_lon div:last-child').text());
                $(this).attr('id', 'map' + count).attr('class', 'col-md-9 col-md-offset-3');
                initializeMap(count, lat, lon);
                count++;
            });

            //$('.operational_stakeholder').append('<div id="chart0"></div>');
            //loadSankey(0, $('#deal-stakeholder').val())
        })
    </script>
{% endblock %}
