{% extends "base.html" %}
{% load i18n custom_tags static %}
{% load humanize %}

{% load threadedcomments_tags %}

{% block head %}

    {# bootstrap #}
    {% comment %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  {% endcomment %}

    <link rel="stylesheet" href="{% static "vendor/openlayers/ol.css" %}"/>
    <link rel="stylesheet" href="{% static "css/map.css" %}"/>

    {# map #}
    <script src="{% static "vendor/openlayers/ol.js" %}" type="text/javascript"></script>
    <script src="{% static "js/editor/detail.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/editor/map.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block page_title %}{% trans "Deal" %} #{{ deal.activity_identifier }}{% endblock %}
{% block title %}{% trans "Deal" %} #{{ deal.activity_identifier }}{% endblock %}

{% block breadcrumb_inner %}
    <li><a href="/global/data">Global</a></li>
    <li>{% trans "Deal" %} #{{ deal.activity_identifier }}</li>
{% endblock %}

{% block content %}

    {% if deal %}
        <div class="panel-group" id="accordion">
            {% if forms %}
                {% for form in forms %}
                    {% if form.get_fields_display %}
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapse_{{ forloop.counter }}">
                                <h5 class="panel-title">
                                    {{ form.form_title }}
                                    <span id="collapsebtn_{{ forloop.counter }}"
                                          class="lm-chevron-circle-down pull-right mgrey1"></span>
                                </h5>
                            </a>
                        </div>

                        <div id="collapse_{{ forloop.counter }}"
                             class="panel-collapse collapse{% if forloop.first %} in {% endif %}">
                            <div class="panel-body">
                                {% for field in form.get_fields_display %}
                                    {% if field.0 == 'tg' %}
                                    <h3>{{ field.1 }}</h3>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-3">
                                                {{ field.0 }}
                                            </div>
                                            <div class="col-md-9">
                                                {{ field.1|safe }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}


            {% if history|length > 1 %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_history">
                            <h5 class="panel-title">
                                History
                                <span id="collapsebtn_history"
                                      class="lm-chevron-circle-down pull-right mgrey1"></span>
                            </h5>
                        </a>
                    </div>

                    <div id="collapse_history" class="panel-collapse collapse">
                        <div class="panel-body">

                            <table>
                                <col width="33%">
                                {% for changedate, item in history.items %}
                                    <tr>
                                        <td>
                                            {% if forloop.counter == 1 %}<strong>{% endif %}
                                            {{ changedate|timestamp_from_epoch }}
                                            {% if forloop.counter == 1 %}</strong>{% endif %}
                                        </td>
                                        <!-- <td>{{ item.activity_changed_by }}</td>
                                        <td>activity identifier: {{ item.activity.activity_identifier }}</td>
                                        <td>availability: {{ item.activity.availability }}</td>
                                        <td>history id: {{ item.activity.history_id }}</td>
                                        -->
                                        <td>
                                            {# TODO: Insert correct link and maybe disable button for currently version displayed  #}
                                            <a type="button" class="btn"
                                               href="/deal/{{ item.activity.activity_identifier }}_{{ changedate }}">
                                                <i class="glyphicon glyphicon-eye-open"></i> {% trans "Show this version" %}
                                            </a>
                                        </td>

                                        <td>
                                            {# TODO: include as AJAX call #}
                                            <a type="button" class="btn"
                                                    {% if not forloop.last %}
                                               href="/deal/compare/{{ item.activity.activity_identifier }}_{{ changedate }}"
                                                        >
                                                        <i class="glyphicon glyphicon-transfer"></i>
                                                        {% trans "Compare with previous version" %}
                                                    {% else %}
                                                        disabled>
                                                        <i class="glyphicon glyphicon-transfer"></i>
                                                        {% trans "First version" %}
                                                    {% endif %}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <script>
                        var collapsename = "#collapse_history";
                        $(collapsename).on("hidden.bs.collapse", function () {
                            $("#collapsebtn_history}}").addClass('lm-chevron-circle-down').removeClass('lm-chevron-circle-up');
                        });
                        $(collapsename).on("shown.bs.collapse", function () {
                            $("#collapsebtn_history").removeClass('lm-chevron-circle-down').addClass('lm-chevron-circle-up');
                        });
                    </script>
                </div>
            {% endif %}
        </div>

<h2>{% trans "Comments" %}</h2>

{% render_comment_list for deal.activity %}
{% render_comment_form for deal.activity %}

        <script type="text/javascript">
            $(document).ready(function () {
                console.log("Locking buttons");
                $('.add-row').each(function (i) {
                    this.remove();
                });

                $('.delete-row').each(function (i) {
                    this.remove();
                });
            });

        </script>

    {% else %}

        <p>{% trans "There are currently no deals matching your search criteria." %} <a href="/public/">{% trans "Add a deal" %}</a>.</p>

    {% endif %}

{% endblock %}
