{% extends "global_base.html" %}
{% load i18n custom_tags static %}
{% load humanize %}

{% load threadedcomments_tags %}

{% block global_head %}

    {# bootstrap #}
    {% comment %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  {% endcomment %}

{% endblock %}

{% block page_title %}{% trans "Deal" %} #{{ deal.activity_identifier }}{% endblock %}
{% block title %}{% trans "Deal" %} #{{ deal.activity_identifier }}{% endblock %}

{% block breadcrumb_inner %}
    <li><a href="/global/data">{% trans 'Global' %}</a></li>
    <li>{% trans "Deal" %} #{{ deal.activity_identifier }}</li>
{% endblock %}

{% block subnav_inner %}
    <li role="presentation"><a href="{% url 'map' %}">
        <i class="lm lm-map-marker"></i>{% trans "Map" %}
    </a></li>
    <li role="presentation"><a href="{% url 'app_main' %}">
        <i class="lm lm-table"></i>{% trans "Data" %}
    </a></li>
    <li role="presentation"><a href="{% url 'chart_transnational_deals' %}">
        <i class="lm lm-bar-chart"></i>{% trans "Charts" %}
    </a></li>
    <li class="divider"></li>
    <li role="presentation">
        {% include "export.html" %}
    </li>
{% endblock %}

{% block content %}

    {% if deal %}
        <input type="hidden" id="deal-stakeholder" value="{{ deal.operational_stakeholder.id }}">
        <div class="panel-group" id="accordion">
            {% if forms %}
                {% for form in forms %}
                    {% if form.get_fields_display %}
                    <div class="panel panel-default">

                        <div class="panel-heading">

                            <a id="#{{ form.form_title|slugify }}" data-toggle="collapse" data-parent="#accordion"
                               href="#collapse_{{ forloop.counter }}">
                                <h5 class="panel-title">
                                    {{ form.form_title }}
                                    <span id="collapsebtn_{{ forloop.counter }}"
                                          class="lm-chevron-circle-down pull-right mgrey1"></span>
                                </h5>
                            </a>
                        </div>

                        <div id="collapse_{{ forloop.counter }}"
                             class="panel-collapse collapse{% if forloop.first %} in {% endif %}">
                            <div class="panel-body">
                                {% for field in form.get_fields_display %}
                                    {% if field.name == 'tg' %}
                                    <h3>{{ field.value }}</h3>
                                    {% else %}
                                        <div class="row {{ field.name }}">
                                            <div class="col-md-3">
                                                {{ field.label }}
                                            </div>
                                            <div class="col-md-9">
                                                {{ field.value|safe|decimalgroupstring }}
                                            </div>
                                        </div>
                                        {% if field.name == 'location' %}
                                        <div class="map"></div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if history|length > 1 %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a id="history" data-toggle="collapse" data-parent="#accordion" href="#collapse_history">
                            <h5 class="panel-title">
                                {% trans "History" %}
                                <span id="collapsebtn_history"
                                      class="lm-chevron-circle-down pull-right mgrey1"></span>
                            </h5>
                        </a>
                    </div>
                    <div id="collapse_history" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table>
                                <col width="33%">
                                {% for changedate, item in history.items %}
                                    <tr>
                                        <td>
                                            {% if forloop.counter == 1 %}<strong>{% endif %}
                                            {{ changedate|timestamp_from_epoch }}
                                            {% if forloop.counter == 1 %}</strong>{% endif %}
                                        </td>
                                        <!-- <td>{{ item.activity_changed_by }}</td>
                                        <td>activity identifier: {{ item.activity.activity_identifier }}</td>
                                        <td>availability: {{ item.activity.availability }}</td>
                                        <td>history id: {{ item.activity.history_id }}</td>
                                        -->
                                        <td>
                                            {# TODO: Insert correct link and maybe disable button for currently version displayed  #}
                                            <a type="button" class="btn"
                                               href="/deal/{{ item.activity.activity_identifier }}_{{ changedate }}">
                                                <i class="glyphicon glyphicon-eye-open"></i> {% trans "Show this version" %}
                                            </a>
                                        </td>

                                        <td>
                                            {# TODO: include as AJAX call #}
                                            <a type="button" class="btn"
                                                    {% if not forloop.last %}
                                               href="/deal/compare/{{ item.activity.activity_identifier }}_{{ changedate }}"
                                                        >
                                                        <i class="glyphicon glyphicon-transfer"></i>
                                                        {% trans "Compare with previous version" %}
                                                    {% else %}
                                                        disabled>
                                                        <i class="glyphicon glyphicon-transfer"></i>
                                                        {% trans "First version" %}
                                                    {% endif %}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a id="comments" data-toggle="collapse" data-parent="#accordion" href="#collapse_comments">
                            <h5 class="panel-title">
                                {% trans "Comments" %}
                                <span id="collapsebtn_history"
                                      class="lm-chevron-circle-down pull-right mgrey1"></span>
                            </h5>
                        </a>
                    </div>
                    <div id="collapse_comments" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                {% get_comment_count for deal.activity as comment_count %}
                                {% if comment_count > 0 %}
                                    {% render_comment_list for deal.activity %}
                                {% else %}
                                    <p class="alert alert-info">{% trans "There are no comments to this deal yet." %}</p>
                                {% endif %}
                            </div>
                            <form method="." action="POST">
                            {% get_comment_form for deal.activity as comment_form %}
                            {% include "form.html" with form=comment_form %}
                            <input type="submit" class="btn btn-primary" value="{% trans "Add comment" %}">
                            </form>
                        </div>
                    </div>
            </div>


{% else %}
    <p>
        {% trans "There are currently no deals matching your search criteria." %} 
        <a href="{% url 'add_deal' %}">{% trans "Add a deal" %}</a>.
    </p>
{% endif %}


<script type="text/javascript">
$(document).ready(function () {
    var count = 0;
    $('.map').each(function () {
        count++;
        var lat = parseFloat($('.point_lat div:last-child').text()),
            lon = parseFloat($('.point_lon div:last-child').text());
        $(this).attr('id', 'map-' + count);
        initializeMap(count, lat, lon);
    })

    $('.operational_stakeholder').append('<div id="chart0"></div>');

    loadSankey(0, $('#deal-stakeholder').val())
})
</script>
{% endblock %}
