{% extends "base.html" %}
{% load i18n static %}

{% block head %}
    <link rel="stylesheet" href="{% static "vendor/openlayers/ol.css" %}"/>
    <link rel="stylesheet" href="{% static "css/map.css" %}"/>
    <link href="{% static 'vendor/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css' %}" rel="stylesheet">
    {% block global_head %}
    {% endblock %}
{% endblock %}
{% block body_class %}{% endblock %}


{% block nav %}
<!-- TODO: This is duplicated? And also in bad shape for the newer bootstrap
    <li><a class="get-the-idea toggle-tooltip bottom" title="{% trans "Get&nbsp;the&nbsp;idea" %}" href="/get-the-idea/">{% trans "Get the idea" %}</a></li>
    <li class="active"><a class="get-the-detail toggle-tooltip bottom" title="{% trans "Get&nbsp;the&nbsp;detail" %}" href="/get-the-detail/">{% trans "Get the detail" %}</a></li>
    <li><a class="get-involved toggle-tooltip bottom" title="{% trans "Get&nbsp;involved" %}" href="/get-involved/">{% trans "Get involved" %}</a></li>
    <li><a class="about toggle-tooltip bottom" title="{% trans "About" %}" href="/about/">{% trans "About" %}</a></li>
-->
{% endblock %}

{% comment %}
{% block subnav_inner %}
<!--

    <div class="row title entry-point">
  <div class="col-md-4">
    <h4>Entry points</h4>
    <span class="entry-point-{{ group_slug }}">Entry point {{ group_slug }}</span>
  </div>
</div>
<div class="row collapsible collapsed">
    <ul class="nav nav-pills subnav col-md-4">
		<li class="by-target-country {% if group_slug == "by-target-country" or group_slug == "by-target-region" %} active{% endif %}">
            <div class="thumbnail">
                <a href="/global/by-target-country/none/">By target country</a><br/>
                <a href="/global/by-target-region/none/">By target region</a>
            </div>
        </li>
        <li class="by-investor-country {% if group_slug == "by-stakeholder-country" or group_slug == "by-stakeholder-region" or group_slug == "by-stakeholder-name" %} active{% endif %}">
            <div class="thumbnail">
                <a href="/global/by-stakeholder-name/none/">By stakeholder</a><br/>
                <a href="/global/by-stakeholder-country/none/">By stakeholder country</a><br/>
                <a href="/global/by-stakeholder-region/none/">By stakeholder region</a>
            </div>
        </li>
		<li class="by-data-source-type {% if group_slug == "by-data-source-type" %} active{% endif %}">
            <div class="thumbnail"><a href="/global/by-data-source-type/none/">By data source type</a></div>
        </li>
		<li class="by-intention {% if group_slug == "by-intention" %} active{% endif %}">
            <div class="thumbnail"><a href="/global/by-intention/none/">By intention of investment</a></div>
        </li>
		<li class="by-crop {% if group_slug == "by-crop" %} active{% endif %}">
            <div class="thumbnail"><a href="/global/by-crop/none/">By crop</a></div>
        </li>
		<li class="all last{% if group_slug == "all" %} active{% endif %}">
            <div class="thumbnail"><a href="/global/all/">All deals (ungrouped)</a></div>
        </li>
    </ul>
</div>

-->
{% endblock %}
{% endcomment %}

{% block breadcrumb %}
<ul class="breadcrumb">
	<li><a href="/">{% trans 'Home' %}</a></li>
</ul>
{% endblock %}

{% block js %}
    <script src="{% static "js/editor/year-based-fields.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "vendor/formset/src/jquery.formset.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "legacy/vendor/jquery.stickytableheaders.js" %}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAFunDF4IlD4SSDRdCcRNVqnzPu2UdXSOk&libraries=places"></script>
    <script type="text/javascript" src="{% static "vendor/ol3-google-maps/ol3gm-debug.js" %}"></script>
    <script type="text/javascript" src="{% static "js/layers.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ol3-layerswitcher.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/nprogress/nprogress.js" %}"></script>
    <script type="text/javascript" src="{% static "js/editor/map.js" %}" charset="utf-8"></script>
    <script src="{% static "vendor/d3/d3.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "vendor/bootstrap-switch/dist/js/bootstrap-switch.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/editor/stakeholder.js" %}" type="text/javascript" charset="utf-8"></script>
    {% block global_js %}
    {% endblock %}
{% endblock %}