{% extends "global_base.html" %}
{% load i18n custom_tags %}
{% load humanize %}

{% block page_title %}{% if group == "all" %}{% trans "All deals" %}{% elif filters.group_value %}{{ name }}{% else %}{% trans "By" %} {{ group }}{% endif %}{% endblock %}
{% block title %}{% if group == "all" %}{% trans "All deals" %}{% elif filters.group_value %}{{ name }}{% else %}{% trans "By" %} {{ group }}{% endif %}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="/">{% trans 'Home' %}</a></li>
  <li><a href="{% url 'data' %}">{% trans 'Global' %}</a></li>
  {% if group == "all" %}
  <li>{{ name|capfirst }}</li>
  {% elif filters.group_value %}
  <li><a href="/data/{{ group_slug }}/?{% add_or_update_param request.GET 'order_by' '' %}">{% trans "By" %} {{ group }}</a></li>
  <li>{{ name }}</li>
  {% else %}
  <li>{% trans "By" %} {{ group }}</li>
  {% endif %}
</ul>
{% endblock %}

{% block subnav_inner %}
    <li role="presentation"><a href="{% url 'map' %}">
        <i class="lm lm-map-marker"></i>{% trans "Map" %}
    </a></li>
    <li role="presentation" class="active"><span>
        <i class="lm lm-table"></i>{% trans "Data" %}
    </span></li>
    <li role="presentation"><a href="{% url 'charts' %}">
        <i class="lm lm-bar-chart"></i>{% trans "Charts" %}
    </a></li>
    <li class="divider"></li>
    <li role="presentation">
        {% include "export.html" %}
    </li>
{% endblock %}

{% block content %}
{% include "grid/subnav.html" %}
{% include "filters.html" %}

{% if data.items %}
<table id="summary" class="table table-striped by-{{ group_slug }}">
  <thead>
    <tr>
      {% for name, column in columns.items %}
          <th class="{{ name }} number">
              <a class="{{ column.name }}{% if data.order_by == name %} asc{% elif data.order_by == '-'|add:name %} desc{% endif %}" href="?{% add_or_update_param request.GET 'order_by' column.order_by %}">
                {{ column.label }}
              </a>
          </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for item in data.items  %}
        <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
        {% for column, value in item.items %}
          {% if column == "deal_id" %}
            <td class="{{ column }}" class="deal-id">
                <a href="{% if request.user.is_staff %}{% url 'change_deal' item.deal_id %}{% else %}{% url 'deal_detail' item.deal_id %}{% endif %}" class="label label-default">{{ item.deal_id }}</a>
            </td>
          {% elif column == "crop" %}
              <td class="{{ column }}" style="width:341px">
              {% if  item.crop %}
              {% for c in item.crop %}
                <a href="{% url 'table_list' group='by-crop' %}{{ c|slugify }}/">{{ c }}</a></br>
              {% endfor %}
              {% else %}{% trans "Unknown" %}
              {% endif %}
              </td>
          {% elif column == "intention" %}
              <td class="{{ column }}">
                {% if item.intention %}
                <ul class="list-unstyled">
                  {% for i in item.intention %}
                    {% if group == 'intention' %}
                      <li><a href="/data/by-intention/{{ i.value|slugify }}/?{% add_or_update_param request.GET 'order_by' '' %}" {% if i.parent %}style="padding-left: 20px;"{% endif %}><span>{{ i.value }}</span></a></li>
                    {% elif not i.parent %}
                    <li><a href="/data/by-intention/{{ i.value|slugify }}/?{% add_or_update_param request.GET 'order_by' '' %}" class="toggle-tooltip intention-icon {{ i.value|slugify }}" title="{{ i.value }}"><span>{{ i.value }}</span></a></li>
                    {% endfor %}
                  {% endfor %}
                </ul>
                {% else %}
                  {% trans "Unknown" %}
                {% endif %}
              </td>
          {% elif column == "primary_investor" %}
            <td class="{{ column }}" style="width:183px">
            {% if item.primary_investor %}
                {% for i in item.primary_investor %}
                  {{ i }}<br/>
                {% endfor %}
            {% else %}{% trans "Unknown" %}
            {% endif %}
            </td>
          {% elif column == "investor_name" %}
            <td class="{{ column }}" style="width:183px">
            {% if item.investor_name %}
                {% for i in item.investor_name %}
                  <a href="{% if request.user.is_staff %}/stakeholder/{{ i.id }}{% else %}/data/by-investor-name/{{i.id}}/?{% add_or_update_param request.GET 'order_by' '' %}{% endif %}">{{ i.name }}</a><br/>
                {% endfor %}
            {% else %}{% trans "Unknown" %}
            {% endif %}
            </td>
          {% elif "investor_region" == column %}
            <td class="{{ column }} investor-region">
              {% if item.investor_region %}
              {% for investor_region  in item.investor_region %}
                <a href="/data/by-investor-region/{{investor_region|slugify}}/?{% add_or_update_param request.GET 'order_by' '' %}">{{ investor_region }}</a><br/>
              {% endfor %}
              {% else %}{% trans "Unknown region" %}{% endif %}
            </td>
          {% elif "investor_country" == column %}
            <td class="{{ column }} investor-country">
              {% if item.investor_country %}
              {% for investor_country  in item.investor_country %}
                <a href="/data/by-investor-country/{{investor_country|slugify}}/?{% add_or_update_param request.GET 'order_by' '' %}">{{ investor_country }}</a><br/>
              {% endfor %}
              {% else %}{% trans "Unknown country" %}{% endif %}
            </td>
          {% elif "investor_region" == column %}
            <td class="{{ column }} investor-region">
              {% if item.investor_region %}
              {% for investor_region  in item.investor_region %}
                <a href="/data/by-investor-region/{{investor_region|slugify}}/?{% add_or_update_param request.GET 'order_by' '' %}">{{ investor_region }}</a><br/>
              {% endfor %}
              {% else %}{% trans "Unknown region" %}{% endif %}
            </td>
          {% elif column == "target_country" %}
            <td class="{{ column }}">
              {% if item.target_country %}
              {% for target_country  in item.target_country %}
                <a href="/data/by-target-country/{{target_country|slugify}}/?{% add_or_update_param request.GET 'order_by' '' %}">{{ target_country }}</a><br/>
              {% endfor %}
              {% else %}
                {% trans "Unknown" %}
              {% endif %}
            </td>
          {% elif column == "target_region" %}
            <td class="{{ column }}">
              {% if item.target_region %}
                {% for target_region  in item.target_region %}
                    <a href="/data/by-target-region/{{target_region|slugify}}/?{% add_or_update_param request.GET 'order_by' '' %}">{{ target_region }}</a><br/>
                {% endfor %}
              {% else %}
                {% trans "Unknown" %}
              {% endif %}
            </td>
          {% elif column == "year" %}
            <td class="{{ column }}">
              {% if item.year %}
                <a href="/data/by-year/{{item.year}}/?{% add_or_update_param request.GET 'order_by' '' %}">{{ item.year }}</a>
              {% else %}
                {% trans "Unknown" %}
              {% endif %}
            </td>
          {% elif column == "data_source_type" %}
            <td class="{{ column }}">
              {% if item.data_source_type %}
              {% for data_source_type in item.data_source_type %}
                <a href="/data/by-data-source-type/{{data_source_type|slug_and_slash_to_plus}}/?{% add_or_update_param request.GET 'order_by' '' %}">{{ data_source_type }}</a>
              {% endfor %}
              {% else %}
                {% trans "Unknown" %}
              {% endif %}
            </td>
          {% elif column == "deal_count" %}
            <td class="{{ column }} deals number">{{ item.deal_count }}</td>
          {% elif column == "availability" %}
            <td>{{ item.availability }}%</td>
          {% elif column == "implementation_status" %}
            <td class="{{ column }}">
              {% if item.implementation_status %}
                {% with item.implementation_status|last as implementation_stati %}
                  {% if implementation_stati.year != 0 %}
                    [{{implementation_stati.year}}]
                  {% endif %}
                  {{implementation_stati.name}}
                {% endwith %}
              {% else %}
                {% trans "Unknown" %}
              {% endif %}
            </td>
          {% elif column == "negotiation_status" %}
            <td class="{{ column }}">
              {% if item.negotiation_status %}
                {% with item.negotiation_status|last as negotiation_stati %}
                  {% if negotiation_stati.year != 0 %}
                    [{{negotiation_stati.year}}]
                  {% endif %}
                  {{negotiation_stati.name}}
                {% endwith %}
              {% else %}
                {% trans "Unknown" %}
              {% endif %}
            </td>
          {% else %}
            <td class="{{ column }}">
              {% if value %}
                {{ value|join:', '|intcomma }}
              {% else %}
                {% trans "Unknown" %}
              {% endif %}
            </td>
          {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if load_more %}
<a href="?{% add_or_update_param request.GET 'more' load_more %}" class="btn">{% trans "More..." %}</a>
{% endif %}
{% else %}
<p>{% trans "There are currently no deals matching your search criteria" %}. <a href="{% url 'add_deal' %}">{% trans "Add a deal" %}</a>.</p>
{% endif %}
{% endblock %}
}
<script type="text/javascript">
function updateTableRows() {
  $('table.by-intention tr:visible:even').removeClass('odd').addClass('even');
  $('table.by-intention tr:visible:odd').removeClass('even').addClass('odd');
}
// Show/hide intention subcategories
var intention_categories = {};
$(document).ready(function () {
  $('table.by-intention tbody tr').each(function () {
    // Is subcategory?
    if ($(this).find('.intention a span').text().indexOf('(') >= 0) {
      // Hide row and attach to main category
      $(this).hide();
      updateTableRows();

    }
  });
});
</script>