{% extends "global_base.html" %}
{% load i18n custom_tags filter_tags humanize %}

{% block page_title %}
    {% if group == "all" %}{% trans "All deals" %}
    {% elif filters.group_value %}{{ group_value|deslugify }}
    {% else %}{% trans "By" %} {{ group|deslugify }}
    {% endif %}
{% endblock %}
{% block title %}
    {% if group == "all" %}{% trans "All deals" %}
    {% elif filters.group_value %}{{ group_value|deslugify }}
    {% else %}{% trans "By" %} {{ group|deslugify }}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="/">{% trans 'Start' %}</a></li>
  <li><a href="{% url 'data' %}">{% trans 'Data' %}</a></li>
  {% if group == "all" %}
  <li>{{ name|capfirst }}</li>
  {% elif filters.group_value %}
  <li><a href="/data/{{ group_slug }}/?{% add_or_update_param request.GET 'order_by' '' %}">
      {% trans "By" %} {{ group|deslugify }}</a></li>
  <li>{{ group_value|deslugify }}</li>
  {% else %}
  <li>{% trans "By" %} {{ group|deslugify }}</li>
  {% endif %}
</ul>
{% endblock %}

{% block subnav_inner %}
    <li role="presentation"><a href="{% url 'map' %}{% list_params %}">
        <i class="fa fa-map-marker"></i> {% trans "Map" %}
    </a></li>
    <li role="presentation" class="active"><span>
        <i class="fa fa-table"></i> {% trans "Data" %}
    </span></li>
    <li role="presentation"><a href="{% url 'charts' %}{% list_params %}">
        <i class="fa fa-bar-chart"></i> {% trans "Charts" %}
    </a></li>
    <li class="divider"></li>
    <li role="presentation">
        {% include "export.html" %}
    </li>
{% endblock %}

{% block content %}
{% include "grid/subnav.html" %}
{{ introduction|safe }}
<p></p>
{% include "filters.html" %}

{% if data.items %}
<table id="summary" class="table table-striped by-{{ group_slug }}">
  <thead>
    <tr>
      {% for name, column in columns.items %}
          <th class="{{ name }}{% if column.name == 'deal_size' or column.name == 'deal_count' or column.name == 'availability'%} number{% endif %}">
              {% if column.order_by %}
                  <a class="{{ column.name }}{% if data.order_by == name %} asc{% elif data.order_by == '-'|add:name %} desc{% endif %}" href="?{% add_or_update_param request.GET 'order_by' column.order_by %}">
                    {{ column.label }}
                  </a>
              {% else %}
                  {{ column.label }}
              {% endif %}
          </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for item in data.items %}
        <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
        {% for column, value in item.items %}
          {% if group_value %}
              {% include "includes/grid-field.html" %}
          {% elif forloop.first %}
              {% if column == "target_country" %}
                <td class="{{ column }}">
                  {% if item.target_country %}
                    <a href="{% url 'table_list' group='by-target-country' %}{{ item.target_country.display|slugify }}/?{% add_or_update_param request.GET 'order_by' '' %}">
                        {{ item.target_country.display }}
                    </a><br/>
                  {% else %}
                    {% trans "Unknown" %}
                  {% endif %}
                </td>
              {% elif column == "target_region" %}
                <td class="{{ column }}">
                  {% if item.target_region %}
                    <a href="{% url 'table_list' group='by-target-region' %}{{ item.target_region.display|slugify }}/?{% add_or_update_param request.GET 'order_by' '' %}">
                        {{ item.target_region.display }}
                    </a><br/>
                  {% else %}
                    {% trans "Unknown" %}
                  {% endif %}
                </td>
              {% elif column == "investor_id" %}
                <td class="{{ column }}">
                    {% with item.investor_id as id %}
                    <a href="{% url 'table_list' group='by-investor-name' %}{{ id.value }}/?{% add_or_update_param request.GET 'order_by' '' %}"
                       class="label label-default">
                        {{ id.value }}
                    </a>
                    {% endwith %}
                </td>
              {% elif "investor_country" == column %}
                <td class="{{ column }} investor-country">
                  {% if item.investor_country %}
                    <a href="{% url 'table_list' group='by-investor-country' %}{{ item.investor_country.display|slugify }}/?{% add_or_update_param request.GET 'order_by' '' %}">
                        {{ item.investor_country.display }}</a><br/>
                  {% else %}
                      {% trans "Unknown" %}
                  {% endif %}
                </td>
              {% elif "investor_region" == column %}
                <td class="{{ column }} investor-region">
                  {% if item.investor_region %}
                    <a href="{% url 'table_list' group='by-investor-region' %}{{ item.investor_region.display|slugify }}/?{% add_or_update_param request.GET 'order_by' '' %}">
                        {{ item.investor_region.display }}</a><br/>
                  {% else %}
                      {% trans "Unknown" %}
                  {% endif %}
                </td>
              {% elif column == "type" %}
                <td class="{{ column }}">
                  {% if item.type %}
                    <a href="{% url 'table_list' group='by-data-source-type' %}{{ item.type.value|urlize }}/?{% add_or_update_param request.GET 'order_by' '' %}">
                        {{ item.type.display }}
                    </a>
                  {% else %}
                    {% trans "Unknown" %}
                  {% endif %}
                </td>
              {% elif column == "intention" %}
                  <td class="{{ column }}">
                    {% if item.intention %}
                        <a href="{% url 'table_list' group='by-intention' %}{{ item.intention.value }}/?{% add_or_update_param request.GET 'order_by' '' %}"
                           {% if not item.intention.is_parent %} style="padding-left: 20px;"{% endif %}>
                            <span>{{ item.intention.display }}</span></a>
                    {% else %}
                      {% trans "Unknown" %}
                    {% endif %}
                  </td>
              {% elif column == "crops" %}
                  <td class="{{ column }}" style="width:341px">
                  {% if item.crops %}
                    <a href="{% url 'table_list' group='by-crop' %}{{ item.crops.display|slugify }}/?{% add_or_update_param request.GET 'order_by' '' %}">
                        {{ item.crops.display }}
                    </a>
                  {% else %}
                      {% trans "Unknown" %}
                  {% endif %}
                  </td>
              {% endif %}
          {% else %}
              {% include "includes/grid-field.html" %}
          {% endif %}
        {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% if load_more %}
<a href="?{% add_or_update_param request.GET 'more' load_more %}" class="btn">{% trans "More..." %}</a>
{% endif %}
{% else %}
<p>{% trans "There are currently no deals matching your search criteria" %}. <a href="{% url 'add_deal' %}">{% trans "Add a deal" %}</a>.</p>
{% endif %}
{% if group_value %}
        <p class="pull-right"><span class="label label-default">{{ data.count|intcomma }}</span> {% trans "deals" %}</p>
{% endif %}
{% endblock %}
}
<script type="text/javascript">
function updateTableRows() {
  $('table.by-intention tr:visible:even').removeClass('odd').addClass('even');
  $('table.by-intention tr:visible:odd').removeClass('even').addClass('odd');
}
// Show/hide intention subcategories
var intention_categories = {};
$(document).ready(function () {
  $('table.by-intention tbody tr').each(function () {
    // Is subcategory?
    if ($(this).find('.intention a span').text().indexOf('(') >= 0) {
      // Hide row and attach to main category
      $(this).hide();
      updateTableRows();

    }
  });
});
</script>