{% extends "global_base.html" %}
{% load static i18n custom_tags %}

{% block global_head %}
{% endblock %}


{% block page_title %}{% trans "Investor history comparison" %}{% endblock %}
{% block title %}{% trans "Investor history comparison" %}{% endblock %}

{% block breadcrumb_inner %}
    <li><a href="{% url 'data' %}">{% trans 'Data' %}</a></li>
    <li><a href="{% url 'stakeholder_form' investor_id=deal.activity_id %}">{% trans "Investor Details" %}</a></li>
  <li>{% trans "Compare investor history" %}</li>
{% endblock %}


{% block content %}
    <div id="comparison">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <h4>{% trans "Previous version" %} <small>({{ investors.1.id }})</small></h4>
          </div>
          <div class="col-md-6">
            <h4>{% trans "Selected version" %} <small>({{ investors.0.id }})</small></h4>
          </div>
        </div>
      </div>
      <div class="panel-group" id="accordion">
        {% for comparison_forms in forms %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ forloop.counter }}" class="{% if not comparison_forms.2 %}bg-warning{% endif %}" id="{{ comparison_forms.0.form_title|slugify }}">
              <h5 class="panel-title">
                  {{ comparison_forms.0.form_title }}
                  <small>({% if not comparison_forms.2 %}{% trans "changed" %}{% else %}{% trans "no changes" %}{% endif %})</small>
              <span id="collapsebtn_{{ forloop.counter }}"
                    class="lm-chevron-circle-down pull-right mgrey1"></span>
              </h5>
            </a>
          </div>
          <div id="collapse_{{ forloop.counter }}"
               class="panel-collapse collapse{% if not comparison_forms.2 %} in{% endif %}">
            <div class="panel-body{% if not comparison_forms.2 %} bg-warning{% endif %}">
              <div class="col-md-6">
              {% if comparison_forms.1.forms %}
                {% for form in comparison_forms.1.forms %}
                  {% include "includes/investorpanels-comparison.html" with form=form form_count=forloop.counter %}
                {% endfor %}
              {% else %}
                {% include "includes/investorpanels-comparison.html" with form=comparison_forms.1 %}
              {% endif %}
              </div>
              <div class="col-md-6">
              {% if comparison_forms.0.forms %}
                {% for form in comparison_forms.0.forms %}
                  {% include "includes/investorpanels-comparison.html" with form=form form_count=forloop.counter %}
                {% endfor %}
              {% else %}
                {% include "includes/investorpanels-comparison.html" with form=comparison_forms.0 %}
              {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
