{% extends "global_base.html" %}
{% load i18n custom_tags static %}
{% load humanize %}

{% block header %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block navutils %}
{% endblock %}
{% block page_title %}{% if investor %}{{ investor.name }}{% else %}{% trans "Add Operational stakeholder" %}{% endif %}{% endblock %}
{% block title %}{% if investor %}{{ investor.name }}{% else %}{% trans "Add Operational stakeholder" %}{% endif %}{% endblock %}

{% block content %}
<div class="popup">
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% include "form.html" with form=investor_form %}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>{% trans "Parent stakeholders" %}</h3>
            </div>
            <div class="col-sm-12">
                {{ parent_stakeholders.management_form }}
                {% for form in parent_stakeholders %}
                <div class="parent-stakeholder-form row control-group {{ field.name }}">
                    <div class="controls col-md-6">
                        {{ form.stakeholder|add_class:'form-control' }}
                        {{ form.stakeholder.errors }}
                    </div>
                    <div class="controls col-md-4">
                        <div class="input-group">
                            {{ form.percentage|add_class:'form-control' }}
                            <div class="input-group-addon">{{ form.percentage.help_text }}</div>
                            <a class="btn pull-right add-form">
                                <i class="fa fa-plus"></i>
                                {% trans "Add another" %}
                            </a>
                            <a class="btn pull-right remove-form">
                                <i class="fa fa-minus"></i>
                                {% trans "Remove" %}
                            </a>
                        </div>
                        {{ form.percentage.errors }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>{% trans "Investors" %}</h3>
            </div>
            <div class="col-sm-12">
                {{ parent_investors.management_form }}
                {% for form in parent_investors %}
                    <div class="parent-investor-form row control-group {{ field.name }}">
                        <div class="controls col-md-6">
                            {{ form.parent_investor|add_class:'form-control' }}
                            {{ form.parent_investor.errors }}
                        </div>
                        <div class="controls col-md-4">
                            <div class="input-group">
                                {{ form.parent_investor_percentage|add_class:'form-control' }}
                                <div class="input-group-addon">{{ form.parent_investor_percentage.help_text }}</div>
                                <a class="btn pull-right add-form">
                                    <i class="fa fa-plus"></i>
                                    {% trans "Add another" %}
                                </a>
                                <a class="btn pull-right remove-form">
                                    <i class="fa fa-minus"></i>
                                    {% trans "Remove" %}
                                </a>
                            </div>
                        </div>
                        {{ form.parent_investor_percentage.errors }}
                    </div>
                {% endfor %}
            </div>
        </div>


            {% if history|length > 1 %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a id="history" data-toggle="collapse" data-parent="#accordion" href="#collapse_history">
                            <h5 class="panel-title">
                                {% trans "History" %}
                                <span id="collapsebtn_history"
                                      class="lm-chevron-circle-down pull-right mgrey1"></span>
                            </h5>
                        </a>
                    </div>
                    <div id="collapse_history" class="panel-collapse collapse">
                        <div class="panel-body">
                            {% for changedate, item in history.items %}
                                <div class="row">
                                    <div class="col-sm-3">
                                        {% if forloop.counter == 1 %}<strong>{% endif %}
                                        {{ changedate|timestamp_from_epoch }}
                                        {% if forloop.counter == 1 %}</strong>{% endif %}
                                    </div>
                                    <!-- <td>{{ item.activity_changed_by }}</td>
                                    <td>activity identifier: {{ item.activity.activity_identifier }}</td>
                                    <td>availability: {{ item.activity.availability }}</td>
                                    <td>history id: {{ item.activity.history_id }}</td>
                                    -->
                                    {% with investorid=item.id|addstr:"_"|addstr:changedate %}
                                        <div class="col-sm-3">

                                            {{ item.changed_by }}
                                        </div>

                                        <div class="col-sm-3">

                                            {# TODO: Insert correct link and maybe disable button for currently version displayed  #}
                                            <a type="button" class="btn"
                                               href="{% url 'stakeholder_form' investor_id=investorid %}">
                                                <i class="glyphicon glyphicon-eye-open"></i> {% trans "Show this version" %}
                                            </a>
                                        </div>

                                        <div class="col-sm-3">
{% comment %}
                                            <a type="button" class="btn"
                                                    {% if not forloop.last %}
                                               href="{% url 'compare_deals' activity_1=dealid %}"
                                                        >
                                                        <i class="glyphicon glyphicon-transfer"></i>
                                                        {% trans "Compare with previous version" %}
                                                    {% else %}
                                                        disabled>
                                                        <i class="glyphicon glyphicon-transfer"></i>
                                                        {% trans "First version" %}
                                                    {% endif %}
                                            </a>
{% endcomment %}
                                        </div>
                                    {% endwith %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

        <div class="row">
            <div class="col-sm-12">
                <input type="submit" class="btn btn-primary" value="{% trans "Submit" %}">
            </div>
        </div>
    </form>
</div>
{% endblock %}