{% extends "global_base.html" %}
{% load i18n custom_tags static %}
{% load humanize %}

{% block head %}
{{ block.super }}
    <script src="{% static "js/editor/add_change.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/editor/stakeholder.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block header %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block navutils %}
{% endblock %}
{% block page_title %}{% if investor %}{{ investor.name }}{% else %}{% trans "Add" %}{% endif %}{% endblock %}
{% block title %}{% if investor %}{{ investor.name }}{% else %}{% trans "Add" %}{% endif %}{% endblock %}

{% block content %}
<div class="popup">
    <form action="{% if investor %}{% url 'stakeholder_form' investor.id %}{% else %}{% url 'add_stakeholder_form' %}{% endif %}{% if request.GET.popup %}?popup=1{% endif %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
            {% include "form.html" %}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>{% trans "Parent stakeholders" %}</h3>
            </div>
            <div class="col-sm-12">
                {{ parent_stakeholders.management_form }}
                {% for form in parent_stakeholders %}
                <div class="parent-stakeholder-form row control-group {{ field.name }}">
                    <div class="controls col-md-6">
                        {{ form.fk_investor|add_class:'form-control' }}
                        {{ form.fk_investor.errors }}
                        {# ID is hidden, but must be in the form #}
                        {{ form.id }}
                        {{ form.id.errors }}
                        {# Handle row deletion #}
                        {% if parent_stakeholders.can_delete %}
                            <div style="display: none;">{{ form.DELETE }}</div>
                        {% endif %}
                    </div>
                    <div class="controls col-md-2 loans_amount">
                        {{ form.loans_amount|add_class:'form-control' }}
                    </div>
                    <div class="controls col-md-1 loans_currency">
                        {{ form.loans_currency|add_class:'form-control' }}
                    </div>
                    <div class="controls col-md-1 loans_date">
                        {{ form.loans_date|add_class:'form-control' }}
                    </div>
                    <div class="controls col-md-2">
                        <a class="btn pull-right add-form">
                            <i class="fa fa-plus"></i>
                            {% trans "Add another" %}
                        </a>
                        <a class="btn pull-right remove-form">
                            <i class="fa fa-minus"></i>
                            {% trans "Remove" %}
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>{% trans "Investors" %}</h3>
            </div>
            <div class="col-sm-12">
                {{ parent_investors.management_form }}
                {% for form in parent_investors %}
                    <div class="parent-investor-form row control-group {{ field.name }}">
                        <div class="controls col-md-6">
                            {{ form.fk_investor|add_class:'form-control' }}
                            {{ form.fk_investor.errors }}
                            {# ID is hidden, but must be in the form #}
                            {{ form.id }}
                            {{ form.id.errors }}
                            {# Handle row deletion #}
                            {% if parent_investors.can_delete %}
                                <div style="display: none;">{{ form.DELETE }}</div>
                            {% endif %}
                        </div>
                        <div class="controls col-md-6">
                            <div class="input-group">
                                {{ form.percentage|add_class:'form-control' }}
                                <div class="input-group-addon">{{ form.percentage.help_text }}</div>
                                <a class="btn pull-right add-form">
                                    <i class="fa fa-plus"></i>
                                    {% trans "Add another" %}
                                </a>
                                <a class="btn pull-right remove-form">
                                    <i class="fa fa-minus"></i>
                                    {% trans "Remove" %}
                                </a>
                            </div>
                        </div>
                        {{ form.percentage.errors }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include "includes/stakeholder-history.html" %}

        <div class="row">
            <div class="col-sm-12">
                <input type="submit" class="btn btn-primary" value="{% trans "Submit" %}">
            </div>
        </div>
    </form>
</div>
{% endblock %}