{% load crispy_forms_tags i18n %}
<div id="form-comment panel-body">
    <form action="/comments/post/" method="post">{% csrf_token %}
        {{ form|crispy }}{# just to keep the example simple. Consider using django-crispy-forms in real life #}

        <p>
            <button class="btn btn-primary" type="submit"><i class="lm lm-plus"></i>{% trans "Submit Comment" %}</button>
            <a href="#c0" type="button" class="btn" id="cancel_reply">{% trans "Cancel reply" %}</a>
        </p>
    </form>
</div>
