{% load custom_tags i18n %}

{% if form.Meta.name == 'investor_info' and not user.is_anonymous %}
  {% if investor.fk_status_id == 1 or investor.fk_status_id == 6 %}
  <p class="alert alert-danger">{% trans "This operating company is pending." %}</p>
  {% elif investor.fk_status_id == 4 %}
  <p class="alert alert-danger">{% trans "This operating company has been deleted. It is not visible for public users." %}</p>
  {% elif investor.fk_status_id == 5 %}
  <p class="alert alert-danger">{% trans "This operating company has been rejected. It is not visible for public users." %}</p>
  {% endif %}
{% endif %}

{% for field in form|fields_display:user %}
    {% if field.name == 'tg' %}
        <h3>{{ field.value }}{% if form_count %} <small>#{{ form_count }}</small>{% endif %}</h3>
    {% elif field.name == 'operational_stakeholder' and investor.fk_status_id not in investor.PUBLIC_STATUSES and user.is_anonymous %}
    {% else %}
        <div class="row {{ field.name }}{% if field.hidden %} hidden{% endif %}">
            <div class="col-md-3">
                {{ field.label }}
            </div>
            <div class="col-md-9">
                {% if field.name == 'url' %}
                    <a href="{{ field.value|safe|decimalgroupstring }}" target="_blank">{{ field.value|safe|decimalgroupstring }}</a>
                {% elif field.name == 'file' %}
                    <a href="{{ MEDIA_URL }}{{ DATA_SOURCE_DIR }}/{{ field.value|safe }}" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                {% elif field.name == 'contract_area' or field.name == 'intended_area' or field.name == 'production_area' %}
                    <div id="area-{{ form_count }}-{{ forloop.counter }}-div-map" class="geometry-multipolygon">
                        <div id="area-{{ form_count }}-{{ forloop.counter }}-map" style="width: 600px; height: 400px;"></div>
                        <textarea id="area-{{ form_count }}-{{ forloop.counter }}"
                                  class="map-serialized-data vSerializedField required"
                                  cols="150" rows="10"
                                  style="display:none"
                                  data-map-widget-options='{
                                    "mapWidth": 600,
                                    "mapHeight": 400,
                                    "baseLayers": null,
                                    "initialZoom": 8,
                                    "initialCenterLat": 0,
                                    "initialCenterLon": 0,
                                    "showLayerSwitcher": true,
                                    "geomName": "MultiPolygon",
                                    "disableDrawing": true,
                                    "mapSRID": "{{ field.value.srid }}"
                                  }'>{{ field.value.serialized }}</textarea>
                    </div>
                {% elif fieldname != "phone" %}
                    {{ field.value|safe }}
                {% else %}
                    {{ field.value|safe|decimalgroupstring }}
                {% endif %}
            </div>
        </div>
        {% if field.name == 'location' %}{{ form.location|random_id }}<br clear="left">{% endif %}
    {% endif %}
{% endfor %}

{% if form.Meta.name == 'investor_info' %}
    {% include "grid/includes/deal_investor_network.html" with investor=investor user=user %}
{% endif %}

{% include "map/modals/legend.html" %}
