{% load i18n %}
<p>&nbsp;</p>

{% if investor.fk_status_id in investor.PUBLIC_STATUSES %}
<p class="alert alert-info">
    <strong>{% trans "Network of parent companies and tertiary investors/lenders" %}.</strong> {% trans "Please right-click the nodes to get more details." %}
</p>
<div id="investor-network">
</div>
<div id="investor-legend">
    <h5>{% trans "Legend" %}</h5>
    <ul class="list-unstyled">
      <li><span class="legend-icon parent"></span> {% trans "Is parent company of" %}</li>
      <li><span class="legend-icon tertiary"></span> {% trans "Is tertiary investor/lender of" %}</li>
      <li><span class="legend-icon has-children"></span> {% trans "Left-click to reveal related parent companies and tertiary investors/lenders." %}</li>
      <li><span class="legend-icon investor"></span> {% trans "Right-click on investors to get more information." %}</li>
      <li><span class="legend-icon none"></span> {% trans "Left-click to hide related parent companies and tertiary investors/lenders." %}</li>

    </ul>
</div>

<script type="text/javascript">
	$(document).ready(function () {
	    // Deal detail/form?
        if ($("#investor-info_body #investor-network").size() > 0) {
            {% if is_pdf_export %}
                loadDealInvestorNetwork({{ investor.id }});
            {% else %}
                $('#accordion').on('show.bs.collapse', function (e) {
                    if ($(e.target).parent().find(".panel-heading a").is("#investor-info")) {
                        loadDealInvestorNetwork({{ investor.id }});
                    }
                });
            {% endif %}
        // Investor detail/form
        } else if ($("#general_info_body #investor-network").size() > 0) {
            loadDealInvestorNetwork(null, {{ investor.id }});
        }
	});

</script>
{% include "grid/modals/investor_modal.html" %}
{% endif %}
