{% load custom_tags %}
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
                    Formset {{forloop.counter}}: {#{ form }#}
                  </a>
                </h4>
              </div>

              <div id="collapse{{forloop.counter}}" class="panel-collapse collapse in">
                <div class="panel-body">
                  <table class="i-dont-know-how-to-do-this-in-css-yes-i-know-booh">

                    {% if form.forms.0.has_investor %}
                      <tr>
                        <td>Primary investor:</td>
                        <td>{{ investor.primary_investor.name }}</td>
                      </tr>
                      {% for i in investor.secondary_investors %}
                        <tr>
                          <td>Secondary investor:</td>
                          <td>{{i.tags.investor_name}} - {{i.tags.country}}, {{i.tags.classification}} ({{i.investment_ratio}}%)</td>
                          <td>{{i.comment}}</td>
                        </tr>
                      {% endfor %}

                    {% else %}    {# form.forms.0.has_investor #}

                      {% for form in form.forms %}
                        {% for field in form %}
                          {% if field.value and field.label %}
                            {% if "Latitude" in field.label %}
                              <tr style="display:none"><td></td><td><input class="point_lat" type="hidden" value="{{field.value}}"></td></tr>
                            {% elif "Longitude" in field.label %}
                              <tr style="display:none"><td></td><td><input class="point_lon" type="hidden" value="{{field.value}}"></td></tr>
                            {% elif "Location" in field.label %}
                              <tr><td>Location</td><td>{{field|safe}}</td></tr>
                            {% elif "URL" in field.label %}
                              <tr><td style="border-top: none">URL</td><td style="border-top: none">{% for v in field.value|ensure_list %}<a target="_blank" href='{{ v }}'>{{ v|truncatechars:55 }}</a>{% endfor %}</td></tr>
                            {% elif "Date" in field.label %}
                              <tr><td style="border-top: none">Date</td><td style="border-top: none">{{field.value}}</td></tr>
                            {% else %}
                              <tr><td>{{ field.label }}</td><td>{{ field.value|ensure_list|display_values:field.field|join:"<br />" }}</td></tr>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      {% endfor %}

                    {% endif %}   {# form.forms.0.has_investor #}
                  </table>
                </div>
              </div>
