{% extends "base.html" %}
{% load i18n custom_tags sass_tags %}
{% load humanize %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "vendor/openlayers/ol.css" %}"/>

    <link rel="stylesheet" href="{% static "css/nprogress.css" %}"/>
    <link rel="stylesheet" href="{% static "css/ol3-layerswitcher.css" %}"/>
    <!-- <link rel="stylesheet" href="{% static "css/map.css" %}"/> -->
    <link href="{% sass_src 'css/map.scss' %}" rel="stylesheet" type="text/css" />


{% endblock %}

{% block page_title %}{% trans "Map" %}{% endblock %}
{% block title %}{% trans "Map" %}{% endblock %}
{% block breadcrumb_inner %}
    <li><a href="{% url 'data' %}">{% trans "Global" %}</a></li>
    <li>{% trans "Map" %}</li>
{% endblock %}

{% block subnav_inner %}
    <li role="presentation" class="active"><span>
        <i class="lm lm-map-marker"></i>{% trans "Map" %}
    </span></li>
    <li role="presentation"><a href="../data/">
        <i class="lm lm-table"></i>{% trans "Data" %}
    </a></li>
    <li role="presentation"><a href="../charts/">
        <i class="lm lm-bar-chart"></i>{% trans "Charts" %}
    </a></li>
    <li class="divider"></li>
    <li role="presentation">
        {% include "export.html" %}
    </li>
{% endblock %}

{% block content %}
    {% include "filters.html" %}

    <div id="alert_placeholder"></div>

    <div id="map" class="map" title='{% trans "All Deals" %}'></div>

    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="noul ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "vendor/openlayers/ol-debug.js" %}"></script>
<script type="text/javascript" src="{% static "js/ol3-layerswitcher.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/nprogress/nprogress.js" %}"></script>

<script type="text/javascript">
{% if country %}
var mapBounds = [
    {{ country.point_lat_min }}, {{ country.point_lon_min }},
    {{ country.point_lat_max }}, {{ country.point_lon_max }},
];
{% elif region %}
var mapBounds = [
    {{ region.point_lat_min }}, {{ region.point_lon_min }},
    {{ region.point_lat_max }}, {{ region.point_lon_max }},
];
{% endif %}
</script>
<script type="text/javascript" src="{% static "js/map.js" %}"></script>
<script type="text/javascript" src="{% static "js/layers.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB59at4M4o0ERqk8OkvZOYjxH7N-8_HkNE&libraries=places"></script>

{% endblock %}