{% extends "base.html" %}
{% load i18n custom_tags sass_tags %}
{% load humanize %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static "vendor/openlayers/ol.css" %}"/>
  <link rel="stylesheet" href="{% static "css/nprogress.css" %}"/>
  <link rel="stylesheet" href="{% static "css/ol3-layerswitcher.css" %}"/>
  <link rel="stylesheet" href="{% static "css/map.css" %}"/>
{% endblock %}

{% block page_title %}{% trans "Map" %}{% endblock %}
{% block title %}{% trans "Map" %}{% endblock %}
{% block breadcrumb_inner %}
  <li><a href="{% url 'data' %}">{% trans "Global" %}</a></li>
  <li>{% trans "Map" %}</li>
{% endblock %}

{% block subnav_inner %}
  <li role="presentation" class="active">
    <span><i class="lm lm-map-marker"></i>{% trans "Map" %}</span></li>
  <li role="presentation"><a href="../data/">
    <i class="lm lm-table"></i>{% trans "Data" %}
  </a></li>
  <li role="presentation"><a href="../charts/">
    <i class="lm lm-bar-chart"></i>{% trans "Charts" %}
  </a></li>
  <li class="divider"></li>
  <li role="presentation">
    {% include "export.html" %}
  </li>
{% endblock %}

{% block content %}

  <link rel="stylesheet" href="{% static "map/css/map.css" %}">
  <div class="map-container">
    <div id="map" class="map">
      <img src="{% static "map/images/map-default.png" %}" alt="{% trans "Map with all deals" %}" id="map-placeholder">
      <div id="popover"></div>
    </div>

    <div class="map-progress row">
      <div class="col-md-3">
        <div class="status">
          <div class="glyphicon glyphicon-picture" aria-hidden="true"></div>
          {% trans "Map" %}
        </div>
        <div class="line right"></div>
      </div>
      <div class="col-md-3">
        <div class="line left"></div>
        <div class="status">
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          {% trans "Countries" %}
        </div>
        <div class="line right"></div>
      </div>
      <div class="col-md-3">
        <div class="line left"></div>
        <div class="status">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          {% trans "Deals" %}
        </div>
        <div class="line right"></div>
      </div>
      <div class="col-md-3">
        <div class="line left"></div>
        <div class="status">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          {% trans "Finished" %}
        </div>
      </div>
    </div>

    <div class="map-panel row">
      <div class="col-md-12 tab-container">
        <div class="row flex-row">
          <div class="col-md-10 tab flex-col">
            <div class="tab-content active">
              <h4><span>{% trans "Group by country" %}</span></h4>
              <label class="switch">
                <input type="checkbox" checked="checked">
                <div class="slider round"></div>
              </label>
              <h4><span>{% trans "Show info about" %}</span></h4>
              <select class="legend-select">
                {% for key, data in legend.items %}
                  <option value="{{ key }}"{% if forloop.first %} selected="selected"{% endif %}>{{ data.label }}</option>
                {% endfor %}
              </select>
              <h4><span>{% trans "Legend" %}</span></h4>
              {% for key, data in legend.items %}
                <div class="{{ key }} map-legend{% if forloop.first %} active{% endif %}">
                  <ul>
                    {% for value_element in data.attributes %}
                      <li><span class="legend-symbol" style="background-color:{{ value_element.color }};"></span>{{ value_element.label }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            </div>
            <div class="tab-content">
              <h4><span>{% trans "Search" %}</span></h4>
              <input type="text" placeholder="{% trans "Search location" %}">
              <button>{% trans "Search" %}</button>
            </div>
            <div class="tab-content">
              <h4><span>{% trans "Context" %}</span></h4>
              <ul>
                <li>{% trans "Incidence of poverty" %}</li>
                <li>{% trans "Global Pasture Land" %}</li>
                <li>{% trans "Global Cropland" %}</li>
                <li>{% trans "Global Land Cover 2009" %}</li>
                <li>{% trans "Accessibility" %}</li>
              </ul>
            </div>
            <div class="tab-content">
              <h4><span>{% trans "Base" %}</span></h4>
              <ul>
                <li>{% trans "OpenStreetMap" %}</li>
                <li>{% trans "Satellite" %}</li>
                <li>{% trans "Terrain" %}</li>
              </ul>
            </div>
            <div class="tab-content">
              <div id="details-overlay"></div>
            </div>
          </div>
        <div class="col-md-2 tab-menu flex-col">
          <div class="list-group panel-menu">
            <a href="#" class="list-group-item text-center show-hide-content">
              <h4 class="glyphicon glyphicon-menu-left"></h4>
            </a>
            <a href="#" class="list-group-item text-center active">
              <h4 class="glyphicon glyphicon-cog"></h4><br/>{% trans "Deals" %}
            </a>
            <a href="#" class="list-group-item text-center">
              <h4 class="glyphicon glyphicon-search"></h4><br/>{% trans "Search" %}
            </a>
            <a href="#" class="list-group-item text-center">
              <h4 class="glyphicon glyphicon-filter"></h4><br/>{% trans "Context" %}
            </a>
            <a href="#" class="list-group-item text-center">
              <h4 class="glyphicon glyphicon-unchecked"></h4><br/>{% trans "Base" %}
            </a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="https://openlayers.org/en/v4.0.0/build/ol-debug.js" type="text/javascript"></script>
  <script src="{% static "map/js/mapPlugin.js" %}"></script>
  <script>
    $(function () {
      var mapProgress = $(".map-progress");
      var successClass = "finished";
      var activeClass = "active";
      var mapPlaceholder = $("#map-placeholder");
      var showIcon = "glyphicon-menu-right";
      var hideIcon = "glyphicon-menu-left";
      var legendSelect = $(".legend-select");
      var mapLegendClass = ".map-legend";
      var tabContainer = $(".tab");
      var advanceProgressLine = function() {
        var currentProgressLine = mapProgress.find(".line:not(." + successClass + "):first");
        currentProgressLine.addClass(successClass);
      };
      var advanceProgress = function() {
        var currentIcon = mapProgress.find(".status:not(." + successClass + "):first");
        currentIcon.addClass(successClass);
        advanceProgressLine();
      };
      var finishProgress = function() {
        mapProgress.find('.line').addClass(successClass);
        advanceProgress();
        mapProgress.fadeOut();
      };

      function showHideTabContent() {
        tabContainer.toggleClass("hidden");
        var content = $(this).children("h4:first");
        if(content.hasClass(hideIcon)) {
          content.removeClass(hideIcon).addClass(showIcon);
        } else {
          content.removeClass(showIcon).addClass(hideIcon);
        }
      }

      // show only one tab, and reset 'menu'
      function activateTabContent(element) {
          if (tabContainer.hasClass("hidden")) {
              showHideTabContent();
          }
          $('.panel-menu').children("a." + activeClass).removeClass(activeClass);
          $('.tab-content').removeClass(activeClass);
          element.addClass(activeClass);
      }


      /**
       *  Map loading progress
       */

      // first step: replace static image with map.
      advanceProgress();
      var map = $.setMap({
        countriesUrl: "{% url "country_deals_api" %}",
        dealsUrl: "{% url "deals_api" %}",
        legend: {{ legend_json|safe }},
        legendKey: legendSelect.val(),
        featureDetailsElement: "details-overlay",
        featureDetailsUrl: "{% url "map_overlay" %}",
        featureDetailsCallback: activateTabContent
      });
      mapPlaceholder.remove();
      advanceProgressLine();
      // load country-data and cluster deals.
      advanceProgress();
      map.loadCountries();
      // load clustered deals per country.
      map.setDealsPerCountryLayer();
      map.loadDeals();
      advanceProgress();
      map.setDealsLayer();
      advanceProgress();
      finishProgress();

      /**
       *  Handling of panel, tabs, etc.
       */

      // handle tabs for info-panel
      $(".panel-menu a:not(.show-hide-content)").click(function(e) {
        e.preventDefault();
        // load content of clicked tab
        var index = $(this).index() - 1; // add offset for show-hide
        activateTabContent($(".tab-content").eq(index));
        // update menu
        $(this).addClass(activeClass);
      });

      // display legend according to type.
      legendSelect.on("change", function() {
        var selected = $(this).val();
        map.setLegendKey(selected);
        $(mapLegendClass).removeClass(activeClass);
        $(mapLegendClass + "." + selected).addClass(activeClass);
      });

      // show-hide the content box
      $(".show-hide-content").on("click", function() {
        showHideTabContent();
      });
    });

  </script>
{% endblock %}
