{% load i18n humanize custom_tags %}
{% if column == "activity_identifier" %}
    <td class="{{ column }} deal-id">
        {% for deal_id in item.activity_identifier %}
        <a href="{% url 'deal_detail' deal_id %}" class="label label-deal">{{ deal_id }}</a>
        {% endfor %}
    </td>
{% elif column == "investor_identifier" %}
    <td class="{{ column }} investor-id">
        {% for investor_id in item.investor_identifier %}
        <a href="{% url 'investor_detail' investor_id %}" class="label label-investor">{{ investor_id }}</a>
        {% endfor %}
    </td>
{% elif column == "crop" %}
    <td class="{{ column }}" style="width:341px">
        {% for c in item.crop %}
        <a href="{% url 'data' variable='crop' operator='is' value=c|slugify %}">{{ c }}</a>
        </br>
        {% empty %}
            {% trans "Unknown" %}
        {% endfor %}
    </td>
{% elif column == "intention" %}
    <td class="{{ column }}">
        <ul class="list-unstyled">
            {% for i in item.intention %}
            {% if not i.parent %}
            <li>
                <a href="{% url 'data' %}by-intention/{{ i.slug }}/" class="toggle-tooltip intention-icon {{ i.slug }}" title="{{ i.value }}"><span>{{ i.value }}</span></a>
            </li>
            {% endif %}
            {% empty %}
                {% trans "Unknown" %}
            {% endfor %}
        </ul>
    </td>
{% elif column == "top_investors" %}
    <td class="{{ column }}" style="width:183px">
        {% for investor in item.top_investors %}
            {{ investor.name }}<br/>
        {% empty %}
            {% trans "Unknown" %}
        {% endfor %}
    </td>
{% elif "investor_country" == column %}
    <td class="{{ column }} investor-country">
        {% for investor_country in item.investor_country %}
            <a href="{% url 'deal_list' group='by-investor-country' %}{{ investor_country|slugify }}/">{{ investor_country }}</a>
            <br/>
        {% empty %}
            {% trans "Unknown country" %}
        {% endfor %}
    </td>
{% elif "investor_region" == column %}
    <td class="{{ column }} investor-region">
        {% for investor_region in item.investor_region %}
            <a href="{% url 'deal_list' group='by-investor-region' %}{{ investor_region|slugify }}/">{{ investor_region }}</a>
            <br/>
        {% empty %}
            {% trans "Unknown region" %}
        {% endfor %}
    </td>
{% elif column == "target_country" %}
    <td class="{{ column }}">
        {% with item.target_country.0 as target_country %}
        {% if target_country %}
            <a href="{% url 'deal_list' group='by-target-country' %}{{ target_country|slugify }}/">{{ target_country }}</a>
            <br/>
        {% else %}
            {% trans "Unknown" %}
        {% endif %}
        {% endwith %}
    </td>
{% elif column == "target_region" %}
    <td class="{{ column }}">
        {% for target_region  in item.target_region %}
            <a href="{% url 'deal_list' group='by-target-region' %}{{ target_region|slugify }}/">{{ target_region }}</a>
            <br/>
        {% empty %}
            {% trans "Unknown" %}
        {% endfor %}
    </td>
{% elif column == "year" %}
    <td class="{{ column }}">
        {% if item.year %}
            <a href="{% url 'data' %}?variable=year&operator=is&value={{ item.year }}">{{ item.year }}</a>
            <br/>
        {% else %}
            {% trans "Unknown" %}
        {% endif %}
    </td>
{% elif column == "data_source_type" %}
    <td class="{{ column }}">
        {% for data_source_type in item.data_source_type %}
            <a href="{% url 'data' %}?variable=data_source_type&operator=is&value={{ data_source_type }}">{{ data_source_type }}</a>
            <br/>
        {% empty %}
            {% trans "Unknown" %}
        {% endfor %}
    </td>
{% elif column == "deal_count" %}
    <td class="{{ column }} number">{{ item.deal_count.0|intcomma }}</td>
{% elif column == "deal_size" %}
    <td class="{{ column }} number">{{ item.deal_size.0|intcomma }}</td>
{% elif column == "availability" %}
    <td class="{{ column }} number">{{ item.availability.0|default:0|floatformat }}%</td>
{% else %}
<td class="{{ column }}">
    {% if value %}
        {{ value|join:', '|intcomma }}
    {% else %}
        {% trans "Unknown" %}
    {% endif %}
</td>
{% endif %}